<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>
			{$info['cat_id']?'编辑':'新增'}商品类型
		</h2>
	</div>
	<form action="{:U()}" method="post" class="form-horizontal">
		<div class="form-item">
			<label class="item-label">商品类型名称</label>
			<div class="controls">
				<input type="text" class="text input-large" name="cat_name" value="{$info.cat_name|default=''}">
			</div>
		</div>

		<div class="form-item">
			<label class="item-label">属性分组<span class="check-tips">
每行一个商品属性组。排序也将按照自然顺序排序</span></label>
			<div class="controls"><label class="textarea input-large">
				<textarea name="attr_group"></textarea></label>
			</div>
		</div>
		<div class="form-item">
			<input type="hidden" name="cat_id" value="{$info.cat_id|default=''}">
			<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
			<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>
</block>
<block name="script">
<script type="text/javascript" charset="utf-8">
	//导航高亮
	highlight_subnav('{:U('index')}');
</script>
</block>
