<extend name="Public/base"/>

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>商品类型</h2>

	</div>
    <div class="tools">
        <a class="btn" href="{:U('GoodsType/add')}">新增商品类型</a>
    </div>

	<!-- 数据列表 -->
	<div class="data-table">
        <div class="data-table table-striped">
<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">商品类型名称</th>
		<th class="">属性分组</th>
		<th class="">属性数</th>
		<th class="">状态</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
	<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
			<td>{$vo.cat_name} </td>
			<td>{$vo.attr_group}</td>
			<td>{$vo.attr_count}</td>
			<td><if condition="$vo['enabled']"><font style="color:green">启用</font><else/><font style="color:red">禁用</font></if></td>
			<td>
				<a href="{:U('GoodsAttribute/index?goods_type='.$vo['cat_id'])}">属性列表</a>
				<a href="{:U('GoodsType/edit?id='.$vo['cat_id'])}">编辑</a>
				<a href="{:U('GoodsType/del?ids='.$vo['cat_id'])}" class="confirm ajax-get">删除</a>
            </td>
		</tr>
		</volist>
		<else/>
		<td colspan="7" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>

        </div>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>