<extend name="Public:base"/>
<block name="content">
    <div class="myorder-right">
        <link type="text/css" rel="stylesheet" href="__CSS__/application.css">
        <script type="text/javascript" src="__JS__/jquery.raty.min.js"></script>
        <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
        <script type="text/javascript" src="__STATIC__/UploadImages.js"></script>
        <div class="all-right" style="margin-left:0px;width:100%;border:0;">
            <div class="basic_infor">
                  <h3>发表评价</h3>
            </div>
            <div class="eva">
                <div class="publish1">
                    <a href="{:U('Article/detail?id='.$comment['goodid'])}">
                      <img src="{$comment.goodid|get_cover_id|get_cover='path'}" style="float:left; width:100px;height:100px;"/>
                    </a>
                    <div>
                        &nbsp;&nbsp;&nbsp;&nbsp; <a href="{:U('Article/detail?id='.$comment['goodid'])}">{$comment.goodid|get_good_name}</a>
                    </div>
                </div>
                <div class="eva2">
                    <div class="publish2">
                        <div style="margin-left:38px;">商品评分：</div>
                    </div>
                    <div class="publish2">
                        <input type="radio" onclick="set(this)" value="3"  name="score" class="score" <if condition="$comment['score'] eq 3"> checked="checked"</if>>
                        <img src="__IMG__/xl_1.png">
                        <div>&nbsp;&nbsp;&nbsp;好评</div>
                    </div>
                    <div class="publish2">
                        <input type="radio" onclick="set(this)" value="2"  name="score" class="score" <if condition="$comment['score'] eq 2"> checked="checked"</if>>
                        <img src="__IMG__/xl_2.png">
                        <div>&nbsp;&nbsp;&nbsp;中评</div>
                    </div>
                    <div class="publish2">
                         <input type="radio" onclick="set(this)" value="1"  name="score" class="score"
                         <if condition="$comment['score'] eq 1"> checked="checked"</if>>
                        <img src="__IMG__/xl_3.png">
                        <div>&nbsp;&nbsp;&nbsp;差评</div>
                    </div>
                    <script type="text/javascript">
                         function set(obj){
                             $("#score").val(obj.value);
                         }
                    </script>
                </div>

                <!-- 增加评价 -->
                <div style="width:600px;float:left;padding:10px;">
                    <div class="evaluate-clear">
                        <div class="title">商品描述评价： &nbsp;&nbsp;&nbsp;</div>
                        <div id="goodid" class="target-demo">{$comment['goodScoreImg']}</div>
                        <div id="goodid-hint" class="hint">{$comment['goodScoreZN']}</div>
                    </div>
                </div>

                <div style="width:800px;float:left;padding:10px;">
                    <div class="evaluate-clear">
                        <div class="title">服务态度评价： &nbsp;&nbsp;&nbsp;</div>
                        <div id="service" class="target-demo">{$comment['servicescoreImg']}</div>
                        <div id="service-hint" class="hint">{$comment['servicescoreZN']}</div>
                    </div>
                </div>

                <div style="width:800px;float:left;padding:10px;">
                    <div class="evaluate-clear">
                        <div class="title">物流速度评价： &nbsp;&nbsp;&nbsp; </div>
                        <div id="delivery" class="target-demo">{$comment['deliveryscoreImg']}</div>
                        <div id="delivery-hint" class="hint">{$comment['deliveryscoreZN']}</div>
                    </div>
                </div>
                <!-- 增加评价 -->

                <div class="eva3">
                    <input type="hidden"  name="tag" value="{$comment.tag}" />
                    <input type="hidden"  id="score" name="score" value="{$comment.score}">
                    <input type="hidden"  class="shopid" name="goodid" value="{$comment.goodid}">
                    <input type="hidden"  class="good" name="goodscore" value="">
                    <input type="hidden"  class="service" name="servicescore" value="">
                    <input type="hidden"  class="delivery" name="deliveryscore" value="">
                    <textarea rows="5" cols="80" name="content">{$comment.content}</textarea>
                </div>

                <div class="controls eva6">
                    <!-- <div id="upload_picture_pics" class="uploadify" style="height:30px;width:120px;">
                        <div id="upload_picture_pics-button" class="uploadify-button" style="height:30px; width:120px; border-radius:3px; background-color: #27ae60; line-height:30px;">
                            <span class="uploadify-button-text">预览图片</span>
                        </div>
                    </div> -->
                    <div class="upload-img-box">
                        <foreach name="pics" item="pic">
                           <notempty name="pic">
                                <div class="upload-pre-item">
                                    <img src="{$pic|get_cover='path'}" datd-id="{$pic}" width="120" height="72"/>
                                </div>
                           </notempty>
                        </foreach>
                    </div>
                </div>

            </div>
        </div>
    </div>
</block>








