<extend name="Public:base"/>
<block name="content">
<script type="text/javascript" src="__JS__/jquery.raty.min.js"></script>
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript" src="__STATIC__/UploadImages.js"></script>
	<div class="myorder-right">
	    <div class="all-right" style="margin-left:0;">
      	    <div class="basic_infor">
       		      <h3>发表评价</h3>
            </div>
            <form action="{:U('comment/add')}" class="comment_area"  method="post" name="actform">
                <div class="eva">
             	    <div class="publish1">
              	         <a href="{:U('Article/detail?id='.$comment['goodid'])}"><img src="{$comment.goodid|get_cover_id|get_cover='path'}" width="100" height="100" style="float:left"></a>
                    <div> &nbsp;&nbsp;&nbsp;&nbsp; <a href="{:U('Article/detail?id='.$comment['goodid'])}">{$comment.goodid|get_good_name}</a></div>
                </div>
                <div class="eva2">
                	<div class="publish2">
                        <div style="margin-left:38px;">商品评分：</div>
                    </div>
                    <div class="publish2">
                   	    <input type="radio" onclick="set(this)" value="3"  name="score" class="score">
                        <img src="__IMG__/xl_1.png">
                        <div>&nbsp;&nbsp;好评</div>
                    </div>
                    <div class="publish2">
                        <input type="radio" onclick="set(this)" value="2"  name="score" class="score">
                        <img src="__IMG__/xl_2.png">
                        <div>&nbsp;&nbsp;&nbsp;中评</div>
                    </div>
                    <div class="publish2">
                        <input type="radio" onclick="set(this)" value="1"  name="score" class="score">
                        <img src="__IMG__/xl_3.png">
                        <div>&nbsp;&nbsp;&nbsp;差评</div>
                    </div>
                    <script type="text/javascript">
                         function set(obj){
                             $("#score").val(obj.value);
                         }
                    </script>
         		</div>

    			<!-- 增加评价 -->
    			<div style="width:800px;float:left;padding:10px;">
             		<div class="evaluate-clear">
                        <div class="title">商品描述评价：</div>
                        <div id="goodid" class="target-demo"> </div>
                        <div id="goodid-hint" class="hint"> </div>
                    </div>
                </div>

                <div style="width:800px;float:left;padding:10px;">
                    <div class="evaluate-clear">
                        <div class="title">服务态度评价：</div>
                        <div id="service" class="target-demo"></div>
                        <div id="service-hint" class="hint"></div>
                    </div>
                </div>

                <div style="width:800px;float:left;padding:10px;">
                    <div class="evaluate-clear">
                        <div class="title">物流速度评价： </div>
                        <div id="delivery" class="target-demo"></div>
                        <div id="delivery-hint" class="hint"></div>
                    </div>
                </div>
                <!-- 增加评价 -->

         	    <div class="eva3">
         	     	<input type="hidden"  name="tag" value="{$comment.tag}" />
                    <input type="hidden"  id="score" name="score" value="{$comment.score}">
                    <input type="hidden"  class="shopid" name="goodid" value="{$comment.goodid}">
                    <input type="hidden"  class="good" name="goodscore" value="">
                    <input type="hidden"  class="service" name="servicescore" value="">
                    <input type="hidden"  class="delivery" name="deliveryscore" value="">
          	        <textarea rows="4" cols="80" name="content">写下你对商品的评价，对他人帮助很大哦</textarea>
                </div>

    			<div class="eva6">
                    <input type="file" id="upload_picture_pics">
                    <p style="clear:both;color:#999999;">最多上传5张图片，仅支持JPG、GIF、PNG格式，文件小于2MB</p>
                    <input type="hidden" name="pics" value="{$data[$field['name']]}" class="icon pics" />
                    <php>
                        if($data[$field['name']]){
                            $valArr= explode(',',$data[$field['name']]);
                        }else{
                            $valArr="";
                        }
                    </php>
                    <div class="upload-img-box">
                      <volist name="valArr" id="v">
                        <div class="upload-pre-item">
                            <img src="" data-id=""/>
                            <span class='btn-close btn-close-pics' title='删除图片'onclick='del(event);'></span>
                        </div>
                      </volist>
                    </div>
                </div>

                <div style="display:block;width=860px;background-color:#abcdef;">
                    <div class="publish5">
                        <input type="checkbox" name="niming" value="1">&nbsp;&nbsp;匿名评价
                        <div class="pub-item">
	                        <input type="submit"  class="btn-central orange" style="line-height:18px;border-radius:8px;" value="发表评论">
                        </div>
                    </div>
                </div>
	        </form>
            </div>
        </div>
	</div>

        <script type="text/javascript">
            //多图上传图片
            $(function(){
                /* 初始化上传插件*/
                $("#upload_picture_pics").uploadify({
                    "height"          : 30,
                    "swf"             : "__STATIC__/uploadify/uploadify.swf",
                    "uploadLimit"     : 5,   // 最多上传5件
                    "fileObjName"     : "download",
                    "buttonText"      : "上传图片",
                    "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                    "width"           : 120,
                    'removeTimeout'   : 1,
                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                    "onUploadSuccess" : uploadPicturepics,
                    'onFallback' : function() {
                        alert('未检测到兼容版本的Flash.');
                    }
                });
            })

            function uploadPicturepics(file, data){
                var data = $.parseJSON(data);
                var src = '';
                if(data.status){
                    src = data.url || '__ROOT__' + data.path;
                    upload_img = "<div class='upload-pre-item'><img width='100' height='100' src=" + src +" title='点击显示大图' data-id="+data.id+"> <span class='btn-close btn-close-pics' title='删除图片' onclick='del(event);'></span></div>";
                    picsbox = $("#upload_picture_pics").siblings('.upload-img-box');
                    picsbox.append(upload_img)
                    picArr = [];
                    for (var i = 0; i < picsbox.children().length ; i++) {
                        picArr.push(picsbox.children('.upload-pre-item:eq('+i+')').find('img').attr('data-id'));
                    };
                    picStr = picArr.join(',');
                    $('.icon.pics').val(picStr);
                } else {
                    updateAlert(data.info);
                    setTimeout(function(){
                        $('#top-alert').find('button').click();
                        $(that).removeClass('disabled').prop('disabled',false);
                    },1500);
                }
            }

            // 删除图片
            function del(event){ //获取事件源
                event = event ? event : window.event;
                var obj = event.srcElement ? event.srcElement : event.target;
                //这时obj就是触发事件的对象，可以使用它的各个属性
                //还可以将obj转换成jquery对象，方便选用其他元素
                str = obj.innerHTML.replace(/<\/?[^>]*>/g,''); //去除HTML tag
                var $obj = $(obj);
                $obj.parents(".upload-pre-item").remove();
                picsbox = $("#upload_picture_pics").siblings('.upload-img-box');
                picArr = [];
                for (var i = 0; i < picsbox.children().length ; i++) {
                    picArr.push(picsbox.children('.upload-pre-item:eq('+i+')').find('img').attr('data-id'));
                };
                picStr = picArr.join(',');
                $('.icon.pics').val(picStr);
            }

            //  描述、服务、物流的评价
            $(function() {
              $.fn.raty.defaults.path = '__IMG__';
              $('#goodid').raty({
                number    : 5,  //多少个星星设置
                targetType: 'hint',  //类型选择，number是数字值，hint，是设置的数组值
                path      : '__IMG__',
                hints     : ['差','一般','较好','好','非常好'],
                cancelOff : 'cancel-off-big.png',
                cancelOn  : 'cancel-on-big.png',
                size      : 24,
                starHalf  : 'star-half-big.png',
                starOff   : 'star-off-big.png',
                starOn    : 'star-on-big.png',
                target    : '#goodid-hint',
                cancel    : false,
                targetKeep: true,
                targetText: '请选择评分',

                click: function(score, evt) {
                    $('input.good').val(score);
                }
              });
            });

            $(function() {
              $.fn.raty.defaults.path = '__IMG__';
              $('#service').raty({
                number    : 5,//多少个星星设置
                targetType: 'hint',//类型选择，number是数字值，hint，是设置的数组值
                path      : '__IMG__',
                hints     : ['差','一般','较好','好','非常好'],
                cancelOff : 'cancel-off-big.png',
                cancelOn  : 'cancel-on-big.png',
                size      : 24,
                starHalf  : 'star-half-big.png',
                starOff   : 'star-off-big.png',
                starOn    : 'star-on-big.png',
                target    : '#service-hint',
                cancel    : false,
                targetKeep: true,
                targetText: '请选择评分',

                click: function(score, evt) {
                    $('input.service').val(score);
                }
              });
            });

            $(function() {
              $.fn.raty.defaults.path = '__IMG__';
              $('#delivery').raty({
                number    : 5,//多少个星星设置
                targetType: 'hint',//类型选择，number是数字值，hint，是设置的数组值
                path      : '__IMG__',
                hints     : ['差','一般','较好','好','非常好'],
                cancelOff : 'cancel-off-big.png',
                cancelOn  : 'cancel-on-big.png',
                size      : 24,
                starHalf  : 'star-half-big.png',
                starOff   : 'star-off-big.png',
                starOn    : 'star-on-big.png',
                target    : '#delivery-hint',
                cancel    : false,
                targetKeep: true,
                targetText: '请选择评分',

                click: function(score, evt) {
                    $('input.delivery').val(score);
                }
              });
            });
        </script>

</block>








