<extend name="Public:base"/>
<block name="content">
	<div class="all-right">
  	    <div class="basic_infor">
   		    <h3>历史评价统计</h3>
        </div>
        <div class="evaluation">
			<table cellspacing="0" cellpadding="0" >
             	<tbody>
                	<tr>
                    	<td width="80px">评分</td>
                        <td width="500px">评论内容</td>
                        <td width="260px">商品信息</td>
                        <td width="80px">操作</td>
                    </tr>
                    <notempty name="list">
                    <foreach name="list" item="vo">
                        <tr>
                            <td>
                            <php>
                                if($vo['score']==1){echo "<img src='__IMG__/xl_3.png'>";};
                                if($vo['score']==2){echo "<img src='__IMG__/xl_2.png'>";};
                                if($vo['score']==3){echo "<img src='__IMG__/xl_1.png'>";};
                            </php>

                            </td>
                            <td>
                                <p>{$vo.content}</p>
                                <php>
                                    $pics = explode(',',$vo['pics']);
                                </php>
                                <volist name="pics" id='k'>
                                    <notempty name="k">
                                        <img src="{$k|get_cover='path'}" width="80" height="80" style="margin:5px;">
                                    </notempty>
                                </volist>
                                <p><i>{$vo.update_time|date='Y-m-d H:i:s',###}</i></p>
                            </td>
                            <td>
                                <p><a href="{:U('Article/detail?id='.$vo['goodid'])}">{$vo.goodid|get_good_name}</a><br><br><b>￥{$vo.goodid|get_good_price}</b></p>
                            </td>
                            <td>
                                <a href="{:U('comment/detail',array('id'=>$vo['id']))}">查看</a>
                            </td>
                        </tr>
                    </foreach>
                    </notempty>
                </tbody>
            </table>
            <div class="page">
                {$page}
            </div>
 		</div>
	</div>
</block>