<extend name="Base/s1"/>
<block name="body">

    <div class="middle">
        <div class="middle-photo">
            <div class="banner">
                <div class="flexslider">
                    <ul class="slides">
                        <li style="background:url(__IMG__/index1.jpg) 50% 0 no-repeat;"></li>
                        <li style="background:url(__IMG__/index1.jpg) 50% 0 no-repeat;"></li>
                        <li style="background:url(__IMG__/index1.jpg) 50% 0 no-repeat;"></li>
                    </ul>
                </div>
                <ul class="slides" style="height:auto">
                    <li style="background:url(__IMG__/index3.png) 50% 0 no-repeat;height:780px;"></li>
                    <li style="background:url(__IMG__/index4.jpg) 50% 0 no-repeat;height:800px;"></li>
                    <li style="background:url(__IMG__/index5.jpg) 50% 0 no-repeat;height:770px;"></li>
                </ul>
            </div>
        </div>
    </div>

    <section class="section_box2">
      <div class="content_box">
          <div class="weixin_box">
              <div class="weixin_left">
                  <p>支持手机型号</p>
                  <p>支持安卓4.4&nbsp;&nbsp;蓝牙4.0以上版本</p>
              </div>
              <div class="weixin_right">
                  <div class="erw_right"><img src="__IMG__/erwm2.jpg">
                      <p>贴芯点二维码</p>
                  </div>
              </div>
          </div>
      </div>
    </section>

    <div class="clear"></div>

    <section class="section_box1">
        <div class="content_box">
            <div class="gongn"><a href="#">点此查看贴芯点智能手环的<span>功能 &gt;&gt; </span> </a> </div>
        </div>
    </section>

<script src='__JS__/imageflow.js'></script>
<script src='__JS__/hhSwipe.js'></script>
<script>
    var slider = Swipe($('#scroll_img')[0], {
        auto: 2000,
        continuous: true
    });

    $(function(){
      bindEvent();
    });

    var timer =null;
    function bindEvent(){
          $('.lii').hover(function() {
          $(this).addClass('on');
          var pos = $(this).attr("pos");
          slider.slide(pos,1000);
          clearInterval(timer);
          var wl = $(this).find('img').attr('width');
          if (wl < 210) {
            $(this).find('.appimg_left1').css('center', '0');
          } else {
            $(this).find('.appimg_left1').css('center', -wl / 4);
          }
        },
        function() {
          //slider.start(0,7,500);
          timer = setInterval(function(){slider.next()},2000);
          $(this).animate({
                height: "300px"
              },
              100).removeClass('on');
          $(this).find('.appimg_left1').css('center', '0');
        });
    }
</script>

</block>