<extend name="Public:base"/>
<block name="content">
<div class="all-right">
<script type="text/javascript" src="__JS__/year_month_day.js"></script>
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<div class="basic_infor">
    <h3>基本信息</h3>
    <div class="basic_infor-item">
        <form action="{:U('member/update')}" method="post">
        <volist name="information" id="po">
            <div class="item">
                <span><i>*</i>昵&nbsp;&nbsp;&nbsp;称：</span>
                <input type="text" value="{$po.nickname}" name="nickname" required>
            </div>

            <div class="item">
                <span><i></i>账&nbsp;&nbsp;&nbsp;号：</span>
                <input type="text" value="{:get_username()}" readonly>
            </div>

            <div class="item item_basic">
                <span><i>*</i>性&nbsp;&nbsp;&nbsp;别：</span>
                <if condition="$po.sex eq 2">
                    <input type="radio" value="1" name="sex"><span>男</span>
                    <input type="radio" value="2" name="sex" checked="checked"><span>女</span>
                <else />
                    <input type="radio" value="1" name="sex" checked="checked"><span>男</span>
                    <input type="radio" value="2" name="sex"><span>女</span>
                </if>
          	</div>

            <div class="item">
                <span><i>*</i>生&nbsp;&nbsp;&nbsp;日：</span>
                <select id="selYear" name='year'></select>年
                <select id="selMonth" name='month'></select>月
                <select id="selDay" name ='day'></select>日
                <script type="text/javascript">
                var selYear = window.document.getElementById("selYear");
                var selMonth = window.document.getElementById("selMonth");
                var selDay = window.document.getElementById("selDay");
                var myDate = new Date();
                var month = myDate.getMonth() + 1;
                <empty name="po['birthday']">
                    new DateSelector(selYear, selMonth, selDay,myDate.getFullYear(),month,myDate.getDate());
                <else />
                    new DateSelector(selYear, selMonth, selDay,{$po.birthday.0},{$po.birthday.1},{$po.birthday.2});
                </empty>
                </script>
            </div>
        </volist>

            <div class="item">
                <span>上传头像：</span>
                <div style="margin-left:-83px;">
                    <input type="file" id="upload_picture"  style=" opacity: 0;filter:alpha(opacity=0);" >
                    <input type="hidden" name="face" id="face" value="{$info['face']|default=''}"/>
                </div>
                <p style="clear:both;color:#999999;margin-left:80px;">仅支持JPG、GIF、PNG格式，文件小于2MB</p>
                <div class="center_touxiang upload-img-box">
                    <div  id="litpic_show">
                       <empty name="src">
                            <img src="__IMG__/info.jpg" />
                       <else />
                            <img src="{$src}" />
                       </empty>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                //上传图片
                /* 初始化上传插件 */
                $("#upload_picture").uploadify({
                    "height"          : 30,
                    "swf"             : "__STATIC__/uploadify/uploadify.swf",
                    "multi"           : false,
                    "fileObjName"     : "download",
                    "buttonText"      : "选择您要上传的头像",  //  button 选择您要上传的头像
                    "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                    "width"           : 270,
                    'removeTimeout'   : 1,
                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                    "onUploadSuccess" : uploadPicture,
                    'onFallback' : function() {
                        alert('未检测到兼容版本的Flash.');
                    }
                });

                function uploadPicture(file, data){
                    var data = $.parseJSON(data);
                    var src = '';
                    if(data.status){
                        $("#face").val(data.id);
                        src = data.url || '__ROOT__' + data.path;
                        $('.upload-img-box').html('<div  id="litpic_show"><img src="' + src + '"/></div>');
                    } else {
                        updateAlert(data.info);
                        setTimeout(function(){
                            $('#top-alert').find('button').click();
                            $(that).removeClass('disabled').prop('disabled',false);
                        },1500);
                    }
                }
            </script>

            <div class="item">
                <span></span>
                <input type="hidden" name="uid" value="{$po.uid}" />
                <input type="submit" value="提交" class="tijio_xinxi">
            </div>
        </form>
    </div>
</div>
</div>
</block>