<extend name="Base:s1"/>
<block name="body">
  <div class="content_box_sub">
    <div class="order-head"></div>
    <div class="content-inner">
      <script>
function savemsg() {
var address=$("#address").val();
var orderid=$("#orderid").val();
var username=$("#realname").val();
var phone=$("#phone").val();
$.ajax({
type:'post', //传送的方式,get/post
url:'{:U("Address/build")}', //发送数据的地址
data:{province:$("#idprovince").find('option:selected').text(),city:$("#idcity").find('option:selected').text(),area:$("#idarea").find('option:selected').text(),posi:address,pho:phone,rel:username,id:orderid,msg:'yes'},
dataType: "json",
success:function(data){
	var str = '<div class="sub-add-choose" id="addr_id'+data.id+'" >'
            +'<ul>'
              +'<li>'
                +'<input type="radio" onclick="set_addrid(this.value);" value="'+data.id+'" name="subchoose" checked="checked">'
              +'</li>'
              +'<li>'
                +'<p>收货地址：'+data.province+data.city+data.area+data.address+',&nbsp;&nbsp;收件人：'+data.realname+',&nbsp;&nbsp; 联系电话:'+data.cellphone+'</p>'
              +'</li>'
              +'<li class="subright" id="address_id'+data.id+'">'
                +'<p><b>默认地址</b></p><a href="#">修改本地址</a> '
              +'</li>'
            +'</ul>'
          +'</div>';
	$('#address_list').append(str);
	set_addrid(data.id);
	set_default(data.id);
},
error:function (event, XMLHttpRequest, ajaxOptions, thrownError) {
alert("表单错误，"+XMLHttpRequest+thrownError); }
		})
}
function toggle_addr(){
	$('#addr_title').html('使用新地址');
	$("#new_addr").toggle();
}
function edit_addr(id){
	$.post('{:U("Address/update")}',function(data){

	});
}
function set_addrid(id){
	$('#senderid').val(id);
}
function delete_addr(id){
  if(confirm('你确定要删除吗？')){
	  $.ajax({
		 type: "POST",
		 url: '{:U("Address/deleteAddress")}',
		 data: {id:id},
		 dataType: "json",
		 success: function(data){
			  $('#addr_id'+id).remove();
		 }
	  });
  }
}
function set_default(id){
	$.post('{:U("Address/shezhi")}',{id:id},function(data){
		<volist name="addrs" id="vo">
		if({$vo.id}==id) $("#address_id{$vo.id}").html('<p><b>默认地址</b></p><a href="#">修改本地址</a>');
		else $("#address_id{$vo.id}").html('<a href="javascript:set_default({$vo.id});">设为默认地址</a><a href="#">编辑</a><a href="javascript:delete_addr('+id+')">删除</a>');
		</volist>
	});
}
</script>
      <empty name="address">
      <div class="submit1">
          <div class="sub-add">
            <h3>确认收货地址</h3>
            <input type="button" onclick="toggle_addr()" value="+使用新地址">
          </div>
      </div>
        <!--添加新地址-->
        <div class="submit1" style="display:block" id="new_addr">
          <div class="sub-add">
            <h3 id="addr_title">使用新地址</h3>
            <input type="button" onclick="savemsg();" value="保存" style="background-color:#f55858;color:#fff;">
          </div>
          <div class="add-new" style="position: absolute; margin: 50px 30px;">
            <form method="post" action="/index.php?s=/Home/Address/add.html">
              <div class="basic_infor-item">
                <div class="item"> <span><i>*</i>收货人：</span>
                  <input id="realname" type="text" value="" name="realname" required>
                </div>
                <div class="item item_addrress" style="margin:10px 0"> <span style="margin-right:5px;"><i>*</i>所在地：</span>
                  <select id="idprovince" name="province" >
                    <volist name="provinces" id="vo">
                      <option value="{$vo.id}" >{$vo.area}</option>
                    </volist>
                  </select>
                  <span id="citys">
                  <select id="idcity" name="city">
                    <option value="0" selected="true">选择城市</option>
                  </select>
                  </span> <span id="districts">
                  <select id="idarea" name="area">
                    <option value="0" selected="true">选择地区</option>
                  </select>
                  </span> <span class="pcd" style="color:red;"> </span><br>
                  <input type="text" id="address" name="address" value="" placeholder="详细地址" style="margin-left:65px; margin-top:10px; width:272px;">
                </div>
                <div class="item" style="margin:15px 0"> <span><i>*</i>手机号：</span>
                  <input id="phone" type="text" value="" name="cellphone">
                </div>
              </div>
              <input type="checkbox" class="cart_n_box" name="default" checked="checked" id="isdefault" style="display:none;">
            </form>
          </div>
        </div>
        <!--添加新地址END-->
        <else/>
        <div class="submit1" id="address_list">
          <div class="sub-add">
            <h3>确认收货地址</h3>
            <input type="button" onclick="toggle_addr()" value="+使用新地址">
          </div>
          <volist name="addrs" id="list">
          <div class="sub-add-choose" id="addr_id{$list.id}" >
            <ul>
              <li>
                <input type="radio" onclick="set_addrid(this.value);" value="{$list.id}" name="subchoose" <if condition="$list['status']">checked="checked"</if>>
              </li>
              <li>
                <p>收货地址：{$list.province} {$list.city} {$list.area} {$list.address},&nbsp;&nbsp;收件人：{$list.realname},&nbsp;&nbsp; 联系电话:{$list.cellphone }</p>
              </li>
              <li class="subright" id="address_id{$list.id}">
              <if condition="$list['status']">
                <p><b>默认地址</b></p><a href="#">修改本地址</a>
             <else />
                <a href="javascript:set_default({$list['id']});">设为默认地址</a><a href="#">编辑</a><a href="javascript:delete_addr({$list.id})">删除</a>
              </if>
              </li>
            </ul>
          </div>
          </volist>
        </div>
        <!--添加新地址-->
        <div class="submit1" style="display:none" id="new_addr">
          <div class="sub-add">
            <h3>使用新地址</h3>
            <input type="button" onclick="savemsg();" value="保存" style="background-color:#f55858;color:#fff;">
          </div>
          <div class="add-new" style="position: absolute; margin: 50px 30px;">
            <form>
              <div class="basic_infor-item">
                <div class="item"> <span><i>*</i>收货人：</span>
                  <input id="realname" type="text" value="" name="realname" required>
                </div>
                <div class="item item_addrress" style="margin:10px 0"> <span style="margin-right:5px;"><i>*</i>所在地：</span>
                  <select id="idprovince" name="province" >
                    <volist name="provinces" id="vo">
                      <option value="{$vo.id}" >{$vo.area}</option>
                    </volist>
                  </select>
                  <span id="citys">
                  <select id="idcity" name="city">
                    <option value="0" selected="true">选择城市</option>
                  </select>
                  </span> <span id="districts">
                  <select id="idarea" name="area">
                    <option value="0" selected="true">选择地区</option>
                  </select>
                  </span> <span class="pcd" style="color:red;"> </span><br>
                  <input type="text" id="address" name="address" value="" placeholder="详细地址" style="margin-left:65px; margin-top:10px; width:272px;">
                </div>
                <div class="item" style="margin:15px 0"> <span><i>*</i>手机号：</span>
                  <input id="phone" type="text" value="" name="cellphone">
                </div>
              </div>
              <input type="checkbox" class="cart_n_box" name="default" checked="checked" id="isdefault" style="display:none;">
            </form>
          </div>
        </div>
        <!--添加新地址END-->
      </empty>
      <script type="text/javascript">
		$(function(){
			$('#idprovince').change(function(){
				if(this.value==''){
					return;
				}
				$.post('/index.php?s=/Home/Address/change.html',{pid:this.value},function(data,textStatus){
					if(data){
						$('#idcity').empty();//清空原有的数据
						$.each(data, function(i,n){
							$("<option value='"+n.id+"'>"+n.area+"</option>").appendTo("#idcity");
						});
					}
				},'json')
			});

			$('#idcity').change(function(){
				if(this.value==''){
					return;
				}
				$.post('/index.php?s=/Home/Address/change.html',{pid:this.value},
				function(data,textStatus){
					if(data){
						$('#idarea').empty(); //清空原有的数据
						$.each(data, function(i,n){
							$("<option value='"+n.id+"'>"+n.area+"</option>").appendTo("#idarea");
						});
					}
				},'json');
			});

			$('#idarea').change(function(){
				if(this.value==''){
					return;
				}
			});
		})
	</script>
      <div class="sub-list">
        <h3 style="font-weight:bold;float:left;width:900px;">商品列表</h3>
        <table>
          <tbody>
            <tr>
              <th width="350px" style="text-align:left;padding-left:100px;">商品</th>
              <th width="180px">单价</th>
              <th width="150px">数量</th>
              <th width="150px">小计</th>
            </tr>
            <volist name="shoplist" id="vo">
              <tr>
                <td><img src="{$vo.goodid|get_cover_id|get_cover='path'}">
                  <p>{$vo.goodid|get_good_name}</p></td>
                <td><i>{$vo.price}</i></td>
                <td>{$vo.num}</td>
                <td><i>￥{$vo['price']*$vo['num']}</i></td>
              </tr>
            </volist>
          </tbody>
        </table>
      </div>
      <div class="sub-fapiao">
        <h3 style="font-weight:bold">发票信息</h3>
        <p>不需要发票</p>
      </div>
      <div class="sub-sum">
        <p><i>{$num}</i> 件商品     总金额 :   ￥{$total}</p>
        <p> 运费 :      ￥{$trans}</p>
        <p> 应付总额 :     ￥{$all}</p>
        <p>应付金额  : <strong><i>￥{$all}</i></strong></p>
        <form action='{:U("order/save")}' method="post" style="height:40px;position:relative;">
          <input type="hidden" name="tag"  id="orderid" value="{$tag}">
          <input type="hidden" name="sender"  id="senderid" value="{$uid|get_addressid}" >
          <input type="hidden" name="PayType" id="pay"  value="2">
          <input type="submit" value="提交订单" style="position:absolute;top:10px;right:10px;cursor:pointer;">
        </form>
      </div>
    </div>
  </div>
</block>
