<extend name="Base/s3"/>
<block name="body">
<if condition="is_login()">
    <div class="content_box">
        <div class="crumb">
            <span><a href="/">首页</a>>我的购物车</span>
        </div>

        <div class="pro_top">
            <include file="Public:base_left"/>
            <div class="all-right">
                <div class="basic_infor">
                    <empty name="sqlcart">
                    <div class="shopcar_empty">
                        <img src="__IMG__/shopcar_em_03.jpg" />
                        <a href="{:U('Index/index')}">马上购物</a>
                    </div>
                    </empty>

                    <notempty name="sqlcart">
                    <div>
                        <form action='{:U("order/add")}'method="post" name="myform" id="form">
                            <table cellspacing="0" cellpadding="0" class="center_Return center_mycar">
                                <tr>
                                    <th width="50" class="choose">
                                        <input class="checkbox check-all" checked="checked"type="checkbox">
                                    </th>
                                    <th width="112">全选</th>
                                    <th width="167">商品</th>
                                    <th width="142">单价</th>
                                    <th width="176">数量</th>
                                    <th width="107">操作</th>
                                </tr>
                              <foreach name="usercart" item="vo">
                                <tr>
                                    <td class="choose">
                                        <input class="ids row-selected" checked="checked" type="checkbox" name="id[]" value="{$vo.goodid}">
                                    </td>
                                    <td>
                                        <a href="{:U('Article/goods?id='.$vo['goodid'])}" target="_blank"><img src="{$vo.goodid|get_cover_id|get_cover='path'}"></a>
                                    </td>
                                    <td>
                                        <a href="{:U('Article/goods?id='.$vo['goodid'])}"  class="dd">{$vo.goodid|get_good_name}</a>
                                    </td>
                                    <td class="price">￥<span id="goods_price29">{$vo.price}</span></td>
                                    <td aling="center">
                                        <div class="numplus">

                                            <a rel="jia"  class="jia up" onclick="myfunction(event)"> + </a>

                                            <input type="text"  class="goodsnumber"  id="{$vo.sort}" name="num[]" value="{$vo.num}"/>

                                            <a rel="jian" onclick="myfunction(event)"  class="jian down" id="oneA"> - </a>

                                            <input type="hidden" value="{$vo.price}" name="price[]"/>
                                            <input type="hidden" value="{$vo.sort}" name="sort[]"/>
                                            <input type="hidden" value="{$vo.parameters}" name="parameters[]"/>
                                            <br/>

                                        </div>
                                        <span class="stock_name">有货</span>
                                    </td>
                                    <td><a name="{$vo.sort}" rel="del" onclick="myfunction(event)"> 删除 </a></td>
                                </tr>
                              </foreach>

                                <tr>
                                    <th class="choose"><input class="checkbox check-all"checked="checked" type="checkbox"></th>
                                    <th>全选</th>
                                    <th style="text-align:left;"><a name="{$vo.sort}" rel="del" onclick="myfunction(event)">删除</a></th>
                                    <th colspan="4" class="jiesuan">
                                        已选商品<strong>&nbsp;<input type="text" value="{$sum}" name="sum">&nbsp;</strong>
                                        件&nbsp;&nbsp;&nbsp;

                                        商品总价：
                                        ￥<strong>&nbsp;<input type="text" name="gprices" value="{$price}">&nbsp;</strong>元
                                    </th>
                                </tr>

                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th colspan="4" class="jiesuan">+运费：￥<strong><input type="text" value="0.00" id="shipping_fee"></strong>元</th>
                                </tr>

                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th colspan="4" class="jiesuan">-已省：￥<strong><input type="text" value="0.00" id="discount"></strong>元</th>
                                </tr>

                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th colspan="4" class="jiesuan">合&nbsp;&nbsp;计：￥
                                    <strong><input type="text" name="total" value="{$price}" ></strong>元
                                    </th>
                                </tr>

                                <tr></tr>
                            </table>
                        </form>
                    </div>
                    <div class="jiesuan">
                        <a class="btn_submit_pay"   href="javascript:void(0)" onclick="checklogin();return false">
                            <input type="button" value="结算">
                        </a>
                    </div>
                    </notempty>
<else/>

    <div class="content_box">
        <div class="crumb">
            <span><a href="/">首页</a>>购物车</span>
        </div>

        <div class="pro_top">
            <include file="Public:base_left"/>
            <div class="all-right">
                <div class="basic_infor">
                    <empty name="sqlcart">
                    <div class="shopcar_empty">
                        <img src="__IMG__/shopcar_em_03.jpg" />
                        <a href="{:U(Index/index)}">马上购物</a>
                    </div>
                    </empty>
                    <notempty name="sqlcart">
                    <div>
                        <form action='{:U("order/add")}'method="post" name="myform" id="form">
                            <table cellspacing="0" cellpadding="0" class="center_Return center_mycar">
                                <tr>
                                    <th width="50" class="choose">
                                        <input class="checkbox check-all" checked="checked"type="checkbox">
                                    </th>
                                    <th width="112">全选</th>
                                    <th width="167">商品</th>
                                    <th width="142">单价</th>
                                    <th width="176">数量</th>
                                    <th width="107">操作</th>
                                </tr>

                              <foreach name="usercart" item="vo">
                                <tr>
                                    <td class="choose">
                                        <input class="ids row-selected" checked="checked" type="checkbox" name="id[]" value="{$vo.goodid}">
                                    </td>
                                    <td>
                                        <a href="{:U('Article/goods?id='.$vo['goodid'])}" target="_blank"><img src="{$vo.goodsid|get_cover_id|get_cover='path'}"></a>
                                    </td>
                                    <td>
                                        <a href="{:U('Article/goods?id='.$vo['goodid'])}"  class="dd">{$vo.goodsid|get_good_name}</a>
                                    </td>
                                    <td class="price">￥<span id="goods_price29">{$vo.price}</span></td>
                                    <td align="center">
                                        <div class="numplus">
                                            <a rel="jia"  class="jia" onclick="myfunction(event)">+</a>
                                            <input type="text"  class="goodnum"  id="{$vo.sort}" name="num[]"value="{$vo.num}"/>
                                            <a rel="jian" onclick="myfunction(event)"  class="jian" id="oneA">-</a>
                                            <input type="hidden" value="{$vo.price}" name="price[]"/>
                                            <input type="hidden" value="{$vo.sort}" name="sort[]"/>
                                            <input type="hidden" value="{$vo.parameters}" name="parameters[]"/>
                                            <br/>
                                        </div>
                                        <span class="stock_name" id="stock_name29">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;有货</span>
                                    </td>
                                    <td><a name="{$vo.sort}" rel="del" onclick="myfunction(event)">删除</a></td>
                                </tr>
                              </foreach>

                                <tr>
                                    <th class="choose"><input class="checkbox check-all"checked="checked" type="checkbox"></th>
                                    <th>全选</th>
                                    <th style="text-align:left;"><a name="{$vo.sort}" rel="del" onclick="myfunction(event)">删除</a></th>
                                    <th colspan="4" class="jiesuan">
                                        已选商品<strong>&nbsp;<input type="text" value="{$sum}" name="sum">&nbsp;</strong>
                                        件&nbsp;&nbsp;&nbsp;

                                        商品总价：
                                        ￥<strong>&nbsp;<input type="text" name="gprices" value="{$price}">&nbsp;</strong>元
                                    </th>
                                </tr>

                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th colspan="4" class="jiesuan">+运费：￥<strong><input type="text" value="0.00" id="shipping_fee"></strong>元</th>
                                </tr>

                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th colspan="4" class="jiesuan">-已省：￥<strong><input type="text" value="0.00" id="discount"></strong>元</th>
                                </tr>

                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th colspan="4" class="jiesuan">合&nbsp;&nbsp;计：￥
                                    <strong><input type="text" name="total" value="{$price}" ></strong>元
                                    </th>
                                </tr>
                                <tr></tr>
                            </table>
                        </form>
                    </div>
                    <div class="jiesuan">
                        <a class="btn_submit_pay"   href="javascript:void(0)" onclick="checklogin();return false">
                            <input type="button" value="结算">
                        </a>
                    </div>
                    </notempty>
</if>
                </div>
            </div>
        </div>
    </div>
<!-- jQuery 遮罩层上方的对话框 -->
<script type="text/javascript">
    //显示灰色 jQuery 遮罩层
    function showBg() {
        var bh = $("body").height();
        var bw = $("body").width();
        $("#fullbg").css({
            height:bh,
            width:bw,
            display:"block"
        });
        $("#dialog").show();
    }
    //关闭灰色 jQuery 遮罩
    function closeBg() {
        $("#fullbg,#dialog").hide();
    }
</script>
<!--[if lte IE 6]>
<script type="text/javascript">
// 浮动对话框
$(document).ready(function() {
    var domThis = $('#dialog')[0];
    var wh = $(window).height() / 2;
    $("body").css({
        "background-image": "url(about:blank)",
        "background-attachment": "fixed"
    });
    domThis.style.setExpression('top', 'eval((document.documentElement).scrollTop + ' + wh + ') + "px"');
});
</script>
<![endif]-->


<script type="text/javascript">
    //登录后刷新页面，载入数据
    $("#login_btn").click(function(){
        var yourname=$('#inputusername').val();
        var yourword=$('#inputpassword').val();
        $.ajax({
            type:'post', //传送的方式,get/post
            url:'{:U("User/loginfromdialog")}', //发送数据的地址
            data:{username:yourname,password:yourword},
            dataType: "json",
            success:function(data){
                if(data.status=="1"){
                    $(".tips").html(data.info);
                    window.location.reload();
                    $("#uid").val(data.uid);
                }else{
                    $(".tips").html(data.info);
                }

        },
        error:function (event, XMLHttpRequest, ajaxOptions, thrownError) {
            alert(XMLHttpRequest+thrownError); }
        });
    });

    //全选的实现
    $(".check-all").click(function(){
        $(".ids").prop("checked", this.checked);
    });

    $(".ids").click(function(){
        var option = $(".ids");
        option.each(function(i){
            if(!this.checked){
                $(".check-all").prop("checked", false);
                return false;
            }else{
                $(".check-all").prop("checked", true);
            }
        });
    });

    var uexist="{:get_username()}";
    //全选的实现 定义加、减、删的发送路径
    if(uexist){
        var inc='{:U("Shopcart/incNumByuid")}';
        var dec='{:U("Shopcart/decNumByuid")}';
        var del='{:U("Shopcart/delItemByuid")}';
    }else{
        var inc='{:U("Shopcart/incNum")}';
        var dec='{:U("Shopcart/decNum")}';
        var del='{:U("Shopcart/delItem")}';
    }

    function checklogin() {
        var uexist="{:get_username()}";
        if(uexist){
            document.myform.submit();
        }else{
            showBg();
        }
    }

    // 收藏
    function favor(id) {
        var uexist="{:get_username()}";
        if(uexist){
            var favorid=id;
            $.ajax({
                type:'post', //传送的方式,get/post
                url:'{:U("User/favor")}', //发送数据的地址
                data:{id:favorid},
                dataType: "json",
                success:function(data){
                    if(data.status=="1"){alert(data.msg);}
            },
            error:function (event, XMLHttpRequest, ajaxOptions, thrownError) {
                alert(XMLHttpRequest+thrownError); }
            })
        }else{
            showBg();
        }
    }

    function myfunction(event) {
        event = event ? event : window.event;
        var obj = event.srcElement ? event.srcElement : event.target;

        //这时obj就是触发事件的对象，可以使用它的各个属性
        //还可以将obj转换成jquery对象，方便选用其他元素

        str = obj.innerHTML.replace(/<\/?[^>]*>/g,''); //去除HTML tag
        var $obj = $(obj);

        if(obj.rel=="jia"){
            var num=$obj.next().val();
            var gid=$obj.next().attr("id");
            a=parseInt(num)+1;
            $obj.next().val(a);

            //增加数据
            $.ajax({
                type:'post', //传送的方式,get/post
                url:inc, //发送数据的地址
                data:{sort:gid},
                dataType: "json",
                success:function(data){
                    $("input[name='count']").val(data.count);
                    $("input[name='total']").val(data.price);
                    $("input[name='sum']").val(data.sum);
                    $("input[name='gprices']").val(data.price);
                },
                error:function (event, XMLHttpRequest, ajaxOptions, thrownError) {
                    alert(XMLHttpRequest+thrownError);
                }
            })
        }


        if(obj.rel=="jian"){
            var num=$obj.prev().val();
            var str=$obj.prev().attr("id")
            if(num >0){  //如果文本框的值大于0才执行减去方法
              //并且当文本框的值为1的时候，减去后文本框直接清空值，不显示0
                if(num==1){
                    alert("最少为1");
                    return true;
                }else{
                    //否则就执行减减方法
                    a=parseInt(num)-1;
                    $obj.prev().val(a);
                }
            }

            //减少数据
            $.ajax({
                type:'post', //传送的方式,get/post
                url:dec, //发送数据的地址
                data:{sort:str},
                dataType: "json",
                success:function(data){
                    $("input[name='count']").val(data.count);
                    $("input[name='total']").val(data.price);
                    $("input[name='sum']").val(data.sum);
                    $("input[name='gprices']").val(data.price);
                },
                error:function (event, XMLHttpRequest, ajaxOptions, thrownError) {
                    alert(XMLHttpRequest+thrownError);
                }
            })
        }

        var html = '<div class="shopcar_empty"><img src="__IMG__/shopcar_em_03.jpg" /><a href="{Index/index}">马上购物</a></div>';


        if(obj.rel=="del"){
            var string=obj.name;
            //删除数据
            $.ajax({
                type:'post', //传送的方式,get/post
                url:del, //发送数据的地址
                data:{sort:string},
                dataType: "json",
                success:function(data){
                    var $obj = $(obj);
                    $obj.parents("tr").empty();
                    $("input[name='count']").val(data.count);
                    $("input[name='total']").val(data.price);
                    $("input[name='sum']").val(data.sum);
                    $("input[name='gprices']").val(data.price);
                    var a=data.sum;
                    if(a=="0"){
                        $(".text").remove();
                        $(".basic_infor").html(html);
                    }
                },
                error:function (event, XMLHttpRequest, ajaxOptions, thrownError) {
                    alert(XMLHttpRequest+thrownError);
                }
            })
        }
    }
</script>
</block>