﻿<extend name="Base/s3-3"/>

<block name="header">
   
</block>

<block name="body">
<div id="success" >

<p><i class="glyphicon glyphicon-ok" ></i><strong style="color:#35AA47;clear:both;font-size:18px;">提交成功！</strong></p>
<p><a class="btn_success" rel="nofollow" href="{:U('article/goodslist')}">继续购物</a><a  class="btn_success" rel="nofollow" href="{:U('center/allorder')}">查看订单</a></p></div>

<!--脚本开始--> 
    
   
</block>
