<extend name="Base/s1"/>
<block name="body">
<link href="__CSS__/detail.css" rel="stylesheet">
<script type="text/javascript" src="__JS__/jquery.js"></script> <!-- 图片轮播 -->
<script type="text/javascript" src="__JS__/tabqh.js"></script>  <!-- 详情 规格等切换 -->
<script type="text/javascript" src="__JS__/jquery_002.js"></script>  <!-- 商品数量 -->
<script src="__STATIC__/js/jqueryzoom-jcarousel.js" type="text/javascript"></script>
<div class="type-middle">
    <div class="order-head">
        <a href="{:U('index/index')}">首页</a>>
        <a href="{:U('article/goodslist')}">{$category.title}</a> >{$info.title}
    </div>
    <div class="pro-type">
        <div class="type-banner">
            <div class="typebanner-left" >
                <div class="jqzoom" id="spec-n1" >
                    <img src="{$info.cover_id|get_cover='path'}" style="width=197px;height:189px;">
                </div>
                <div id="spec-list">
                    <ul>
                      <php> if(!empty($info['pics'])){ $pics= explode(',',$info['pics']);}else{ $pics="";}</php>
                      <notempty name="pics">
                        <volist name="pics" id="v">
                          <li><img src="__ROOT__{$v|get_cover='path'}" data-id="{$v}" style="border:1px solid #f55858;"></li>
                        </volist>
                      </notempty>
                    </ul>
                </div>
            </div>

            <div class="typebanner-right">
                <ul>
                    <li style="font-size: 30px;">{$info.title}</li>
                    <li>购买即送:<i>价值68元贴芯点服务两个月</i></li>
                    <li style="font-size: 18px;color:#666;">{$info.description}</li>
                    <li style="font-size: 12px;color:#999;">
                        <notempty name="info['parameters_value']">
                            <php>
                                if(!empty($info['parameters_value'])){
                                    $datalist= explode('、',$info['parameters_value']);
                                    $count = count($datalist);
                                }else{
                                    $datalist="";
                                }
                            </php>
                            <notempty name="datalist">
                                <volist name="datalist" id="v"  key="k">
                                    {$v} <if condition="$count neq $k">|</if>&nbsp;
                                </volist>
                            </notempty>
                        </notempty>
                    </li>
                    <li style="font-size: 30px;color:#f55858;">
                        ￥<em style="font-size:24px;" class="price" id="resetprice">{$info.price}</em>
                    </li>
                    <li>
                        <form action="{:U("order/add")}" name="orderform" id="orform" method="post" onsubmit="return trySubmit()">
                            <input type="hidden" name="id[]" value="{$info.id}"/>
                            <input type="hidden" name="price[]" id="inputprice" value="{$info.price}"/>
                            <input type="hidden" name="parameters[]" id="inputparameters" value="{$info.shorttitle}"/>
                            <span style="float:left;padding:20px 5px;"><b>数量</b></span>
                            <input class="text_box"  name="num" type="text" value="1"  style="float:left"/>
                            <input class="add" name="numup" type="button" value=""  style="background:url(__IMG__/number_03.jpg) no-repeat; width:20px;height:14px;padding:2px;float:left"/>
                                  <br>
                            <input class="min" name="numdown" type="button" value="" style="background:url(__IMG__/number_06.jpg) no-repeat; width:20px;height:14px;padding:5px;margin-left:-25px;" />
                        </form>
                    </li>

                    <li class="type-buy">
                        <a rel="nofollow" href="javascript:void(0)"  onclick='order({$info.id});return false;' class="dginfo_btn"><i>立即购买</i></a>
                        <a a  rel="nofollow" href="javascript:void(0)" onclick='buy({$info.id});return false;' class="dginfo_btn"  style="border:1px solid #ccc;background-color:#ccc;color:#fff;">加入购物车</a>

                         <!-- 购物车计算浮动层 begin -->
                        <div id="showIncludeCart" style="display:none;">
                            <a class="buy_pop_close" onclick="jQuery('#showIncludeCart').hide();" title="关闭"></a>
                            <div class="buy_icon"></div>
                            <div class="buy_pop_top">
                                <div class="title">此商品已成功放入购物车</div>
                                <div class="font">
                                    购物车共 <font id="totalnum" class="red"></font> 件宝贝
                                    <span>合计 <font class="red" id="fee"></font></span>
                                </div>
                                <div class="btn_continue">
                                    <div class="pop_btn_r" >
                                        <a onclick="jQuery('#showIncludeCart').hide();return false;" href="javascript:vod(0);">继续购物</a>
                                    </div>
                                    <div class="btn_cart">
                                        <a href="{:U('shopcart/index')}">去购物车结算</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      <!-- 购物车计算浮动层 over -->
                    </li>
                </ul>
            </div>
        </div>
<script type=text/javascript>
    $(function(){
        $("#spec-list img").bind("mouseover",function(){
            var src=$(this).attr("src");
            $("#spec-n1 img").eq(0).attr({
                src:src.replace("\/n5\/","\/n1\/"),
                jqimg:src.replace("\/n5\/","\/n0\/")
            });
            $(this).css({
                "border":"2px solid #ff6600",
                "padding":"1px"
            });
        }).bind("mouseout",function(){
            $(this).css({
                "border":"1px solid #ccc",
                "padding":"2px"
            });
        });

        $(".add").click(function(){
            var t=$(this).parent().find('input[class*=text_box]');
            t.val(parseInt(t.val())+1);
            setTotal();
        })

        $(".min").click(function(){
            var t=$(this).parent().find('input[class*=text_box]');
            t.val(parseInt(t.val())-1);
            if(parseInt(t.val())<1){
                t.val(1);
            }
            setTotal();
        })

        function setTotal(){
            var s=0;
            $("#tab td").each(function(){
                s+=parseInt($(this).find('input[class*=text_box]').val())*parseFloat($(this).find('span[class*=price]').text());
            });
            $("#total").html(s.toFixed(2));
        }
        setTotal();
    })
</script>
        <!-- 推荐组合 start -->
        <php>
             if(!empty($info['unionid'])){ $unionid= explode('、',$info['unionid']);}else{ $unionid=""; }
         </php>
         <notempty name="unionid">
            <div class="detail-zuhe">
              <div class="typeinner-nav"><a href="">推荐组合</a></div>
              <div class="zuhe">
                <div class="zuhe-left">
                  <form action="{:U("order/add")}" name="fiveform" method="post" onsubmit="return trySubmit()">
                    <ul class="suits">
                      <li style="color:#0099db;float:none">
                        <i>全部推荐</i>&nbsp;&nbsp;
                      </li>

                      <li>
                          <a target="_blank" href="{:U('Article/goods?id='.$info['id'])}" title="{$info['id']|get_good_name}" class="pic" name="o_map_">
                              <img src="{$info['id']|get_cover_id|get_cover='path'}" data-id="{$info['id']}" width="100" height="100" alt="{$info['id']|get_good_name}">
                          </a>
                          <p>
                              <a class="name" target="_blank" href="{:U('Article/goods?id='.$info['id'])}" title="{$info['id']|get_good_name}" name="__Package_name_b2c">
                                  {$info['id']|get_good_name}
                              </a>
                          </p>
                      </li>

                      <!--
                      <input type="hidden" name="gid" value="{$info.id}"/>
                      <input type="hidden" name="price[]"  value="{$info.id|get_good_price}"/>
                      <input type="hidden" name="sort[]"  value="{$info.id}"/>
                      <input type="hidden"  class="goodnum"   name="num[]" value="1"/>
                       -->

                      <li> <b>+</b> </li>

                    <volist name="unionid" id="v" limit="4"  key="k" >
                      <li>
                          <a target="_blank" href="{:U('Article/goods?id='.$v)}" title="{$v|get_good_name}" class="pic" name="o_map_">
                              <img src="{$v|get_cover_id|get_cover='path'}" data-id="{$v}" width="100" height="100" alt="{$v|get_good_name}">
                          </a>
                          <p>
                              <a class="name" target="_blank" href="{:U('Article/goods?id='.$v)}" title="{$v|get_good_name}" name="__Package_name_b2c">
                                  {$v|get_good_name}
                              </a>
                          </p>
                          <input type="hidden" name="price[]"  value="{$v|get_good_price}"/>
                          <input type="hidden" name="sort[]"  value="{$v}"/>
                          <input type="hidden"  class="goodnum"   name="num[]" value="1"/>
                          <input class="ids row-selected" type="checkbox" name="id[]" value="{$v}">
                          <i>￥{$v|get_good_price}</i>
                      </li>
                      <if condition="count($unionid) neq $k">
                         <li> <b>+</b> </li>
                      </else>
                      </if>
                    </volist>

                    </ul>
                  </form>
                </div>
                <div class="zuhe-right">
                  <ul>
                    <li><b style="font-size:14px" class="goods-num">已选择0个配件</b></li>
                    <li>组合价:&nbsp;<i class="goods-prices">￥{$info['id']|get_good_price}</i></li>
                    <li>
                        <a id="buytogether_btn" href="javascript:void(0);" class="btn btn_pd " onclick="buyFive();return false;" ><input type="button" name="buy" value="购买组合"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </notempty>
<script>
    //选择推荐组合动态改变价格
    $('.row-selected').click(function(){
        var str = '';
        var price = $('em.price').text();
        var num = $('input:text[name="num"]').val();
        $("input[name='id[]']:checkbox").each(function(){
            if($(this).attr("checked")){
                str += $(this).val()+",";
            }
        });
        if(str != ''){
            $.post('{:U('article/ajaxSuits')}',{num:num,price:price,str:str},function(data){
                if(typeof(num) != 'undefined'){
                    $('.goods-num').html('已选择' +　data.num　+'个配件');
                    $('.goods-prices').html('￥' + data.prices);
                }
            },'json');
        }else{
            $('.goods-num').html('已选择0个配件');
            $('.goods-prices').html('￥' + price);
        }
    })


    // 购买组合
    function buyFive(){
        var uexist="{:get_username()}";
        if(uexist){
            document.fiveform.submit();
        }else{
            showBg();
        }
    }
</script>
        <!-- 推荐组合 end -->

        <div class="typeinner">
            <div class="typeinner-nav">
                <ul>
                    <li class="tabfirstli"><a href="javascript:void(0);" onclick="showThis(1,'divNumber','tabcontent','tablink');" class="tabactive" id="tablink1">详情描述</a></li>
                    <li><a href="javascript:void(0);" onclick="showThis(2,'divNumber','tabcontent','tablink');" id="tablink2">规格参数</a></li>
                    <li><a href="javascript:void(0);" onclick="showThis(3,'divNumber','tabcontent','tablink');" id="tablink3">评价晒单</a></li>
                </ul>
            </div>
            <div class="tabdiv imgdiv_evaluation" id="tabcontent1" name="divNumber">
                <div class="detail-inner">
                    <ul>
                        <li>{$info.content}</li>
                    </ul>
                </div>
            </div>
            <!--  规格参数 start -->
            <div  class="tabdiv specdiv hiddendiv" id="tabcontent2" name="divNumber">
                <ul>
                    <li class="img_spec">
                       <img src="{$info.cover_id|get_cover='path'}">
                    </li>
                    <ul>
                      <notempty name="info['params_values']">
                        <foreach name="info['params_values']" item="params">
                            <li title="{$params['param']}">{$params['param']}: {$params['param_value']} </li>
                        </foreach>
                      </notempty>
                    </ul>
                </ul>
            </div>
            <!--  规格参数 end -->
            <!--  评价晒单 start -->
            <div class="tabdiv assessdiv hiddendiv" id="tabcontent3" name="divNumber">
                <div class="nav-left" style="margin:10px 50px;;">
                    <ul>
                        <li><i  style="font-size:36px;">{$ratescore|default='100'}%</i></li>
                        <li>&nbsp;&nbsp;&nbsp;好评度</li>
                    </ul>
                    <div class="percent">
                        <dl>
                            <dt>好评<span>({$ratescore}%)</span></dt>
                            <dd><div style="width: {$ratescore}px;"></div></dd>
                        </dl>
                        <dl>
                            <dt>中评<span>({$middlescore}%)</span></dt>
                            <dd class="d1"><div style="width: {$middlescore}px;"> </div></dd>
                        </dl>
                        <dl>
                            <dt>差评<span>({$worsescore}%)</span></dt>
                            <dd class="d1"><div style="width: {$worsescore}px;"> </div></dd>
                        </dl>
                    </div>
                </div>
                <div class="nav-right">
                    买家印象:
                    <ul>
                        <li>服务好({$countGoods})</li>
                        <li>质量好({$countService})</li>
                        <li>物流快({$countDelivery})</li>
                    </ul>
                </div>
                <div class="pingjia">
                    <div class="pingjia-nav">
                        <ul>
                            <li>
                                <a href="javascript:void(0)" onclick="countComment();return false;" class="moderna">全部评价({$count|default="0"})<!-- <i>({$count|default="0"})</i> --></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" onclick="betterComment();return false;">好评({$countbetter|default="0"})</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" onclick="middleComment();return false;">中评({$countmiddle|default="0"})</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" onclick="worseComment();return false;">差评({$countworse|default="0"})</a>
                            </li>
                        </ul>
                        <input type="hidden" name="aid"  value="{$info.id}" />
                    </div>
                <!-- 评价 start -->
                    <div id="count-replace">
                        <notempty name="datas">
                        <foreach name="datas" item="vo">
                          <div class="pingjia-detail">
                              <ul>
                                  <li><img src="{$vo.path}"/><li>
                                  <li>{$vo.username}</li>
                              </ul>
                              <ul>
                                  <li>{$vo.content}</li>
                                  <li>
                                  <php>
                                    if(!empty($vo['images'])){
                                      foreach($vo['images'] as $k){
                                        echo ' <img src="/Uploads/Comment/' . $k . '">';
                                      }
                                    }
                                  </php>
                                  </li>
                                  <li><span>有用(0)</span></li>
                              </ul>
                              <ul style="float:right">
                                  <li><b>{$vo.create_time|date='Y-m-d H:i',###}</b></li>
                              </ul>
                          </div>
                        </foreach>
                        </notempty>
                        <div class="pingjia-page">
                           {$show_page}
                           <input type="hidden" name="score" value="4"/>
                        </div>
                    </div>
                <!-- 评价 end -->
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    function countComment(){
        var id = $('input:hidden[name="aid"]').val();
        $.post('{:U("article/countComment")}',{id:id},function(data){
            $('#count-replace').html(data.msg);
        },'json');
    }

    function betterComment(){
        var id = $('input:hidden[name="aid"]').val();
        $.post('{:U("article/betterComment")}',{id:id},function(data){
            $('#count-replace').html(data.msg);
        },'json');
    }

    function middleComment(){
        var id = $('input:hidden[name="aid"]').val();
        $.post('{:U("article/middleComment")}',{id:id},function(data){
            $('#count-replace').html(data.msg);
        },'json');
    }

    function worseComment(){
        var id = $('input:hidden[name="aid"]').val();
        $.post('{:U("article/worseComment")}',{id:id},function(data){
            $('#count-replace').html(data.msg);
        },'json');
    }

    function page_click(page){
        var id = $('input:hidden[name="aid"]').val();
        var score = $('input:hidden[name="score"]').val();
        $.post('{:U('article/ajaxPage')}',{score:score,p:page,id:id},function(data){
            $('#count-replace').html(data.msg);
        },'json');
    }

    //立即购买
    function order(i){
        var uexist="{:get_username()}";
        if(uexist){
            var gprice=$("em.price").eq(0).text();//价格
            var goods_num = $('.text_box').val();//数量
            var guige = $("#inputparameters").val();
            document.orderform.submit();
        }else{
            showBg();
        }
    }

    //加入购物车
    function buy(i){
        var gid=i;
        var url='{:U("Shopcart/addItem")}';//地址
        var gnum=$('.text_box').val();//数量
        var gprice=$(".price").eq(0).text();//价格
        var src=$(".img img").attr("src");//图片
        var image='<img src="'+src+'"width="40" height="40">';
        var href='<a  href="{:U('Article/goods?id='.$info['id'])}">';
        var title=$("#tit").text();//名称
        var parameters=$("#inputparameters").val();//参数
        if($(".weight").length>0){
            var s=$(".weight .cur").index()+1;
            var string=String(gid)+String(s);
        }else{
            var string=String(gid);}

            $.ajax({
                  type:'post',
                  url:'{:U("Shopcart/addItem")}',
                  data:{id:gid,num:gnum,price:gprice,i:parameters,sort:string},
                  dataType: "json",
                  success:function(data){
                        var html='<li><dl><dt class="mini-img">'+href+image+'</a><dd><span class="mini_title">'+href+title+'</a></span><span class="mini-cart-count red"> ￥'
                        + gprice+'<em class="'+string+'">*'+gnum+'</em></span>'+'</dd><dd><span class="mini-cart-info">'+parameters+'</span><span class="mini-cart-del"><a name="'+string+'" rel="del"  onclick="delcommon(event);return false;">删除</a></span></dd>'+'</dl></li>';
                          if(data.exsit=="1"){
                              $("em."+string).text("*"+data.num);
                          }else{
                              //后台返回数据，判断购物车中是否已存在，不存在，追加节点
                              $("p.sc_goods_none").remove();//移除节点
                              $("ul.sc_goods_ul").append(html);//追加节点
                          }
                          if(data.num=="0"){ //判断数量是否为0，为0则隐藏底部查看工具
                              $("div.sc_goods_foot").hide();
                          }else{
                              $("div.sc_goods_foot").show();
                          }
                          $('#totalnum').text(data.sum);
                          $('#fee').text(data.fee);
                          $('#showIncludeCart').fadeIn();
                  },
                  error:function (XMLHttpRequest, ajaxOptions, thrownError) {
                      alert(XMLHttpRequest+thrownError);
                  }
            })
        }
</script>



<!--

     <div class="pingjia-detail" style="height:630px;">
         <ul>
             <li><img src="__IMG__/touxiang_03.jpg"</li>
             <li>l***d(匿名)</li>
         </ul>
         <ul style="width:1000px;">
             <li style="float:right"><b>2016-4-27&nbsp;&nbsp;11:42</b></li>
             <li>质高价优，的确是这样的，一如既往，让我，怎么能拒绝</li>
             <li><img src="__IMG__/tablewatch.png"><img src="__IMG__/tablewatch.png"></li>
             <li>
                 <div class="datu">
                     <ul class="datu-edit">
                         <li><img src="__IMG__/datu_03.jpg">收起</li>
                         <li><img src="__IMG__/datu_05.jpg">原图</li>
                         <li><img src="__IMG__/datu_07.jpg">向左转</li>
                         <li><img src="__IMG__/datu_09.jpg">向右转</li>
                     </ul>
                     <div class="datu-photo"><img src="__IMG__/datu3_03.jpg"></div>
                 </div>
             </li>
             <li><b>回复(0)&nbsp;&nbsp;&nbsp;&nbsp;有用(0)</b></li>
         </ul>
    </div>

 -->

</block>