<extend name="Base/sz"/>
<block name="content">
	<div class="content_box" style="height:960px;">
		<div class="crumb">
			<span><a href="{:U(index/index)}">首页</a>>订单详情</span>
		</div>
		<volist name="detaillist" id="po">
	    <div class="pro_top order">
	        <ul class="check-top">
	            <li>
	                <span style="font-size:14px"> 订单号: {$po.orderid} &nbsp;&nbsp; 下单时间：{$po.create_time|date='Y-m-d H:i',###} </span>

	                <span>状态:<i>
	                    <php>
							  $status=$po['status'];
							  if($status==13){ echo "待支付";};
							  if($status==1){ echo "待发货";};
							   if($status==2){ echo "已发货";};
							   if($status==3){ echo "交易成功";};
							    if($status==4){ echo "申请取消订单";};
								if($status==5){ echo "取消订单被拒绝";};
							   if($status==6){ echo "订单已取消";};
			  			</php>
	                </i></span>
	            </li>
	            <li>
	                <p style="border-top:1px solid #e6e6e6">感谢使用贴芯点商城购物，期待再次为您服务</p>
	            </li>
	        </ul>
	        <div class="check-bottom">
	            <h3>订单信息</h3>
	            <ul>
	            	<li>收货人信息</li>
                <volist name="translist" id="vo">
	                <li>收 货 人：{$vo.realname}</li>
	                <li>地&nbsp;&nbsp;&nbsp;&nbsp;址：{$vo.province} {$vo.city} {$vo.area}{$vo.address}</li>
	                <li>手机号码：{$vo.cellphone}</li>
                </volist>
	            </ul>
	            <ul>
	                <li>快递详情</li>
	                <li>{$kuaidata|default="暂无"}</li>
	            </ul>
	            <ul>
	                <li>发票信息</li>
	                <li>暂无</li>
	            </ul>
	            <ul>
	                <li>
	                    <table cellspacing="0" cellpadding="0" class="share-t">
	                        <tbody>
	                            <tr >
	                                <th>订单编号</th>
	                                <th>商品图片</th>
	                                <th class="cont-name">商品名称</th>
	                                <th>商品价格</th>
	                                <th>商品数量</th>
	                                <th>订单状态</th>
	                                <th>物流</th>
	                                <th>运单号</th>
	                            </tr>
							<volist name="po['id']" id="vo">
	              	            <tr>
	              	                <td>{$po.orderid}</td>
	              	                <td><img src="{$vo.goodid|get_cover_id|get_cover='path'}" width="70" height="70"></td>
	              	                <td>{$vo.goodid|get_good_name}</td>
	              	                <td>￥{$vo.price}</td>
	              	                <td>{$vo.num}</td>
	              	                <td>
										<php>
										  $status=$po['status'];
										  if($status==13){ echo "待支付";};
										  if($status==1){ echo "待发货";};
										   if($status==2){ echo "已发货";};
										   if($status==3){ echo "交易成功";};
										    if($status==4){ echo "申请取消订单";};
											if($status==5){ echo "取消订单被拒绝";};
										   if($status==6){ echo "订单已取消";};
							  			</php>
	              	                </td>
	              	                <td>{$po.express|default="暂无"}</td>
	              	                <td>{$po.express_code|default="暂无"}</td>
	                            </tr>
							</volist>
	               		    </tbody>
	                    </table>
	                </li>
	            </ul>
	            <div class="check-all1" style="padding-bottom:100px">
	                <dl>
	                    <dt><b>应付总额：</b></dt>
	                    <dd>{$po.total_money|default="0"}</dd>
	                </dl>
	                <dl>
	                    <dt><b>运&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费：</b></dt>
	                    <dd>{$po.ship_price|default="0"}</dd>
	                </dl>
	            </div>
	        </div>
	    </div>
		</volist>
	</div>
</block>