<!--底部服务-->
<div class="foot">
	<div class="footer">
		<ul class="foottop">
			<li>
			<img src="__IMG__/foot_01.jpg">
			<h4>在线客服</h4>
			<span>周一至周日9:00-18:00</span></li>
			<li>
			<img src="__IMG__/foot_02.jpg">
			<h4>七天无理由退货</h4>
			<span>7天无理由退货&nbsp;请放心购买</span></li>
			<li>
			<img src="__IMG__/foot_03.jpg">
			<h4>15天免费换货</h4>
			<span>15天内如遇质量问题&nbsp;免费换货</span></li>
			<li>
			<img src="__IMG__/foot_04.jpg">
			<h4>满150元免运费</h4>
			<span>全场使用顺丰快递</span></li>
		</ul>
		<div class="footbottom">
         <volist name="footer" id="vo">
				<ul>

				<li><h3>{$vo.title}</h3></li>
				<volist name="vo['id']" id="son">
				<li><a href="{:U('help/lists?pid='.$son['id'])}">{$son.title}</a></li>
				</volist>
				</ul>
				</volist>
		</div>

	</div>
</div>