<!--版权所有-->
<div class="copyright" style="margin:0">
	<div class="copyinner">
		<p>版权所有：项目未结束前版权归青岛融贯汇众软件所有，违者必究备案号：8888866666</p>
		<p>@2014 satsoftec.com ALL Rights Reserved</p>
	</div>
</div>
</div>
