    <meta charset="UTF-8">
    <title>贴芯点商城</title>
    <meta name="keywords" content="养老,智慧,社区">
    <meta name="description" content="养老,智慧,社区">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="shortcut icon" href="favicon.ico";>
    <link type="text/css" rel="stylesheet" href="__CSS__/main.css">
    <script language="javascript" src="__JS__/jquery-1.10.2.min.js"></script>
<script language="javascript" src="__JS__/main (2).js"></script>
<script type="text/javascript" src="__JS__/jquery.flexslider-min.js"></script>



