<body>
<!--welcome-->
<div class="submitall">
<div class="top">
 <div class="topinner">
  <div class="leftinner">欢迎来到贴芯点商城！</div>
    <div class="rightinner"><a href="{:U('User/login')}">登录</a>|<a href="{:U('User/register')}">注册</a></div>
 </div>
</div>
<div class="header">
  <div class="headerinner">
  <div class="logo"><a href="{:C('DOMAIN')}"><img src="__IMG__/logo.png" /></a></div>
    <div class="nav">
      <ul class="navbox">
      <volist name="data" id="menu">
        <li><a href="{$menu.url}" >{$menu.title}</a></li>
      </volist>
      </ul>
    <form action="" method="get">
    <div id="search-box">
    <input name="" type="text" class="input-box" />
    <input name="" type="submit" value="" class="button" />
    </div>
    </form>
         <div class="shoppingcart">
          <img src="__IMG__/shoppingcart.png" />购物&nbsp;<span>0</span>&nbsp;件
        </div>
    </div>
  </div>
</div>