<extend name="Base/s1"/>
<block name="body">
<div class="zixun-middle">
        <div class="order-head">首页 > 支付中心</div>
<div class="zixun" style="height:auto">
    <div class="zixuninner" style="background-color:#FFF;width:1000px;height:auto;border:1px solid #e6e6e6;margin:0">
    <div class="zixun-xiangqing">
<!-- 支付内容start -->
<div class="center_right" id="MemberCenterCtrl" style="display: block;">

  <span style="display: block;font-weight:bold;padding:10px;font-size:17px;border-left: 5px solid #ff3c00;" class="red">可使用支付宝,财付通,银联支付</span>
  <form action='{:U("Pay/index")}' method="post"  name="myform"  class="payform" target="_blank">
  <div class="tab-content">

<div class="pay zhifu">
<empty name="codeid">
 <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label"></label>
    <div class="col-sm-5">
   支付金额：{$goodprice} <input type="text" name="money" class="form-control" id="goodprice" value="{$goodprice}">元
    </div>
  </div>
<else />
 <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label"></label>
    <div class="col-sm-5">
    支付订单号：{$codeid}
    <input type="hidden"  name="orderid" class="form-control" id="orderid" value="{$codeid}">
    <a target="_blank" href="{:U('order/detail?id='.$codeid)}" style="color:#0096db;;font-size:14px;margin-left:20px;;">查看订单详情</a>
    </div>
  </div>
 <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label"></label>
    <div class="col-sm-5">
   支付金额：<i style="font-size:18px;">{$goodprice} 元</i>
   <input type="hidden" name="money" class="form-control" id="goodprice" value="{$goodprice}">
    </div>
  </div>
  </empty>
  <div class="form-group paytype" style="margin:20px -15px;"><label>支付方式：</label>
   <div class="paylogo" style="margin:20px;">
  <label><input type="radio" name="paytype" value="alipay" checked=""/> 支付宝<img src="__IMG__/alipay.gif"></label>
                <label><input type="radio" name="paytype" value="tenpay" /> 财付通<img src="__IMG__/tenpay.png"></label>
                <label><input type="radio" name="paytype" value="unionpay" /> 银联<img src="__IMG__/union.png"></label><br/><br/>
        <label><input type="radio" name="paytype" value="palpay" /> 贝宝<img src="__IMG__/palpay.png"></label>
                <label><input type="radio" name="paytype" value="yeepay" /> 易付宝<img src="__IMG__/yeepay.png"></label>
                <label><input type="radio" name="paytype" value="kuaiqian" /> 快钱<img src="__IMG__/kuaiqian.png"></label>

    </div>

</div>
      </div>
  <div class="submit zhifu-tijiao"><a class="btn_submit title="提交"  href="javascript:void(0);"onclick="submitpay();return false"/>提交</a></div>
</form>


  <div style="display: block;" class="tab_view">



</div>

<!-- 个人中心 初始状态 end --></div>
<!-- 支付内容end -->
  </div>
</div>

</div>
    </div>
<script type="text/javascript">
 function submitpay(){
document.myform.submit();
}
</script>
</block>
