<extend name="Base/s1"/>
<block name="body">
    <div class="pro-middle">
        <div class="order-head">首页 > "{$keyword}"的搜索结果</div>
        <volist name="list" id="list" empty="暂时没有数据" >
            <div class="show-inner">

                <a  href="{:U('Article/detail?id='.$list['id'])}"><img src="<if condition="$list['cover_id']">{$list.cover_id|get_cover='path'}<else/>__IMG__/nopic_270x270.jpg</if>"/></a>
                <h5><a  href="{:U('Article/detail?id='.$list['id'])}">{$list.title}</a></h5>
                <h5><i>{$list.price}</i></h5>
            </div>
        </volist>
        <div class="page pro-middle-page">{$page}</div>
    </div>

</block>