<include file="Public/header"/>


 <div class="signin">
    <div class="signin-inner">
      <fieldset>
    <h1 class="fs-title">注册账号</h1>
        <div class="putin">
    <input type="text" name="name" placeholder="账户名" /> <br />
    <input type="password" name="email" placeholder="请输入邮箱" /><br />
    <input type="password" name="key" placeholder="请输入密码" /><br />
         <input type="password" name="code" placeholder="请输入验证码" style="width:240px;float:left"/>
        <a href="javascript:void(0);" onclick="codes();return false;">
        <input value="获取验证码" style="width:100px;margin-left:10px;background:#fff;" id="btn" type="button"></a>
       <p style="float:left"><input name="state" value="1" required type="checkbox" style="width:20px;margin:2px 0;">
         <a href="#">我已阅读并接受《贴芯点服务协议条款》</a></p>
    <input type="button" name="signin" class="button" value="注册" />
       </div>
  </fieldset>
      </div></div>
    </div>
 </div>
 <script type="text/javascript">
    var wait=3;
    function time(o) {
        if (wait == 0) {
            o.removeAttribute("disabled");
            o.value="获取验证码";
            wait = 3;
        } else {
            o.setAttribute("disabled", true);
            o.value="重新发送(" + wait + ")";
            wait--;
            setTimeout(function() {
                time(o)
            },
            1000)
        }
    }
    document.getElementById("btn").onclick=function(){
        time(this);
    }
</script>
  <include file="Public/footer"/>
