<include file="Public/header"/>


<div class="signin">
    <div class="signin-inner">
    	<fieldset>
		<h1 class="fs-title" style="margin:0 0 20px 0">找回邮箱密码</h1>
        <div class="putin">
		<input type="password" name="email" placeholder="请输入邮箱" /><br />
         <input type="password" name="code" placeholder="请输入验证码"
           style="width:240px;float:left"/>
        <P style="border:1px solid #CCC;float:left;padding:15px 0 5px;margin:0 5px 0 10px;text-align:center;width:100px;height:30px;color:#999999 ">SHJUN</P>
      <input type="button" name="signin" class="button" value="发送邮件"  style="float:left;"/>
       </div>
	</fieldset>
      </div></div>
    </div>
 </div>

 <include file="Public/footer"/>
