<div class="common-left">
<ul>
    <li>个人中心</li>
    <li><a href="{:U('Member/index')}">个人信息</a></li>
    <li><a href="{:U('Shopcart/index')}">我的购物车</a></li>
</ul>
<ul>
    <li>订单中心</li>
    <li><a href="{:U('Center/allorder')}">全部订单</a></li>
    <li><a href="{:U('Center/needpay')}">待付款</a></li>
    <li><a href="{:U('Center/tobeshipped')}">待发货</a></li>
    <li><a href="{:U('Center/tobeconfirmed')}">待收货</a></li>
    <li><a href="{:U('Center/complete')}">已完成订单</a></li>
</ul>
<ul>
    <li>评价晒单</li>
    <li><a href="{:U('Comment/lists')}">我的评价</a></li>
</ul>
<ul>
    <li>退换货中心</li>
    <li><a href="{:U('Exchange/lists')}">我的换货</a></li>
    <li><a href="{:U('Back/lists')}">我的退货</a></li>
</ul>
<ul>
    <li>账户管理</li>
    <li><a href="{:U('Address/add')}">新增收货地址</a></li>
    <li><a href="{:U('Address/index')}">收货地址管理</a></li>
    <li><a href="{:U('User/profile')}">修改密码</a></li>
</ul>
</div>