<div class="submitall">
    <div class="top">
      <div class="topinner">
        <div class="leftinner">{:C('WEB_SITE_TITLE')} 公告：<font style="color:red">网站测试运营中，请勿下单。</font></div>
        <if condition="is_login()">
          <div class="rightinner">
              <a href="{:U('Member/index')}">{:get_username()}</a> | <a href="{:U('User/logout')}">退出</a>
          </div>
        <else />
          <div class="rightinner">
              <a href="{:U('User/login')}">登录</a> | <a href="{:U('User/register')}">注册</a>
          </div>
        </if>
      </div>
    </div>

    <div class="header">
      <div class="headerinner">
        <div class="logo"><a href="{:C('DOMAIN')}"><img src="__IMG__/logo.png" /></a></div>
          <div class="nav">
            <ul id="navbox" class="navbox">
            <think:nav name="nav"><eq name="nav.pid" value="0">
              <li><a href="{$nav.url|get_nav_url}" target="<eq name='nav.target' value='1'>_blank<else/>_self</eq>">{$nav.title}</a></li>
            </eq></think:nav>
            </ul>
            <form action="{:U("Search/index")}" method="post">
              <div id="search-box">
                <input type="text" name="words" class="input-box">
                <input id="type" type="hidden" value="1" name="type">
                <input type="submit" class="button" value=" " />
              </div>
            </form>
            <div class="shoppingcart">
              <a href="{:U('Shopcart/index')}">
                <img src="__IMG__/shoppingcart.png" />购物车&nbsp;<span>{$countcart|default='0'}</span>&nbsp;件
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
<script type="text/javascript">
url = window.location.pathname + window.location.search;
url = url.replace(/(\/(p)\/\d+)|(&p=\d+)|(\/(id)\/\d+)|(&id=\d+)|(\/(group)\/\d+)|(&group=\d+)/, "");
$('#navbox').find("a[href='" + url + "']").parent().addClass("active");
</script>