<title>{$meta_title}_{:C('WEB_SITE_TITLE')}</title>
<link href="__CSS__/font-face.css" rel="stylesheet">
<link href="__CSS__/common.css" rel="stylesheet">
<link href="__CSS__/top.css" rel="stylesheet">
<link href="__CSS__/main.css" rel="stylesheet">
<link href="__CSS__/footer.css" rel="stylesheet">


<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/public.js"></script>

