<div class="welcome">
	<ul>
		<li>欢迎来到贴芯点商城</li>
		<li class="wel_come">
		<if condition="is_login()">
            <a href="{:U('member/index')}">{:get_username()}</a> | <a href="{:U('user/logout')}">退出</a>
        <else />
            <a href="{:U('User/login')}">登录</a> | <a href="{:U('User/register')}">注册</a>
        </if>
		</li>
	</ul>
</div>

<div class="logobox">
	<ul>
		<li class="logo"> <a href="{:C('DOMAIN')}"><img src="__IMG__/logo.png" /></a> </li>
		<li>
		    <a href="{:U('shopcart/index')}">
                <img src="__IMG__/shoppingcart.png" />购物&nbsp;<span>0</span>&nbsp;件
            </a>
		</li>
		<li>
			<form name="form1"  action="/search-outcome.html" method="post" >
				<div class="search">
					<input name="sousuo" type="text"  />
			        <input type="submit" class="sousuo"  value="搜索" />
			    </div>
		    </form>
		</li>
		<volist name="data" id="menu">
            <li><a href="{$menu.url}" >{$menu.title}</a></li>
        </volist>
    </ul>
</div>

