<extend name="Public:base"/>
<block name="content">
<script type="text/javascript" src="__JS__/plupload/plupload.full.min.js"></script>
    <div class="all-right">
        <div class="basic_infor">
            <h3>申请服务:退货退款</h3></div>
            <p class="apply-wenxin">温馨提示 : <!-- 您只有一次申请售后维权的机会哦 --></p>
            <div class="reasons">
                <form  method="post" name="actform" >
                    <div class="reasons-check">
                        <span>商品名称：</span>
                         {$list.goodid|get_good_name}
                    </div>

                    <div class="reasons-check">
                        <span>换货数量：</span>
                        <div class="backmoney">
                            <input type="text" value="1" name="num">
                            &nbsp;件&nbsp;&nbsp;&nbsp;&nbsp;
                          (最多可换{$list.num}件）&nbsp;&nbsp;
                        </div>
                    </div>

                    <div class="reasons-check">
                        <span>换货原因：<br><i>（0/200字）</i></span>
                   	    <textarea rows="5" cols="50" name="reason"></textarea>
                    </div>

                    <div class="reasons-check" style="padding:120px 0">

                        <div class="demo">
                            <a class="btn" id="btn">上传图片</a> 最多5张图片，每张 最大2MB，支持jpg，jpeg，gif，png格式。
                            <ul id="ul_pics" class="ul_pics clearfix"></ul>
                        </div>

                        <input type="hidden" name="images" value=""/>
                        <input type="hidden" name="id" value="{$list.id}">
    					<input type="hidden" name="goodid" value="{$list.goodid}">
    					<input type="hidden" name="shopid" value="{$list.id}">
                        <input type="button" value="提交申请" onclick="ex_btn()" class="item-tijiao">
                    </div>
			    </form>
            </div>
        </div>
    </div>

<script type="text/javascript">
        function ex_btn(){
            var src = '';
            $('#ul_pics img').each(function(i){
                src += '|' + this.src;
            });
            $('input:hidden[name="images"]').val(src);
            document.actform.submit();
        }

    var uploader = new plupload.Uploader({  //创建实例的构造方法
        runtimes: 'html5,flash,silverlight,html4',  //上传插件初始化选用那种方式的优先级顺序
        browse_button: 'btn',  // 上传按钮
        url: "{:U('exchange/ajaxImg')}",  //远程上传地址
        flash_swf_url: 'plupload/Moxie.swf',  //flash文件地址
        silverlight_xap_url: 'plupload/Moxie.xap',  //silverlight文件地址
        filters: {
            max_file_size: '2mb',  //最大上传文件大小（格式100b, 10kb, 10mb, 1gb）
            mime_types: [  //允许文件上传类型
            {
                title: "files",
                extensions: "jpg,jpeg,png,gif"
            }]
        },
        multi_selection: true,  //true:ctrl多文件上传, false 单文件上传

        init: {
            FilesAdded: function(up, files) {  //文件上传前
                if ($("#ul_pics").children("li").length > 5) {   // 最多上传文件个数
                    alert("您上传的图片太多了！");
                    uploader.destroy();
                } else {
                    var li = '';
                    plupload.each(files,
                    function(file) {  //遍历文件
                        li += "<li id='" + file['id'] + "'><div class='progress'><span class='bar'></span><span class='percent'>0%</span></div></li>";
                    });
                    $("#ul_pics").append(li);
                    uploader.start();
                }
            },
            UploadProgress: function(up, file) {  //上传中，显示进度条
                $("#" + file.id).find('.bar').css({
                    "width": file.percent + "%"
                }).find(".percent").text(file.percent + "%");
            },
            FileUploaded: function(up, file, info) {  //文件上传成功的时候触发
                var data = JSON.parse(info.response);
                $("#" + file.id).html("<div class='img'><img src='" + data.pic + "'/></div><p>" + data.name + "</p>");
            },
            Error: function(up, err) {  //上传出错的时候触发
                alert(err.message);
            }
        }
    });
    uploader.init();

</script>


</block>