<extend name="Public:base"/>
<block name="content">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript" src="__STATIC__/UploadImages.js"></script>
    <div class="all-right">
        <div class="basic_infor">
            <h3>申请服务:换货</h3></div>
            <p class="apply-wenxin">温馨提示 :  您只有一次申请售后维权的机会哦</p>
            <div class="reasons">
                <form action='{:U()}' method="post" name="actform" >
                    <div class="reasons-check">
                        <span>商品名称：</span>
                         {$list.goodid|get_good_name}
                    </div>

                    <div class="reasons-check">
                         <span>申请凭据：</span>
                         <input type="checkbox" value="" name="" checked="checked">&nbsp;&nbsp;&nbsp;有发票
                    </div>

                    <div class="reasons-check">
                        <span>换货数量：</span>
                        <div class="backmoney">
                            <input type="text" value="1" name="num">
                            &nbsp;件&nbsp;&nbsp;&nbsp;&nbsp;
                          (最多可换{$list.num}件)
                        </div>
                    </div>

                    <div class="reasons-check">
                        <span>换货原因：<br><i>（0/200字）</i></span>
                   	    <textarea rows="5" cols="50" name="reason"></textarea>
                    </div>

                    <div style="padding:110px 0">
                        <div style="margin-left:62px;"><span>上传头像：</span></div>
                        <p style="clear:both;color:#999999;margin-left:145px; margin-top:-20px;" >最多上传5张图片，仅支持JPG、GIF、PNG格式，文件小于2MB</p>
                        <div style="margin-left:145px;margin-top:10px;">
                            <input type="file" id="upload_picture_pics">
                            <input type="hidden" name="pics" value="{$data[$field['name']]}" class="icon pics" />
                            <div class="upload-img-box" style="margin-bottow:10px;">

                            </div>
                        </div>
                    </div>

                    <div style="margin-left:74px;" >
                        <input type="hidden" name="images" value=""/>
                        <input type="hidden" name="id" value="{$list.id}">
                        <input type="hidden" name="goodid" value="{$list.goodid}">
                        <input type="hidden" name="shopid" value="{$list.id}">
                        <input type="submit" value="提交申请" class="item-tijiao back-button">
                    </div>
			    </form>
            </div>
        </div>
    </div>
<script type="text/javascript">
    //多图上传图片
    $(function(){
        /* 初始化上传插件*/
        $("#upload_picture_pics").uploadify({
            "height"          : 30,
            "swf"             : "__STATIC__/uploadify/uploadify.swf",
            "uploadLimit"     : 5,   // 最多上传5件
            "fileObjName"     : "download",
            "buttonText"      : "上传图片",
            "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
            "width"           : 120,
            'removeTimeout'   : 1,
            'fileTypeExts'    : '*.jpg; *.png; *.gif;',
            "onUploadSuccess" : uploadPicturepics,
            'onFallback' : function() {
                alert('未检测到兼容版本的Flash.');
            }
        });
    })

    function uploadPicturepics(file, data){
        var data = $.parseJSON(data);
        var src = '';
        if(data.status){
            src = data.url || '__ROOT__' + data.path;
            upload_img = "<div class='upload-pre-item'><img width='100' height='100' src=" + src +" title='点击显示大图' data-id="+data.id+"> <span class='btn-close btn-close-pics' title='删除图片' onclick='del(event);'></span></div>";
            picsbox = $("#upload_picture_pics").siblings('.upload-img-box');
            picsbox.append(upload_img)
            picArr = [];
            for (var i = 0; i < picsbox.children().length ; i++) {
                picArr.push(picsbox.children('.upload-pre-item:eq('+i+')').find('img').attr('data-id'));
            };
            picStr = picArr.join(',');
            $('.icon.pics').val(picStr);
            var margin_left = picsbox.children().length * 110 + 5;
            $('.back-button').css("margin-left","-" + margin_left + "px");
        } else {
            updateAlert(data.info);
            setTimeout(function(){
                $('#top-alert').find('button').click();
                $(that).removeClass('disabled').prop('disabled',false);
            },1500);
        }
    }

    // 删除图片
    function del(event){ //获取事件源
        event = event ? event : window.event;
        var obj = event.srcElement ? event.srcElement : event.target;
        //这时obj就是触发事件的对象，可以使用它的各个属性
        //还可以将obj转换成jquery对象，方便选用其他元素
        str = obj.innerHTML.replace(/<\/?[^>]*>/g,''); //去除HTML tag
        var $obj = $(obj);
        $obj.parents(".upload-pre-item").remove();
        picsbox = $("#upload_picture_pics").siblings('.upload-img-box');
        picArr = [];
        for (var i = 0; i < picsbox.children().length ; i++) {
            picArr.push(picsbox.children('.upload-pre-item:eq('+i+')').find('img').attr('data-id'));
        };
        picStr = picArr.join(',');
        $('.icon.pics').val(picStr);
    }
</script>
</block>