<extend name="Public:base"/>
<block name="content">
    <div class="myorder-right">
        <div class="basic_infor"><h3>申请的换货</h3></div>
        <notempty name="list">
            <div>
                <table cellspacing="0" cellpadding="0" class="changeapply">
                <tbody>
                <tr class="apply1">
                    <th width="142">订单编号</th>
                    <th width="150">商品名称</th>
                    <th width="130" style="text-align:left;padding:0 50px; ">商品图片</th>
                    <th width="130">申请时间</th>
                    <th width="130">状态</th>
                    <th width="123">操作</th>
                </tr>

            <foreach name="list" item="po">
                <tr class="apply2">
                    <td>{$po.orderId}</td>
                    <td><h4>{$po.goodid|get_good_name} <br/> </h4></td>
                    <td><img src="{$po[cover_id]|get_cover='path'}" width="80" height="80"/></td>
                    <td>{$po.exchange.update_time}</td>
                    <td>
                <php>
                    if($po['exchange']['status']==1){echo '<span style="color:red;">换货审核中</span>&nbsp;';};
                    if($po['exchange']['status']==2){echo '<span style="color:red;">同意换货</span>&nbsp;';};
                    if($po['exchange']['status']==3){echo '<span style="color:red;">换货被拒绝</span>&nbsp;';};
                    if($po['exchange']['status']==4){echo '<span style="color:red;">换货中</span>&nbsp;';};
                    if($po['exchange']['status']==5){echo '<span style="color:red;">换货完成</span>&nbsp;';};
                </php>
                    </td>
                    <td>
                        <a href="{:U('exchange/detail',array('id'=>$po['id']))}" style="color:blue;">查看详情</a>
                        <a href="" style="color:blue;">取消换货</a>
                    </td>
                </tr>
            </foreach>
                    <tr class="apply2">
                        <td colspan="7" align="right"><div class="page">{$showPage}</div></td>
                    </tr>
                </tbody>
                </table>
            </div>
        <else />
            <div class="zanwu"><span>暂无换货申请信息</span></div>
        </notempty>

    </div>
</block>