<extend name="Public:base"/>
<block name="content">

 	<div class="all-right">
    	<div class="basic_infor">
          <ul style="margin:40px 80px;">
            <li style="float:left"><img src="__IMG__/cg_1.png"></li>
            <li style="line-height:30px;color:#f55858;font-size:30px;margin-left:50px ">提交成功! </li>
            <li style="line-height:2em;padding:10px 0">服务人员将在24小时内进行审核，审核结果会以短信方式通知您。<br>
                您也可以在 <a href="{:U('Exchange/lists')}" class="moderna">换货记录</a> 中进行查询。</li>
            </ul>
        </div>
    </div>

</block>