<extend name="Public/base"/>
<block name="body">
	<div class="main-title">
		<h2>回复管理 [
            <present name="Think.get.group">
                <a href="{:U('index')}">全部</a>
            <else/>
                <strong>全部</strong>
            </present>&nbsp;
            <foreach name="group" item="vo">
        		<neq name="group_id" value="$key">
                    <a href="{:U('index?group='.$key)}">{$vo}</a><else/><strong>{$vo}</strong>
                </neq>&nbsp;
            </foreach> ]
        </h2>
	</div>

	<div class="cf">
		<a class="btn" href="{:U('add')}">新 增</a>
		<button class="btn ajax-post confirm" url="{:U('del')}" target-form="ids">删 除</button>
         <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <div class="sleft">
                <input type="text" name="title" class="search-input" value="{:I('title')}" placeholder="手机">
                <a class="sch-btn" href="javascript:;" id="search" url="__SELF__"><i class="btn-search"></i></a>
            </div>
        </div>
	</div>

	<div class="data-table table-striped">
		<table>
			<thead>
				<tr>
					<th class="row-selected">
					    <input class="checkbox check-all" type="checkbox">
					</th>
					<th>ID</th>
					<th>评论id</th>
                    <th>回复用户名</th>
					<th>回复uid</th>
					<th>回复内容</th>
					<!-- <th>分组</th> -->
                    <th>状态</th>
                    <th>时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<notempty name="list">
				<volist name="list" id="reply">
					<tr>
					    <td>
                            <input class="ids row-selected" type="checkbox" name="id[]" value="{$reply.id}">
                        </td>
						<td>{$reply.id}</td>
						<td>{$reply.commentid}</td>
						<td>
                            <a title="编辑" href="{:U('edit?id='.$reply['id'])}">{$reply.uid|get_regname}</a>
                        </td>
						<td>{$reply.uid}</td>
						<td>{$reply.content}</td>
						<!-- <td>{$reply.group}</td> -->
					    <td>{$reply.status}</td>
                        <td>{$reply.create_time|date='Y-m-d H:i:s',###}</td>
					    <td>
                            <a title="编辑" href="{:U('edit?id='.$reply['id'])}">编辑</a>
                            <a class="confirm ajax-get" title="删除" href="{:U('del?id='.$reply['id'])}">删除</a>
                        </td>
					</tr>
				</volist>
				<else/>
				<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
			</tbody>
		</table>

        <!-- 分页 -->
        <div class="page">
            {$_page}
        </div>
	</div>
</block>

<block name="script">
<script type="text/javascript">
    $(function() {
        //搜索功能
        $("#search").click(function() {
            var url = $(this).attr('url');
            var query = $('.search-form').find('input').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
            query = query.replace(/^&/g, '');
            if (url.indexOf('?') > 0) {
                url += '&' + query;
            } else {
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function(e) {
            if (e.keyCode === 13) {
                $("#search").click();
                return false;
            }
        });
        //导航高亮
        highlight_subnav('{:U('index')}');
        //点击排序
    	$('.list_sort').click(function(){
    		var url = $(this).attr('url');
    		var ids = $('.ids:checked');
    		var param = '';
    		if(ids.length > 0){
    			var str = new Array();
    			ids.each(function(){
    				str.push($(this).val());
    			});
    			param = str.join(',');
    		}

    		if(url != undefined && url != ''){
    			window.location.href = url + '/ids/' + param;
    		}
    	});
    });
</script>
</block>