* {margin:0;padding:0;font-size:14px;font-family:Microsoft Yahei;}
li {list-style:none;}
fieldset,img {border:none 0;}
.inner{width:1200px;margin:0 auto;overflow:hidden;height:auto}
input{border:none 0; vertical-align:middle}
a{text-decoration:none; color: #666666;}
a:hover{color:#0099db;}
img { border: medium none; vertical-align: middle;}
h1,h2,h3,h4{font-weight:normal;}
span{color:#f55858;}
body { font-family: "Trebuchet MS",Verdana,Arial,sans-serif;background-color:#f2f2f2}
body { color: #333;}
i{font-style:normal;color:#f55858;}
b{font-weight:normal;color:#999;}
.fl{float:left;}
.fr{float:right;}
/* 订单详情页*/
/*top*/
.top{background-color:#e7e7e7;height:30px;line-height: 30px; vertical-align: middle;}
.topinner{ color: #666666; font-size: 12px; clear: both; margin: 0 auto; width: 1200px;}
.leftinner{float:left;background-color:#e7e7e7;}
.rightinner{float:right;background-color:#e7e7e7;}
.topinner a{color:#666666;background-color:#e7e7e7;}
.topinner a:hover{color:#0099db;background-color:#e7e7e7;}
   /*header*/
.header{background-color:#FFF;padding: 20px 0; overflow:hidden;width:100%;}
.headerinner{margin:0 auto;width:1200px;overflow:hidden;}
.logo{float:left;overflow:hidden}
.nav { float: right; margin-top:10px;width:620px;background-color:#FFF;}
.moderna{color:#0099db;background-color:#FFF;}
.nav li {float: left ; margin:5px 16px;background-color:#FFF;}

#search-box{float:left;width:203px;height:29px;background:url(../images/search.png) no-repeat 0 0; margin:0 auto;background-color:#FFF;} 
.input-box{ float:left; width:115px; height:29px;line-height:0px; padding-left:30px; border:0; background:none; text-align:left; font-size:14px} 
.button{ float:right; border:0; background:none; text-indent:0px; width:58px; cursor:pointer;} 
.nav .shoppingcart{margin:2px 0;float:right;background-color:#FFF;}
.shoppingcart span{color:#0099db;font-size:14px}

.order-head{padding:20px;margin:0 auto;width:1200px;}
#order{width:1200px;height:1000px;margin:0 auto;border:1px solid #d6d6d6;background-color:#fff}
.order-number{padding:30px 15px;border:0;background-color:#FFF}
.number{border:1px solid #f55858;margin:0 10px 0 -15px;width:1200px}
.order-information ul{height:158px;background-color:#FFF;font-color:#666}
h1{font-size:14px;padding:10px;color:#333}
h2{font-size:14px;padding:10px;color:#666666;border-top:1px solid #e6e6e6 }
h3{font-size:16px;background-color:#fcfcfc;padding:15px;}
.order-information ul{border-top:1px solid #d6d6d6;padding:15px;}
.order-information li{padding:5px;}
.order-information span{color:#333;font-size:16px;}

table{text-align:center;margin:auto;border-collapse:collapse;}
.table-a table{border:1px solid #F00} 
th{background-color:#d6d6d6;margin:0 auto;padding:0;border:1px solid #d6d6d6}
td{border:1px solid #d6d6d6;margin:0 auto}
.money{font-size:24px;padding:10px 0 0 900px;}
.money span{color:#f55858;font-size:24px}

.end{height:350px;width:100%;background-color:#fff;margin:150px auto 10px;}
.endinner{width:1200px;margin:auto}

.news1{float:left;}
.news2{float:left}
.news3{float:left}
.list{float:left;padding:10px 80px;border-top:1px solid #f5f5f5}
.list1{float:left;padding:0 30px;}
.list2{float:left;padding:0 110px}
.list3{float:left;padding:0 50px}
.list4{float:left;padding:0 100px}
.list5{float:left;}
.list h1{font-size:16px;padding:0 5px}
.list ul{;padding:5px 0;}
.list li{padding:5px;}
/*底部*/
.foot{background-color: #fff;border-top:1px solid #dfdfdf;margin-top:50px;}
.footer{width:1190px;margin:0 auto;}
.foottop{overflow: hidden;padding-top:45px;border-bottom:1px solid #e5e5e5;padding-bottom:35px;}
.foottop li{width:297px;text-align: center;float: left}
.foottop h3{color: #2e3438;margin-top:8px;}
.foottop span{color: #999;display: block;margin-top:8px;}
.footbottom{overflow: hidden;padding:45px 0;}
.footbottom ul{float: left;width:138px;text-align: left;padding-left:100px;}
.footbottom ul.last_ul{padding-left:50px;}
.footbottom li h3{color: #363636;line-height: 40px;font-size:16px;}
.footbottom li a{color: #808080;font-size: 12px;line-height: 23px;}
.footbottom li a:hover{color: #f55858;}
.footbottom .tel{color: #4c4c4c;font-family:Arial; font-weight: 600;}
.footbottom h3{padding:0;}
/*版权所有*/
/*copyright*/
.copyright{width:100%;background-color:#f5f5f5;border-top:1px solid #dfdfdf;margin:20px auto 0;}
.copyinner{width:1090px;text-align:center; line-height:24px;font-size:12px;font-color:#999;padding:24px 0 0;color:#999;margin:auto}

/* 注册页面 sign in */

#top{height:80px;width:1200px;margin:10px auto;}
.logo{float:left;overflow:hidden}
.signin{width:100%;height:750px;border:1px solid #d9d9d9;overflow:hidden;}
.signin-inner{padding:190px;width:500px;height:400px;margin:0 auto;}
.fs-title{color:#00a4e6;font-size:18px;text-align:center;margin:0 0 20px}
/*inputs*/
.signin-inner input, .signin-inner textarea {
	padding:15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 350px;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 14px;
}
.signin-inner .button{margin:15px 0;float:left;background-color:#00a4e6;border:1px solid #00a4e6;border-radius:5px;color:#FFF;font-size:16px;}
.putin{padding:0 70px}
.putin a{color:#00a4e6}
/* 注册页面2 sign in2 */
.in-email a{font-size:18px;}
/*咨询界面*/
.zixun{height:1050px;width:1200px;margin:auto;}
.zixun ul li{list-style:outside none none;overflow:hidden}
.nleft{width:100px;float:left;padding:20px}
.nright{width:650px;float:left;padding:40px 0 0 160px;}
.nright .title{font-weight:bold;color:#333;font-size:16px;}
.nright p{color:#666;font-size:12px;padding:5px 0;line-height:20px}
.all li{border-top:1px solid #e2e2e2;}
.zixun a:hover{color:#0099db;}
.pc a{font-size:14px}
.page{margin:-80px 300px}
.pc{padding:2px 10px;font-size:14px; color:#454449;margin:5px;border:1px solid #cccccc;outline:medium none; font-family:Microsoft Yahei;box-sizing: border-box;;border-radius: 2px;margin-left: 0;}
.page .moderna{color:#fff;background-color:#0099db;}

/* 咨询详情 */
.zixun-xiangqing{padding:30px 50px;}
.zixun-xiangqing h1{font-size:28px;padding:0}
.zixun-xiangqing .title{text-align:center;margin:0 auto;height:100px;border-bottom:1px solid #ccc;}
.zixun-xiangqing a{color:#0088db;}
.zx-xq img{width:900px;height:480px;margin:20px auto;}


/* 提交订单 */
.content_box{width:1190px;margin:0 auto;}
.content-inner{width:1000px;height:1090px;margin:0 auto;background-color:#fff;}
.submit1 h3{font-weight:bold;float:left;}
.sub-add input{float:right;margin:10px 20px;width:100px;height:30px;border:1px solid #ccc;background:#fff;}
.sub-add-choose{padding:60px 20px 0 20px;}
.submit1{border-bottom:1px solid #ccc;height:200px;width:980px;margin:0 auto;}
.sub-add-choose ul{margin:0 auto;}
.sub-add-choose li{float:left;padding:10px;}
.sub-add-choose p{float:left;}
.sub-add-choose a{padding:0 10px;color:#0099db;float:left}
.subright{margin-left:130px;}
.sub-list table{border:1px solid #e6e6e6;}
.sub-list th{height:37px;background:#e6e6e6;border-left:0;border-right:0;color:#666;}
.sub-list img{width:90px;height:90px;border:1px solid #ccc;float:left;margin:0 10px 0 70px;}
.sub-list p{float:left}
.sub-list td{height:110px;;border-left:0;border-right:0;color:#666;font-size:12px;background-color:fcfcfc;vertical-align:top;padding-top:20px}
.sub-fapiao{width:980px;margin:20px auto;border-bottom:1px solid #e6e6e6;}
.sub-fapiao p{padding:0 20px 20px;}
.sub-fapiao a{color:#0099db;}
.sub-sum{margin:-20px 20px;white-space:pre;line-height:30px;}
.sub-sum input{width:120px;height:40px;color:#fff;margin-left:40px;font-size:16px;margin-right:-15px;background:#f55858;border:1px solid #f55858;border-radius:5px;}
.sub-sum p{padding-right:20px;float:right;}
.sub-sum i{ font-size:18px;}
/*提交订单-发票弹窗*/
.black{width:100%;height:100%;top:0;left:0;background-color:#000;opacity:0.2;filter:alpha(opacity=70);z-index:1000;position:fixed;}
.fapiao-tan{width:760px;height:650px;top:200;left:600;background-color:#fff;z-index:1000;position:fixed;border:2px solid #65b1d3;}
.fapiao-top{height:40px;background-color:#f3f3f3;line-height:20px;}
.fapiao p{padding:0 20px;}
.fapiao-inner1 input{width:120px;height:40px;margin:20px;border:1px solid #d9d9d9;}
.fapiao-inner2 {width:680px;height:10px;line-height:10px;margin:0 auto;background-color:#f3f3f3;border:1px solid #d9d9d9;padding:20px;}
.fapiao-inner2 i{padding:0 10px;}
.fapiao-inner3{background:url(../images/fapiaoinner_03.jpg) no-repeat;height:40px;margin:20px;line-height:40px}
.fapiao-inner3 p{padding-left:40px;float:left;color:#666;font-size:12px;}
.fapiao-save {}
.fapiao-inner4 li{margin:20px;}
.fapiao-inner4 p{width:100px;height:30px;float:left;margin:5px;}
.fapiao-inner4 input{width:200px;height:30px;border:1px solid #d9d9d9;padding:0 10px;}


/* 首页 index */
.middle-inner{text-align:left;;margin:0 auto;position:relative;}
.banner{ text-align:left; clear:both;}
/* flexslider */
.flexslider{position:relative;height:530px;overflow:hidden}
.slides{position:relative;z-index:1;}
.slides li{height:530px;}


/*微信二维码*/
.section_box2{ width: 100%; margin: 0 auto; padding: 0; background-color: #ffffff;}
.content_box{width:1190px;margin:0 auto;}
.weixin_box{ width:90%; height: 200px; margin: 0 auto;padding:30px;}
.weixin_left{ width:70%; margin: 2px auto; padding: 0; float: left;}
.weixin_left p:first-child{ font-size: 30px; color: #333333;}
.weixin_left p:nth-of-type(2n){ font-size: 14px; color: #666666; margin-top: 10px;}
.weixin_right{ width: 30%; margin: 10px auto; padding: 0; float: left; text-align: center;}
.erw_left{ width: 45%; margin: 0 auto; float: left;}
.erw_left img{ width: 100%;}
.erw_right{ width: 45%; margin: 0 auto; float: right;}
.erw_right img{ width: 100%;}
.gongn{ width: 300px; margin: 40px auto; padding: 7px; border: solid 1px #666; border-radius: 20px; text-align: center; background-color: #FFFFFF; font-size: 20px;}
.gongn a{ background-color: #FFFFFF; font-size: 16px;}
.gongn span{ font-size: 16px; color: #009add; cursor: pointer;}

/*产品展示 product-show*/
.pro-middle{width:1200px;height:760px;margin:0 auto;}
.middle h3{background-color:#f2f2f2;}
.show-inner{width:280px;height:330px;background-color:#fff;margin:0 20px 20px 0;float:left;line-height:25px;}
.show-inner img{width:200px;height:190;padding:40px 40px 10px;}
.show-inner h5{padding:0 40px;}

/*产品规格 product-type*/
.pro-type{width:1200px;margin:0 auto;border-collapse:collapse}
.type-banner{height:450px;border:1px solid #dfdfdf;background:#fff}
.typeinner{margin:20px 0;background-color:#fff;border:1px solid #dfdfdf;}
.typeinner-nav{height:50px;background-color:#f7f7f7;line-height:50px;border-bottom:1px solid #dfdfdf;}
.typeinner-nav li{float:left}
.typeinner-detail{height:890px;background-color:#fff;}
.typebanner-left{width:50%;height:80%;text-align:center;padding-top:10px;float:left;}
#demo{overflow:hidden;width:320px;padding:10px 50px;margin-top:-50px;margin-left:80px;}
#demo img{border:none;width:300px;height:270px;}
#enlarge_images{position:absolute;display:none;z-index:3;border:5px solid #f4f4f4}
#enlarge_images img{width:400px;height:370px}
.typebanner-left ul{width:230px;margin:0 auto;}
.typebanner-left li img{float:left;width:50px;height:50px;border:1px solid #ccc;margin:20px 10px;}
.typebanner-right{float:left;padding-top:70px;}
.typebanner-right li{padding-top:10px;}
.type-buy a{margin-right:10px;width:140px;height:30px;padding:5px 30px;border:1px solid #0099db;border-radius:5px;}
.typeinner-nav a{font-size:16px;padding:20px;margin-left:30px;}
.typeinner-nav i{font-size:16px;}
.typeinner-detail ul{margin:50px 0;}
.typeinner-detail li{float:left;padding-left:80px;line-height:2em;color:#666;}
.typeinner-detail img{width:150px;height:150px;}
/*产品细节*/
.typebanner-right input{border:1px solid #ccc;width:10px;height:30px;margin:15px 5px;padding:0 20px;}
.detail-zuhe{height:280px;background-color:#fff;border:1px solid #dfdfdf;margin:20px auto}
.zuhe-left{float:left;padding:10px 40px;}
.zuhe-left img{width:100px;height:100px;border:1px solid #ccc;}
.zuhe-left li{margin-top:15px;float:left}
.zuhe-left b{font-size:60px;margin:10px;color:#ccc;}
.zuhe-right{width:120px;float:right;margin:50px;}
.zuhe-right b{font-size:60px;color:#ccc;}
.zuhe-right li{float:right;height:30px;line-height:30px;padding-top:10px;}
.zuhe-right input{width:100px;height:30px;background-color:#f55858;color:#fff;}
.detail-inner li{padding:20px 50px;}
/* 产品评价 */

.nav-left{height:90px;margin:50px;width:350px;border-right:1px solid #ccc;float:left}
.nav-left ul{float:left;}
.nav-left li{padding-top:10px;}
.nav-right{height:90px;margin:50px;}
.nav-right ul{margin-top:10px;}
.nav-right li{margin-right:20px;width:90px;height:30px;line-height:30px;text-align:center;background:#f2f2f2;color:#0099db;border:1px solid #0099db;float:left;}
.pingjia-nav {height:40px;border-bottom:1px solid #dfdfdf;border-top:1px solid #dfdfdf;}
.pingjia-nav li{float:left;padding:10px 30px}
.pingjia-detail {height:170px;border-bottom:1px solid #dfdfdf;overflow:hidden;}
.pingjia-detail ul{float:left;margin:30px;}
.pingjia-detail li{padding-top:10px}
.pingjia-detail img{width:50px;height:50px;padding-right:10px;}
.huifu{height:100px;width:1000px;border:1px solid #ddd;background-color:#fafafa;}
.huifu input{width:920px;height:30px;margin:10px 20px;padding:3px 20px;;background-color:#fff;border:1px solid #ddd;color:#a0a0a0;}
.datu{width:370px;height:440px;border:1px solid #ccc;}
.pingjia-page{margin:30px auto;text-align:center;}
.datu ul{margin:0 10px;}
.datu li{float:left;margin:0 10px;}
.datu img{width:11px;height:11px;margin-right:-5px;}
.datu-photo img{width:365px;height:395px;margin-top:10px;}

/*放大*/
.tb-gallery .tb-booth {
    display: table;
    height: 420px;
    margin: 20px auto 0;
    position: relative;
    table-layout: fixed;
    width: 420px;
    z-index: 1;
}
.tb-gallery .tb-booth a {
    border: 1px solid rgba(0, 0, 0, 0.05);
    display: table-cell;
    height: 418px;
    text-align: center;
    vertical-align: middle;
    width: 418px;
}
.tb-gallery .tb-booth a .ks-imagezoom-wrap {
    margin: -1px 0 0 -1px;
}
.tb-gallery .tb-booth a img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}
.tb-gallery .tb-booth .zoomIcon {
    background-color: #fff;
    bottom: 0;
    color: #333;
    font-family: tm-detail-font;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    opacity: 0.6;
    position: absolute;
    right: 0;
    width: 30px;
    z-index: 2;
}
.tb-gallery .tb-thumb {
    margin-left: -16px;
    overflow: hidden;
    text-align: center;
}
.tb-gallery .tb-thumb a {
    float: left;
    height: 60px;
    overflow: hidden;
    position: relative;
    width: 60px;
}
.tb-gallery .tb-thumb a:focus {
    outline: 0 none;
}
.tb-gallery .tb-thumb img {
    max-height: 60px;
    max-width: 60px;
    position: relative;
}
.tb-gallery .tb-thumb .tb-selected a {
    border: 2px solid #000;
    height: 56px;
    width: 56px;
}
.tb-gallery .tb-thumb .tb-selected img {
    left: -2px;
    top: -2px;
}
.tb-meta-icons {
    position: absolute;
    right: 40px;
    top: 0;
    z-index: 1;
}
.tb-meta-icons li {
    float: left;
    height: 50px;
    width: 50px;
}
.tb-meta-icons .tm-meta-newArrival {
    height: 35px;
    margin-left: 10px;
    position: relative;
    top: -10px;
    width: 39px;
}
.tb-meta-icons .tm-meta-iconDouble11 {
    height: 41px;
    margin-left: 10px;
    width: 69px;
}
.tb-gallery .tm-brand {
    display: none;
}
.tb-gallery .tm-action {
    color: #999;
    padding: 38px 40px 25px;
}
.tb-gallery .tm-action a {
    color: #999;
}
.tb-gallery .tm-action .favorite {
    text-decoration: none;
}
.tb-gallery .tm-action .iShare {
    float: left;
    margin-right: 2em;
    text-decoration: none;
}
.tb-gallery .tm-action .favorite i {
    color: #baaa99;
    font-family: tm-detail-font;
    font-style: normal;
    margin-right: 4px;
    text-decoration: none;
}
.tb-gallery .tm-action .iShare i {
    color: #baaa99;
    font-family: tm-detail-font;
    font-style: normal;
    margin-right: 4px;
    text-decoration: none;
}
.tb-gallery .tm-action #J_EditItem {
    float: right;
}
