<extend name="Base/s1"/>

<block name="body">

<!--logo end-->
<div class="pro-middle">
	<div class="order-head">首页>产品展厅</div>
 	<div class="show">
 	<volist name="arr" id="vo">
		<div class="show-inner">
		<notempty name="time[cover_id]">
            <img src="{$time[cover_id]|get_cover='path'}"/>
            </notempty>
            <h5>{$vo.title}</h5>
        	<h5><b>{$vo.description}</b></h5>
            <h5><i>{$vo.price}</i></h5>
   		</div>
       </volist>
	</div>

</div>
<!--底部服务-->
</block>