﻿/*reset*/

/*分页*/
 .page{ float:right; padding:10px;overflow:hidden;clear:both;}
 .page div{border-left:1px solid #f63; overflow:hidden;}
 .page span,.page a{width:auto; overflow:hidden;float:left; height:32px; line-height:32px; padding:0px 10px;background:#fff; border:1px solid #f63; border-left:none; font-size:14px;}
 .page .current{ background:#f63; color:#fff;}
.wrapper-order {

    clear: both;
    width: 100%;
    margin: 0px auto;
}
.wrapper-address{width:960px;margin:0 auto;clear:both;}
img{border:0}
/*public*/
.cf:after {clear: both;display: block;height: 0;overflow: hidden}
.cf {zoom: 1}
.fl{display:inline;float:left}.fr{display:inline;float:right}
.lh36 {line-height: 36px}
.lh30 {line-height: 30px}
.pl20 {padding-left: 20px}
.Articlelist{margin:23px 0;}
.main-content {
font-size: 16px;margin:23px;width: 100%;
}
#formwarp dd a{margin-left:0px;text-indent:2em;}
a.ncart_btn_on{display: block;
width: 100px;
height: 36px;
line-height: 36px;
color: #fff;
font-size: 15px;
background-color: #ff460a;
cursor: pointer;}
.main-content h4{
font-size: 20px;margin-top:18px;width: 100%;color: #333;font-weight: 500;text-align:center
}
.loginform .img{margin:40px 2px 2px 20px;overflow:hidden;display:block;text-align:center}
.main-content #contents{
font-size:16px;color: #000;
}
.login-user{margin:39px 0px ;}
.main-content .time{margin-top:5px;font-size:15px;text-align:center;color:#339;margin-bottom:25px;}
.Articlelist h4 a{line-height: 30px;color: #333;padding-left: 20px;font-weight: 500;}
h5{padding: 10px 0;color: #000000;padding-left: 20px;font-weight: 500;}
h2{font-family: "microsoft yahei"; font-size: 14px;}

.flexcontainer {

height:376px
}

/* 幻灯片 */
div.LunBo {

margin-left:0px;
float: left;
position: relative;
list-style-type: none;
height:335px;
width:670px;overflow:hidden;
}
div.LunBo ul li {
position: absolute;overflow:hidden;
left: 0px;
top: 0px;
display: none;
}
.LunBo ul li img{width:100%;}
div.LunBo ul li.CurrentPic {
display: block;
}
div.LunBo div.LunBoNum {
position: absolute;
left: 374px;top:273px;
bottom: 11px;
width: 193px;
text-align: right;
padding-left: 10px;
}
div.LunBo div.LunBoNum span {
height: 30px;
width: 30px;margin-right: 5px;
display: block;
line-height:30px;
text-align: center;
margin-top: 5px;
margin-bottom: 5px;color:#fff;
float: left;padding-left:3px;
background:url(../images/radiu.png) no-repeat 5px 2px;
cursor: pointer;
}
div.LunBo div.LunBoNum span.CurrentNum {
background:url(../images/red.png) no-repeat 5px 2px;
}
/*公告 */
.rside{ position: relative;float:left;width:340px;}
.rside img{width:340px;}
.rside span{ display:block;}
.note{clear:both; overflow:hidden; width:100%}
.note ul{ height: 31px;
background: #f7f7f7; margin-top:5px;width:100%; overflow:hidden}
.note ul li{ float: left;
display: block;
height: 30px;
line-height:30px;
overflow: hidden;
padding: 0 1px;
width: 56px;
text-align: center;
border-bottom: 1px solid #e8e8e8; }
.note ul .selected {
padding: 0;
font-weight: 700;
border-left: 1px solid #e8e8e8;
border-right: 1px solid #e8e8e8;
border-bottom-color: #fff;
background: #fff;
}

/*分类 */
.nav-wrap{ position:relative;*z-index:2;width: 100%; clear:both}
.nava{ padding-left: 190px;position: relative; width:100%; height:40px; margin: 0 auto;}
.goods{ background: #FF3C00;position: absolute; top: 0;left: 0;width: 190px;height: 40px;}
.goods h2 a {display: block;height: 40px;padding-left: 20px;line-height: 40px;color: #fff;}
.goods h2 a:hover{ text-decoration:none;}

.menu-list{ margin-left: 190px;background-color:#5d5d5d;overflow: hidden}

.menu-list li{ float: left;}
ul.menu-list a{ display: block; height: 40px; float: left; padding:0px 27px;
text-align: center;color: #ffffff;text-decoration: none;}
ul.menu-list a:hover{height: 40px; background-color: #474747; text-decoration: none;}


.all-goods{clear:right; position: absolute;top: 40px;left: 0;width: 186px;
background: #ff3300;border: solid #ff6600;border-width: 0 2px 2px;overflow: visible; z-index:9999}
.all-goods .item{width: 186px;height: 36px;border-top: 1px solid #FFF;background: #fff;}
.all-goods .btnone{ border-top:none;}
.all-goods .item .product{ position: absolute;z-index: 999; width: 186px;}
.all-goods .item .product h4{width: 157px;height: 34px;padding-left: 28px;
border-width: 1px 0;font-weight: normal;line-height: 36px;
}
.all-goods .item .product h4 a{ color: #666666; font-size:14px; font-family:"宋体";}
.all-goods .item .product h4 a:hover{ text-decoration:none;}
.all-goods .item .product s{display: block;position: absolute;top: 13px;left: 173px;width: 6px;height: 9px; background: url(../images/indexSprite.png) no-repeat 0px 0px;}
.all-goods .active .product h4{line-height:32px;background-position:-12px -185px;
background-color:#ffffff;border:1px solid #ffb556; border-width:2px 0;width: 160px;}
.all-goods .active .product h4 a{ color: #ff6600;}
.all-goods .product-wrap{ position: absolute; width: 478px; z-index: 99;
border:2px solid #ffb556; background: #ffffff;padding: 10px; display: none;}
.all-goods .product-wrap p{ color:#999999;}
.all-goods .pos{left: 186px;}
.all-goods .posone{left: 186px; top: 0px;}
.all-goods .postwo{left: 186px; top: 37px;}
.all-goods .posthree{left: 186px; top: 74px;}
.all-goods .posfour{left: 186px; top: 111px;}
.all-goods .posfive{left: 186px; top: 148px;}
.all-goods .possix{left: 186px; top: 185px;}
.all-goods .posseven{left: 186px; bottom: -2px;}
.all-goods .poseight{left: 186px; bottom: -2px;}
.all-goods .posnine{left: 186px; bottom: -2px;}
.all-goods .posten{left: 186px; bottom: -2px;}
.all-goods .poseleven{left: 186px; bottom: -2px;}
.all-goods .product-wrap h2{ font-size: 16px;color: #333;font-weight: bold;}
.all-goods .product-wrap h2 a{height: auto;line-height: 16px;color: #333;padding-left: 0;}
.all-goods .product-wrap ul{line-height:30px;height:30px}
.all-goods .product-wrap ul li{ float: left; display: inline; margin-right: 2px; }
.all-goods .product-wrap ul li span a{color: #ff6600;}
.all-goods .product-wrap ul li span a:hover{color: #ff6600;}
.all-goods .product-wrap ul li a{ padding-left: 5px; color: #666666;display: inline-block;line-height: 18px; text-decoration: none; font-weight:bold;}
.all-goods .product-wrap ul li a:hover{ text-decoration: none; background-position: -8px -219px; color: #ff6600;}
.all-goods .product-wrap div dd,.all-goods .product-wrap div dl a{ display:block; width:185px; height:120px; overflow:hidden;}


.floor {font-size: 22px;
width: 38px;
height: 28px;
background-color: #323232;
color: #fff;padding:2px;
text-align: center;
line-height: 28px;
margin-top: 4px;
margin-right: 10px;
}

#msg{ clear:both; overflow:hidden;width:100%;}
.message{ width:100%; padding:10px;clear:both}
.message ul{ margin-left:10px; overflow:hidden}
.message ul li{ list-style: disc; line-height:26px;width:100%; }
/*floor */
.floor {
margin-top: 5px;
}
.clearfix {
zoom: 1;
}
/*购物车表格*/
#table td
  {


  padding:5px;
  }
 .goodnum{position: absolute;
left: 17px;
top: 0;
border: 1px solid #cacbcb;
width: 42px;
height: 18px;
line-height: 18px;
text-align: center;
padding: 1px;
margin: 0;
font-size: 12px;
font-family: verdana;
color: #333;
-webkit-appearance: none;}
 .quantity-form {
position: relative;
overflow: hidden;
height: 22px;
width: 80px;
}
.jia{float: left;border: 1px solid #cacbcb;
border-right: 0;
height: 18px;
line-height: 18px;
padding: 1px 0;
width: 16px;
text-align: center;
color: #666;
margin: 0;
background: #fff; }
 .jian{float: right;
 border: 1px solid #cacbcb;
border-left: 0;
height: 18px;
line-height: 18px;
padding: 1px 0;
width: 16px;
text-align: center;
color: #666;
margin: 0;
background: #fff;}
 .tb-rmb{
    font-size: 24px;
    font-weight: 700;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    color: #F40;font-style: normal;
}
 .price{
    font-size: 24px;
    font-weight: 700;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    color: #F40;font-style: normal;
}
.important{disabled:true;cursor:not-allowed;}

.info select{ border:1px #993300 solid; background:#FFFFFF;}
.info{ margin:5px; text-align:center; clear:both; overflow:hidden}
.info #show{ color:#3399FF; }
.info select{ float:left; width:100px}
.info input{ float:left; }
.topSearch{ float:left; padding-top:35px; margin:0 15px;width:40%; overflow:hidden}
.userCart{ float:left;padding-top:8px;width:20%}

.container{ clear:both;}


.blank{ width:100%; height:5px;}
.list{width:1200px;clear:both;}
.list h3{height:35px;font-size: 22px;border-top:2px solid #fff;
line-height: 35px;color: #323232;font-weight:400;border-bottom:2px solid #FF4500;margin:5px 0}
.list .brands{display:block;overflow:hidden;clear:both;background: #F7F7F7 none repeat scroll 0% 0%;
padding: 13px 0px 13px 0px;
margin-top: 5px;margin-bottom: 10px;}
.brands li{float:left;}
.ad-floor{display:block;overflow:hidden;clear:both;}
.ad-floor img{width:100%;display:block;overflow:hidden;clear:both;}
.list h3 a{float:right;font-size:14px;padding:0 5px;width:60px;text-align:center;}
.list h3 .active{background-color: #fff;color:#000;border-bottom:0px solid #fff;border-top:2px solid #f60;;
border-left:2px solid #f60;border-right:2px solid #f60;}

.icon .tag {
    height: 99px;width: 220px;
    padding: 10px 10px 0px;overflow: hidden;display: block;
}
.icon .tag a {
    display: block;
    position: relative;
    float: left;
    text-align: left;
    text-indent: 5px;
    margin: 0px 5px;
    width: 84px;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px dotted #EEE;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.icon img{
  width: 216px;
height: 274px;

}
.category{width:1200px;clear:both;overflow:hidden;}
.category .icon{width:240px;height:384px; float:left;overflow:hidden; margin-right:10px;}
.category .article{width:950px; height:384px;float:right; overflow:hidden}
.category ul li{width:190px; float:left; margin:0px;  overflow:hidden;}
.category ul li .pic{ display:block; overflow:hidden; height:auto; position:relative; z-index:34;height:140px; }
.yershop_img{overflow:hidden;}
.yershop_img img{width:160px;height:160px;}
.sy{ display:block; overflow:hidden;position:relative; z-index:34;height:140px; clear:both;}
.buy{ height:30px; overflow:hidden; clear:both; display:block;position:relative;z-index:399; margin-bottom:0px;}

.wrapper{width:95%;;clear:both; margin:0 auto;overflow:hidden; }
.navbar{width:100%; clear:both; margin:0 auto;overflow:hidden;  background: url('../images/topbg.gif') repeat-x scroll left top transparent;}
div.name{overflow:hidden; clear:both; display:block;line-height:20px;height:20px;text-align:center;position:relative;z-index:399; margin-bottom:0px;font: 14px/1.5 arial,}

ul li .price{line-height:20px;text-align:center;font: 16px/1.5 arial;padding-bottom:15px;}
.cartname{ width:150px;height:30px; border-bottom:3px solid #f50;line-height:30px; font-size:16px; padding:5px 0; clear:both; margin-top:15px;}
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:14px;
	color:#333333;
  border: 5px solid #eee;width:950px;
	clear:both;
}
.cart_bottom{ border-bottom: 1px solid #eee;}
.cart_info{width:950px;background-color: #fafbf8;overflow:hidden;padding:5px 0; }
.cart_info tr{clear:both;}
.single{position:relative;background-color:#fafbf8;margin:5px 0;border:1px solid #daf3ff;overflow:hidden;}
.singlehover{position:relative;background-color:#fafbf8;margin:5px 0;border:1px solid #BFC8CD;overflow:hidden;}
.good-canshu span{width:10%;display:inline-block;text-align:center;}
.good-canshu .good-name{width:35%;display:inline-block;text-align:center;}
.order-detail{position: relative;width:100%;display:block;clear:both;height:35px;line-height:35px;text-indent:2em;}
.goodlist-wrap{height:auto;background-color:#fff;width:100%;display:block;overflow:hidden;}
.three-area{display:inline; height:auto;float:left;width:65%;display:block;}
.three-area .cos{border:1px solid #daf3ff;padding:5px;display:block;clear:both;width:100%;}
.c1 img{border:1px solid #eee;}
.c1{width:54%;display:inline-block;vertical-align:top;text-indent:2px;overflow:hidden;}
.c2{width:14%;display:inline-block;text-align:center; }
.c1 .dl{float:left;display:inline-block;}
.c5{overflow:hidden;width:330px;height:70px;display:inline-block;}
.c1 span{float:left;display:inline-block;width:224px;}
.c5 .dl{float:left;display:inline-block;}
.c5 span{float:left;display:inline-block;width:254px;}
.three-area .cos img{vertical-align:top;}
.total-area{margin-left:10px;padding-top:5px;height:auto;padding-bottom:9999px; margin-bottom:-9999px;width:10%;border:1px solid #daf3ff;text-align:center;
display:block;float:left;}
.total-area p ,.deal-area{height:32px;line-height:32px;}
.act-area p{height:30px;line-height:30px;}
.deal-area{padding-top:5px;text-align:center; height:auto; width:10%; padding-bottom:9999px; margin-bottom:-9999px;line-height:auto;border:1px solid #daf3ff;float:left;}
.act-area{padding-top:10px;text-align:center;height:auto; width:10%; padding-bottom:9999px; margin-bottom:-9999px;float:left;}

.confirm{padding:6px 12px;color:#fff;background-color:#f60;}
table.gridtable th {
	height: 25px;
background-color: #fafbf8;

font: 400 15px/40px "宋体";
}
table.gridtable td {
	border-width: 1px;

	background-color: #ffffff; overflow:hidden
}
.order-time{background-color: #fafbf8;;height:40px;width:100%;}
.gridtable img{ float:left; margin-right:3px;}
@charset "utf-8";
.select-id{width:150px; padding-left:10px;}
a.pic{display: inline;padding-left:19px;
float: left;
margin: 5px 12px 0px 0px;
width: 82px;
text-align: center;}
div.desc{display: inline;
float: left;
width: 216px;
overflow: hidden;
word-wrap: break-word;}
.table-price{padding-left:71px;}
.table-num{padding-left:50px;}
.tedian{
display: block;
float: left;
margin: 0 160px 0 0;
margin-top: 10px;
}

#write .num{height:30px;width:70px;border:1px solid #f60}
#write textarea{width:100%;border:1px solid #f60;font-size: 20px;}
.index-content {
padding-top: 30px;
}
#write .btn_submit_pay{width:250px;padding-bottom:10px;text-align: center;

line-height: 40px;}

.container {
width: 100%;}
@media (min-width: 768px)
.container {
width: 100%;
}
.yershopname {
text-align: center;
font-size: 30px;
margin: 20px 0 10px 0;
color: #4d4c4c;
}
.xpshopde {
font-size: 17px;
color: #666666;
line-height: 28px;
}
.yp-border {
border-bottom: 1px solid #e1dada;
}
.yp-container {
margin: auto;
width: 1000px;
padding-bottom: 10px;
}.simplex-feature {
clear: both;
height: 300px;
padding-top: 20px;
line-height: 30px;
font-size: 17px;margin: 0px 0 0 85px ;
}
.order-detail b {
    position: absolute;
    right: 10px;
    top: 10px;
}
.feature-img {
float: left;
margin: 0px 0 0 10px;
width: 500px;
height: 280px;
}
.features {
float: left;
width: 350px;
margin: 10px 20px 0 40px;
padding-top: 20px;
}
.features-title {
color: black;
font-size: 20px;
}
.info {
margin-bottom: 30px;
}
.row {
margin-right: -15px;
margin-left: -15px;
}


.main {
padding: 10px 0px;
}
.main_nav {
height: 40px;
line-height: 40px;
}
.main_nav p, .main_nav a {
display: inline;
padding: 0 10px;
}

a.red:link, a.red:visited, a.red:hover, a.red:active {
color: #ff3c00;
}
a.red:link, a.red:visited, a.red:hover, a.red:active {
color: #ff3c00;
}
.dginfo_function {
text-align: center;
}
.dginfo_function a.dginfo_function1:hover, .dginfo_function a.dginfo_function1:active {
background-position: -90px -728px;
}
.dginfo_function a.dginfo_function1:link, .dginfo_function a.dginfo_function1:visited {
border-right: 1px solid #e4e6e8;
background-position: -270px -728px;
padding-right: 26px;
}
.dginfo_function a.dginfo_function1:link, .dginfo_function a.dginfo_function1:visited {
border-right: 1px solid #e4e6e8;
background-position: -270px -728px;
padding-right: 26px;
}
.dginfo_function a:link, .dginfo_function a:visited, .dginfo_function a:hover, .dginfo_function a:active {
display: inline-block;
padding: 0 0 0 26px;
height: 28px;
line-height: 28px;
background: url("../images/ui_img8.png") no-repeat;
}
.dginfo_function a:link, .dginfo_function a:visited, .dginfo_function a:hover, .dginfo_function a:active {
display: inline-block;
padding: 0 0 0 26px;
height: 28px;
line-height: 28px;
background: url("../images/ui_img8.png") no-repeat;text-decoration:none;
}
.dginfo_function a.dginfo_function2:link, .dginfo_function a.dginfo_function2:visited {
background-position: -270px -758px;
margin-left: 26px;
}
.dginfo_function a.dginfo_function2:link, .dginfo_function a.dginfo_function2:visited {
background-position: -270px -758px;
margin-left: 26px;
}
.dgdm_tag {
line-height: 22px;
margin: 0 0 5px 5px;
padding-left: 28px;
background: url("../images/ui_img8.png") no-repeat -280px -1300px;
}
.dgdm_tag span {
margin-right: 22px;
color: #000;
display: inline-block;
}
.dgdm_preview_h3 {
height: 50px;
line-height: 50px;
padding-left: 10px;
font-size: 16px;
}

.details_right dt {
height: 58px;
line-height: 58px;
border: 1px solid #e5e5e5;
border-right: 0;
border-left: 0;
padding-left: 15px;
font-size: 16px;
background: #f2f2f2;
margin-top: -1px;
}
.details_right dd {
padding: 20px 0;
border-bottom: 1px solid #e5e5e5;
text-align: center;
}
.details_right .details_right_img {
display: block;
vertical-align: bottom;
text-align: center;
overflow: hidden;
}
.details_right .details_right_title {
display: inline-block;
vertical-align: middle;
margin-top: 10px;
width: 150px;
padding-right: 10px;
overflow: hidden;
-ms-text-overflow: ellipsis;
text-overflow: ellipsis;
white-space: nowrap;
text-align: left;
}
.details_right .mcm_title_price {
width: 50px;
}
.mcm_title_price {
display: inline-block;
vertical-align: middle;
width: 60px;
margin-top: 10px;
text-align: right;
}
.nav-all {
position: absolute;
top: 0;
left: 0;
width: 190px;
height: 40px;
}
.all_class h2 a {
width:147px;
padding: 0 0 0 38px;

color: #fff;display: block;
height: 40px;
padding-left: 20px;
line-height: 40px; padding-left:30px;


}

.all_class h2 a:link, .all_class h2 a:active, .all_class h2 a:visited, .all_class h2 a:hover {
width: 147px;
padding: 0 0 0 38px;
color: #fff;display: block;
height: 40px;
padding-left: 20px;
line-height: 40px;padding-left:30px;

}
.nav-wrapper {
position: relative;
width: 1010px;
height: 40px;
margin: 0 auto;
padding-left: 190px;background: #ff6600;
}
.menu-wrapper {
position: relative;
clear: both;
width: 100%;
height: 40px;
margin: 0 auto;
z-index:9;padding-left: 190px;

}


.goods h2 span{
background-color:#FF3C00;
color:#ffffff;height:40px;text-align:center;float:left;display:block;line-height:40px;color:#fff;
}
.shopcart_main_none {
padding: 63px 0 137px 400px;
min-height:300px;
}
.shopcart_main_none_img {
display: block;
float: left;
width: 150px;
height: 176px;
margin: 0 20px 0 0;
background: url("../images/ui_img8.png") no-repeat -40px -160px;
}
.shopcart_main_none_main {
display: block;
float: left;
width: 186px;
height: 124px;
font-size: 18px;
text-align: right;
line-height: 25px;
padding-top: 52px;
}
.shopcart_main_none_main a:link, .shopcart_main_none_main a:visited {
display: inline-block;
width: 67px;
height: 33px;
line-height: 33px;
padding-left: 31px;
color: #fff;
font-size: 14px;
background: url("../images/ui_img8.png") no-repeat -269px -789px #ff3c00;
text-align: left;
margin-top: 16px;
border: 1px solid #e5433f;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.shopcart_main_none_main a:link, .shopcart_main_none_main a:visited {
display: inline-block;
width: 67px;
height: 33px;
line-height: 33px;
padding-left: 31px;
color: #fff;
font-size: 14px;
background: url("images/ui_img8.png") no-repeat -269px -789px #ff3c00;
text-align: left;
margin-top: 16px;
border: 1px solid #e5433f;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.main_nav {
height: 40px;
line-height: 40px;
}
.main_nav p{
display: inline;
color:#595959;
}
.main_nav a {
display: inline;
padding: 0 10px;color:#595959;
}
.main_nav a:hover{color:#ff3c00;

}
.main_center {
width: 100%;
overflow:hidden;
}
.center_left {
width: 200px;
_width: 200px;
float: left;
background: none;background:#f7f7f7;
}
.center_right {
display: block;
float: left;
width: 940px;
margin-left: 0px;
min-height: 500px;
background: #fff;
}
.center_left h3{
width: 200px;font-weight:400;
_width: 200px;height:48px;line-height:48px;color: #e73b03;
text-indent:1em;
border-bottom:1px solid #efefef;border-top:1px solid #efefef;

}
.center_left dt {font-weight: 400;
height:38px;border-bottom:1px solid #efefef;border-top:1px solid #efefef;
line-height: 38px;clear:both;overflow:hidden;
}

.pinkred{color:#ff0033;}
.desk{width: 30px;height:5px;
display:block;clear:both;overflow:hidden;
background-color:#ff9900;}
.good-canshu{background-color:#eee;	height: 40px;line-height:40px;
border-bottom:0px solid#009933 ;color:#000;
}
.center_left dt a {
display: block;
font-weight: bold;
font-size: 14px;text-indent:3em;
text-indent:2em;width:198px;
cursor: default;background-color:#f7f7f7;
}
.center_left dd {
font-size: 14px;
height: 36px;
line-height: 36px;
}
.center_left dd {
width:198px;overflow:hidden;
}
.star{margin:5px 0;clear:both;}
.star .title{float:left;overflow:hidden;}
.star .target-demo{float:left;overflow:hidden;}
.star .hint{float:left;overflow:hidden;}
.center_left dd a{
display: block;text-indent:2em;
padding-left:3px;width:195px;overflow:hidden;
}
.center_left dd a:hover{
width:195px;padding-left:0px;
border-left:3px solid #FF3C00;
background:#efefef;
color:#000;
}
.center_left .current{width:195px;padding-left:0px;
border-left:3px solid #FF3C00;
background:#efefef;
color:#000;}
.center_left dd  .center_left .home{vertical-align:top;margin-top:0px;}
.home-me{display:inline-block;}
.center_left .cl_warnning {
position: absolute;
top: 21px;
right: 16px;
height: 16px;
background: #ff3c00;
color: #fff;
text-align: center;
line-height: 16px;
padding: 0 4px;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
}
.shoppingcart_total {
  text-align: right;width:940px;
  padding: 20px 20px 20px 0;
  line-height: 28px;
  border: 0px solid #efeae5;
  background-color: #f8f6f2;
  font-family: "微软雅黑";border-top:0px;
  position: relative;overflow:hidden;
}

.order_none {
border-top: 1px solid #e5e5e5;
padding: 100px 0;
text-align: center;
}
.personal_info {

padding: 10px;
}
.pi_my {
display: inline-block;
vertical-align: middle;
width: 66%;
border-right: 1px solid #e5e5e5;
}
a.pi_my_img:link, a.pi_my_img:visited, a.pi_my_img:active {
display: block;
float: left;
width: 90px;
height: 90px;
border: 1px solid #dfdfdf;
padding: 4px;
margin-right: 20px;
}
a.pi_my_img:link, a.pi_my_img:visited, a.pi_my_img:active {
display: block;
float: left;
width: 90px;
height: 90px;
border: 1px solid #dfdfdf;
padding: 4px;
margin-right: 20px;
}
.pi_my_div {
float: left;
width:76%;
}
.pi_my_div_top {
margin-bottom: 40px;
}
.pi_food_div {
float: left;
height: 20px;
padding: 0 30px 0 0;
border-right: 1px solid #e5e5e5;
line-height: 18px;
}
.pi_food_div2 {
padding-left: 30px;
border-right: 0;
}
.pi_food {
display: inline-block;
vertical-align: middle;
width:24%;
padding-left: 30px;
}
a.pf_qiandao:link, a.pf_qiandao:visited, a.pf_taomi:link, a.pf_taomi:visited {
display: inline-block;
vertical-align: middle;
margin-left: 56px;
width: 75px;
height: 25px;
padding: 68px 0 0 2px;
background: url("../images/ui_img8.png") no-repeat 0 -1600px;
}
a.pf_qiandao:link, a.pf_qiandao:visited, a.pf_taomi:link, a.pf_taomi:visited {
display: inline-block;
vertical-align: middle;
margin-left: 30px;
width: 72px;
height: 25px;
padding: 68px 0 0 2px;
background: url("../images/ui_img8.png") no-repeat 0 -1600px;
}
a.pf_taomi:link, a.pf_taomi:visited {
background-position: -80px -1600px;
}
.cr_h3_gray {
border-color: #7a7a7a;
color: #595959;
height: 22px;
line-height: 22px;
border-left: 4px solid #ff3c00;
color: #ff3c00;
margin:5px;
_margin:5px;
padding-left: 10px;
font-size: 16px;clear:both;
}
.personal_info_none_goods {
padding: 70px 0;
position: relative;
}
.personal_info_none_goods p {
float: left;
width: 440px;
text-align: right;
font-size: 18px;
line-height: 36px;
margin-right: 90px;
}
.personal_info_none_goods a.ping_btn:link, .personal_info_none_goods a.ping_btn:visited {
display: block;
float: left;
width: 67px;
height: 33px;
line-height: 33px;
padding-left: 31px;
color: #fff;
font-size: 14px;
background: url("../images/ui_img8.png") no-repeat -269px -789px #ff3c00;
text-align: left;
margin-top: 16px;
border: 1px solid #e5433f;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.personal_info_none_goods a.ping_btn:link, .personal_info_none_goods a.ping_btn:visited {
display: block;
float: left;
width: 67px;
height: 33px;
line-height: 33px;
padding-left: 31px;
color: #fff;
font-size: 14px;
background: url("../images/ui_img8.png") no-repeat -269px -789px #ff3c00;
text-align: left;
margin-top: 16px;
border: 1px solid #e5433f;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.pi_food_price {
display: inline-block;
text-align: center;
color: #a1a1a1;
}
a.pi_food_btn:link, a.pi_food_btn:visited {
display: inline-block;
color: #0495cc;
margin-left: 10px;
}
a.pi_food_btn:link, a.pi_food_btn:visited {
display: inline-block;
color: #0495cc;
margin-left: 10px;
}
.pi_food_div2 {
padding-left: 14px;
border-right: 0;
}
.mainwrap{
margin-left: auto;
margin-right: auto;
min-height: 530px;
height: auto!important;overflow: hidden;
}
.think-form {
padding:10px 15px ;
font-size: 16px;margin:10px;
border: 1px solid #E8E8E8;
background-color: #FFF; overflow:hidden;
}
.loginform {
overflow: hidden;
padding-right:0px;
width:50%;float: left;
}
.loginform  .hd {
height: 36px;
line-height: 36px;
}
.think-form table.bd {
width: 100%;
border-spacing: 0 10px;
}
.loginform .bd .text {
width: 250px;
}
.think-form th {
padding-right: 20px;
width: 77px;
height: 30px;
line-height: 30px;
font-weight: normal;
vertical-align: top;
text-align: right;
}
.Validform_checktip {
height: 20px;line-height: 20px;margin:5px; color: rgba(243, 45, 21, 1);
}
.login-other {overflow: hidden;
display: inline;
float: left;
margin-left: -1px;
padding-left:10px;width:46%;border-left:1px solid #eee;
}
.row div{float:left;margin-right:15px;}
.login-other p{padding-left:10px;}
.login-other p img{
vertical-align:middle;height:26px;width:26px;}
.login-other .hd strong {
font-size: 16px;
font-weight: normal;
color: #999999;
}
.loginform .hd strong {
font-size: 30px;
font-weight: bold;
color: #000; margin-right:30px;
}
.loginform  .hd a {
margin-left: 6px;
color:rgba(239, 72, 36, 1);
vertical-align: -1px;
}
.loginform  .hd {
height: 36px;
line-height: 36px; padding-left:130px; margin-bottom:0px;
}
.other-account li a {
display: inline-block;
width: 240px;
height: 36px;
line-height: 36px;
font-size: 16px;
text-align: center;
color: #007DDB;
background: none repeat scroll 0 0 #EEEEEE;
}
.a4 {
margin: 10px 0;
width: 210px;
text-align: center;
}
.ml_search_top {
border: 1px solid #e3e3e3;
}
.ml_top {
font-size: 14px;
border-bottom: 1px solid #e3e3e3;
line-height: 44px;
}
.mlt_title {
float: left;
width: 130px;
color: #595959;
text-align: right;
margin-right: 40px;
color: #8c8c8c;padding:10px;font-size:14px;
}
.mlt_link {
width: 630px;
padding-right: 150px;
float: left;
color: #cfcfcf;
height: 44px;
}
.mlt_link label {
display: inline-block;
color: #595959;
vertical-align: middle;
height: 44px;
line-height: 40px;
}
.mlt_link .sep {
padding: 0 15px;
}
.ml_content_top {
display: block;
height: 30px;
line-height: 30px;
background: #f5f5f5;
margin-bottom: 10px;margin-top:10px;
}
.ml_content_top li{float: left;width:118px}
.ml_content_top  li a {
width:118px;
background-color: #f5f5f5;
text-align:center;
cursor: pointer;
height: 20px;padding:5px;
line-height: 20px;
display:block;
color: #595959;
position:relative;
}
.ml_content_top li i{
    width: 17px;
    height: 23px;
    position: absolute;
    right: 34px;
    top: -3px;
    background: url('../images/arrow-a.png') no-repeat  -38px 10px;
}
.ml_content_top .active .desc i{
  width: 15px;
  height: 23px;
  position: absolute;
  right: 34px;
  top: 7px;
 background: url('../images/arrow-a.png') no-repeat -22px 0px;
}
.ml_content_top .active .asc i{
 width: 15px;
height: 18px;
position: absolute;
right: 34px;
top: 7px;
background: url('../images/arrow-a.png') no-repeat -5px 0px;
}
.ml_content_top  .active a {
color: #f30;
}
.ml_content_top li a:hover {
color: #ff3c00;
background-color: #EBE8E8;
text-decoration: none;
}


.ml_content_main {
width:100%;clear:both;overflow:hidden;
}
.ml_content_main p{
height:28px;line-height:28px;text-align:center
}

.ml_content_main li {
float: left;width: 19%;
padding-left: 12px;height:300px;
margin-bottom:10px;
}
a.mcm_img {
display: block;
position: relative;
text-align: center;
overflow: hidden;
}
.ml_content_main_ppt .mcm_show {
top: 0px;
left: -6px;
width: 210px;
padding: 10px 5px 8px 5px;
}

.ml_content_main_ppt .mcm_show a.download:link, .ml_content_main_ppt .mcm_show a.download:visited, .ml_content_main_ppt .mcm_show a.download:active {
width: 80px;
background-position: -255px -1196px;
}
.ml_content_main_ppt .mcm_show a.download:link, .ml_content_main_ppt .mcm_show a.download:visited, .ml_content_main_ppt .mcm_show a.download:active {
width: 80px;
background-position: -255px -1196px;
}

.center_right_loading, .my_shopping_car_loadding {
width: 48px;
height: 48px;
margin: 200px auto;
}
.my_shopping_car_loadding {
margin: 20px auto;
}
.sc_no_login {
background: url("../images/sc_no_login.png") no-repeat center center;
width: 192px;
height: 200px;overflow:hidden;
}

/*order*/
.orderplace{
clear:both;padding-left:5px;

background-color:#f7f7f7;font-size:15px;
}
#formwarp{
clear:both;
padding:0px;
margin:0 auto;
background-color:#fff;
}
.mt {
background-color: #f7f7f7;
padding-top: 7px;
}
.mt h2 {color: #000000;
height: 30px;
overflow: hidden;
line-height: 30px;padding:5px;font-size:20px;
}
#check{
border: 1px solid #ddd;margin-top:10px;
}
.orderplace h2{height:30px;
line-height:30px;width:121px;

clear:both;padding:0px 10px;
font-weight:bold;
font-size:15px;}
#formincart{ background-color:#f7f7f7;padding-left:2em;}
#formincart dl{
clear:both;
}
.orderplace p{clear:both;padding:5px; color:#000;}
#formsender{margin:0px;}
.orderplace dt ,.orderplace dd{height:35px;line-height:35px;}
.cart_long{ width: 200px;
  height: 30px;
  padding-left: 5px;
  line-height: 30px;
  line-height: 30px;
  border: 1px solid #D7D7D7;
  background: #fff;
  color: #333;
  border-radius: 2px;
  font-family: Verdana, Tahoma, Arial;
  font-size: 16px;
  ime-mode: disabled;}
  .cart-2{  border-bottom: 1px solid #D7D7D7;}
 .cart-2 tr{text-indent:2em;height:35px;border-bottom:1px solid #eee;}
 #senderdetail{padding:0px;}
 #senderdetail p{height:30px;}
 a#show{color:#000}
 .jiesuan{
 color: #000000;width:100%;
height: 30px;
overflow: hidden;
line-height: 30px;font-size:20px;background-color: #f7f7f7;
padding-right:20px;margin-top:10px;
}

.trans p{text-align:right;overflow:hidden;margin-right:15px;}
.jiesuan{height:50px;line-height:50px;margin-right:15px;overflow:hidden;}
.sc_goods_ul img{width:40px;height:40px;}
table a:hover{color:#ff3c00}
table{font-size:14px;}

.col_name{height:36px;line-height:36px;width:100%;padding:5px; overflow:hidden}
ul.userhas{margin:10px 0px 20px 30px;;overflow:hidden;clear:both}
.userhas li{float:left;margin-right:18px;}
.userhas p{text-align:center;padding:5px;}
.userhas .text{margin:0px 0px 0px 30px;width:100px;padding:5px; text-align:center;background:#ff3c00;display:block}
.activity{
    width: 100%;
    overflow: hidden;
}
.activity ul {
    width: 100%;
    overflow: hidden;
}
.activity ul li {
    float: left;
    width: 19%;
    margin-right: 10px;
    height: 270px;
}
 .activity ul li img {
    width: auto;
    height: 200px;
}
a.text{color:#fff}
a.text:hover{color:#fff}
.userhas img{width: 200px;
height: 180px;}
.submit {

padding-top: 60px;overflow:hidden;
position: relative;
}
a.btn_submit {
  display: block;
  text-align: center;
  width: 160px;
  height: 41px;
  line-height: 41px;
  color: #fff;
  font-size: 18px;
  background: #ff460a;
  cursor: pointer;
}
a.btn_submit:hover {
background: #e73b03;
text-decoration: none;color:#ffffff;
}
#form{margin: 5px 0;overflow:hidden}
a.btn_submit_pay:hover {
background: #e73b03;
text-decoration: none;color:#ffffff;
}
a.btn_submit_pay {
  display: block;
  float: right;
  text-align: center;
  width: 160px;
  height: 41px;
  line-height: 41px;
  color: #fff;
  font-size: 18px;
  background: #ff460a;
  cursor: pointer;
}
input.btn_submit_pay {

text-align: center;
width: 160px;
height: 40px;
line-height: 40px;
color: #fff;
font-size: 18px;
background: #ff460a;
}
div.pay{ margin:6px;}
.pay li{float: left;}
.pay .form-group
{color: #333;
 margin-bottom:20px;
 clear:both;font-size: 18px;
 overflow:hidden
}
.payboxs{margin:30px 50px;text-align:center;}
.form_loading{height:50px;padding:30px 0;}
#btn_pay {
  padding: 5px 20px;
  width: 135px;
  text-align: center;
  background-color: #F50;
  color: #FFF;
}
.top_main.toolbar{float:right
}
table .info{color:#ff3c00;font-size:15px;font-weight:bold}

/*订单提交成功*/
#success a{display: block;float:left;color:#fff;}
#success p{display: block;overflow:hidden;}
#success i{  padding:0px;

	color:#35AA47;font-size:70px;margin:0 35px;vertical-align:middle;
    }
#success{    overflow: hidden;
  height: 162px;
  padding-left: 20%;
  padding-top: 57px;}
#success i {
background: url(../images/security_sprite131104.png) no-repeat 0 -230px;
  width: 36px;
  height: 36px;
  display: inline-block;
  overflow: hidden;
  margin: 25px 20px 0 32px;
}
a.btn_success, a.btn_success:active {
text-align: center;
width: 160px;
height: 40px;
line-height: 40px;
color: #fff;
font-size: 18px;
background: #ff3c00;margin:15px 20px 0px 20px ;
}
.payform{margin-left:132px
}
#write{ overflow:hidden;margin:10px 10px;}
#write li{ overflow:hidden;margin:10px 10px;font-size: 18px;}
#write .labell {
width: 95px;font-size:18px;
margin-right: 5px;
}
#write .editor {
width: 371px;
display:inline-block;vertical-align:top
}
.detailtable th{
background: 0% 0%;
border: 1px solid #E9EDF0;
color: #5D5757;
font-size: 15px;
font-weight: bold;
height: 28px;
line-height: 28px;
padding: 5px;
}
.detailtable tr td{
border: 1px solid #DDDDDD;
font-size: 15px;
line-height: 28px;padding:5px

}
input.v_inp {
  height: 29px;
  line-height:30px;
  width: 300px;
  background: #FFf;
  border: 1px solid #EEE;
  border-radius:0px;
  color: #999;
  font-size: 14px;

  vertical-align: middle;
}
input.v_inp:focus {
    border: 1px solid #F60;
}
.login-other .control-group{overflow:hidden;margin: 10px}
em.user {
  width: 36px;

overflow: hidden;
position: absolute;
color: #999;
background-position: 0px 0px;
}
.v_dark_btn {
    border: medium none;
    background: none repeat scroll 0% 0% #FF4B01;
    font-size: 14px;
    color: #FFF;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.3s ease-in-out 0s;
width: 300px;
height: 48px;
line-height: 48px;
color: #FFF;
font-size: 18px;
display: inline-block;
overflow: hidden;
text-align: center;}
ul.dginfo_info{overflow:hidden}



.fwb {
font-weight: bold;
}
.red {
color: #ff3c00;
}


/* 频道页 */
.ctop{width:100%; margin: 0 auto;clear:both;display: block;overflow:hidden}
.p_cate{float:left; width:17%;background:#Fff;border: solid #dfdfdf;
border-width: 1px;margin-right:10px;}
.ctitle {padding-left:5px;height: 34px;color: #6d6d6d;text-align:left;line-height: 34px;}
.p_cate li{width:96%;overflow:hidden
height: 34px;
 }
.p_cate li a{
border-width: 1px 0;display:block;
border-top: 1px solid #dfdfdf;
color: #6d6d6d;width:100%;
height: 43px;padding-left:10px;
font-weight: normal;
line-height: 36px;position: relative;color:#ff4a00}
.p_cate li a:hover{color:#ff4a00;padding-left:5px;border-left:5px solid #ff4a00}
/* 频道幻灯图 */
div#yc-mod-slider { width:82%; margin: 0 auto; position: relative;float:left;background:#Fff; }
.fn-clear { zoom: 1; }
.box_skitter { position: relative; background: none; }
    .box_skitter ul { display: ; }
    .box_skitter .container_skitter { overflow: hidden; position: relative; }
    .box_skitter .image { overflow: hidden; }
        .box_skitter .image img { display: none; }
    .box_skitter .box_clone { position: absolute; top: 0; left: 0; width: 100px;
	overflow: hidden; display: none; z-index: 20; }
        .box_skitter .box_clone img { position: absolute; top: 0; left: 0; z-index: 20; }
    .box_skitter .prev_button { position: absolute; top: 50%; left: -5px; z-index: 100;
	width: 57px; height: 62px;
	overflow: hidden; text-indent: -9999em; margin-top: -25px;
	background: url(../images/prev.png) no-repeat left top !important; }
    .box_skitter .next_button { position: absolute; top: 50%; right: -5px; z-index: 100;
	width: 57px; height: 62px; overflow: hidden; text-indent: -9999em;
	margin-top: -25px; background: url(../images/next.png) no-repeat left top !important; }
    .box_skitter .label_skitter { z-index: 150; position: absolute; display: none; }
.loading { position: absolute; top: 50%; right: 50%; z-index: 10000;
margin: -16px -16px; color: #fff; text-indent: -9999em; overflow: hidden;
background: url(../images/ajax-loader.gif) no-repeat left top; width: 31px; height: 31px; }
#slideshow { width: 980px; height: 318px; }
    #slideshow ul {  }
/* 频道幻灯图over*/
.ml_content{clear:both;display: block;margin-top: 5px;overflow:hidden}
.paytype{overflow:hidden;}
.paytype .paylogo{padding:5px 30px}
.paytype label{float:left;font-size:17px;width: 190px;}
.paytype img{height: 35px;
width: 115px;
}
.back-detail img{vertical-align:middle}
.back-detail{display: block;margin:0 auto;width:87%;}
.back-detail-asc{float:left;width:70%;}
.back-good-img{float:right;width:20%;padding:5px;}
.apply-wrap{overflow:hidden;clear:both;width:100%;}
.apply{width:100%;border:1px solid #f60;overflow:hidden}
.apply h3,.apply-feedback h3{clear:both;height:30px;line-height:30px;font-weight:500;}
.apply p{height:30px;line-height:20px;padding:5px 10px;}
.apply-feedback{width:100%;border:1px solid #f60;padding-bottom:10px;}
.apply-feedback p{height:30px;line-height:30px;padding:5px 10px;}
.apply-feedback  input{height:30px;line-height:30px;}
.info-wrap{width: 1035px;
overflow: hidden;
border: 2px solid #D7AFC7;}
.info-wrap .count{float:left;width:60%;border-right: 1px solid #e5e5e5;}
.info-wrap .qiandao{float:left;width:30%}
.info-wrap .count dl{padding:15px;clear:both;overflow:hidden;border-bottom: 1px solid #e5e5e5;}
.info-wrap .count dl dt {float:left;}
.info-wrap .count dl dd{float:left;padding:5px 10px;width:60%;}
.count p{text-indent:2em;line-height:30px;height:30px}
.qiandao{float:left;padding:25px 0 0 35px;}
.shoucang{text-indent:2em;}
.shoucang .out{border:1px solid #eee;padding:2px 0;margin:2px 0;}
.shoucang .over{border:1px solid #f60;padding:2px 0;margin:2px 0;}
.shoucang li p span{overflow:hidden;display:inline-block;}
.shoucang h3{font-size:16px;font-weight:400;line-height:30px;height:30px;}
.shoucang img{vertical-align:top}
.center_right h4{border-bottom: 2px solid #f50;height:30px;font-weight:400;line-height:30px;padding-left:20px;}
.center_right h4 span{display:inline-block;padding:1px 10px;background-color:#f50;color:#fff}
.comment_list{border-bottom: 2px solid #eee;width:100%}
.comment_area{margin:0 auto;width:90%}
.comment_area h5{font-size:14px;font-weight:400;line-height:10px;height:10px;background-color:#eee;}
.comment_area table{margin:5px 0;}
.comment_area th{padding:5px 0;font-size:14px;font-weight:400;line-height:16px;height:16px;}
.person-info{clear:both;}
.person-info img{ -moz-border-radius: 75px; -webkit-border-radius:75px;border-radius:75px;}
.person-info span{width:50px;display:inline-block;}
.person-info li{margin:5px 0;}
.person-add span{width:33px;display:inline-block;}
.person-add li{margin:5px 0;line-height:25px;height:25px;}
.add input{line-height:25px;height:25px;}
.order_namelist{
display: inline-block;overflow: hidden;clear:both;
margin-top:10px;
width: 100%;border-right: 1px solid #ccc;
clear: both;position: relative;
z-index: 2;
}
.order_del{height: 30px;font-size:14px;line-height: 30px;
text-indent:1em;color:#ff3c00;width:100%;
border-top: 1px solid #fff;
}
.order_namelist  .active {
background: #FFF none repeat scroll 0% 0%;
height: 41px;
line-height:41px;
text-align:center;
font-weight: bold;
height: 41px;
border-top: 2px solid #FF3C00;
z-index: 100;
border-right: 1px solid #ccc;
border-left: 1px solid #ccc;
border-bottom:1px solid #fff;
}
.order_namelist span {
    float: left;
 height: 41px;
 width: 122px;
 text-align: center;
 line-height:41px; border-right: 1px solid #fff;
border-left: 1px solid #fff;
 border-top: 2px solid #Fff;
 font-weight: bold;border-bottom:1px solid #ccc;
}
.order_namelist span a {
color: #000;
font-size: 14px;
font-family: "Microsoft YaHei";
}
/*商品列表页*/
.category-title {
  float: left;
  padding-top:0px;
  margin-right: -3px;
  width: 100%;overflow:hidden;

}
.category-title h4{background-color:#BAA496;color:#fff}
.goodlist-main{width:100%;clear:both;}
.lists-position{float:left;padding-top:11px;margin-right:-3px;width:240px;margin-right:10px;}
.lists-position h4{width:100%;}
.lists-position h4 span{width:240px;text-align:center;border-bottom:1px dashed #eee;display:inline-block;
padding:3px 0;height:30px;line-height:30px;font-weight:400;font-size:14px;}
.lists-position .category{clear:both;
border-top:3px solid #f60;
border-left:2px solid #eee;
border-right:2px solid #eee;
border-bottom:2px solid #eee;
}
.lists-position .category-child{margin:5px 0;overflow:hidden;}
.lists-position .category-child span {float:left;width:30%;}
.lists-position .category-child span a{height:30px;line-height:30px;display:block;text-align:center;}
.lists-area{float:left;width:950px;overflow:hidden;}
.lists-area ul{overflow:hidden;}
.lists-area .goodlist{width:950px;overflow:hidden;text-indent:0em;}
.lists-area .goodlist li{margin-bottom:3px;float:left;width:184px;margin-right:3px;position: relative;height: 270px;}

.lists-area .goodlist li p{padding:2px 0;text-indent:2px;}
.lists-area .goodlist li .t2{display:block;height:40px;overflow:hidden;}
.lists-area .goodlist li img{width:176px;height:176px;}
.list-img{text-align:center;overflow:hidden;display:block;padding-top:5px;}
.vew_buy{clear:both;}
.salesrank{clear:both;margin:5px 0;border:1px solid #eee;}
.salesrank h5{height:30px;line-height:30px;background-color:#eee;}
.salesrank h5 span{text-indent:0em;border-bottom:1px dashed #eee;display:inline-block;
padding:3px 0;height:30px;line-height:30px;font-weight:400;font-size:16px;}
.salesrank li{clear:both;padding:5px 0;}
.salesrank li .picture{margin:0 auto;overflow:hidden;text-align:center;clear:both;display:block;}
.salesrank li a:hover{color:#f60}
.salesrank li span{margin:0 auto;width:80%;color:#f50;text-align:center;clear:both;display:block;padding-bottom :8px;border-bottom:1px dashed #eee;}
.salesrank li img{width:100px;height:100px;}
.salesrank .title{clear:both;text-align:center;display:block;}
.face{border:1px solid  #fff;}
.facehover{border:1px solid  #f60;}
.tab-content{margin:0 auto;width:80%;}
.tab-content p{margin:0 auto;width:80%;height:37px;line-height:37px;}
#tab1{width:780px;}
#tab1 .icon{width:780px;clear:both;overflow:hidden;}
#tab1 .form-item{  margin-left: 20px;
  float: left;
  display: block;}
.form-item input{height:35px;width:270px;}
.form-item textarea{height:35px;width:270px;}
.btn-save {
  display: inline-block;
  text-align: center;
  height: 38px;
  font-size: 20px;
  width: 155px;
  line-height: 22px;
  background-color: #F50;
  color: #ffffff;margin-bottom:10px;
}
.shopping_cart_procedure {
float: right;
background: url(../images/procedure_bg.gif) 2px 0 no-repeat;
width: 658px;
height: 32px;
margin: 24px 0 0;
line-height: 32px;
font: bold 14px/32px "微软雅黑";
color: #fff;
}
.shopping_cart_procedure span {
padding-left: 15px;
width: 220px;
display: inline-block;
}

.shopping_cart_procedure2 {
float: right;
background: url(../images/procedure_bg.gif) 4px -32px no-repeat;
width: 658px;
height: 32px;
margin: 24px 0 0;
line-height: 32px;
font: bold 14px/32px "微软雅黑";
color: #fff;
}
.shopping_cart_procedure2 span {
padding-left: 15px;
width: 220px;
display: inline-block;
}
.shopping_cart_procedure3 {
float: right;
background: url(../images/procedure_bg.gif) 4px -64px no-repeat;
width: 658px;
height: 32px;
margin: 24px 0 0;
line-height: 32px;
font: bold 14px/32px "微软雅黑";
color: #fff;
}
.shopping_cart_procedure3 span {
padding-left: 15px;
width: 220px;
display: inline-block;
}
.cart-item{border:5px solid #eee;overflow: hidden;width:950px;margin:0 auto}
.cart_title{margin:0 auto;clear:both;overflow:hidden;background-color:#eee}
.wrapper-cart{width:960px;margin:0 auto;clear:both;overflow:hidden;}
.cart_title span{text-align:center;width:23%;display:block;float:left;padding:5px 0;}
.shop-info{background-color:#f7f6f2;margin:0px 0;display:block;overflow:hidden;height:30px;line-height:30px;padding-left:15px}
.shop-info a{margin-right:10px;height:30px;line-height:30px;padding-top:10px;}
.cart-goods{margin-bottom:0px;border-bottom: 1px solid #ccc;clear:both;overflow:hidden;}
.cart-goods span{text-align:center;width:23%;display:block;float:left;padding:10px 0;}
#form .row-selected{width:60px;padding-right:10px;}
tr{width:100%;}
.cart-goods span img{vertical-align:top;float:left}

	.shangjia{clear:both;margin:5px 0;background-color:#f5f5f5;display:block;overflow:hidden;}
.shangjia-left{display:block;float:left}
.shangjia-img{padding:5px;display:block;float:left}
.shopinfo{padding-top:15px;text-indent:2em;display:block;float:left}
.shopinfo  .title{font-size:25px;font-weight:bold;display:block;}
.shopinfo p{height:30px;}
.shangjia-right{float: right;
text-align: right;
color: #999;
margin-top: 30px}
.shangjia-right span{font-weight:400;font-size:25px;display:inline-block;}
.renqi{display: inline-block;
vertical-align: middle;
padding: 0 30px;
border-right: 1px solid #c7c7c7;
text-align: center;
line-height: 30px;}
.totals{display: inline-block;
vertical-align: middle;
padding: 0 30px;margin-right:100px;padding: 0 30px;}
.editshop .title{width:300px;line-height:30px;}
.editshop  input{line-height:30px;}
.serach-title{line-height:30px;padding-top:8px;}
/*账户安全*/
.account_right {
float: left;
padding-left: 10px;
width: 780px;
color: #404040;
font: 12px "\5b8b\4f53";
position: relative;
}
.account_right h4 {
font-size: 14px;
font-weight: bold;
border-bottom: 1px solid #a4d7ca;
height: 34px;
padding: 6px 0 0 10px;
line-height: 34px;
margin-bottom: 7px;
}
.security_bar {
background: #fafafa;
border-color: #ddd;
margin-top: 15px;
height: 76px;
}

.security_content_index {
border: 1px solid #eee;
margin-top: 10px;
padding: 0 10px;
}

.security_content_index ul li {
position: relative;
width: 655px;
padding: 17px 0 0 103px;
}
.security_content_index ul .icon {
width: 41px;
height: 53px;
position: absolute;
left: 28px;
top: 12px;
background: url(../images/security_sprite131104.png) no-repeat 0 -140px;
}
.security_content_index ul .icon2 {
width: 41px;
height: 53px;
position: absolute;
left: 28px;
top: 12px;
background: url(../images/security_sprite131104.png) no-repeat 0 -76px;
}
.security_content_index ul .icon3 {
width: 41px;
height: 53px;
position: absolute;
left: 28px;
top: 12px;
background: url(../images/security_sprite131104.png) no-repeat 0 0px;
}
.security_content_index ul .col2 {
height: 17px;
width: 134px;
background: url(../images/security_bg02_131104.png) no-repeat 0 0;
overflow: hidden;
}
.security_content_index ul .col23 {
  height: 17px;
  width: 134px;
  background: url(../images/security_bg02_131104.png) no-repeat 0 -16px;
  overflow: hidden;
}
.security_content_index ul .col24 {
  height: 17px;
  width: 134px;
  background: url(../images/security_bg02_131104.png) no-repeat 0 -36px;
  overflow: hidden;
}
.security_content_index ul .col25 {
  height: 17px;
  width: 134px;
  background: url(../images/security_bg02_131104.png) no-repeat 0 -50px;
  overflow: hidden;
}
.security_content_index ul .col1 {
font-size: 14px;
padding-left: 15px;
}
.security_content_index ul span {
display: inline-block;
vertical-align: middle;
}
.security_content_index ul .col3 {
display: block;
color: #969696;
padding-top: 7px;
}
.security_content_index ul .history {
line-height: 22px;
color: #aaa;
position: absolute;
text-align: right;
width: 250px;
right: 0;
top: 19px;
}
.security_content_index p {
border-bottom: 1px solid #eee;
height: 83px;position:relative;
}
.security_content_index p i.success {
background: url(../images/succ.png) no-repeat 0 0px;
}
.security_content_index p span.title {
margin: 36px 40px 0 0;
font-size: 14px;  display: inline-block;position:absolute;
font-weight: bold;height:30px;
}
#mobileform{height:144px;}
#mobileform  .inputBg{height:30px;margin:10px;}
.security_content_index p span.tip {
margin: 36px 40px 0 64px;
font-size: 14px;  display: inline-block;position:absolute;
height:30px;
}
.security_content_index p span {
margin: 38px 0 0 0;position:absolute;display: inline-block;
}
.security_content_index p a, .security_content_index p a:hover {
margin: 38px 90px 0 0;
float: right;

}
.account_right .deepblue{
color: #1a66b3;
text-decoration: none;
}
.security_content_index p i {
width: 36px;
height: 36px;display: inline-block;
overflow: hidden;

margin: 25px 20px 0 32px;
}
.security_content_index p i.failure {
background: url(../images/failure.png) no-repeat 0 0px;
}
.security_content_index p a, .security_content_index p a:hover {
margin: 38px 90px 0 0;
float: right;
display: inline;
}
.verification_list02 {
padding: 66px 0 25px;
}
.verification_list {
height: 25px;
line-height: 25px;
overflow: hidden;padding-left: 77px;
padding-top: 23px;
}
.verification{padding-top: 43px;}
.ver_bottom_hint {
position: absolute;
top: 349px;
width: 780px;
color: #969696;
line-height: 22px;
border-top: 1px solid #e1e1e1;
}
.verification_list02 label {
width: 294px;
}
.verification_list label {
float: left;
width: 264px;
padding: 2px 14px 0 0;
text-align: right;
font: 14px/20px "\5fae\8f6f\96c5\9ed1";
}
.verification_list .ver_error, .verification_btn02 .ver_error {
float: left;
color: #f40000;
margin: 0 0 0 5px;
height: 22px;
line-height: 23px;
overflow: hidden;
border: 1px solid #ffb8b8;
background-color: #fef2f2;
padding: 1px 5px 0 25px;
background-position: 3px -103px;
}
.verification_list .ver_fillin {
float: left;
width: 193px;
height: 23px;
line-height: 23px;
margin: 0;
padding: 0 0 0 5px;
border: 1px solid #7f9db9;
background-color: #fff;
}
#send_num{display: block;padding:10px 20px;}
.verification_list_btn .ver_send {
width: 146px;color:#000;display: block;
background-position: 0 -385px;
}
.btn-check{padding:10px 10px;text-align:center;width: 146px;color:#fff;display: inline-block;}

.verification_btn02 {
padding: 0 0 0 358px;
}

.ver_bottom_hint .title {
font-weight: bold;
padding: 9px 0 4px;color: #404040;
}
.account_history {
  width: 958px;
  margin: 20px auto 0;
  border: 1px solid #e9e9e9;
}
.account_history h5 {
  height: 37px;
  font: 18px/37px '\5fae\8f6f\96c5\9ed1';
  padding-left: 30px;
  border-bottom: 1px solid #e9e9e9;
  background: url(../images/history_bg.png) repeat-x 0 0;
}
.history_num {
  width: 780px;
  margin: 0 auto;
  padding: 10px 0 0 10px;
  height: 28px;
  line-height: 28px;
}
.account_history .history_num em {
  color: #fd6800;
  font-style: normal;
  padding: 0 5px;
  font-weight: bold;
}
.account_history .history {
  width: 780px;
  margin: 0 auto 25px;
}
.account_history .history li.thead {
  color: #5aa18f;
  border: solid #a4d7ca;
  border-width: 1px 0;
  padding: 8px 0;
  line-height: 14px;
  height: 14px;
}
.account_history .history li {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #e9e9e9;
}
.account_history .history li.thead span {
  border-right: 1px solid #a4d7ca;
  height: 14px;
  width: 155px;
}
.account_history .history span {
  text-align: center;
  width: 156px;
  display: inline-block;
}
.account_right .account_right {
color:#fff;
}
#sdk_qq{
    width: 25px;display:inline-block;
    height: 25px;  margin-right:5px;
    background: url("../images/sdk/qq.png") no-repeat ;
}
#sdk_taobao{
    width: 25px;display:inline-block;
    height: 25px;  margin-right:5px;
    background: url("../images/sdk/taobao.png") no-repeat ;
}
#sdk_tencent{
    width: 25px;display:inline-block;
    height: 25px;  margin-right:5px;
    background: url("../images/sdk/tencent.png") no-repeat ;
}
#sdk_sina{
    width: 25px;display:inline-block;
    height: 25px;  margin-right:5px;
    background: url("../images/sdk/sina.png") no-repeat ;
}
#sdk_renren{
    width: 25px;display:inline-block;
    height: 25px;  margin-right:5px;
    background: url("../images/sdk/renren.png") no-repeat ;
}
#sdk_baidu{
    width: 25px;display:inline-block;
    height: 25px;  margin-right:5px;
    background: url("../images/sdk/baidu.png") no-repeat ;
}#sdk_douban{
    width: 25px;display:inline-block;
    height: 25px;  margin-right:5px;
    background: url("../images/sdk/douban.png") no-repeat ;
}
#sdk_google{
    width: 25px;display:inline-block;
    height: 25px;  margin-right:5px;
    background: url("../images/sdk/google.png") no-repeat ;
}
#sdk_github{
    width: 25px;display:inline-block;
    height: 25px;  margin-right:5px;
    background: url("../images/sdk/github.png") no-repeat ;
}

div.text{display:block;overflow:hidden;clear:both;}

#formincart select {margin-right:70px; clear:right;


}
#address {
   width: 300px;
}


.infolist{padding-left:5em;font-size:14px;position:relative;color:#494949;min-height:38px;margin:5px 0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;width:100%;float:left;clear:both;}
.infolist lable{position:absolute;width:5em;left:0;top:0;overflow:hidden;height:22px;padding:8px 0;line-height:22px;}

.infolist .liststyle span{position:relative;height:36px;line-height:36px;display:inline-block;border:1px solid #E8E8E8;border-radius:5px;padding:0 0 0 8px;text-align:center;cursor:pointer;background:white;float:left;margin-right:9px;margin-bottom:10px;}
.infolist .liststyle span i{display:inline-block;font-style: normal;height:36px;line-height:36px;padding-right:30px;position:relative;}
.infolist .liststyle span i:after{content:"";display:block;width:20px;height:36px;position:absolute;right:0;top:0;background-image:url("../images/jt_nor.png");background-repeat:no-repeat;background-position:0 center;background-size:10px auto;}

.infolist .liststyle span ul{width:100%;border-radius:0 0 5px 5px;position:absolute;border:1px solid #E8E8E8;background:white;left:-1px;top:36px;border-top:0;margin-bottom:10px;display:none;z-index:10;}
.infolist .liststyle span ul li{width:100%;float:left;overflow:hidden;border-top:1px solid #E8E8E8;}
.infolist .liststyle span ul li:first-child{border-top:0;}
form .form-item{margin:20px;clear:both;}
form .form-item input{width:300px;height:30px;clear:both;}
.create_time{margin:10px auto;text-align:center;display: block;border-bottom:1px dashed #ccc;width:500px; }
.art_content{width:700px;text-indent:2em;display: block;margin:0 auto;}
.artlist{margin:30px auto;width:800px;}
.artlist dd{margin:10px 0;height:30px;text-indent:2em;line-height:30px;border-bottom:1px dashed #ccc;}
.artlist a:hover{color:#ff3300;}