        #focusViwer{width:100%;border-top:solid 1px #ddd;;border-bottom:solid 1px #ddd;margin:10px auto;}

        .fontext{display:none;height:24px;line-height:24px;overflow:hidden;font-size:12px;color:#3366cc;padding:0 0px 0 0;}

        #imgADPlayer{width:100%;height:417px;}

        #imgADPlayer a{width:100% !important;height:417px;background-position: center center;}

        .hiddendiv{display: none;}



        #showIncludeCart{

     

        position:absolute;
		margin:-100px 500px;
    



        }

.btn_continue{clear:both;margin: 0 auto;width: 280px;padding-top: 20px;}

        .buy_pop_top {

            z-index: 1000;

            background: #f8f8f8;

            border: 1px solid #ccc;



            position:relative;

            padding: 27px;

            height: 120px;

            width: 300px;



          }

          .buy_pop_top .title {

            color: #898989;

            font-size: 15px;

            font-weight: bold;

            padding-left:2px;height:31px;

          }

          .buy_pop_top .font {

            color: #595757;

            padding-left: 2px;

            padding-top: 0px;height:25px;

          }

        .buy_pop_top .pop_btn_r{display:inline-block;float:left;}

        .buy_pop_top .pop_btn_r a{background-color:#fff;border:1px solid #ccc;color:#333;padding:6px 30px;border-radius:5px;}

        .buy_pop_top .btn_cart{display:inline-block;float:right;}

        .buy_pop_top .btn_cart a{padding:5px 10px;background-color:#f55858;color:#fff;border:none;border-radius:5px;}

        .buy_pop_close {

          height:21px;

          position: absolute;

          right: 15px;

          top: 6px;

          cursor: pointer;
		  z-index:1200;
		font-size:12px;
        }

