@charset "utf-8";
/* CSS Document */
body,img,a,div,ul,li,span,table,td,table,p,th,tr,h1,h2,h3,h4,h5,input{ padding:0;margin:0;text-decoration:none; list-style:none; -webkit-font-smoothing: antialiased; outline: none;}
body{ font-size:14px; font-family:"微软雅黑"; margin:0 auto;font-weight: normal;color: #333;}
a{color: #333;font-size: 14px;}
a:hover{ color:#44acdc;}
h1, h2, h3, h4 {font-weight: normal;}
img,ul,li,input {border: 0;}
input{font-family:微软雅黑;}
textarea{font-family:微软雅黑;}
body{background-color: #f5f5f5;}
html, body{height:100%;}

.topbox{ height:38px; line-height:38px;}
.inner{ width:1100px; margin:0 auto; overflow:hidden;}
.lefttopbox{ float:left; overflow:hidden;}
.iconphone{ background-image:url(../images/phone_icon.png); background-repeat:no-repeat; background-position: left center; padding-left:20px;}
.account a{ padding:0 10px;}
.lefttopbox li{ float:left; margin-right:10px;}
.righttopbox{ float:right; overflow:hidden;}
.xiala{ width:8px; height:4px; background-image:url(../images/xiala_icon.png); background-repeat:no-repeat; background-position:right center;}
.logbox{ height:100px; line-height:100px; background-color:#fff; }
.ff{ float:left; padding:0 5px;}
.shuxian{ color:#ccc;}

.logotext{ float:left; padding-left:50px; color:#0099db; font-size:24px; background-image:url(../images/logo.png);  background-repeat:no-repeat; background-position:left center; }
.xxi{ color: #e5e5e5; display: inline-block; float: left; margin-left: 20px;}
.addressbox{ float:left; display:inline-block; margin-left:20px;}
.diqu{ font-size:16px;}
.chengqu{}
.jianj{ background-image:url(../images/righticon.png); background-repeat:no-repeat; background-position:center center; width:16px; height:12px; display:inline-block; margin:0 5px;}
.rg{ float:right; }
.searchbox{ height:38px; border:1px solid #e5e5e5; overflow:hidden; margin-top:31px;}
.searchbox select{
	border: 0 none;
	height: 38px;
	margin: 0;
	padding: 0;
	width: 80px;
	text-align: center;
	color: #666;
}
.searchbox input{ width:240px; height:38px; padding-left:10px;}
.searchbox button{ width:80px; height:38px;border-radius: 0; margin: 0 0 0 -1px; vertical-align: top;background: #0099db none repeat scroll 0 0; color: #fff; font-size: 16px;cursor:pointer; line-height: 20px;border: medium none;}
.searchbox button:hover{ background-color:#0190ce;}
.or{ color:#999; margin:0 15px;}
.xuqiubox{ background-color: #0099db; color: #fff;  display: block; font-size: 16px;  height: 38px; line-height: 38px; margin-top: 32px; text-align: center; width: 120px;}
.xuqiubox:hover{ color:#fff !important; background-color:#0190ce;}



       /* 本例子css */
		.slideTxtBox{background-color: #fff; border: 1px solid #ddd; margin-left:500px; text-align: left; width: 394px; }
		.slideTxtBox .hd{ height:40px; line-height:40px; background:#f4f4f4; padding:0 10px 0 20px;   border-bottom:1px solid #ddd;  position:relative; }
		.slideTxtBox .hd ul{ float:left;  position:absolute; left:-1px; top:-1px; height:40px;   }
		.slideTxtBox .hd ul li{ cursor: pointer; float: left; text-align: center; width: 131px; font-size:16px; }
		.slideTxtBox .hd ul li.on{ height:40px;  background:#fff; border:1px solid #ddd; border-bottom:2px solid #fff; }
		.slideTxtBox .bd { height:300px;}
		.slideTxtBox .bd ul{ padding:30px 46px; height:240px;  zoom:1;  }
		.slideTxtBox .bd li{ height:24px; line-height:24px;   }
		.slideTxtBox .bd li .date{ float:right; color:#999;  }

.loginbkbox{ background-color:#79cfe6; padding: 50px 0 80px; background-image:url(../images/loginbk.jpg); background-repeat:no-repeat; background-position:center center;}


.user{ width:280px; padding:0 10px; height:40px; border:1px solid #ccc; line-height:40px; background-color:#fafafa; margin-bottom:15px;}
.btns{ width:300px; height:40px; color:#999; font-size:16px; border:1px solid #ccc; line-height:40px; background-color:#0099db; color:#fff;cursor:pointer;}
.btns01{ width:300px; height:40px; color:#666; border:1px solid #e5e5e5; line-height:40px; background-color:fafafa;cursor:pointer;}
.btns01:active{ color:#4cc9ff;}
.rgmima{ float:right; margin:7px 0; color:#0099db;}

.yejiao{ border-top:1px solid #e5e5e5; padding: 20px 0; margin-top:40px;}
.yejiao p{ text-align:center; color:#999; font-size:12px;}
 

/*register*/
.registerbk{ background-image:url(../images/registerbk.jpg); background-repeat:no-repeat; background-position:center top; padding:50px 0 80px;}
.registerbox{ width:800px; margin:0 auto; background-color:#fff; border:1px solid #e5e5e5;}
.regisbox{ margin:10px 25px 20px;}
.toptitle{ overflow:hidden; border-bottom:1px solid #e5e5e5; line-height:30px;}
.lftitle{ float:left; overflow:hidden;}
.selectnow{ border-bottom:2px solid #0099db;}
.lftitle li{ float:left; font-size:16px; padding:0 14px;margin-right: 5px;}
.gologin{ float:right;}
.gologin a{ color:#0099db;}

.zhucebox{}
.zhucebox li{height: 40px; line-height: 40px;  margin-top: 30px;}
.zhucebox li span {display: inline-block; margin-right: 20px; text-align: right;  width: 100px;}

.zhucebox li input {  background-color: #fafafa;  border: 1px solid #b2b2b2; font-size: 14px; line-height: 26px; padding: 7px;  width: 300px;}
.checkbox_wrap {margin: 20px 0 20px 120px;}
.checkbox_wrap span { color: #333;}
.checkbox_wrap span a{ color:#0099db;}
.btns02{background-color: #0099db; border: 1px solid #ccc;color: #fff; cursor: pointer; font-size: 16px; height: 40px;line-height: 40px; margin-left: 120px; width: 320px; margin-bottom:30px;}



/*service_password*/

.navbox{ width:100%; height:40px; line-height:40px; background-color:#0099db;}
.identity{ float:left; font-size:16px; text-align:center; background-color:#44acdc; background-image:url(../images/peopleicon.png); background-repeat:no-repeat; background-position:30px center; width:200px;}
.identity a{ color:#fff; font-size:16px;}
.backindex{ float:right; color:#fff; margin-right:20px;}
.backindex a{ color:#fff;}

.distance{ margin-top:10px; margin-bottom:40px;}
.leftbox{ background-color: #ffffff; float: left;  height: 730px;  width:200px; border:1px solid #d9d9d9;}
.leftbox ul{padding:10px 0;border-bottom: 1px dashed #dedede;}
.leftbox ul li{}
.leftbox ul li a{ line-height: 20px; color: #666666;display: block; margin:5px 0; padding: 5px 0 5px 60px;}
.leftbox ul li a:hover { background-color: #f2f2f2; color: #333;}
.leftbox ul li a:active {background-color: #ffffff; color: #0099db; }
.selected{ color: #0099db !important; border-left:2px solid #0099db;}
.leftbox ul li:first-of-type { line-height: 30px;padding-left:60px; font-size:16px;}
.backicon01{ background-image:url(../images/icon01.png); background-repeat:no-repeat; background-position:30px center;}
.backicon02{ background-image:url(../images/icon02.png); background-repeat:no-repeat; background-position:30px center;}
.backicon03{ background-image:url(../images/icon03.png); background-repeat:no-repeat; background-position:30px center;}
.backicon04{ background-image:url(../images/icon04.png); background-repeat:no-repeat; background-position:30px center;}
.backicon05{ background-image:url(../images/icon05.png); background-repeat:no-repeat; background-position:30px center;}
.imgtext{ border-bottom:1px dashed #dedede; overflow: hidden; padding: 20px 15px;}
.imgtext img{ float:left; width:70px; height:70px; border:1px solid #e5e5e5;}
.imgtext h3{ width:85px; float:left; margin-left:10px; font-size:14px;}


.rightbox{ float:right; width: 856px; padding:10px 20px; border:1px solid #e6e6e6;min-height: 710px;background-color: #fff;}
.righttitle{border-bottom: 1px solid #e5e5e5; font-size: 16px; font-weight: bold; padding: 8px 0;}

/*index*/
.navbox{ width:100%; background-color:#0099db;}
.nav {  width: 1100px; margin: 0 auto;}
.nav a { display: block; padding: 0 40px; line-height: inherit; color: #fff; font-size:16px;}
.nav_menu { line-height: 40px; }
.nav_menu-item { display: inline-block; position: relative;}
.nav_menu-item:hover { background-color: #44acdc;}
.selectnav{ background-color: #44acdc;}
.nav_menu-item:hover .nav_submenu { display: block;}
.nav_submenu { display: none; position: absolute; width: 180px; background-color: #fff; border-bottom:1px solid #e5e5e5; z-index:1000;}
.nav_submenu li{ border-bottom:1px solid #e5e5e5;}
.nav_submenu li a{ color:#444; font-size:14px; background-image:url(../images/righticon.png); background-repeat:no-repeat; background-position:160px 50%;}
.nav_submenu li:hover{ background-color:#44acdc;}
.nav_submenu li a:hover{ color:#fff !important;}



.banner{ text-align:left; clear:both;}
/* flexslider */
.flexslider{position:relative;height:450px; width:1100px; margin:10px auto;overflow:hidden;background:url(../images/loading.gif) 50% no-repeat;}
.slides{position:relative;z-index:1;}
.slides li{height:450px;}
.flex-control-nav{position:absolute;bottom:30px;z-index:2;width:100%;text-align:center;}
.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;position:relative;}
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(../images/dot.png) right 0 no-repeat;cursor:pointer; opacity:0.3; font-size:0; }

.flex-control-nav .flex-active{ background-position:0 0; opacity:1;}

.flex-direction-nav{position:absolute;z-index:3;width:100%;top:42%;}
.flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute; opacity:0.3;}

.flex-direction-nav li a:hover{opacity:1;}
.flex-direction-nav li a.flex-prev{left:0;background:url(../images/lfarrow.png) center center no-repeat;}
.flex-direction-nav li a.flex-next{right:0;background:url(../images/rgarrow.png) center center no-repeat;}
.flex-control-nav a.hoverIcon{ width:100%; height:100%; position:absolute; top:0; left:0; background-image:url(../images/bannerNavHover.png) !important; background-repeat:no-repeat; background-position:center center; z-index:15; }


.smallnavbox{ overflow:hidden; margin-bottom:10px;}
.LFbox{ float:left; width:254px; height:180px; border:1px solid #e5e5e5; background-color:#fff;}
.RGbox{ float:right; width:830px; height:180px; border:1px solid #e5e5e5; background-color:#fff;}
.LFtitle li{ float:left; width:118px; border-left:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; margin-left:-1px; height:35px; line-height:35px;padding-left: 9px; }
.LFtitlebk{ background-color:#f6f6f6;}
.LFtitle{ overflow:hidden;}
.LFcontain{ overflow:hidden; background-color:#fff;}
.LFcontain li{ float:left; border-bottom:1px solid #e5e5e5; border-left:1px solid #e5e5e5; margin-left:-1px; text-align:center; width:63px; padding:10px 0;}
.LFcontain li img { background: rgba(0, 0, 0, 0) url("images/loading.gif") no-repeat scroll center center;}
.LFcontain li span{ font-size:12px; display:block;}
.block-title{ border-bottom:1px solid #e5e5e5; height:35px; line-height:35px; padding:0 10px;}
.block-title strong{ float:left;}
.block-title .more{ float:right; font-size:12px;}
.term-list-item { border-bottom: 1px dashed #e4e4e4; float: left; width: 810px; padding:7px 10px; max-height:70px;}
.term-list-item .term{ float:left; font-weight:normal; margin-top:2px; font-size:12px; padding-left:24px; background-image:url(../images/re01.png); background-position:left center; background-repeat:no-repeat;}
.term-list-item .desc{ float:right; overflow:hidden; width:730px;}
.term-list-item .desc li{ float:left; margin:0 10px 4px 0; width:80px;}
.term-list-item .desc li a{ font-size:12px;}
.term-list-item .term001{ float:left; font-weight:normal; margin-top:2px; font-size:12px; padding-left:24px; background-image:url(../images/re02.png); background-position:left center; background-repeat:no-repeat;}

.imgabox{ overflow:hidden; margin-left:-10px; margin-bottom:10px;}
.imgabox li{ float:left; margin-left:10px;}
.imgabox li img{ width:267px; height:170px;}



.titleh1{ font-size:18px; margin:15px 0;}
.excel-recom-list { border-top: 1px solid #0099db; margin-bottom: 20px; overflow: hidden;}
.dl-recom-item-1 {  background: #095bad none repeat scroll 0 0; text-align: center; width: 100px; padding-right:3px; padding-bottom:1px;}
.dl-recom-item {  float: left; height: 75px; line-height: 24px; margin:0;
 overflow: hidden; padding-left:10px; }
.dt-recom-item-1 { color: #fff; padding-top:41px; background-image:url(../images/fenlei_icon.png); background-position:center 13px; background-repeat:no-repeat;}
.dl-recom-item-2 { background-color: #eaf9ff; border-right: 1px solid #0099db; border-bottom: 1px solid #0099db; width:130px;}
.dt-recom-item {  font-weight: bold;}
.dl-recom-item a {  white-space: nowrap; word-break: keep-all;}
.dd-recom-item {  color: #c1c1c1; margin:0; overflow:hidden;}
.dd-recom-item a{ float:left; padding-right:14px; font-size:12px;}
.select-dl-recom-item-2{ background-color:#fff; border-bottom:1px solid #fff;}

.kuwenbox{ margin-bottom:40px;}
.ul-excel{ overflow:hidden; background-color:#fff; padding:5px 4px;}
.ul-excel li{ float:left; margin:15px; background-color:#fafafa;}
.ul-excel li h2{ font-size:16px; width:220px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.ul-excel li h2:hover{ color:#44acdb;}
.ul-excel li span{ font-size:12px; color:#999; display:block; margin:4px 0;}
.jiage{ font-size:16px; color:#f55858; overflow:hidden;}
.jiage span{ float:right; font-size:12px;}
.wenbiao{ padding:8px 10px;}
.wrapper{ margin-bottom:10px;}

.excellentbox{ overflow:hidden;}
.titleh2{ font-size:18px; margin:15px 0; float:left;}
.tab{ float:right; overflow:hidden;}
.tab a{ float:left; padding:15px 10px; font-size:16px; margin-left:15px;}
.tab a.on{ border-bottom:3px solid #0099db; color:#0099db;}
.providerbox{ background-color:#fff; overflow:hidden; padding:20px; margin-left:-50px;}
.providerbox li{ float:left; margin-left:55px; width:164px;}
.providerbox .pic img { border: 1px solid #e5e5e5; display: block; height: 164px; width: 164px;}
.providerbox .tit{ font-weight:normal; margin:5px 0;}
.providerbox .suc { color: #999; font-size:12px; margin:5px 0 10px; overflow: hidden;}
.providerbox .suc b{ color:#f55858; font-family:tahoma;}
.providerbox .per{ float:left;}
.providerbox .all{ float:right;}
.providerbox .all a{ color:#999; font-size:12px;}

.providerbox .tsk { border-top: 1px solid #e8e8e8; height: 40px; overflow: hidden; padding: 10px 0;}
.providerbox .tsk p { height: 20px; line-height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.providerbox .tsk p em { float: left; margin-right: 3px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 50px; font-size:12px;}
.txt-money { color: #f55858; font-style: normal;}
.providerbox .tsk span a{ font-size:12px;}
.btn-em { background: #0099db none repeat scroll 0 0; color: #fff;display: block; font-size: 14px; height: 35px; line-height: 35px; text-align: center; transition: background 0.2s ease 0s;}
.btn-em:hover{ color:#fff; background-color:#44acdc;cursor:pointer;}

.ziibox{ overflow:hidden; margin-bottom:10px;}
.zuozibox{ float:left; width:747px; border:1px solid #e5e5e5; background-color:#fff; height:405px;}
.zitextimg{ height:40px; line-height:40px; border-bottom:1px solid #e5e5e5; padding:0 10px;}
.zitextimg strong{ float:left; font-size:16px; margin-left:10px;}
.zitextimg a{ float:right;}
.youzibox{ float:right; border:1px solid #e5e5e5; width:340px; height:405px; background-color:#fff;}
.zixuncon{ overflow:hidden; padding:10px;}
.imagesboxa{ width:370px;}
.imagesboxa img{ border: 1px solid #e5e5e5; float: left; margin: 5px;}
.newsoldbox{ width:335px; margin:5px;}
.oldtitle{ font-weight:normal; font-size:16px;}
.wena{border-bottom: 1px solid #e5e5e5;  overflow: hidden; padding: 10px 0;}
.wena img{ width:128px; height:100px;}
.wenawen{ width:200px;}
.wenawen strong{}
.wenawen p{ color: #666; font-size: 12px; line-height: 18px; margin: 6px 0; max-height: 53px; overflow: hidden;}
.wenawen span{ color:#999; font-size:12px;}
.titlea{ margin-top:10px;}
.titlea a{ display:block; line-height:24px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.xuqiune{ padding:5px 15px;}
.xunebox{ border-bottom:1px solid #e5e5e5;}
.xunebox li{ overflow:hidden; margin:10px 0;}
.xunebox li .xuneh1{ font-size:14px;white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.xunebox li p{ color:#999; font-size:12px;}
.xunebox li p span{ margin-left:30px;}
.xuqiune .tot{ color:#999; margin:8px 0;}
.xuqiune .tot strong{ color:#f55858; font-size:24px; font-weight:normal; margin-right:10px;}
.btnsxuqiu .btn-em { width:160px;}

.ibj-total { background-color:#f0f0f0; width:100%; margin-top:50px;}
.total-data .slg { font-size: 20px; padding: 15px 0; text-align:center;}
.total-data .tabla{ text-align:center;}
.total-data .tabla .item { cursor: pointer; display: inline-block; height: 22px; line-height: 22px; margin: 0 15px; padding: 0 15px;}
.total-data .tabla .on, .total-data .tabla .item:hover { background: #0099db none repeat scroll 0 0; color: #fff;}
.data-list { overflow: hidden;  padding: 35px 0 40px;}
.data-list li { border-right: 1px solid #ededed; float: left;  height: 60px;  position: relative;  text-align: center; width: 33%;}
.data-list .tit { color: #666;  left: 0; position: absolute; text-indent: 48px; top: 45px; width: 100%;}
.data-list .num { color: #666; display: inline-block; vertical-align: middle;}
.data-list .num b { color: #444; font-size: 30px; font-weight:normal;}
.data-list .ico { background-image:url(../images/yejiao01.png); background-repeat:no-repeat; background-position:left center;
 display: inline-block; height: 50px; margin-right: 5px; vertical-align: middle; width: 50px;}
.data-list li.data-deal .ico { background-image:url(../images/yejiao02.png);}
.data-list li.data-amount .ico {  background-image:url(../images/yejiao03.png);}

.ui-footer{ background-color:#fff;}
.ui-footer-hd{ background-color:#888; margin-bottom: 15px; padding: 30px 0;}
.zbj-grid { margin: 0 auto; width: 1090px; overflow:hidden;}
.ui-footer-hd dl { float: left; margin: 0; width: 18%; overflow:hidden;}
.ui-footer-hd dt{ margin-bottom: 15px;}
.ui-footer-hd dt a{ color: #fff;  font-size: 16px; }
.item-new dd { float: left;  height: 24px; line-height: 24px; overflow: hidden; width: 49%; margin:0;}
.item-new dd a{ color:#fff;}
.item-contact { border-left: 1px solid #fff; margin-left: 50px !important; padding-left: 50px; position: relative; text-align: left;}
.item-contact dt { color: #fff; font-size: 20px; margin-bottom: 3px;}
.item-contact .item-time {  padding: 3px 0 10px; color:#ccc; font-size:12px;}
.item-contact .ui-ico-cs-h { background-color:#f55858; color: #fff; display: block; font-size: 12px; height: 25px; line-height: 25px;text-align: center; width: 120px;}
.item-contact .ui-ico-cs-h:hover{ background-color:#f14444;}
.item-contact dd{ margin:0;}
.item-new a:hover{ color:#44acdc;}

.ui-footer-sitelink { line-height: 30px; text-align:center;}
.ui-footer-sitelink a { color: #444;}
.split { color: #ccc; display: inline-block; padding: 0 10px;}
.ui-footer-exlink a {  color: #666; margin-right: 5px;}
.ui-footer-exlink{ line-height:30px; text-align:center;}
.ui-footer-copyright{ color:#999; font-size:12px; text-align:center; line-height:30px;}
.ui-footer-ma{ margin:0 auto; width:1090px; padding: 0 0 15px;}
.ui-footer-ma a:hover{ color:#44acdc;}



/*end index*/

/*xiangqing*/
.dianwel{ background-color:#ededed; height:30px; line-height:30px; font-size:12px;}
.shangming{ float:left;}
.dianrg{ float:right;}
.shop-evaluate-det{color: #666; display: inline-block; float: right;  margin: 0 10px;}
.shop-evaluate-det .high { color: #f55858;}
.shop-evaluate-det .split { padding: 0 5px;color: #ccc; display: inline-block;}
.shoudian{ background-image:url(../images/shoudian.png); background-repeat:no-repeat; background-position:left center; padding-left:20px; font-size:12px; float:right; margin-left:20px;}
.servicenavbox{ background-color:#fff; height:70px;}
.sersearchbox{ position:relative; float:right;}
.sersearchkuang{ border: 1px solid #d9d9d9; color: #666; height: 27px; line-height: 27px; margin-top: 18px; padding: 3px 40px 2px 10px; width: 250px;}
.sersearchicon{  cursor: pointer; position: absolute; right: 15px; top: 26px;}
.sernav_menu { line-height: 70px; float:left; margin-left:50px;}
.sernav_menu-item { display: inline-block;}
.sernav_menu-item a{ padding:24px 15px; font-size:16px;}
.sernav_menu-item:hover { background-color: #f55858;}
.sernav_menu-item a:hover { color: #fff;}
.serselectnav{ background-color: #f55858;}
.serselectnav a{ color:#fff;}
.sernav_menu-item:hover .sernav_submenu { display: block;}
.servicelogo{ float:left; width:170px;}

.service-main { border: 1px solid #e5e5e5; margin: 20px 0; padding: 0 0 20px 20px; width: 1078px; overflow:hidden; background-color:#fff;}
.service-main-l { float: left; padding-top: 20px;}
.service-slide{ width:600px;}
.ui-switchable-content{ height: 400px; list-style:outside none none; margin:0; overflow:hidden; width:600px;}
.ui-switchable-content li{ width:600px; height:400px;}
.service-main-l .service-thumb { height: 65px; margin: 8px 0 0; position: relative;  width: 600px; overflow:hidden;}
.service-thumb li{ float:left; cursor: pointer; height: 65px; margin-left: 3px; width: 90px;}
.service-main-r {  float: right; width: 400px; margin-right:30px;}
.service-main-r h2{ font-size: 16px; line-height: 26px; margin-top: 20px; max-height: 52px; overflow: hidden; padding-right: 10px; font-weight:bold;}
.service-price{ background-color:#ffe7bf; color: #666; padding:20px 0; margin:20px 0;}
.service-txt { font-weight: normal; margin-left: 20px;}
.service-price .price { color: #f55858; font-size: 20px;  margin-left: 25px;}
.service-star-warp{ overflow:hidden;}
.service-star-txt { color: #999; float: left; line-height: 70px;  margin-left: 20px; margin-right: 20px;}
.service-star{ float:left; margin-top:27px;}
.service-star-score{ color:#f55858; float:left; line-height:70px; margin:0 20px;}
.service-star-detail-score { border-left: 1px dotted #e0e0e0; color: #999;  float: left; list-style: outside none none; margin-top: 4px; padding-left: 20px; width: 130px;}
.service-star-detail-score li{ line-height:23px;}
.service-star-detail-score strong{ color:#f55858; font-weight:normal;}
.xiangaddbox{ overflow:hidden; margin-top:20px;}
.service-txt01 { font-weight: normal; margin:0 20px; float:left;}
.xiangxuan{ float:left;}
.lijiyuyue{ width:200px; background-color:#f55858; border-radius:3px; margin-left:20px; margin-top:30px;}
.lijiyuyue a{ font-size:18px; color:#fff; text-align:center; width:200px; height:40px; display:block; line-height:40px;}
.lijiyuyue a:hover{ background-color:#f14444;}
.iconjijin{margin-left: 20px; margin-top: 30px;}
.iconjijin a{ display: inline-block; float: left; font-size: 12px; margin-right: 30px; padding-left: 25px;}
.shoucanga{ background-image:url(../images/shoucang.png); background-repeat: no-repeat; background-position:left center;}
.fenxianga{ background-image:url(../images/fenxiang.png); background-repeat: no-repeat; background-position:left center;}
.lf{ float:left;}
.xiangxibox{ width:838px; border:1px solid #e5e5e5;}
.xiangtop{ height:40px; border-bottom:1px solid #e5e5e5;}
.xiangtop a{ width:135px; text-align:center; line-height:40px; display:inline-block; margin-left:-1px;}
.xiangtop a span{ color:#f55858;}
.nowaxiang{ background-color:#fff; height:38px; border-top:3px solid #f55858; border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5;}
.neinei{ padding:40px; background-color: #fff; min-height:300px;}
.neinei p{ line-height:24px;}
.huanhuan{ background-color:#fff; width:208px; border:1px solid #e5e5e5; padding:20px;}
.tuitui{ font-weight:bold; overflow:hidden; font-size:14px;}
.tuitui span a{ float:right; font-weight:normal; font-size:12px;}
.boxbox li{ overflow:hidden; border-bottom:1px solid #e5e5e5; padding:15px 0;}
.youci{ width:115px;}
.youci h1{ font-size:12px; color:#666; max-height:35px;}
.qianqian{ color:#f55858; margin-top:5px;}
.huantu img{ width:83px; height:60px;}
.xiaxia{ margin-bottom:40px;}

/*详情轮播图*/
#gallery {}
#descriptions { position: relative; height: 50px; background: #EEE; margin-top: 10px; width: 640px;padding: 10px; overflow: hidden;}
#descriptions .ad-image-description { position: absolute;}
#descriptions .ad-image-description .ad-description-title { display: block;}
.ad-gallery {width: 600px;}
.ad-gallery, .ad-gallery * { margin: 0; padding: 0;}
.ad-gallery .ad-image-wrapper { width: 100%; height: 400px; margin-bottom: 10px; position: relative; overflow: hidden;}
.ad-gallery .ad-image-wrapper .ad-loader {position: absolute; z-index: 10; top: 48%;left: 48%; border: 1px solid #CCC; }
.ad-gallery .ad-image-wrapper .ad-next { position: absolute; right: 0; top: 0; width: 25%; height: 100%; cursor: pointer; display: block; z-index: 100;}
.ad-gallery .ad-image-wrapper .ad-prev { position: absolute; left: 0; top: 0; width: 25%; height: 100%; cursor: pointer; display: block; z-index: 100;}
.ad-gallery .ad-image-wrapper .ad-prev, .ad-gallery .ad-image-wrapper .ad-next {
      /* Or else IE will hide it */ background: url(non-existing.jpg)\9}
.ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image, .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
        background:url(../images/lfarrow.png); width: 50px; height: 50px; display: none;  position: absolute; top: 40%; left: 0; z-index: 101; }
.ad-gallery .ad-image-wrapper .ad-next .ad-next-image { background:url(../images/rgarrow.png); width: 50px; height: 50px; right: 0; left: auto; }
.ad-gallery .ad-image-wrapper .ad-image { position: absolute; overflow: hidden; top: 0; left: 0; z-index: 9; }
.ad-gallery .ad-image-wrapper .ad-image a img { border: 0; }
.ad-gallery .ad-image-wrapper .ad-image .ad-image-description { position: absolute; bottom: 0px; left: 0px; padding: 7px; text-align: left; width: 100%; z-index: 2; background: url(opa75.png); color: #000;}
* html .ad-gallery .ad-image-wrapper .ad-image .ad-image-description { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=true, sizingMethod=scale, src='opa75.png'); }
.ad-gallery .ad-image-wrapper .ad-image .ad-image-description .ad-description-title { display: block; }
.ad-gallery .ad-controls { height: 20px;}
.ad-gallery .ad-info { float: left; }
.ad-gallery .ad-slideshow-controls { float: right; display:none !important;}
.ad-gallery .ad-slideshow-controls .ad-slideshow-start, .ad-gallery .ad-slideshow-controls .ad-slideshow-stop { padding-left: 5px; cursor: pointer;}
.ad-gallery .ad-slideshow-controls .ad-slideshow-countdown { padding-left: 5px;  font-size: 0.9em; }
.ad-gallery .ad-slideshow-running .ad-slideshow-start { cursor: default; font-style: italic;}
.ad-gallery .ad-nav { width: 100%; position: relative;}
.ad-gallery .ad-forward, .ad-gallery .ad-back { position: absolute; top: 0; height: 100%; z-index: 10;}
    /* IE 6 doesn't like height: 100% */
* html .ad-gallery .ad-forward, .ad-gallery .ad-back {  height: 100px; }
.ad-gallery .ad-nav .ad-thumbs { overflow: hidden; width: 100%; }
.ad-gallery .ad-thumbs .ad-thumb-list { float: left; width: 600px !important; list-style: none; }
.ad-gallery .ad-thumbs li { float: left; padding-right: 5px; }
.ad-gallery .ad-thumbs li a {display: block;}
.ad-gallery .ad-thumbs li a img { border: 1px solid #e5e5e5; display: block;}
.ad-gallery .ad-thumbs li a.ad-active img { border: 2px solid #ccc; }
/* Can't do display none, since Opera won't load the images then */
.ad-preloads { position: absolute; left: -9000px; top: -9000px;}
/*end 详情轮播图*/
/*end xiangiqng*/

/*xiangqing_pingjai*/
.pingfenbox{ border:1px solid #e5e5e5; padding:30px; overflow:hidden;}
.fenxing{ float:left; text-align:center; margin-left:120px;}
.fenxing strong{ display:block; font-size:24px; color:#f55858; font-weight:normal;}
.fenxing img{}
.fenxing p{ font-size:12px;}
.fenxing p span{ display:inline-block; font-weight:bold;}
.pingyou{ margin-right:50px;}
.toubox{ }
.toubox img{ width:50px; height:50px; border-radius:25px;}
.toubox span{ font-size:12px; color:#0099db; display:block;}
.lunbox{ width:650px; margin-left:20px;}
.xingri{ overflow:hidden; padding:8px 10px; background-color:#f5f5f5;}
.xingri img{ float:left;}
.xingri span{ float:right; font-size:12px; color:#999;}
.pingla{ line-height:50px; margin-top:20px;}
.input-block{ height: 36px; position: relative; margin-top:20px;}
.J_commentAnswerInput{ border: 1px solid #e5e5e5; color: #757575; font-size: 12px; height: 30px; line-height: 30px; outline: medium none; padding-left: 20px; width: 549px;}
.answer-btn{  background: #0099db none repeat scroll 0 0; border: 1px solid #e5e5e5; color: #fff; height: 30px; line-height: 30px; position: absolute; right: 0;
    text-align: center; top: 0; width: 78px; z-index: 10;}
.answer-btn:hover{ color:#fff;}
.user_commment{margin-top: 20px; padding-left: 45px; overflow:hidden;}
.user_commment img{ width:30px; height:30px;}
.user_commment p{ line-height: 30px !important; margin-left: 10px; width:550px;}
.pingbox li{ overflow:hidden; margin-top:30px;}
/*end xiangqing_pingjai*/


/*shequku*/
form#listing-filters { background: #fff none repeat scroll 0 0; border: 1px solid #f5f5f5; border-radius: 2px; margin-bottom: 20px; margin-top: 15px;}
/*form#listing-filters {  perspective: 1000px; transform-style: preserve-3d;}
#listing-fixed-filters > form, form#listing-filters {  margin-left: auto; margin-right: auto; max-width: 1100px;}
form#listing-filters > fieldset { transition-duration: 0.5s;
    transition-property: transform, background-color, height, opacity, -webkit-transform;
    transition-timing-function: ease-in, ease-in, cubic-bezier(0.39, 0.575, 0.565, 1), step-end;}
form#listing-filters > fieldset {transition-duration: 0.5s;
    transition-property: transform, background-color, height, opacity, -webkit-transform;
    transition-timing-function: ease-in, ease-in, cubic-bezier(0.39, 0.575, 0.565, 1), step-end;}
form#listing-filters > fieldset:last-child, form#listing-filters > fieldset:nth-child(-n+2) {
    background: #fff none repeat scroll 0 0;
    transform: rotateX(0deg);}*/
form#listing-filters .legend { color: #666; display: inline-block; float: left; padding-bottom: 1.5em;  padding-top: 1.5em; padding-left:25px; background-image:url(../images/re02.png);
background-repeat:no-repeat; background-position:left center;}
form#listing-filters .links { height: 30px; margin: 1em 0 1em 6em; overflow: hidden; width: 90%;}
form#listing-filters fieldset{ border:medium none;}
form#listing-filters fieldset a { border: 1px solid transparent; border-radius: 2px; color: #333; display: inline-block; line-height: 1;  padding:0.3em 0.5em;}
form#listing-filters fieldset a:hover{ text-decoration:underline;}
form#listing-filters .checked { background-color:#0099db; color: #fff;}	
form#listing-filters .links.subarea { padding-top: 0;}
form#listing-filters .more-options {  color: #0099db; cursor: pointer; float: right;}

.kutitlebox{ overflow:hidden; border-bottom:2px solid #0099db; margin-bottom:15px;}
.kutitlebox li{ float:left; width:120px; height:36px; line-height:36px; text-align:center; background-color:#e6e6e6; }
.noeli{ color:#fff; background-color:#0099db !important;}

.shequbox{ overflow:hidden; margin-left:-20px; margin-bottom:20px;}
.shequboxli{ float:left; padding:15px; background-color:#fff; border:1px solid #e5e5e5; width:508px; height:265px; margin-left:20px; margin-bottom:20px;} 
.shequbox li .youjin{ width:285px;}
.zuoimages{ width:200px; height:144.5px;}
.shequbox li .youjin h1{ font-size:16px; color:#444; font-weight:bold;}
.shequbox li .youjin p{ font-size:12px; color:#333; line-height:18px; height:40px; overflow:hidden; margin:8px 0;}
.shequbox li .youjin span{ display:block; color:#999; font-size:12px; }
.buttonru{ background-color: #0099db; color: #fff; display: inline-block;  margin-top: 15px;  padding: 6px 20px;}
.buttonru:hover{ color:#fff; background-color:#44acdc;}
.shangtubox{ overflow:hidden;}
.xiabox{ margin-top:5px;}
.xiabox h2{ padding:5px 0; border-bottom:1px dashed #e5e5e5; font-size:16px;}
.shewenbox{ height:70px; overflow:hidden; margin-left:-20px; margin-top:10px;}
.shewenbox li{ float:left; width:240px; font-size:12px; margin-left:20px;}
.shewenbox li a{ color: #666; display: inline-block; font-size:12px; line-height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 240px;}
.shewenbox li a:hover{ color:#44acdc;}
/*end shequku*/


/*shequku_fuwu*/

/*end shequku_fuwu*/


/*serviceku*/
.serviceku{ margin-bottom:40px;}
.serviceku li{ margin-bottom:20px;}
/*end serviceku*/


/*index_service*/
.usservice{ background-color:#fff; border:1px solid #e5e5e5; margin:10px 0;}
.qitaservice{ background-color:#fff; border:1px solid #e5e5e5; margin:40px 0;}
         /*相关推荐*/
        .picMarquee-left{position:relative; margin-bottom:10px; padding:5px 4px;}
		.picMarquee-left h1{ font-size:18px; color:#333; border-bottom:1px solid #333; line-height:30px; padding-left:10px;}
		.picMarquee-left h1 span{ color:#8d8d8d; font-family:"Arial"; text-transform:uppercase; font-size: 18px; margin-left: 10px;}
		.picMarquee-left .hd{ overflow:hidden; position:absolute; right:20px; top:-30px; }
		.picMarquee-left .hd .prev,.picMarquee-left .hd .next{ display:block;  width:20px; height:20px; float:right; overflow:hidden;
			 cursor:pointer; background:url(../images/arrow01.png) no-repeat;}
		.picMarquee-left .hd .next{ background-position:0 -50px;  }
		.picMarquee-left .hd .prevStop{ background-position:-60px 0; }
		.picMarquee-left .hd .nextStop{ background-position:-60px -50px; }

		.picMarquee-left .bd{}
		.picMarquee-left .bd ul{ overflow:hidden; zoom:1; }
		.picMarquee-left .bd ul li{ float:left;}
		.picMarquee-left .bd ul li .wenbiao span{ color: #999; display: block; font-size: 12px; margin: 4px 0;}
		.picMarquee-left .bd ul li .people img{ width:242px; height:175px; display:block;}
		.picMarquee-left .bd ul li .wenbiao h2{ font-size: 16px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 220px;}
		.picMarquee-left .bd ul li .people{background-color: #fafafa; float: left; margin: 15px;}
         /*end 相关推荐*/
/*end index_service*/


/*index_serservice*/
.list-filter {  margin-bottom: 10px; padding: 10px; background-color:#fff; margin-top:15px;}
.list-filter dl.filter-last {  border-bottom: 0 none;}
.list-filter dl { margin: 0; padding: 10px 0;}
.list-filter dt { float: left; font-weight: bold; line-height:2em;}
.list-filter dd { margin-left: 87px;}
.list-filter a:hover, .list-filter a.nowselected { color: #f55858;}
.list-filter a {  display: inline-block; line-height: 2em; margin-right: 25px; padding: 0 5px; text-decoration: none;}

.pro-list-style { background-color: #fff; line-height: 2em; padding: 10px;}
.pro-list-style .s-title { display: inline; float: left; font-weight: bold;  margin-right: 3px;}
a.a-s-now, a.a-s-now:hover { background-color: #f55858; border:1px solid #d71249;  color: #fff;}
.a-style {  border:1px solid #dfdfdf; border-style: solid solid solid none; border-width: 1px 1px 1px 0;  float: left; padding: 0 14px;}
a.a-hasgoods { background-position: 7px 8px; display: inline-block; line-height: 27px; margin: 0 0 0 10px; padding: 0 12px 0 23px;
 background-image:url(../images/checkbox.png); background-repeat:no-repeat;}
a.a-hasgoods:hover{ background-color:#f3f3f3; background-position:7px -14px; box-shadow:1px 1px 2px #ccc inset;}
a.a-hasgoods-now, a.a-hasgoods-now:hover { background-position: 7px -36px;}
.ssservice{ margin:20px 0 40px;}
/*end index_serservice*/

/*index_service_account*/
.accountbox{ background-color:#fff; margin-top:20px; margin-bottom:40px;}
.user-massage{ width:900px; margin-left:50px; margin-top:40px; margin-bottom:40px;}
.message_tit{ background-color:#eeeeee; height:30px; line-height:30px;}
.message_tit span{ font-size:16px; font-weight:bold; padding-left:10px;}
.ser-massage{ padding:15px 10px 20px;}
.ser-massage p{ line-height:24px;}
.user-massage li{}
.credit-rate{  height: 110px; margin: 20px 100px; position: relative;}
.credit-tiao{ background-color:#f55858; display: block; height: 10px; width: 100%;}
.tips-c{ background-image:url(../images/credit_rate.png); background-position: left center; background-repeat: no-repeat; height: 67px; left: 600px; line-height: 73px; position: absolute;
text-align: center; top: 30px; width: 132px; z-index: 110;}
.orange { color: #f55858;}
/*end index_service_account*/

/*index_shequ*/
.sernav_menu01 { line-height: 70px; float:left; margin-left:50px;}
.sernav_menu-item01 { display: inline-block;}
.sernav_menu-item01 a{ padding:24px 15px; font-size:16px;}
.sernav_menu-item01:hover { background-color: #0099db;}
.sernav_menu-item01 a:hover { color: #fff;}
.serselectnav01{ background-color: #0099db;}
.serselectnav01 a{ color:#fff;}
.sernav_menu-item01:hover .sernav_submenu01 { display: block;}
.communitybanner{ overflow:hidden;}
.combannerbox{ width:800px;}
.list-group{ width:290px; margin:10px 0; height:450px; overflow:hidden;}
.list-group-item { padding:15px; background-color: #fff; border: 1px solid #e5e5e5; display: block; margin-bottom: -1px; position: relative;}
.list-group-item h5 { font-weight:bold; margin: 0 0 5px;}
.home-stick-ul { margin: 0;  padding: 0;}
.home-stick-ul li { background:url(../images/dot.jpg) no-repeat scroll 4px 50%;line-height: 22px; margin-bottom: 5px; overflow: hidden; padding-left: 15px; text-align: left; text-overflow: ellipsis; white-space: nowrap;}
.home-stick-ul li a { color: #666;}
.home-stick-ul li a:hover{ color:#44acdb;}
.gaicommunity{ width:831px; background-color:#fff; border:1px solid #e5e5e5;}
.bianmincom{background-color: #fff; border: 1px solid #e5e5e5; float: right; height: 180px; width: 254px;}
.bannerafter{ overflow:hidden;}
.communitycontain{ padding:18px 20px; overflow:hidden;}
.communitycontain img{ width:170px; height:111px;}
.communitycontain p{ color: #666; height: 111px; line-height: 24px; margin-left: 25px; overflow: hidden; width: 590px;}
.zitextimg01{ height:35px; line-height:35px; border-bottom:1px solid #e5e5e5; padding:0 10px;}
.zitextimg01 strong{ float:left; font-size:16px; margin-left:10px; font-weight:normal;}
.shequxu li{ width:310px; float:left; margin-left:30px;}
.shequxu{ overflow:hidden; padding:10px 20px;}
.userxuqiubox{ background-color: #fff; border: 1px solid #e5e5e5; margin: 10px 0 40px;}
/*end index_shequ*/

/*xuqiudating*/
.jinrequire{ width:843px; border:1px solid #e5e5e5; background-color:#fff;}
.rerequire{ width:242px; border:1px solid #e5e5e5; background-color:#fff;}
.commandbox{ min-height: 690px;  padding: 0 25px 20px;}
.commandbox li{ overflow:hidden; padding:20px 0; border-bottom:1px solid #e5e5e5;}
.commandbox li img{ width:120px; height:120px;}
.commandrg{ width:650px;}
.commandrgh2{ overflow:hidden;}
.commandrgh2 h2 a{ font-size:16px; width:420px; float:left; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.commandrgh2 span{ float:right; color:#999; font-size:12px;}
.uptext{ line-height: 22px; margin-top: 6px; overflow: hidden;}
.uptext p{  color: #999; float: left; height: 42px; overflow: hidden; width: 470px;}
.uptext span{ float:right; color:#999; font-size:12px;}
.chakanbutton{ background-color: #0099db; color: #fff;display: block; font-size: 12px; height: 30px; line-height: 30px;  margin-top: 13px; text-align: center; width: 90px;}
.chakanbutton:hover{ color:#fff; background-color:#44acdb;}
.rightcommand{ padding:10px 10px 0 10px;}
.retexte{ font-size:16px; font-weight:normal; padding-left:10px; padding-top:10px;}
.rightcommand li{ background-color:#f5f5f5; margin-bottom:20px;}
.retextbox p{ font-size:12px; color:#999; margin:7px 0;}
.retextbox p span{ float:right;}
.yiwan{ background-color: #f55858; color: #fff; font-size: 12px; height: 20px; line-height: 20px; text-align: center; width: 50px;}
.retextbox{ padding:10px;}
.retextbox h2{white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.yiwan01{ background-color: #0099db; color: #fff; font-size: 12px; height: 20px; line-height: 20px; text-align: center; width: 50px;}
.accmbox{ padding:25px; min-height:660px;}
.accomplishbox{ overflow:hidden; margin-left:-24px;}
.accomplishbox li{ background-color:#f5f5f5; margin-bottom:20px; margin-left:24px; width:180px; float:left;}
.accomplishbox li img{ width:180px; height:180px;}
.retextbox p{ font-size:12px; color:#999; margin:7px 0;}
.retextbox p span{ float:right;}
.yiwan{ background-color: #f55858; color: #fff; font-size: 12px; height: 20px; line-height: 20px; text-align: center; width: 50px;}
/*end xuqiudating*/

/*index_shequ_text*/
.land-content{ padding:15px 0;}
.land-content a,.land-content span{ font-size:12px; color:#666;}
.land-content a:hover{ color:#0099db;}
.ititleicon{ margin:0 5px;}
.left-con{ width:700px; min-height:500px; padding:40px;background-color: #fff; border: 1px solid #e5e5e5; float: left; margin-bottom: 40px;}
.artTit { margin-bottom: 16px; margin-top: 14px;}
.artTit h1{ color: #333; font-size: 24px; text-align: center;}
.artInfo { border-bottom: 1px dotted #dbdbdb; margin: 0 auto 35px; padding-bottom: 14px; text-align: center; width: 656px;}
.artInfo span { color: #666; font-size: 12px; margin: 0 10px;}
.mainbody{ color:#666;}
.mainbody img { margin-top: 14px; max-width: 700px; text-align: center;}
.right-con{ float:right; width:290px;}
.right-con .hotTopics {  background-color: #fff; border: 1px solid #e5e5e5; height: 484px; margin-bottom: 30px; padding: 20px; position: relative; width: 248px;}
.right-con .hotTopics h3 { background-color: #f5f5f5; color: #666; cursor: pointer; float: left; height: 34px; line-height: 34px; position: relative; text-align: center; width: 124px;}
.right-con .hotTopics h3.top-active{ background-color:#0099db; color:#fff;}
.right-con .hotTopics h3.top-active .bottom-triangle { bottom: -8px; display: block; left: 54px; position: absolute; background-image:url(../images/botar.png);
background-repeat:no-repeat; width:16px; height:8px;}
.J_tophead{ }
.J_topbody{ margin-top:40px;}
.hotTopics ul { margin: 0;  padding: 0;}
.hotTopics ul li { background:url(../images/dot.jpg) no-repeat scroll 4px 50%;overflow: hidden; padding-left: 15px;
 text-align: left; text-overflow: ellipsis; white-space: nowrap; border-bottom: 1px dashed #ededed; height: 40px; line-height: 40px;}
.hotTopics ul li a { color: #666;}
.hotTopics ul li a:hover{ color:#44acdb;}
.sider-ad{ background-color: #fff; height: 200px; margin-bottom: 40px; padding: 5px; width: 280px;}
.sider-ad a img { height: 200px; width: 280px;}
/*end index_shequ_text*/

/*index_shequ_xuqiu*/
.sxtop{ margin-top:20px;}

/*end index_shequ_xuqiu*/

/*index_zixun*/
.oldnewsbox{ width:440px; height:400px; background-color:#fff; padding:0 20px;}
.oldnewstitle{ height:40px; line-height:40px; border-bottom:1px solid #e5e5e5; font-size:16px;}
.linews{ padding:15px 0; border-bottom:1px solid #e5e5e5;}
.newsteli{ overflow:hidden; margin-bottom:10px;}
.newsteli img{ float:left; width:90px; height:60px;}
.newsteli strong{ font-size:16px; height:60px; overflow:hidden; line-height:28px; width:330px; float:right;}
.mabo{ margin-bottom:20px; overflow:hidden;}
.linews p{ color:#666; font-size:12px; line-height:18px; height:35px; overflow:hidden;}
.oldernews{ margin-top:10px;}
.healthbox{ width:680px; padding:0 20px; background-color:#fff;}
.ketangbox{ width:320px; padding:0 20px; background-color:#fff;}
.oldnewstitle span{ float:right;}
.oldnewstitle span a{ font-size:12px;}
.newlaobox{height: 1160px; margin-bottom: 20px; overflow: hidden;}
.newlaobox li{ overflow:hidden; padding:15px 0; border-bottom:1px dashed #e5e5e5;}
.tuolder{ padding:5px; border:1px solid #e5e5e5; float:left;}
.tuolder img{ width:74px; height:74px;}
.oldernewsbox{ float:right; width:580px;}
.oldernewsbox h2{ font-size:16px; margin-bottom:5px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.oldernewsbox p{ color:#666; font-size:12px; height:40px; overflow:hidden; line-height:18px;}
.oldernewsbox span{ color:#999; font-size:12px;}
.mabo1{ margin-bottom:40px; overflow:hidden;}
.listVideo {  height: 750px; margin-bottom: 15px; margin-top: 19px; overflow: hidden;}
.listVideo .pictxt01 { height: 80px; overflow: hidden; padding-bottom: 15px;}
.listVideo .pic {  float: left; height: 80px; position: relative; width: 120px;}
.trans{ width:120px; height:80px;}
.listVideo .pic .video { background-image:url(../images/videoicon.png); background-repeat:no-repeat; display: block; height: 25px;width: 25px; position: absolute; text-decoration: none;
     left: 5px; top: 50px; }
.listVideo .txt { float: right; overflow: hidden; width: 185px;}
.listVideo .txt h2 {font-size: 16px; font-weight: normal; line-height: 24px; max-height: 50px; overflow: hidden;}
.listVideo .txt p { color: #999; font-size: 12px; height: 20px; line-height: 20px; margin-top: 4px;}
.listVideo .txt p span {font-family: Arial;}
/*end index_zixun*/

/*index_newsli*/
.news_oldbox{ background-color:#fff; border:1px solid #e5e5e5; margin-bottom:40px;}
.newsbox{ padding:0 20px;}
.newsbox li{ overflow:hidden; padding:15px 0; border-bottom:1px dashed #e5e5e5;}
.oldernewsbox1{ float:right; width:960px;}
.oldernewsbox1 h2{ font-size:16px; margin-bottom:5px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.oldernewsbox1 p{ color:#666; font-size:12px; height:40px; overflow:hidden; line-height:18px;}
.oldernewsbox1 span{ color:#999; font-size:12px;}

.min_page { clear: both; display: table; margin: 35px auto;}
.min_page a{ border:1px solid #e5e5e5; text-align:center; width:30px; height:30px; line-height:30px; border-radius:3px; color:#737373;}
.min_page a.min_page_biao{ width:80px; height:30px;}
.on_min_page{ background-color:#0099db; color:#fff !important;}
.min_page a:hover{background-color:#ccc; color:#fff !important;}
/*end index_newsli*/

/*index_newsvideo*/



/*end index_newsvideo*/