@charset "utf-8";
/* CSS Document */
.newsbox{ width:1000px; border:1px solid #ccc; background-color:#fff; min-height:500px;}
.newlibox{ width:900px; margin:0 auto 40px;}
.newlibox li{ border-bottom:1px solid #ccc; overflow:hidden; padding-bottom:30px; margin-top:40px;}
.leftnews{ float:left; width:250px; height:100px; overflow:hidden;}
.leftnews img{ width:100%;}
.rigntnews{ float:left; margin-left:20px; width:600px;}
.rigntnews h2{ font-size:16px; color:#333;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; width:500px;}
.rigntnews h2:hover{ text-decoration:underline;}
.rigntnews p{ color: #666; font-size: 12px; height: 44px; line-height: 22px; margin-bottom: 3px; margin-top: 10px;  overflow: hidden;}
.rigntnews span{ font-size:12px; color:#666;}


/*wenzhang*/
.duanbox01{ width:800px; margin:30px auto;}
.duanbox01 h1{ font-size:24px; color:#333; text-align: center;}
.duanbox01 span{ color: #999;  display: block; margin-top:14px; text-align: center;}
.lanxian{ background-color: #ccc;  height: 1px; margin: 10px 0;}
.wenzhangbox{ width:800px; margin:0 auto;}
.wenzhangbox p{ line-height:24px; margin-bottom:10px;}
.wenzhangbox img{ margin:0 auto 15px; display:block;}
.backnews{color: #0099db; font-size: 12px; padding-left: 10px;}
.backnews:hover{ text-decoration:underline;}

.min_page { clear: both; display: table; margin: 35px auto;}
.min_page a{ display:inline-block; border:1px solid #e5e5e5; text-align:center; width:30px; height:30px; line-height:30px; border-radius:3px; color:#737373;}
.min_page a.min_page_biao{ width:80px; height:30px;}
.on_min_page{ background-color:#0099db; color:#fff !important;}
.min_page a:hover{background-color:#ccc; color:#fff !important;}
