﻿* {margin:0;padding:0;font-size:14px;font-family:Microsoft Yahei;}
li {list-style:none;}
fieldset,img {border:none 0;}
.inner{width:1200px;margin:0 auto;overflow:hidden;height:auto}
input{border:none 0; vertical-align:middle}
a{text-decoration:none; color: #666666;}
a:hover{color:#0099db;}
img { border: medium none; vertical-align: middle;}
h1,h2,h3,h4{font-weight:normal;}
span{color:#f55858;}
body { font-family: "Trebuchet MS",Verdana,Arial,sans-serif;background-color:#f2f2f2}
body { color: #333;}
i{font-style:normal;color:#f55858;}
b{font-style:normal;color:#999;}

/* 注册页面 sign in */

#top{height:80px;width:1200px;margin:10px auto;}
.logo{float:left;overflow:hidden}
.signin{width:100%;height:750px;border-top:1px solid #d9d9d9;overflow:hidden;}
.signin-inner{padding:130px;width:500px;height:400px;margin:0 auto;}
.fs-title{color:#00a4e6;font-size:18px;text-align:center;margin:0 0 20px}
.fs-foot {margin:0 auto;;color:#999;width:350px;}
.fs-foot p{float:right}
.fs-foot a {color:#0096db;}
/*inputs*/
.signin-inner input, .signin-inner textarea {
	padding:15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 350px;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 14px;
}
.signin-inner .button{margin:10px 0;float:left;background-color:#00a4e6;border:1px solid #00a4e6;border-radius:5px;color:#FFF;font-size:16px;}
.putin{padding:0 70px}
.putin a{color:#00a4e6}

/* 注册页面2 sign in2 */
.in-email a{font-size:18px;}
/*咨询界面*/
.zixun{width:1200px;margin:auto;}
.zixun ul li{list-style:outside none none;overflow:hidden}
.nleft{width:100px;float:left;padding:20px}
.nright{width:650px;float:left;padding:40px 0 0 160px;}
.nright .title{font-weight:bold;color:#333;font-size:16px;}
.nright p{color:#666;font-size:12px;padding:5px 0;line-height:20px}
.all li{border-top:1px solid #e2e2e2;}
.zixun a:hover{color:#0099db;}
.pc a{font-size:14px}
.page{margin:-80px 300px}
.pc{padding:2px 10px;font-size:14px; color:#454449;margin:5px;border:1px solid #cccccc;outline:medium none; font-family:Microsoft Yahei;box-sizing: border-box;;border-radius: 2px;margin-left: 0;}
.page .moderna{color:#fff;background-color:#0099db;}

/* 提交订单 */
.content_box{width:1190px;margin:0 auto;}
.content-inner{width:1000px;height:1090px;margin:0 auto;background-color:#fff;}
