/*reset*/
.tuanlist{
    margin: 0px 0px; border: 1px dotted #E6E6E6;
}
.category_nav {
    margin:  0px;
    padding: 0px 10px;

    border-image: none;

}

.category_nav dl {
    position: relative;
    padding: 11px 0px 11px 65px;

}
.category_nav dt {
    position: absolute;
    top: 11px;
    left: 0px;
    width: 65px;
    font: bold 12px/18px "Arial";
}

.category_nav dd a {
    display: inline-block;
    padding: 0px 7px;
    margin: 0px 7px;
    color: #333;
    white-space: nowrap;
}

.yershop_tuan{width:100%; overflow:hidden;}

.yershop_tuan ul{width:100%; overflow:hidden;
}
.li{background-color:#FFF;float:left;width:23%;
margin:0 10px 7px 0;height:375px;position: relative;border:3px solid #fff;#FFF;
}
.lihover{background-color:#FFF;float:left;width:23%;
margin:0 10px 7px 0;height:375px;position: relative;border:3px solid #f60;}
.yershop_tuan ul li p {width:100%; text-align:center;overflow:hidden}
.yershop_tuan ul .title{height:20px;padding:5px 0;width:100%; text-align:center;overflow:hidden}
.yershop_tuan ul li img{width:100%;height:279px;}
.yershop_tuan ul li p span{ display:inline-block; line-height:33px;}
.yershop_tuan ul li p .tuan{ height:33px;width:70%;background-color:#fff; color:#f60;
font-weight:bold; text-align:left; text-indent:10px;font-size:15px;  float:left}
.tuan strong{font-size:25px;}
.yershop_tuan ul li p .qiang{ width:28%;height:33px;background-color:#f60;   float:left}
strong.yuan{text-decoration:line-through;font-size:15px;}
.yershop_tuan ul li .qiang a{color:#fff;}
.yershop_tuan ul li  .time{text-indent:1em;text-align:left}
.icon_discount{position: absolute;
top: -5px;
left: 0px;    width: 55px;
    height: 48px;
    background: url('../images/discount_icon.png') no-repeat scroll 0px 0px transparent;
}
.icon_qg{position: absolute;
top: 0px;
right: 0px;    width: 55px;
    height: 48px;
    background: url('../images/tag_xsq.png') no-repeat scroll 0px 0px transparent;
}

/* = uploadify上传插件样式
------------------------------------------ */
.uploadify-button {
	position: relative;
	text-align: center;
	color: #fff;
	cursor: pointer;
	background-color: #27ae60;
}
.uploadify-queue-item {
	position: absolute;
	margin-top: 4px;
	padding: 15px;
	width: 470px;
	border: 1px solid #ccc;
	background-color: #fff;
}
.uploadify-queue-item .cancel {
	float: right;
}
.uploadify-queue-item .cancel a,
.uploadify-queue-item .cancel a:hover {
	font-family: Consolas;
	color: #404040;
	text-decoration: none;
	border-bottom: 0 none;
}
.uploadify-queue-item .fileName {
	color: #2D7200;
}
.uploadify-error {
	background-color: #FDE5DD !important;
}
.uploadify-queue-item.completed {
	background-color: #E5E5E5;
}
.uploadify-progress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.uploadify-progress-bar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}
.upload-img-box {
	margin-top: 4px;
}
.upload-img-box .upload-pre-item {
	padding: 1px;
	width: 120px;
	max-height: 120px;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	border: 1px solid #ccc;
	transition: all .3s linear;
}
.upload-img-box .upload-pre-item img {
	vertical-align: top;
}
.upload-img-box .upload-pre-file {
	padding: 0 10px;
	width: 380px;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border: 1px dashed #ccc;
	background-color: #fff;
}
/* 上传图片点击弹出层 */
.upload-img-popup {
	position: fixed;
	z-index: 9999;
	padding: 3px;
	border: 1px solid #c3c3c3;
	background-color: #fff;
	box-shadow: 0 0 4px rgba(0,0,0,.5);
}
.upload-img-popup .close-pop {
	position: absolute;
	top: -8px;
	right: -8px;
	width: 17px;
	height: 17px;
	background: url(../images/bg_icon.png) no-repeat -25px 0;
}
.upload-img-popup .close-pop:hover {
	text-decoration: none;
	border-bottom: 0 none;
}
.upload-img-popup img {
	display: block;
}
.upload_icon_all {
	width: 15px;
	height: 15px;
	background: url(../images/attachment_1.png);
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px
}
.btn-close{
    position: absolute;
    top: -8px;
    right: -8px;
    width: 17px;
    height: 17px;
    background: url('../images/bg_icon.png') no-repeat -25px 0;
    cursor: pointer;
}

.btn-close:hover {
    text-decoration: none;
    border-bottom: 0 none;
}

.upload-img-box .upload-pre-item{
    position: relative;
    margin-top: 8px;
    overflow: visible;
    float: left;
    margin-right: 8px;
}
.upload-pre-item img{
    max-height: 120px;
}
.controls{clear:both;margin:10px 0;}
.submit-btn {
color: #fff;
background-color: #CC3900;padding: 10px 50px;
color: #fff;
font-weight: bold;
border-color: transparent;
}
img{vertical-align:top;}
.brand-list{overflow:hidden;margin:5px 0;border-bottom:1px dashed #ccc}
.brand-list li{float:left;padding: 5px 11px;display: inline-block;}
.brand-list li a{padding:5px;}
.brand-list .active a{background-color:red;color:#ffffff;}


