<extend name="Public/base"/>
<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
		<script type="text/javascript" src="__STATIC__/UploadImages.js"></script>
	<div class="main-title">
		<h2>新增{:get_status_title_bymodel($status,'change')}换货商品</h2>
	</div>
	<div class="tab-wrap">
		<ul class="tab-nav nav">
			<li data-tab="tab1" class="current"><a href="javascript:void(0);">基 础</a></li>
			<li data-tab="tab2"><a href="javascript:void(0);">高 级</a></li>
		</ul>
		<div class="tab-content">
			<form action="{:U()}" method="post" class="form-horizontal">
				<!-- 基础 -->
				<div id="tab1" class="tab-pane in tab1">
					<div class="form-item">
						<label class="item-label">换货商品订单列表id
							<span class="check-tips">（shoplist表id）</span>
						</label>
						<div class="controls">
							<input type="text" class="text input-large"  name="shopid"  value="{$info.shopid}">
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">换货商品id<span class="check-tips">（商品id）</span></label>
						<div class="controls">
							<input type="text" class="text input-large"  name="goodid"  value="{$info.goodid}">
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">标题<span class="check-tips">（换货表单—标题）</span></label>
						<div class="controls">
							<input type="text" class="text input-large" name="title" value="{$info.title}">
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">原因<span class="check-tips">（换货表单—原因）</span> </label>
						<div class="controls">
							<label class="textarea input-large">
								<textarea name="reson">{$info.reason}</textarea>
							</label>
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">数量<span class="check-tips">（指定换货商品）</span></label>
						<div class="controls">
							<input type="text" class="text input-large" name="num" value="{$info.num}">
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">金额<span class="check-tips">（指定换货商品总金额）</span></label>
						<div class="controls">
							<input type="text" class="text input-large" name="total" value="{$info.total}">
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">状态<span class="check-tips"></span></label>
						<div class="controls">
							<input type="text"  class="text input-large" name="status" value="{:I('status')}">
						</div>
					</div>
				</div>

				<!-- 高级 -->
				<div id="tab2" class="tab-pane tab2"></div>
				<!-- 高级 -->
				<div id="tab2" class="tab-pane tab2">
					<div class="form-item">
						<label class="item-label">买家发货快递名称<span class="check-tips"></label>
						<div class="controls">
							<input type="text" class="text input-large" name="tool" value="{$info.tool}" >
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">买家发货快递单号<span class="check-tips"></label>
						<div class="controls">
							<input type="text" class="text input-large" name="toolid" value="{$info.toolid}" >
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">卖家收货地址<span class="check-tips"></label>
						<div class="controls">
							<input type="text" class="text input-large" name="address" value="{$info.address}" >
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">卖家收货联系人<span class="check-tips"></label>
						<div class="controls">
							<input type="text" class="text input-large" name="backname" value="{$info.backname}" >
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">卖家收货联系方式<span class="check-tips"></label>
						<div class="controls">
							<input type="text" class="text input-large" name="contact" value="{$info.contact}" >
						</div>
					</div>
					<div class="form-item">
						<input type="hidden" name="id" value="{$info.id|default=''}">
						<input type="hidden" name="pid" value="{:isset($category['id'])?$category['id']:$info['pid']}">
						<button type="submit" id="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
						<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</block>

<block name="script">
	<script type="text/javascript">
		<present name="info.id">
		Think.setValue("allow_publish", {$info.allow_publish|default=1});
		Think.setValue("check", {$info.check|default=0});
		Think.setValue("model[]", {$info.model|json_encode} || [1]);
		Think.setValue("model_sub[]", {$info.model_sub|json_encode} || [1]);
		Think.setValue("type[]", {$info.type|json_encode} || [2]);
		Think.setValue("display", {$info.display|default=1});
		Think.setValue("reply", {$info.reply|default=0});
		Think.setValue("reply_model[]", {$info.reply_model|json_encode} || [1]);
		</present>
		$(function(){
			showTab();
			$("input[name=reply]").change(function(){
				var $reply = $(".form-item.reply");
				parseInt(this.value) ? $reply.show() : $reply.hide();
			}).filter(":checked").change();
		});
		//导航高亮
		highlight_subnav('{:U('UserCenter/index')}');
	</script>
</block>
