<extend name="Base/s1-1"/>
<block name="body">

<link href="__CSS__/detail.css" rel="stylesheet">
<script type="text/javascript" src="__JS__/tabqh.js"></script>  <!-- 详情 规格等切换 -->
<script type="text/javascript" src="__JS__/jquery_002.js"></script>  <!-- 商品数量 -->

<div class="type-middle">
    <div class="order-head">
        <a rel="nofollow" href="{:C('DOMAIN')}">首页</a> &gt; {$info.category_id|get_location_name} &gt; <a class="red fwb"href="{:U('Article/detail?id='.$info['id'])}">{$info.title}</a>
    </div>
    <div class="pro-type">
        <div class="type-banner">
            <div class="typebanner-left" >
                <div class="jqzoom" id="spec-n1" style="width:500px;height:300px;line-height:300px;">
                    <php> if(!empty($info['pics'])){ $pics= explode(',',$info['pics']);}else{ $pics="";}</php>
            <img src="<if condition="$pics[0]">__ROOT__{$pics[0]|get_cover='path'}<else />__IMG__/nopic_500x300.jpg</if>"  width="500" height="300" style="line-height:300px;float:left">
            <img src="__IMG__/prev.png" width="20" style="margin: 150px -500px;position: absolute; "/>
            <img src="__IMG__/next.png" width="20"  style="margin: 150px -20px;position: absolute; " />
                </div>
                <div id="spec-list">
                    <ul>
                      <notempty name="pics">
                        <volist name="pics" id="v">
                          <li><img src="__ROOT__{$v|get_cover='path'}" data-id="{$v}" style="border:1px solid #f55858;"></li>
                        </volist>
                      </notempty>
                    </ul>
                </div>
            </div>

            <div class="typebanner-right">
                <ul>
                    <li style="font-size: 30px;">{$info.title}</li>
                    <li>购买即送:<i>价值68元贴芯点服务两个月</i></li>
                    <li style="font-size: 18px;color:#666;">{$info.description}</li>
                    <li style="font-size: 12px;color:#999;">
                        <notempty name="info['parameters_value']">
                            <php>
                                if(!empty($info['parameters_value'])){
                                    $datalist= explode('、',$info['parameters_value']);
                                    $count = count($datalist);
                                }else{
                                    $datalist="";
                                }
                            </php>
                            <notempty name="datalist">
                                <volist name="datalist" id="v"  key="k">
                                    {$v} <if condition="$count neq $k">|</if>&nbsp;
                                </volist>
                            </notempty>
                        </notempty>
                    </li>
                    <li style="font-size: 30px;color:#f55858;">
                        ￥<em style="font-size:24px;font-style:normal;" class="price" id="resetprice">{$info.price}</em>
                    </li>
                    <br/>
        <?php foreach ($prop['spe'] as $pk => $p):?>
        <if condition="$p['attr_type']==1">
            <li class="type-choose"> <b>{$p.name}</b>
                <volist name="p['values']" id="v">
                <input style="display:none" type="radio" name="spec_{$pk}" value="{$v.id}" id="spec_value_{$v.id}" <if condition="$i==1">checked</if> />
                <label for="nba" <if condition="$i==1">class="checked"</if>>{$v.label}</label>
            </volist>
            </li>
        <else />
            <li class="type-choose"> <b>{$p.name}</b>
                <volist name="p['values']" id="v">
                <input style="display:none" type="checkbox" name="spec_{$pk}" value="{$v.id}" id="spec_value_{$v.id}" />
                <label for="nba">{$v.label}</label>
            </volist>
            </li>
        </if>
        <?php endforeach;?>
<li>
                        <form action="{:U("order/add")}" name="orderform" id="orform" method="post" onsubmit="return trySubmit()">
                            <input type="hidden" name="id[]" value="{$info.id}"/>
                            <input type="hidden" name="price[]" id="inputprice" value="{$info.price}"/>
                            <input type="hidden" name="parameters[]" id="inputparameters" value="{$info.shorttitle}"/>
                            <span style="float:left;padding:20px 5px;"><b>数量</b></span>
                            <input class="text_box"  name="num" type="text" value="1"  style="float:left"/>
                            <input class="add" name="numup" type="button" value=""  style="background:url(__IMG__/number_03.jpg) no-repeat; width:20px;height:14px;padding:2px;float:left"/>
                                  <br>
                            <input class="min" name="numdown" type="button" value="" style="background:url(__IMG__/number_06.jpg) no-repeat; width:20px;height:14px;padding:5px;margin-left:-30px;" />
                        </form>
                    </li>

                    <li class="type-buy">
                        <a rel="nofollow" href="javascript:void(0)"  onclick='order({$info.id});return false;' class="dginfo_btn"><i>立即购买</i></a>
                        <a rel="nofollow" href="javascript:void(0)" onclick='buy({$info.id});return false;' class="dginfo_btn"  style="border:1px solid #ccc;background-color:#ccc;color:#fff;">加入购物车</a>
                    </li>
                    <!--组合套餐-->
          <li class="set-meal">
            <button type="button" class="btn btn-primary" data-toggle="collapse"
   data-target="#demo"> </button>
            <button type="button" class="btn btn-default"  data-toggle="collapse" style="border:none;"
   data-target="#demo"><b>查看推荐购买</b> </button>
          </li>
                    </ul>
            </div>
        </div>
         <!-- 购物车计算浮动层 begin -->
        <div id="showIncludeCart" style="display:none;z-index:100;">
            <div class="buy_icon"></div>
            <a class="buy_pop_close" onclick="jQuery('#showIncludeCart').hide();" title="关闭">关闭</a>
            <div class="buy_pop_top">
                <div class="title">此商品已成功放入购物车</div>
                <div class="font">
                    购物车共 <font id="totalnum" class="red"></font> 件宝贝
                    <span>合计 <font class="red" id="fee"></font></span>
                </div>
                <div class="btn_continue">
                    <div class="pop_btn_r" >
                        <a onclick="jQuery('#showIncludeCart').hide();return false;" href="javascript:vod(0);">继续购物</a>
                    </div>
                    <div class="btn_cart">
                        <a href="{:U('shopcart/index')}">去购物车结算</a>
                    </div>
                </div>
            </div>
        </div>
      <!-- 购物车计算浮动层 over -->

<script type=text/javascript>
    $(function(){
        $("#spec-list img").bind("mouseover",function(){
            var src=$(this).attr("src");
            $("#spec-n1 img").eq(0).attr({
                src:src.replace("\/n5\/","\/n1\/"),
                jqimg:src.replace("\/n5\/","\/n0\/")
            });
            $(this).css({
                "border":"2px solid #ff6600",
                "padding":"1px"
            });
        }).bind("mouseout",function(){
            $(this).css({
                "border":"1px solid #ccc",
                "padding":"2px"
            });
        });

        $(".add").click(function(){
            var t=$(this).parent().find('input[class*=text_box]');
            t.val(parseInt(t.val())+1);
            setTotal();
        })

        $(".min").click(function(){
            var t=$(this).parent().find('input[class*=text_box]');
            t.val(parseInt(t.val())-1);
            if(parseInt(t.val())<1){
                t.val(1);
            }
            setTotal();
        })

        function setTotal(){
            var s=0;
            $("#tab td").each(function(){
                s+=parseInt($(this).find('input[class*=text_box]').val())*parseFloat($(this).find('span[class*=price]').text());
            });
            $("#total").html(s.toFixed(2));
        }
        setTotal();
    })
</script>
<!-- 推荐组合 start -->
<div id="demo" class="collapse fade">
  <div class="set-meal-nav container">推荐组合</div>
  <div class="zuhe" style="height:250px;background-color:#fff;">
    <div class="zuhe-left">
    <form action="{:U("order/add")}" name="fiveform" method="post" onsubmit="return trySubmit()">
      <ul>
       <php>
             if(!empty($info['unionid'])){ $unionid= explode('、',$info['unionid']);}else{ $unionid=""; }
         </php>
      <notempty name="unionid">

        <volist name="unionid" id="v" limit="4"  key="k" >
        <li>
            <a target="_blank" href="{:U('Article/goods?id='.$v)}" title="{$v|get_good_name}" class="pic" name="o_map_">
                <img src="{$v|get_cover_id|get_cover='path'}" data-id="{$v}" width="100" height="100" alt="{$v|get_good_name}">
            </a>
            <p>
                <a class="name" target="_blank" href="{:U('Article/goods?id='.$v)}" title="{$v|get_good_name}" name="__Package_name_b2c">
                    {$v|get_good_name}
                </a>
            </p>
            <input type="hidden" name="price[]"  value="{$v|get_good_price}"/>
            <input type="hidden" name="sort[]"  value="{$v}"/>
            <input type="hidden"  class="goodnum"   name="num[]" value="1"/>
            <input class="ids row-selected" type="checkbox" name="id[]" value="{$v}" data-price="{$v|get_good_price}">
            <i>￥{$v|get_good_price}</i>
        </li>
        <if condition="count($unionid) neq $k">
           <li> <b>+</b> </li>
        </else>
        </if>
      </volist>
      </notempty>
      </ul>
      </form>
    </div>
    <div class="zuhe-right">
      <ul>
        <li><b style="font-size:14px">已选择<span class="goods-num">0</span>个商品</b></li>
        <li>组合价:&nbsp;&nbsp;&nbsp;<i>￥<span class="goods-prices">0</span></i></li>
        <li>
          <a id="buytogether_btn" href="javascript:void(0);" class="btn btn_pd " onclick="buyFive();return false;" ><input type="button" name="buy" value="购买组合"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<script>
    //选择推荐组合动态改变价格
    $('.row-selected').click(function(){
        var goods_num = 0;
        var goods_prices = 0;
        $.each($('.row-selected'),function(i,n){
            if(n.checked==true){
                goods_num++;
                goods_prices+=parseFloat($(n).attr('data-price'));
            }
        })
        $('.goods-num').html(goods_num);
        $('.goods-prices').html(goods_prices);
    })


    // 购买组合
    function buyFive(){
        var uexist="{:get_username()}";
        if(uexist){
            document.fiveform.submit();
        }else{
            alert('用户未登录！');
        }
    }
</script>
        <!-- 推荐组合 end -->

        <div class="typeinner">
            <div class="typeinner-nav">
                <ul>
                    <li class="tabfirstli"><a href="javascript:void(0);" onclick="showThis(1,'divNumber','tabcontent','tablink');" class="tabactive" id="tablink1">详情描述</a></li>
                    <li><a href="javascript:void(0);" onclick="showThis(2,'divNumber','tabcontent','tablink');" id="tablink2">规格参数</a></li>
                    <li><a href="javascript:void(0);" onclick="showThis(3,'divNumber','tabcontent','tablink');" id="tablink3">评价晒单</a></li>
                </ul>
            </div>
            <div class="tabdiv imgdiv_evaluation" id="tabcontent1" name="divNumber">
                <div class="detail-inner">
                    <ul>
                        <li>{$info.content}</li>
                    </ul>
                </div>
            </div>
            <!--  规格参数 start -->
            <div  class="tabdiv specdiv hiddendiv" id="tabcontent2" name="divNumber">
                <ul>
                    <li class="img_spec">
                       <img src="{$info.cover_id|get_cover='path'}">
                    </li>
                    <ul>
                        <volist name="prop['pro']['default']" id="p">
                            <li title="{$p.name}">{$p.name}: {$p.value} </li>
                        </volist>
                    </ul>
            </div>
            <!--  规格参数 end -->
            <!--  评价晒单 start -->
            <div class="tabdiv assessdiv hiddendiv" id="tabcontent3" name="divNumber">
                <div class="nav-left" style="margin:10px 50px;;">
                    <ul>
                        <li><i  style="font-size:36px;">{$ratescore|default='100'}%</i></li>
                        <li>&nbsp;&nbsp;&nbsp;好评度</li>
                    </ul>
                    <div class="percent">
                        <dl>
                            <dt>好评<span>({$ratescore}%)</span></dt>
                            <dd><div style="width: {$ratescore}px;"></div></dd>
                        </dl>
                        <dl>
                            <dt>中评<span>({$middlescore}%)</span></dt>
                            <dd class="d1"><div style="width: {$middlescore}px;"> </div></dd>
                        </dl>
                        <dl>
                            <dt>差评<span>({$worsescore}%)</span></dt>
                            <dd class="d1"><div style="width: {$worsescore}px;"> </div></dd>
                        </dl>
                    </div>
                </div>
                <div class="nav-right">
                    买家印象:
                    <ul>
                        <li>服务好({$countGoods})</li>
                        <li>质量好({$countService})</li>
                        <li>物流快({$countDelivery})</li>
                    </ul>
                </div>
<div class="pingjia-nav">
<ul id="myTab" class="nav nav-tabs" style="float:none; margin-top:0px;" >
<li class="active"><a href="#allping" data-toggle="tab">全部评价({$count|default="0"})</a></li>
<li><a href="#haoping" data-toggle="tab">好评({$countbetter|default="0"})</a></li>
<li><a href="#zhongping" data-toggle="tab">中评({$countmiddle|default="0"})</a></li>
<li><a href="#chaping" data-toggle="tab">差评({$countworse|default="0"})</a></li>
</ul>
<input type="hidden" name="aid"  value="{$info.id}" />
</div>
<!--所有评价-->

          <div id="myTabContent" class="tab-content">
            <!--商品评价-->
            <div class="tab-pane fade in active" id="allping">
              <!--一个评价-->
              <div class="pingjia-first">
                <ul class="first-left pull-left">
                  <li><img src="./Public/Home/images/touxiang_03.jpg" /></li>
                  <br />
                  <li>l***d(匿名)</li>
                </ul>
                <ul  class="first-right"  >
                  <li style="float:right"><b>2016-4-27&nbsp;&nbsp;11:42</b></li>
                  <li>质高价优，的确是这样的，一如既往，让我，怎么能拒绝</li>
                  <!--图片变大-->
                  <li>
                    <div class="panel-group" id="accordion"> <a data-toggle="collapse" data-parent="#accordion"
          href="#collapseOne"> <img src="Uploads/Picture/2016-05-19/573d6b3a20903.jpg" width="50"/> </a> <a data-toggle="collapse" data-parent="#accordion"
          href="#collapseTwo"> <img src="Uploads/Picture/2016-05-19/573d6b3a20903.jpg" width="50"/> </a>
                      <div id="collapseOne" class="panel-collapse collapse" style="border:0;"> <img src="Uploads/Picture/2016-05-19/573d6b3a20903.jpg" width="270" /> </div>
                      <div id="collapseTwo" class="panel-collapse collapse" style="border:0;"> <img src="Uploads/Picture/2016-05-19/573d6b3a20903.jpg" width="270" /> </div>
                    </div>
                  </li>
                  <!--图片变大 END-->

                  <li>
                    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#huifu" style="border:0;padding:0px;" > <b>回复(0)</b></button>
                    <div id="huifu" class="collapse" style="width:1030px;background-color:#fafafa;"> <img src="Public/Home/images/huifu_07.jpg"  style="margin: -14px 15px;position: absolute;border:0;" />
                      <form role="form" >
                        <div class="" style="padding-bottom:40px;">
                          <input type="text" class="form-control huifu-inner" id="name"
         placeholder="回复1***(匿名):">
                        </div>
                        <button type="submit" class="btn btn-default" style="background-color:#e6e6e6;border:0;padding:5px 30px;float:right;margin: -45px 20px;">提交回复</button>
                      </form>
                    </div>
                  </li>
                </ul>
              </div>
              <!--一个评价END-->
              <!--一个评价-->
              <div class="pingjia-first">
                <ul class="first-left pull-left">
                  <li><img src="./Public/Home/images/touxiang_03.jpg" /></li>
                  <br />
                  <li>l***d(匿名)</li>
                </ul>
                <ul  class="first-right"  >
                  <li style="float:right"><b>2016-4-27&nbsp;&nbsp;11:42</b></li>
                  <li>质高价优，的确是这样的，一如既往，让我，怎么能拒绝</li>
                  <!--图片变大-->
                  <li>
                    <div class="panel-group" id="accordion"> <a data-toggle="collapse" data-parent="#accordion"
          href="#collapse12"> <img src="Uploads/Picture/2016-05-19/573d6b3a20903.jpg" width="50"/> </a> <a data-toggle="collapse" data-parent="#accordion"
          href="#collapse13"> <img src="Uploads/Picture/2016-05-19/573d6b3a20903.jpg" width="50"/> </a>
                      <div id="collapse12" class="panel-collapse collapse" style="border:0;"> <img src="Uploads/Picture/2016-05-19/573d6b3a20903.jpg" width="270" /> </div>
                      <div id="collapse13" class="panel-collapse collapse" style="border:0;"> <img src="Uploads/Picture/2016-05-19/573d6b3a20903.jpg" width="270" /> </div>
                    </div>
                  </li>
                  <!--图片变大 END-->

                  <li>
                    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#huifu12" style="border:0;padding:0px;" > <b>回复(0)</b></button>
                    <div id="huifu12" class="collapse" style="width:1030px;background-color:#fafafa;"> <img src="Public/Home/images/huifu_07.jpg"  style="margin: -14px 15px;position: absolute;border:0;" />
                      <form role="form" >
                        <div class="" style="padding-bottom:40px;">
                          <input type="text" class="form-control huifu-inner" id="name"
         placeholder="回复1***(匿名):">
                        </div>
                        <button type="submit" class="btn btn-default" style="background-color:#e6e6e6;border:0;padding:5px 30px;float:right;margin: -45px 20px;">提交回复</button>
                      </form>
                    </div>
                  </li>
                </ul>
              </div>
              <!--一个评价END-->

            </div>
            ​
            <div class="tab-pane fade" id="haoping">

              <!--一个评价-->
              <div class="pingjia-first">
                <ul class="first-left pull-left">
                  <li><img src="./Public/Home/images/touxiang_03.jpg" /></li>
                  <br />
                  <li>l***d(匿名)</li>
                </ul>
                <ul  class="first-right"  >
                  <li style="float:right"><b>2016-4-27&nbsp;&nbsp;11:42</b></li>
                  <li>质高价优，的确是这样的，一如既往，让我，怎么能拒绝</li>
                  <!--图片变大-->
                  <li>
                    <div class="panel-group" id="accordion"> <a data-toggle="collapse" data-parent="#accordion"
          href="#collapse21"> <img src="Uploads/Picture/2016-05-19/573d6b3a20903.jpg" width="50"/> </a> <a data-toggle="collapse" data-parent="#accordion"
          href="#collapse22"> <img src="Uploads/Picture/2016-05-19/573d6b3a20903.jpg" width="50"/> </a>
                      <div id="collapse21" class="panel-collapse collapse" style="border:0;"> <img src="Uploads/Picture/2016-05-19/573d6b3a20903.jpg" width="270" /> </div>
                      <div id="collapse22" class="panel-collapse collapse" style="border:0;"> <img src="Uploads/Picture/2016-05-19/573d6b3a20903.jpg" width="270" /> </div>
                    </div>
                  </li>
                  <!--图片变大 END-->

                  <li>
                    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#huifu21" style="border:0;padding:0px;" > <b>回复(0)</b></button>
                    <div id="huifu21" class="collapse" style="width:1030px;background-color:#fafafa;"> <img src="Public/Home/images/huifu_07.jpg"  style="margin: -14px 15px;position: absolute;border:0;" />
                      <form role="form" >
                        <div class="" style="padding-bottom:40px;">
                          <input type="text" class="form-control huifu-inner" id="name"
         placeholder="回复1***(匿名):">
                        </div>
                        <button type="submit" class="btn btn-default" style="background-color:#e6e6e6;border:0;padding:5px 30px;float:right;margin: -45px 20px;">提交回复</button>
                      </form>
                    </div>
                  </li>
                </ul>
              </div>
              <!--一个评价END-->

            </div>
            <div class="tab-pane fade" id="zhongping"> 没有中评哦 </div>
            <div  class="tab-pane navbar fade" id="chaping"> 没有差评哦 </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    function countComment(){
        var id = $('input:hidden[name="aid"]').val();
        $.post('{:U("article/countComment")}',{id:id},function(data){
            $('#count-replace').html(data.msg);
        },'json');
    }

    function betterComment(){
        var id = $('input:hidden[name="aid"]').val();
        $.post('{:U("article/betterComment")}',{id:id},function(data){
            $('#count-replace').html(data.msg);
        },'json');
    }

    function middleComment(){
        var id = $('input:hidden[name="aid"]').val();
        $.post('{:U("article/middleComment")}',{id:id},function(data){
            $('#count-replace').html(data.msg);
        },'json');
    }

    function worseComment(){
        var id = $('input:hidden[name="aid"]').val();
        $.post('{:U("article/worseComment")}',{id:id},function(data){
            $('#count-replace').html(data.msg);
        },'json');
    }

    function page_click(page){
        var id = $('input:hidden[name="aid"]').val();
        var score = $('input:hidden[name="score"]').val();
        $.post('{:U('article/ajaxPage')}',{score:score,p:page,id:id},function(data){
            $('#count-replace').html(data.msg);
        },'json');
    }

    //立即购买
    function order(i){
        var uexist="{:get_username()}";
        if(uexist){
            var gprice=$("em.price").eq(0).text();//价格
            var goods_num = $('.text_box').val();//数量
            var guige = $("#inputparameters").val();
            document.orderform.submit();
        }else{
            alert('用户未登录！');
        }
    }

    //加入购物车
    function buy(i){
        var gid=i;
        var url='{:U("Shopcart/addItem")}';//地址
        var gnum=$('.text_box').val();//数量
        var gprice=$(".price").eq(0).text();//价格
        var src=$(".img img").attr("src");//图片
        var image='<img src="'+src+'"width="40" height="40">';
        var href='<a  href="{:U('Article/goods?id='.$info['id'])}">';
        var title=$("#tit").text();//名称
        var parameters=$("#inputparameters").val();//参数
        if($(".weight").length>0){
            var s=$(".weight .cur").index()+1;
            var string=String(gid)+String(s);
        }else{
            var string=String(gid);}

            $.ajax({
                  type:'post',
                  url:'{:U("Shopcart/addItem")}',
                  data:{id:gid,num:gnum,price:gprice,i:parameters,sort:string},
                  dataType: "json",
                  success:function(data){
                        var html='<li><dl><dt class="mini-img">'+href+image+'</a><dd><span class="mini_title">'+href+title+'</a></span><span class="mini-cart-count red"> ￥'
                        + gprice+'<em class="'+string+'">*'+gnum+'</em></span>'+'</dd><dd><span class="mini-cart-info">'+parameters+'</span><span class="mini-cart-del"><a name="'+string+'" rel="del"  onclick="delcommon(event);return false;">删除</a></span></dd>'+'</dl></li>';
                          if(data.exsit=="1"){
                              $("em."+string).text("*"+data.num);
                          }else{
                              //后台返回数据，判断购物车中是否已存在，不存在，追加节点
                              $("p.sc_goods_none").remove();//移除节点
                              $("ul.sc_goods_ul").append(html);//追加节点
                          }
                          if(data.num=="0"){ //判断数量是否为0，为0则隐藏底部查看工具
                              $("div.sc_goods_foot").hide();
                          }else{
                              $("div.sc_goods_foot").show();
                          }
                          $('#totalnum').text(data.sum);
                          $('#fee').text(data.fee);
                          $('#showIncludeCart').fadeIn();
                  },
                  error:function (XMLHttpRequest, ajaxOptions, thrownError) {
                      alert(XMLHttpRequest+thrownError);
                  }
            })
        }
</script>
</block>