<extend name="Public:base"/>
<block name="content">
	        <div class="myorder-right">
                <form action='{:U("order/del")}' method="post" name="delform" >
                    <table cellspacing="0" cellpadding="0" class="center_myorder">
                        <tbody>
                            <tr>
                                <th>商品名称</th>
                                <th>售价</th>
                                <th>数量</th>
                                <th>商品操作</th>
                                <th>总金额(元)</th>
                                <th>交易状态</th>
                                <th width="15%">操作</th>
                            </tr>

                        <notempty name="list">
                            <volist name="list" id="po">
                                <tr class="haotr">
                                    <th colspan="8">
                                        <div class="haotrtxt">
                                            订单号：{$po.orderid}
                                            <span>下单时间：{$po.create_time|date='Y-m-d H:i:s',###}</span>
                                        </div>
                                    </th>
                                </tr>
                          <foreach name="po['id']" item="vo" key="k" >
                            <if condition="$k eq 0">
                               <tr>
                                    <td>
                                        <a href="{:U('Article/detail?id='.$vo['goodid'])}" target="_blank">
                                            <img src="{$vo.goodid|get_cover_id|get_cover='path'}">
                                            <h4>{$vo.goodid|get_good_name}<br/> {$vo.parameters}</h4>
                                        </a>
                                    </td>
                                    <td class="price">￥{$vo.price}</td>
                                    <td>{$vo.num}</td>
                                    <td>

    <php>
        if($vo['status']==1||$vo['status']==2){echo "无";};

        if($vo['status']==3){
            echo "<a  href='index.php?s=/Home/back/index/id/".$vo['id']."'>退货</a>&nbsp;/" . "<a  href='index.php?s=/Home/Exchange/index/id/".$vo['id']."'>换货</a>";};

         if($vo['status']==4){echo "<a  href='index.php?s=/Home/back/detail/id/".$vo['id']."'>退货审核中</a>&nbsp;";};
        if($vo['status']==5){echo "<a  href='index.php?s=/Home/back/detail/id/".$vo['id']."'>同意退货</a>&nbsp;";};
    if($vo['status']==6){echo "<a  href='index.php?s=/Home/back/detail/id/".$vo['id']."'>退货中</a>&nbsp;";};
      if($vo['status']==7){echo "<a  href='index.php?s=/Home/back/detail/id/".$vo['id']."'>退货被拒绝</a>&nbsp;";};
     if($vo['status']==8){echo "<a  href='index.php?s=/Home/back/detail/id/".$vo['id']."'>退货完成</a>&nbsp;";};

     if($vo['status']==-4){echo "<a  href='index.php?s=/Home/Exchange/detail/id/".$vo['id']."'>换货审核中</a>&nbsp;";};
    if($vo['status']==-5){echo "<a  href='index.php?s=/Home/Exchange/detail/id/".$vo['id']."'>同意换货</a>&nbsp;";};
        if($vo['status']==-6){echo "<a  href='index.php?s=/Home/Exchange/detail/id/".$vo['id']."'>换货中</a>&nbsp;";};
      if($vo['status']==-7){echo "<a  href='index.php?s=/Home/Exchange/detail/id/".$vo['id']."'>换货被拒绝</a>&nbsp;";};
     if($vo['status']==-8){echo "<a  href='index.php?s=/Home/Exchange/detail/id/".$vo['id']."'>换货完成</a>&nbsp;";};

        if($vo['iscomment']==1){
            echo "<br/><a  href='index.php?s=/Home/comment/index/id/".$vo['id']."'>评价商品</a>";};
        if($vo['iscomment']==2){
            echo "<br/><a  href='index.php?s=/Home/comment/index/id/".$vo['id']."'>已评价</a>";};
    </php>

                                    </td>

                                    <td class="price" rowspan="{$po.id|count}">￥{$po.total_money} <br/> (运费￥{$po.ship_price})</td>
                                    <td rowspan="{$po.id|count}">
                                        <php>
                                              $status=$po['status'];
                                              if($status==13){ echo "待支付";};
                                              if($status==1){ echo "待发货";};
                                               if($status==2){ echo "已发货";};
                                               if($status==3){ echo "交易成功";};
                                                if($status==4){ echo "申请取消订单";};
                                                if($status==5){ echo "取消订单被拒绝";};
                                               if($status==6){ echo "订单已取消";};
                                        </php>
                                        <a class="qra" href="{:U('order/detail?id='.$po['orderid'])}" target="_blank">订单详情</a>
                                    </td>
                                    <td rowspan="{$po.id|count}">
                                        <div class="affirm">
                                            <php>
                                              $status=$po['status'];
                                               if($status==2){
                                                    echo " <div class='affirm-turn'> <a class='confirm' href='index.php?s=/Home/order/complete/id/".$po['orderid']."'>确认收货</a> </div> ";
                                               };
                                              $pay=$po['ispay'];
                                              if($pay==1&&$po['status']==-1){
                                                    echo "<div class='affirm-turn'> <a class='confirm' href='index.php?s=/Home/Pay/index/orderid/".$po['orderid']."'>前去支付</a> </div> " . " <p> <a href='index.php?s=/Home/cancel/index/id/".$po['orderid']."'>取消订单</a> <p> " ;
                                              };
                                              if($pay==-1&&$po['status']==1 ){
                                                    echo " <p>  <a href='index.php?s=/Home/cancel/index/id/".$po['orderid']."'>取消订单</a> <p> ";
                                              };
                                              if($po['status']==2){
                                                    echo " <p> <a class='red' href='index.php?s=/Home/order/detail/id/".$po['orderid']."'>查看物流</a> <p> ";
                                              }
                                            </php>

                                        </div>
                                    </td>
                                </tr>
                            <else />
                                <tr>
                                    <td>
                                        <a href="{:U('Article/detail?id='.$vo['goodid'])}" target="_blank">
                                            <img src="{$vo.goodid|get_cover_id|get_cover='path'}">
                                            <h4>{$vo.goodid|get_good_name}<br/> {$vo.parameters}</h4>
                                        </a>
                                    </td>
                                    <td class="price">￥{$vo.price}</td>
                                    <td>{$vo.num}</td>

                                    <td>
     <php>
        if($vo['status']==1||$vo['status']==2){echo "无";};
        if($vo['status']==3){
            echo "<a  href='index.php?s=/Home/back/index/id/".$vo['id']."'>退货</a>&nbsp;/" . "<a  href='index.php?s=/Home/Exchange/index/id/".$vo['id']."'>换货</a>";};

         if($vo['status']==4){echo "<a  href='index.php?s=/Home/back/detail/id/".$vo['id']."'>退货审核中</a>&nbsp;";};
        if($vo['status']==5){echo "<a  href='index.php?s=/Home/back/detail/id/".$vo['id']."'>同意退货</a>&nbsp;";};
    if($vo['status']==6){echo "<a  href='index.php?s=/Home/back/detail/id/".$vo['id']."'>退货中</a>&nbsp;";};
      if($vo['status']==7){echo "<a  href='index.php?s=/Home/back/detail/id/".$vo['id']."'>退货被拒绝</a>&nbsp;";};
     if($vo['status']==8){echo "<a  href='index.php?s=/Home/back/detail/id/".$vo['id']."'>退货完成</a>&nbsp;";};

     if($vo['status']==-4){echo "<a  href='index.php?s=/Home/Exchange/detail/id/".$vo['id']."'>换货审核中</a>&nbsp;";};
    if($vo['status']==-5){echo "<a  href='index.php?s=/Home/Exchange/detail/id/".$vo['id']."'>同意换货</a>&nbsp;";};
        if($vo['status']==-6){echo "<a  href='index.php?s=/Home/Exchange/detail/id/".$vo['id']."'>换货中</a>&nbsp;";};
      if($vo['status']==-7){echo "<a  href='index.php?s=/Home/Exchange/detail/id/".$vo['id']."'>换货被拒绝</a>&nbsp;";};
     if($vo['status']==-8){echo "<a  href='index.php?s=/Home/Exchange/detail/id/".$vo['id']."'>换货完成</a>&nbsp;";};

        if($vo['iscomment']==1){
            echo "<br/><a  href='index.php?s=/Home/comment/index/id/".$vo['id']."'>评价商品</a>";};
        if($vo['iscomment']==2){
            echo "<br/><a  href='index.php?s=/Home/comment/index/id/".$vo['id']."'>已评价</a>";};
    </php>

                                    </td>
                                </tr>
                            </if>
                          </foreach>
                                <tr class="sep-row">
                                    <td colspan="8"></td>
                                </tr>
                            </volist>
                        </notempty>

                        </tbody>
                    </table>
                </form>
                <div class="page">
                    {$page}
                </div>

            </div>
</block>
