<extend name="Public:base"/>
<block name="content">
<div class="all-right">
	<form method="post" action="{:U(address/add)}">
	 	<div class="basic_infor">
		    <h3>添加收货地址</h3>
		</div>
	    <div class="basic_infor-item">
	    <div class="item">
	        <span><i>*</i>收货人：</span>
	        <input type="text" value='' name="realname" required>
	    </div>

	   	<div class="item item_addrress" style="margin:15px 0">
	        <span style="margin-right:5px;"><i>*</i>所在地：</span>
	        <select id="idprovince" name="province" >
	            <empty name="list">
	            	<option value="0" selected="true">选择省份</option>
	            <else />
	                <volist name="list" id="vo">
	                	<option value="{$vo.id}" >{$vo.area}</option>
	                </volist>
	            </empty>
	        </select>

	        <span id="citys">
	            <select id="idcity" name="city">
	            	<option value="0" selected="true">选择城市</option>
	        	</select>
	        </span>

	        <span id="districts">
	           	<select id="idarea" name="area">
	           		<option value="0" selected="true">选择地区</option>
	        	</select>
	        </span>

	        <span class="pcd" style="color:red;"> </span><br>

	    	<input type="text"  name="address" value="" placeholder="详细地址" style="margin-left:82px; margin-top:10px; width:272px;">

	    </div>

	    <div class="item" style="margin:15px 0">
	        <span><i>*</i>手机号：</span>
	        <input type="text" value="" name="cellphone">
	    </div>

	    <div class="item">
	        <span><i>*</i>邮&nbsp;&nbsp;&nbsp;编：</span>
	        <input type="text" value="" name="youbian" >
	      	<div class="item" style="margin:0 5px">
	            <span></span>
	            <input type="submit" value="保存"  class="tijio_xinxi">
	    	</div>
		</div>
	</form>
</div>

	<script type="text/javascript">
		$(function(){
			$('#idprovince').change(function(){
				if(this.value==''){
					return;
				}
				$.post('{:U('change')}',{pid:this.value},function(data,textStatus){
					if(data){
						$('#idcity').empty();//清空原有的数据
						$.each(data, function(i,n){
							$("<option value='"+n.id+"'>"+n.area+"</option>").appendTo("#idcity");
						});
					}
				},'json')
			});

			$('#idcity').change(function(){
				if(this.value==''){
					return;
				}
				$.post('{:U("change")}',{pid:this.value},
				function(data,textStatus){
					if(data){
						$('#idarea').empty(); //清空原有的数据
						$.each(data, function(i,n){
							$("<option value='"+n.id+"'>"+n.area+"</option>").appendTo("#idarea");
						});
					}
				},'json');
			});

			$('#idarea').change(function(){
				if(this.value==''){
					return;
				}
			});
		})
	</script>

</block>