<extend name="Public:base"/>
<block name="content">
<div class="all-right">
	<form method="post" action="{:U(address/update)}">
	 	<div class="basic_infor">
		    <h3>修改收货地址</h3>
		</div>
	    <div class="basic_infor-item">
		    <div class="item">
		        <span><i>*</i>收货人：</span>
		        <input type="text" value='{$info.realname}' name="realname" required>
		    </div>

		   	<div class="item item_addrress" style="margin:15px 0">
		        <span style="margin-right:5px;"><i>*</i>所在地：</span>
		        <select id="idprovince" name="province" >
		            <empty name="list">
		            	<option value="" selected="true">选择省份</option>
		            <else />
		                <foreach name="list" item="vo">
			                <option value="{$vo.id}" <?php if($vo['area'] == $info['province']) echo 'selected="selected"'; ?> >{$vo.area}</option>
		                </foreach>
		            </empty>
		        </select>

		        <span id="citys">
		            <select id="idcity" name="city">
		            	<empty name="citys">
			            	<option value="" selected="true">选择城市</option>
			            <else />
			                <foreach name="citys" item="city">
				                <option value="{$city.id}" <?php if($city['area'] == $info['city']) echo 'selected="selected"'; ?> >{$city.area}</option>
			                </foreach>
			            </empty>
		        	</select>
		        </span>

		        <span id="districts">
		           	<select id="idarea" name="area">
		            	<empty name="areas">
			            	<option value="" selected="true">选择地区</option>
			            <else />
			                <foreach name="areas" item="v">
				                <option value="{$v.id}" <?php if($v['area'] == $info['area']) echo 'selected="selected"'; ?> >{$v.area}</option>
			                </foreach>
			            </empty>
		        	</select>

		        	</select>
		        </span>

		        <span class="pcd" style="color:red;"> </span><br>

		    	<input type="text"  name="address" value="{$info.address}" placeholder="详细地址" style="margin-left:82px; margin-top:10px; width:272px;">
		    </div>

		    <div class="item" style="margin:15px 0">
		        <span><i>*</i>手机号：</span>
		        <input type="text" value="{$info.cellphone}" name="cellphone">
		    </div>

		    <div class="item">
		        <span><i>*</i>邮&nbsp;&nbsp;&nbsp;编：</span>
		        <input type="text" value="{$info.youbian}" name="youbian" >
		      	<div class="item" style="margin:0 5px">
		            <span></span>
		            <input type="hidden" value="{$id}" name="id" />
		            <input type="submit" value="保存"  class="tijio_xinxi">
		    	</div>
			</div>
		</div>
	</form>
</div>
	<script type="text/javascript">
		$(function(){
			$('#idprovince').change(function(){
				if(this.value==''){
					return;
				}
				$.post('{:U("change")}',{pid:this.value},function(data,textStatus){
					if(data){
						$('#idcity').empty(); //清空原有的数据
						$('#idarea').html('<option value="" selected="true">选择地区</option>'); //清空原有的数据
						$.each(data, function(i,n){
							$("<option value='"+n.id+"'>"+n.area+"</option>").appendTo("#idcity");
						});
					}
				},'json')
			});

			$('#idcity').change(function(){
				if(this.value==''){
					return;
				}
				$.post('{:U("change")}',{pid:this.value},
				function(data,textStatus){
					if(data){
						$('#idarea').empty(); //清空原有的数据
						$.each(data, function(i,n){
							$("<option value='"+n.id+"'>"+n.area+"</option>").appendTo("#idarea");
						});
					}
				},'json');
			});

			$('#idarea').change(function(){
				if(this.value==''){
					return;
				}
			});
		})
	</script>

</block>