<extend name="Public:base"/>
<block name="content">
<div class="all-right">
	<div class="basic_infor">
	    <h3>收货地址管理</h3>
	</div>

	<div class="basic_infor-item">
	    <div class="addressbox" style="margin-top:0px;">
	     	<table cellpadding="0" cellspacing="0">
	            <tbody>
	                <tr id="user_address">
		                <th>收货人</th>
	                   	<th>收货地址</th>
	                   	<th>邮编</th>
	                   	<th>联系方式</th>
	                   	<th>操作</th>
	                </tr>

					<notempty name="list">
						<volist name="list" id="vo">
			               	<tr id="address-{$vo.id}">
				                <td>{$vo.realname}</td>
			                   	<td>{$vo.province}&nbsp;&nbsp;{$vo.city}&nbsp;&nbsp;{$vo.area}&nbsp;&nbsp;{$vo.address}</td>
			                   	<td>{$vo.youbian}</td>
			                   	<td>{$vo.cellphone}</td>
			                   	<td class="wait-e">
			                   		<a href="{:U('update',array('id'=>$vo['id']))}">修改/</a>
			                   		<a href="javascript:void(0)" onclick="dlt({$vo.id});return false;" >删除</a>
			                        <if condition="$vo.status eq '1'">
			                        	<div class="moren">
				                          	<a href="javascript:void(0);" style="color:#fff" onclick="shezhi({$vo.id});return false;">默认地址</a>
				                        </div>
			                        <else />
				                        <div class="add-set">
				                          	<a href="javascript:void(0);" style="color:#fff" onclick="shezhi({$vo.id});return false;">设为默认地址</a>
				                        </div>
			                        </if>
			                   	</td>
			               	</tr>
	                    </volist>
					</notempty>

				</tbody>
	        </table>
	    </div>
	</div>
</div>

	<script type="text/javascript">
	    function shezhi(id){
			$.ajax({
			   type: "POST",
			   url: '{:U("shezhi")}',
			   data: {id:id},
			   dataType: "json",
			   success: function(msg){
			   		window.location.reload();
			   }
			});
	    }

	    function dlt(id){
	    	if(confirm('你确定要删除吗？')){
	    		$.ajax({
				   type: "POST",
				   url: '{:U("deleteAddress")}',
				   data: {id:id},
				   dataType: "json",
				   success: function(data){
				   		$('#address-'+id).remove();
				   }
				});
	    	}
	    }
	</script>
</block>