<extend name="Public:base"/>
<block name="content">
<div class="all-right">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="basic_infor">
	    <h3>基本信息</h3>
	    <div class="basic_infor-item">
	    	<form method="post" class="person-info" name="form" action="{:U('update')}" enctype="multipart/form-data">
	   	      	<div class="controls">
					<label class="item-label" >上传图像</label>
					<input type="file" id="upload_picture" class="uploadify-button">
					<input type="hidden" name="face" id="face" value="{$info['face']|default=''}"/>
					<div class="upload-img-box">
						<notempty name="info['face']">
							<div class="upload-pre-item"><img src="{$info.face|get_cover='path'}"/></div>
						</notempty>
						<empty name="info['face']">
							<img src="__IMG__/pic_head_34_s.gif" width="100" height="100"/>
						</empty>
					</div>
				</div>
				<div class="controls">
					<input type="hidden" name="id"  value="{$info['id']|default=''}"/>
					<input type="submit" class="btn-xiugai orange" value="保存" style="">
				</div>
	    	</form>

	    	<script type="text/javascript">
				//上传图片
			    /* 初始化上传插件 */
				$("#upload_picture").uploadify({
			        "height"          : 30,
			        "swf"             : "__STATIC__/uploadify/uploadify.swf",
			        "fileObjName"     : "download",
			        "buttonText"      : "上传图片",
			        "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
			        "width"           : 120,
			        'removeTimeout'	  : 1,
			        'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
			        "onUploadSuccess" : uploadPicture,
			        'onFallback' : function() {
			            alert('未检测到兼容版本的Flash.');
			        }
			    });
				function uploadPicture(file, data){
			    	var data = $.parseJSON(data);
			    	var src = '';
			        if(data.status){
			        	$("#face").val(data.id);
			        	src = data.url || '__ROOT__' + data.path;
			        	$(".weixin-cover img").attr('src',src);
						$("#face").parent().find('.upload-img-box').html(
			        		'<div class="upload-pre-item"><img src="' + src + '"/></div>'
			        	);
			        } else {
			        	updateAlert(data.info);
			        	setTimeout(function(){
			                $('#top-alert').find('button').click();
			                $(that).removeClass('disabled').prop('disabled',false);
			            },1500);
			        }
			    }
			</script>

	    </div>
	</div>
</div>
<script type="text/javascript">_init_area();</script>

</block>
