<div class="span{$addons_config.width}">
	<div class="columns-mod">
		<div class="hd cf">
			<h5>软件信息</h5>
			<div class="title-opt">
			</div>
		</div>
		<div class="bd">
			<div class="sys-info">
				<table>
					<tr>
						<th>系统名称</th>
						<td>贴芯点商城系统</td>
					</tr>
					<tr>
						<th>软件版本</th>
						<td>V2.0</td>
					</tr>
					<tr>
						<th>更新时间</th>
						<td>20160508</td>
					</tr>
					<tr>
						<th>官方网址</th>
						<td><a href="http://www.51tiexin.com" target="_blank">www.51tiexin.com</a></td>
					</tr>

					<tr>
						<th>联系方式</th>
						<td><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1531032907&amp;site=qq&amp;menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1531032907:51" alt="点击这里给我发消息" title="点击这里给我发消息"></a></td>
					</tr>
					<tr>
						<th>文档教程</th>
						<td><a href="#" target="_blank">帮助区</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>