<extend name="Base/s1"/>

<block name="body">
<div class="order-head">首页>资讯</div>
<div class="zixun">
	<div class="zixuninner" style="background-color:#FFF;width:1000px;height:1030px;border:1px solid #e6e6e6;margin:0">
<ul class="all">
<volist name="news" id="vo">
<li style="border-top:none">
         <div class="nleft">
         	<notempty name="time[cover_id]">
            <div class="upload-pre-item"><img src="{$time[cover_id]|get_cover='path'}"/></div>
            </notempty>
         </div>
         <div class="nright">
           <div class="title"><a  href="{:U('help/newscontent?id='.$vo['id'])}">{$vo.title}</a></div>
           <p >{$vo.description}<br />{$vo.create_time|date='Y-m-d H:i',###}</p>
         </div>
</li>
</volist>
     </ul>

</div>
<div class="page">
    {$page}
</div>
<style type="text/css">
.page a{font-size:14px}
.page{margin:-80px 300px}
.prev{padding:2px 10px;font-size:14px; color:#454449;margin:5px;border:1px solid #cccccc;outline:medium none; font-family:Microsoft Yahei;box-sizing: border-box;;border-radius: 2px;margin-left: 0;}
.num{padding:2px 10px;font-size:14px; color:#454449;margin:5px;border:1px solid #cccccc;outline:medium none; font-family:Microsoft Yahei;box-sizing: border-box;;border-radius: 2px;margin-left: 0;}
.current{padding:2px 10px;font-size:14px; color:#454449;margin:5px;border:1px solid #cccccc;outline:medium none; font-family:Microsoft Yahei;box-sizing: border-box;;border-radius: 2px;margin-left: 0;}
.rows{padding:2px 10px;font-size:14px; color:#454449;margin:5px;border:1px solid #cccccc;outline:medium none; font-family:Microsoft Yahei;box-sizing: border-box;;border-radius: 2px;margin-left: 0;}
.page .moderna{color:#fff;background-color:#0099db;}
</style>
</div>
</div>

</block>
