<extend name="Base/s1"/>
<block name="body">
<div class="order-head">首页>资讯</div>
<div class="zixun">
	<div class="zixuninner" style="background-color:#FFF;width:1000px;height:auto;border:1px solid #e6e6e6;margin:0">
	<div class="zixun-xiangqing">
   	  <div class="title">
   		<h1>{$info.title}</h1>
        <h3><b>发布时间 :&nbsp;&nbsp;{$info.create_time|date='Y-m-d H:i',###}</b>|&nbsp;<a href="javascript:history.back(-1);">返回</a>
         </div>

    	<div class="zx-xq">

            <p>{$info.content}</p>
        </div>
  </div>
</div>

</div>
</div>

</block>
