<extend name="Base/s1"/>

<block name="body">

<!--logo end-->
<div class="middle">
  <div class="middle-photo">
   <div class="banner">
      <div class="flexslider">
        <ul class="slides">
             <li style="background:url(__IMG__/index1.jpg) 50% 0 no-repeat;"></li>
           <li style="background:url(__IMG__/index1.jpg) 50% 0 no-repeat;"></li>
           <li style="background:url(__IMG__/index1.jpg) 50% 0 no-repeat;"></li>
         </ul>

         </div>

     <ul class="slides" style="height:auto">
              <li style="background:url(__IMG__/index3.png) 50% 0 no-repeat;height:780px;"></li>
             <li style="background:url(__IMG__/index4.jpg) 50% 0 no-repeat;height:800px;"></li>
             <li style="background:url(__IMG__/index5.jpg) 50% 0 no-repeat;height:770px;"></li>
         </ul>



</div></div></div>
  <section class="section_box2">
    <div class="content_box">
        <div class="weixin_box">
            <div class="weixin_left">
                <p>支持手机型号</p>
                <p>支持安卓4.4&nbsp;&nbsp;蓝牙4.0以上版本</p>
            </div>
            <div class="weixin_right">
                <div class="erw_left"><img src="__IMG__/erwm.jpg">
                   <p>贴芯点老人桌面</p>
                </div>
                <div class="erw_right"><img src="__IMG__/erwm2.jpg">
                    <p>贴芯家人</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clear"></div>

<section class="section_box1">
    <div class="content_box">
        <div class="gongn"><a href="#">点此查看贴芯点智能手环的<span>功能 &gt;&gt; </span> </a> </div>
    </div>
</section>

</block>