@charset "utf-8";
/* CSS Document */

.mt {  padding: 20px 0 25px;}
.add-btn { display: inline-block; font-size: 14px; font-weight: 700;  height: 28px; line-height: 28px; margin: 0 10px 0 0; padding: 0 14px; vertical-align: middle; background-color:#f2f2f2;
border:1px solid #ccc;}
.add-btn:hover{ color:#0099db;}
.ftx-span { color: #999;}
.ftx-span span{ color:#f55858; margin:0 5px;}
.addcontent{ padding:0 20px;}
.addressbox{ width:100%; margin-left: 0 !important;margin-top:50px}
.addressbox table{width:100%; border-collapse:collapse;text-align: center;}
.addressbox tr{line-height: 30px;}
.addressbox tr:first-of-type{border:1px solid #e6e6e6;}
.addressbox th{background-color: #f2f2f2; color: #333; font-weight: normal; height: 40px; line-height: 40px;}
.addressbox th:nth-of-type(2){width:270px;}
.addressbox td{border:1px solid #e6e6e6;padding:8px 10px; font-size:12px; line-height:24px;}
.addressbox a{color: #f55858; font-size:12px;}
.addressbox a.buy-it { display: block; cursor:pointer;}
.addressbox a.buy-it:hover{ text-decoration:underline;}
.buy-it1{ display: block; color:#999 !important;}
.add-set{width:80px; background-color:#f55858; border:1px solid #f55858; border-radius:5px; float:right;}
.moren{width:80px; background-color:#808080; border:1px solid #808080; border-radius:5px; float:right;}
