@charset "utf-8";
/* CSS Document */
body,img,a,div,ul,li,span,table,td,table,p,th,tr,h1,h2,h3,h4,h5,input{ padding:0;margin:0;text-decoration:none; list-style:none; -webkit-font-smoothing: antialiased; outline: none;}
body{ font-size:14px; font-family:微软雅黑; margin:0 auto;font-weight: normal;color: #666;}
a{color: #666;font-size: 14px;}
h1, h2, h3, h4 {font-weight: normal;}
h3{font-size: 18px;}
span{font-size: 12px;}
img,ul,li,input {border: 0;}
input{font-family:微软雅黑;}
textarea{font-family:微软雅黑;}
body{background-color: #f2f2f2;}
html, body{height:100%;}

/*首页头部欢迎*/
.welcome{background-color: #e7e7e7;height:30px;font-size: 12px;}
.welcome ul{width: 1190px;overflow: hidden;margin:0 auto;}
.welcome ul li{float: left; color: #808080;line-height: 30px;}
.welcome ul li.wel_come{float: right;padding:0 6px;}
.welcome ul li.wel_come a{color: #808080}
.welcome ul li.wel_come a:hover{color:#f55858}
/*首页头部欢迎结束*/
.moderna{color:#0099db;background-color:#FFF;}


/*logo部分*/
.logobox{background-color: #fff;  }
.logobox ul{width:1190px; margin:0 auto;padding:10px 0;overflow: hidden;line-height: 74px;}
.logobox li{float: right;margin-left:25px;}
.logobox li.logo{float: left;margin-left:0;}
.logobox li img{ vertical-align: middle;}
.logobox b{color: #0099db;}
.logobox .search{
	width:200px;
	height:25px;
	border:1px solid #d9d9d9;
	background:url(../images/search.png) 0px -1px no-repeat;
	border-radius:3px;
	position: relative;
	line-height: 74px;
	margin-top:25px;
	}
.logobox .text{border:none;height:20px;margin-top:2px;position: absolute;top:0;left:27px;width:115px;}
.logobox .sousuo{background-color:none;border:none;width:58px;position: absolute;top:0;right:0;height:25px;}
.logobox .sousuo:hover{background-color:#0099db;color: #fff;}
.logobox a:hover{color: #0099db}

/*轮播*/
.banner0{ width:100%; height:720px; margin:0 auto; padding:0; text-align:center; background-image: url("../images/banner00.jpg"); background-repeat: no-repeat; background-position: center; backgroud-size:100% 100%;}
.slider .inner{width:100%;border-top:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;}
.slider-carousel{position:relative;width:100%;}
.slider-carousel img{max-width: 100%;text-align: center}

.slider-carousel .item{height:400px}
.slider-carousel .slidesjs-navigation{
	width:45px;
	height:99px;
	display:block;
	position:absolute;
	text-indent:-9999em;
	top:40%;
	z-index:100;
	opacity:0}
.slidesjs-previous{background:transparent url(../images/prev.png) no-repeat;left:365px}
.slidesjs-next{background:transparent url(../images/next.png) no-repeat;right:365px}
.slidesjs-pagination{overflow:hidden;zoom:1000;margin-top:25px;margin-left:260px;display: none;}
.slidesjs-pagination-item a{
	float:left;
	width:16px;
	height:17px;
	text-indent:-9999em;
	margin-right:10px;
	background-color:#ade8d2;
	border-radius:20px}
.slidesjs-pagination-item a:hover ,.slidesjs-pagination-item a.active{background-color:#fff}
/*首页内容*/
.section_box1{ width: 100%; margin: 0 auto; padding: 0; background-color: #f2f2f2;}
.section_box2{ width: 100%; margin: 0 auto; padding: 0; background-color: #ffffff;}
.content_box{width:1190px;margin:0 auto;}
.first_font{ width: 100%; margin:15px auto; text-align: center;}
.font1{ font-size: 35px; color: #333333;}
.font2{ font-size: 22px; color: #0099db;}
.font3{ font-size: 22px; color: #666666;}
.font4{ font-size: 18px; color: #0099db;}
.section_list{ width: 550px; height: 120px; margin: 0 auto; padding: 0; text-align: center; font-size: 18px; color: #333333;}
.section_list ul{ width:15%; margin-right: 5%; list-style: none; display:inline-block; float: left; }
.section_list ul li{text-align: center; margin-bottom: 10px;}
.icons1{ width: 72px; height: 72px; background-image: url("../images/icon0.png"); background-repeat: no-repeat; background-position: center; background-size: 72px 72px;}
.icons2{ width: 72px; height: 72px; background-image: url("../images/icon1.png"); background-repeat: no-repeat; background-position: center; background-size: 72px 72px;}
.icons3{ width: 72px; height: 72px; background-image: url("../images/icon2.png"); background-repeat: no-repeat; background-position: center; background-size: 72px 72px;}
.icons4{ width: 72px; height: 72px; background-image: url("../images/icon3.png"); background-repeat: no-repeat; background-position: center; background-size: 72px 72px;}
.icons5{ width: 72px; height: 72px; background-image: url("../images/icon4.png"); background-repeat: no-repeat; background-position: center; background-size: 72px 72px;}
.sec_product{ width: 100%; height: 373px; margin: 15px auto; background-image: url("../images/pro1.jpg"); background-repeat: no-repeat; background-position: center; background-size: 100% 100%;}

/*---------------------------3D滚动效果-------------------------------------*/
.imageflow{overflow:hidden; position:relative; text-align:left; visibility:hidden; width:100%}
.imageflow img{border:none; position:absolute; top:0px; visibility:hidden; -ms-interpolation-mode:bicubic}
.imageflow p{margin:0 auto; text-align:center}
.imageflow .loading{border:1px solid #ccc; height:15px; left:50%; margin-left:-106px; padding:5px; position:relative; visibility:visible; width:200px}
.imageflow .loading_bar{background:#ccc; height:15px; visibility:visible; width:1%}
.imageflow .caption{font-weight:bold; position:relative; text-align:center; z-index:10000}
.imageflow .scrollbar{border-bottom:1px solid #b3b3b3; position:relative; visibility:hidden; z-index:10001; height:1px}
.imageflow .slider{background-image:url(../images/slider.png); background-repeat:no-repeat; height:14px; margin:-6px 0 0 -7px; position:absolute; width:14px; z-index:10002}
.imageflow .images{overflow:hidden; white-space:nowrap}
.imageflow .button{cursor:pointer; height:17px; position:relative; width:17px}
.imageflow .previous{background:url(../images/button_left.png) top left no-repeat; float:left; margin:-7px 0 0 -30px}
.imageflow .next{background:url(../images/button_right.png) top left no-repeat; float:right; margin:-7px -30px 0 30px}
/*-------------------------------3D滚动效果结束--------------------------*/
/*子女端app*/
.app_left{ width: 272px; height: 528px; margin: 10px auto; float: left;}
.app_right{ width: 900px; height: 508px; margin-left: 17px; margin: 10px auto; float: left; position:relative;}
.app_box{ overflow:hidden;}
.app_kt{width: 100%; left:10%; position: absolute; top: 25px;}
 @media screen and (min-width: 1920px){
	.app_kt{width: 60%; left:10%; position: absolute; top: 25px;}
}

/*滚动效果*/
.relative{position:relative;left:0;top:0;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
.opacity6{ -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* ie8  */filter:alpha(opacity=60);    /* ie5-7  */opacity:0.6;/* css standard, currently it works in most modern browsers  */}
/*public scroll*/
.scroll{ width:272px; height:508px; margin:10px auto; position:relative; background-image:url(../images/phonebg.png); background-repeat:no-repeat; background-position:center; background-size:272px 508px;}/*margin:120px auto;max-width:560px; position:relative;      border:#F00 1px solid*/
.scroll_box{overflow:hidden;visibility:hidden;position:relative;}
.scroll_wrap{overflow:hidden; padding:52px 20px;}
.scroll_wrap li{position:relative;display:block;width:100%;float:left;}
.scroll_wrap li a{display:block;margin:0 auto;position:relative;}
.scroll_position{position:absolute;left:45%;z-index:400px;bottom:14px;}
.scroll_position li{display:inline-block;width:16px;height:16px;border-radius:10px;background:#fff;}
.scroll_position li a{font-size:0;}
.scroll_position li.on{background-color:#ffd800;}
.scroll_position_bg{background:#000;position:absolute;bottom:12px;left:42%;padding:0 15px;z-index:380px;height:26px;border-radius:26px;}


.app_right li.on{ z-index:1000;}
.app_right li.on .appimg_left1{ width:230px; height:370px; margin: 0; position:absolute; top: 90px; left: 0; z-index: 1000; box-shadow: #CCC 5px 5px 5px 5px;}
.app_right li.on .appimg_left2{  width:230px; height:370px; margin: 0; position:absolute; top: 60px; left: 100px; z-index: 1000; box-shadow: #CCC 5px 5px 5px 5px;}
.app_right li.on .appimg_left3{  width:230px; height:370px; margin: 0; position:absolute;  top: 30px; left: 200px;  z-index: 1000; box-shadow: #CCC 5px 5px 5px 5px;}
.app_right li.on .appimg_left4{width:230px; height:370px; margin: 0; position:absolute; top: 0; left: 300px; z-index: 1000; box-shadow: #CCC 5px 5px 5px 5px;}
.app_right li.on .appimg_left5{ width:230px; height:370px; margin: 0; position:absolute;  top:30px; left: 400px; z-index: 1000; box-shadow: #CCC 5px 5px 5px 5px;}
.app_right li.on .appimg_left6{  width:230px; height:370px; margin: 0; position:absolute;  top: 60px; left:500px; z-index: 1000; box-shadow: #CCC 5px 5px 5px 5px;}
.app_right li.on .appimg_left7{  width:230px; height:370px; margin: 0; position:absolute;  top:90px; left:600px; z-index: 1000; box-shadow: #CCC 5px 5px 5px 5px;}

.appimg_left1{ width:210px; height:350px; margin: 0; position:absolute; overflow: hidden;  top:90px; left:0; z-index: 10; box-shadow: #cecdcd 2px 3px 3px;}
.appimg_left1 img{ width:100%;}
.appimg_left2{ width:210px; height:350px; margin: 0; position:absolute; overflow: hidden;  top: 60px; left:100px; z-index: 20; box-shadow: #cecdcd 2px 3px 3px;}
.appimg_left2 img{ width:100%;}
.appimg_left3{ width:210px; height:350px; margin: 0; position:absolute; overflow: hidden;  top: 30px; left:200px; z-index: 30; box-shadow: #cecdcd 2px 3px 3px;}
.appimg_left3 img{ width:100%;}
.appimg_left4{ width:210px; height:350px; margin: 0; position:absolute; overflow: hidden;  top:0; left:300px; z-index: 40; box-shadow: #cecdcd 2px 3px 3px;}
.appimg_left4 img{ width:100%;}
.appimg_left5{ width:210px; height:350px; margin: 0; position:absolute; overflow: hidden;  top: 30px; left:400px; z-index: 50; box-shadow: #cecdcd 2px 3px 3px;}
.appimg_left5 img{ width:100%;}
.appimg_left6{ width:210px; height:350px; margin: 0; position:absolute; overflow: hidden;  top:60px; left:500px; z-index: 60; box-shadow: #cecdcd 2px 3px 3px;}
.appimg_left6 img{ width:100%;}
.appimg_left7{ width:210px; height:350px; margin: 0; position:absolute; overflow: hidden;  top:90px; left:600px; z-index: 70; box-shadow: #cecdcd 2px 3px 3px;}
.appimg_left7 img{ width:100%;}

.bgg{ width: 100%; height: 100%; position:absolute; top: 0; left: 0; z-index: 900;}

/*微信二维码*/
.weixin_box{ width:90%; height: 200px; margin: 0 auto;}
.weixin_left{ width:70%; margin: 2px auto; padding: 0; float: left;}
.weixin_left p:first-child{ font-size: 20px; color: #333333;}
.weixin_left p:nth-of-type(2n){ font-size: 14px; color: #666666; margin-top: 10px;}
.weixin_right{ width: 30%; margin: 10px auto; padding: 0; float: left; text-align: center;}
.erw_left{ width: 45%; margin: 0 auto; float: left;}
.erw_left img{ width: 100%;}
.erw_right{ width: 45%; margin: 0 auto; float: right;}
.erw_right img{ width: 100%;}
.gongn{ width: 300px; margin: 5px auto; padding: 7px; border: solid 1px #333333; border-radius: 8px; text-align: center; background-color: #FFFFFF; font-size: 16px;}
.gongn a{ background-color: #FFFFFF; font-size: 16px;}
.gongn span{ font-size: 16px; color: #009add; cursor: pointer;}


/*底部*/
.foot{
	background-color: #fff;
	border-top:1px solid #dfdfdf;
	margin-top:180px;}
.footer{width:1190px;margin:0 auto;}
.foottop{
	overflow: hidden;
	padding-top:45px;
	border-bottom:1px solid #e5e5e5;
	padding-bottom:35px;}
.foottop li{width:297px;text-align: center;float: left}
.foottop h3{color: #2e3438;margin-top:8px;}
.foottop span{color: #999;display: block;margin-top:8px;}
.footbottom{overflow: hidden;padding:45px 0;}
.footbottom ul{float: left;width:138px;text-align: left;padding-left:100px;}
.footbottom ul.last_ul{padding-left:50px;}
.footbottom li h3{color: #363636;line-height: 40px;font-size:16px;}
.footbottom li a{color: #808080;font-size: 12px;line-height: 23px;}
.footbottom li a:hover{color: #f55858;}
.footbottom .tel{color: #4c4c4c;font-family:Arial; font-weight: 600;}
/*版权所有*/
/*copyright*/
.copyright{width:100%;background-color:#f5f5f5;border-top:1px solid #dfdfdf;margin:20px auto 0;}
.copyinner{width:1090px;text-align:center; line-height:24px;font-size:12px;font-color:#999;padding:24px 0 0;color:#999;margin:auto}

/*产品展示*/
.crumb{line-height: 50px;}
.crumb span a{font-size: 12px;}
.merchandise{overflow: hidden;}
.merchandise li{
	float: left;
	width:280px;
	border:1px solid #dfdfdf;
	text-align:left;
	background-color: #fff;
	margin-right:20.5px;
	margin-bottom:20px;}
.merchandise li:nth-of-type(4n){margin-right:0px;}
.merchandise li a{display: block;padding:18px 25px 10px;line-height: 25px;}
.merchandise li h3{font-size:16px;color: #2e3438}
.merchandise li p{font-size:12px;color: #83888c;text-overflow:ellipsis;overflow:hidden;height:50px;}
.merchandise li span{font-size:16px;color: #f55858}
.merchandise li img{text-align: center;display: block;margin:0 auto;}

/*套餐介绍*/
.Service{
	background-color: #fff;
	border:1px solid #dfdfdf;
	margin-bottom:20px;
	overflow: hidden;
	}
.Service li{float: left;}
.Number{position: absolute;top:1px;left:9px;z-index: 1000}
.Number h3{
	width:120px;
	height:40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	background-color: #0099db;
	display: inline-block;}
.Number img{position:absolute; top:0;left:120px;}

.Service .image_introduction{
	text-align: center;
	overflow: hidden;
	padding-top:35px;
	padding-bottom:35px;
	padding-left:30px;}
.Service .image_introduction h3{font-size: 12px;color: #2e3438;}
.Service .image_introduction img{width:220px;height:208.5px;}
.Service .image_introduction i{background:url(../images/plus.png) no-repeat;width:35px;height:36px;margin-top:85px;}
.Service .image_introduction i,.Service .image_introduction span{float: left;}
.Service .image_introduction span{padding-left:30px;}
.Service .price_introduction{width:260px; text-align: left;padding:35px 35px;}
.price_introduction h3{color: #333333;}
.price_introduction span{margin-top:12px;display: block;}
.price_introduction b{color: #f55858;font-size: 24px;font-family: Arial}
.price_introduction b i{font-size: 16px; font-style: normal;}
.price_introduction p{font-size: 12px;color: #a6a6a6;line-height: 20px;margin-top:10px;}
.Package_introduction{border-left:1px solid #e5e5e5;background: url(../images/back.jpg) no-repeat;width:278px;height:298px;}
.Package_introduction div{padding:20px 25px;}
.Package_introduction h3{color: #0099db;border-bottom: 1px dashed #000000;padding-bottom:10px;margin-left:; }
.Package_introduction p{line-height: 25px;padding-top:10px}

/*登录页面*/
.loginbox{border-top:1px solid #d9d9d9;}
.login{width:1190px;margin:0 auto;padding-top:130px;}
.login ul{width:350px;margin:0 auto;z-index:10;position: relative;}
.login li{margin-top:15px;color: #999}
.login li input,.login .register{border:1px solid #d9d9d9;height:43px;line-height: 43px;padding-left:10px;color: #666;width:338px;}
.login li.state input{width:11px;height:11px;clear: both; vertical-align: middle;color: #999;}
.login li.state a{float: right;color:#32a5e7;}
.login input.login_in,.login .register{width:348px;padding-left:0;}
.login input.login_in{background-color: #00a4e6;color: #fff;border:1px solid #d9d9d9;width:350px;height:45px;line-height: 45px;margin-top:10px;}
.login .register{background-color: #fff;color: #00a4e6;display: block;text-align: center;}
/*忘记密码发送成功页面*/
.sucess{text-align: center}
.login h2{color: #00a4e6;text-align: center;margin-bottom:45px;}
.sucess h2{text-align: center;font-size: 30px;}

.login p{color: #999;}
.login p strong{color: #f55858;font-weight: normal;}
.sucess input.login_in{margin-top:75px;}
/*找回密码*/
.login input.code{width:230px; clear: both}
.login img{float: right;width:96px;height:45px;}
/*注册账户*/
.register_box li.state a{float: none;color:#00a4e6;}
.register_box .register{background-color: #00a4e6;color: #fff;}
/*产品详情页里的*/
.details_top{background-color: #fff;border:1px solid #d9d9d9;padding:40px 40px;overflow: hidden;}
/*产品图*/

/*产品详情页右边的信息*/
.Literal_expression{width:380px;float: left; text-align: left; margin-left:50px; margin-top:20px;}
.Literal_expression h2{color: #333;font-size: 30px;}
.Literal_expression p{color: #666666;font-size: 18px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;line-height: 55px;  }
.Literal_expression span.function{color: #999;font-size: 12px;}
.Literal_expression strong{color: #f55858;font-size: 30px;display:block;font-weight: normal;margin:25px 0;}
.Literal_expression div.buy_number{display: inline-block;position: relative;width:65px;}
.Literal_expression div.buy_number input{width:40px;border:1px solid #bfbfbf;color: #666;height:30px;line-height: 30px;}
.Literal_expression a.up_number img{position: absolute;top:0;left:45px;}
.Literal_expression a.down_number img{position: absolute;bottom:0;left:45px;}
.Literal_expression div.buy{
	margin-top:30px;
padding-bottom:25px;}
.Literal_expression div.buy a{
	width:140px;
	height:30px;
	border:1px solid #7fcced;
	border-radius:4px;
	color:#f55858;
	line-height: 30px;
	display: inline-block;
	text-align: center;
	margin-right:18px;
	}
.Literal_expression div.buy a:hover{
	background-color: #f55858;
	color: #fff;
	border:1px solid #f14444;
}
.Literal_expression a.taocan{color: #999;line-height: 25px;height:25px;margin-top:20px;display: block;}
.Literal_expression a.taocan img{vertical-align: middle;}
/*产品选项卡组合列表*/
.tabqh{ margin-top:31px; border:#dfdfdf 1px solid;background-color: #fff;}
.tabqh2 {margin-top:31px;}
/*菜单class*/
/*产品组合最佳搭配*/
.tabqh2-menu {width:100%; background-color:#f7f7f7}
.tabqh2-menu ul{height:50px; border-bottom: 1px solid #E6E6E6}
.tabqh2-menu li{float:left;display:block;width:125px;text-align:center;line-height:49px; font-size:16px;  background-color:#fafafa;}
.tabqh .tabqh2-menu li a {color: #666666; font-size:16px;
}
.tabqh .tabqh2-menu li a.tabactive,.tabqh2 .tabqh2-menu li a.tabactive{
	display: block;
	padding:0px;
	color:#f55858;
	/* [disabled]height:50px; */
}
.tabqh .tabdiv{clear:both;margin-top:0px;min-height: 200px;}
.specdiv ul{padding:30px 30px; overflow: hidden;}
.specdiv ul li{float: left;width:265px;margin-right:0px;line-height: 25px;}
.specdiv ul li.img_spec{width:200px;}
.specdiv ul li img{width:160px;height:160px;}


/*评价晒单 start*/
ul, ol, dl, li, dt, dd { list-style: outside none none; margin: 0; padding: 0;}
.mc { overflow: hidden; padding: 10px 0; clear:both;}
.rate { float: left;  padding: 20px 0 0; text-align: center; width: 190px;}
.rate strong { color: #e4393c; font: 400 46px/30px arial;}
.rate strong span { color: #e4393c; font-size: 24px;}
.rate span {  color: #999; font-family: arial;}
.percent { border-right: 1px solid #e4e4e4; float: left; height: 74px; padding: 8px 0; width: 186px;}
.percent dl { overflow: hidden; padding: 2px 0;}
.percent dt { float: left; width: 70px; font-size:12px; text-align:left;}
.percent span { color: #9c9a9c;}
.percent dd { background: #efefef none repeat scroll 0 0; float: left; height: 10px; margin-top: 6px; overflow: hidden; width: 100px;}
.percent dd div { background-color: #ed0000; background-image: linear-gradient(to bottom, #ed0000 0px, #a50000 100%); height: 10px; overflow: hidden; width: 0;}
.tb-r-ubox {float: left; padding: 10px 0; position: relative; width: 740px;}
.tb-r-ubox h3 { font-size:14px; color: #666; float: left; font-weight: 400; margin: 3px 10px 0 0; text-align: right; width: 90px;}
.tb-r-ubox-bd { overflow: hidden;}
ul.tb-r-impression li { float: left; margin: 0 5px 5px 0; position: relative; white-space: nowrap;}
ul.tb-r-impression li a { background-color: #e6e6e6;  background-repeat: repeat-x; border: 1px solid #0099db; box-shadow: 1px 1px 0 0 #d4d4d4; color: #0099db; float: left; font-size: 12px; height: 22px; line-height: 22px; padding: 0 8px; transition: background 200ms ease 0s;}
ul.tb-r-impression li.tb-r-neg a { background-color: #a4a4a4; background-image: linear-gradient(to bottom, #e6e6e6, #e6e6e6); background-repeat: repeat-x; border-color: #ccc;}
.mt { overflow: visible;}
.m-tab-trigger-wrap {background-color: #f7f7f7;border-color: #e5e5e5; border-style: solid; border-width: 1px; height: 35px; line-height: 35px; margin-top: 4px; overflow: visible; position: relative;}
.m-tab-trigger { float: left; height: 31px; margin-bottom: -1px;}
.m-tab-trigger .trig-item { float: left; height: 30px;}
.m-tab-trigger .trig-item a { display: inline-block; font-family: "microsoft yahei"; font-size: 14px; padding: 0 20px;}
.m-tab-trigger .curr a {  background-color: #fff; color:#0099db;  height: 35px; line-height: 35px; margin-left: -1px; margin-top: -6px; position: relative;}
.m-tab-trigger .curr a em{ color:#f55858;}
em { font-style: normal;}
.tb-revbd{ overflow:hidden; padding:20px;}
.from-whom { float: left; text-align: center; width: 100px;}
.from-whom img { height: 60px; width: 60px; border-radius:50%;}
.review-details{ margin-left:120px;}
.tb-tbcr-photo{ overflow:hidden;}
.tb-tbcr-photo li{ float:left; margin-right:5px;}
.tb-tbcr-photo li img { border: 1px solid #ccc; display: inline-block; height: 54px; margin: 6px auto 0; width: 54px;}
.tb-r-info { color: #b0b0b0; float: left; font-size: 12px;}
.tb-rev-actions { float: right; margin-right: -1px;}
.tb-rev-actions li { border-right: 1px solid #dfdfdf; float: left; padding: 0 9px;}
.tb-r-action-btn { color: #36c; cursor: pointer;}
.tb-tbcr-num { color: #aaa; font: 12px/1.5 tahoma,arial;}
.tb-rev-item-append { border-top: 1px dashed #e4e4e4; margin-top: 10px; padding-top: 7px;}
.tb-tbcr-content {  color: #666; font-size: 14px;line-height: 1.4; word-wrap: break-word;}
.tb-tbcr-content span{ color:#999; font-size:14px; margin-right:5px;}
.tb-tbcr-review-item{ border-bottom:1px solid #e5e5e5; overflow:hidden; padding:15px 0;}
.tb-r-act-bar{ overflow:hidden;}
.reply-textarea{ display:none; width:100%;}
.reply-arrow{ bottom:-1px; height:12px; position:relative; width:100%;}
.reply-arrow b{ border-style:dashed dashed solid; border-width:6px; height:0; right:14px; overflow:hidden; position:absolute; top:0; width:0;}
.reply-arrow .layer1{ border-color:transparent transparent #d9d9d9; top:-1px;}
.reply-arrow .layer2{ border-color:transparent transparent #f5f5f5;}
.reply-textarea .inner{ background-color:#f5f5f5; border:1px solid #d9d9d9; padding:20px 32px 15px;}
.reply-textarea .reply-input{ background-color:#fff; border:1px solid #ddd; display:block; height:20px; line-height:20px; padding:3px 5px; width:950px;}
.reply-textarea .btnbox{ margin-top:10px; text-align:right;}
.reply-submit{ background-color: #f5f5f5; border: 1px solid #ddd; cursor: pointer; display: inline-block;  margin: 0; padding: 2px 14px;}
/*评价晒单 end*/

/*产品组合最佳搭配结束*/
.pro_top{overflow: hidden;}
/*等待产品上架*/
.pro_top h1{font-size: 30px;color: #f45752;text-align: center;min-height: 500px;padding-top:40px;}

/*个人中心共用左边*/
.common-left{
 background-color: #ffffff;
 float: left;
 height:868px;
 width:220px;
 border:1px solid #d9d9d9;
 padding-top:10px;
}

.common-left ul{margin-bottom:10px;border-bottom: 1px dashed #dedede;padding-left:20px;
}

.common-left ul li a{ font-size: 12px;line-height: 20px; display: block;margin:10px 0;}
.nana { color: #00a4e6 !important; border-left:2px solid #00a4e6;}
.common-left ul li a:hover { background-color: #ffffff; color: #00a4e6; border-left:2px solid #00a4e6;}
.common-left ul li a:active {background-color: #ffffff; color: #f53914;
}
.common-left ul li:first-of-type {color: #4c4c4c; line-height: 30px;;
}
/*基本信息*/
.all-right { float:left; margin-left:20px;width:940px;border:1px solid #e6e6e6;background-color:#fff}
.basic_infor{margin-top:0;}
.basic_infor h3 {color:#333;font-size:14px;line-height:40px;border-bottom:1px solid #e6e6e6;padding-left:20px;}
.basic_infor-item{padding: 20px 20px;}
.basic_infor .item{margin: 15px 0;position: relative;color: #666666;line-height: 30px;}
.basic_infor-item input{
	width:270px;
	padding-left:6px;
	height:30px;
	border:1px solid #cccccc;
	border-radius:4px;
	line-height: 30px;
	margin-right:6px;}
.basic_infor-item .item>span:first-child{width:70px;text-align: right;display: inline-block;margin-right:10px;}
.basic_infor-item .item i{color:#0099db;font-size: 14px;font-style: normal;}
.basic_infor-item .item_basic input{width:15px;border: none;line-height:15px;height:15px;}
.basic_infor-item select {
	width:120px;
	height:30px;
	line-height: 30px;
	border: 1px solid #cccccc;
	margin-right:8px;
	margin-left:4px;
	border-radius:4px;
}
.basic_infor-item .item_addrress select{margin-right:22px;

}
.basic_infor .item b {
	background: url(../images/script.png) no-repeat;
	 position: absolute;
	 top: 8px;
	 left: 320px;
	 width: 25px;
	 height: 23px;
	  background-position:-275px -44px;
}
.basic_infor .item strong {
	background: url(../images/script.png) no-repeat;
	 position: absolute;
	 top: 10px;
	 left: 130px;
	 width: 30px;
	 height: 30px;
	 background-position:-275px -70px;
}
.center_touxiang{
	width:280px;
	height:280px;
	text-align: center;
	margin-left:80px;
	background-color: #f7f7f7;
margin-top:10px;}

.center_touxiang img{
	width:150px;height:150px;
	border:1px solid #cccccc;
	margin-top:65px;
}
.basic_infor-item input.tijio_xinxi{margin:15px 0 0 -5px;background-color: #f55858;color: #fff;font-size: 16px;width:280px;height:35px;}
 #upload_picture{margin-top:-33px;margin-left:170px;height:35px;line-height:35px;}
/*数量代码*/
.spinner {
	overflow: hidden;
	display: inline-block;
	vertical-align: middle
}
.spinner button, .spinner .value {
	text-align: center;
	display: block;
	float: left;
	height: 100%;
}
.spinner button {
	border: #c9c9c9 1px solid;
	width: 25px;
	height:25px;
	font: 14px Arial bold;
	padding: 0;
	background-color:#ffffff;
}
.spinner .decrease {
	cursor: pointer;
}
.spinner .decrease[disabled] {
	cursor: default
}
.spinner .increase {
	background-position: 0 0;
	cursor: pointer;
}
.spinner .value {
	width: 57px;
	height: 23px;
	border-top:#c9c9c9 1px solid;
	border-bottom:#c9c9c9 1px solid;
	font-family: Arial;
	padding: 0px
}
.spinner .value.passive {
	color: #919191
}
.spinner .error, .spinner .invalid {
	background: #aa0000
}

/*修改密码*/
.keyword{padding:40px 40px;}
.keyword .item>span{font-size: 14px;}
.basic_infor .keyword .item{margin-bottom:20px;}
.pw-strength {display:inline-block;position: relative;top: 8px;width: 137px;}
/*
.pw-bar{background: url(../images/pwd-1.png) no-repeat;height: 30px;overflow: hidden;width: 137px;}
.pw-bar-on{background:  url(../images/pwd-2.png) no-repeat; width:0px; height:30px;position: absolute;top: 0px;transition: width .5s ease-in;-moz-transition: width .5s ease-in;-webkit-transition: width .5s ease-in;-o-transition: width .5s ease-in;}
*/
.pw-weak .pw-defule{ width:0px;}
.pw-weak .pw-bar-on {width: 45px;}
.pw-medium .pw-bar-on {width: 91px;}
.pw-strong .pw-bar-on {width: 137px;}
.r_password_right input{
	width: 300px;
	height: 30px;
	float: left;
	line-height: 30px;
	border: 1px solid #e5e5e5;
	 border-radius: 3px;
	 color: #666666;
	  font-size: 12px;
}
.r_password_right .item:last-of-type input {
	background-color: #ad0610;
	color: #ffffff;
	text-align: center;
	line-height: 30px;
	border: none;
	margin-left: 120px;
	margin-top: 10px;
}
.r_password_right .item:last-of-type input:hover { background-color: #e6000f;color: #ffffff;
}
/*收货地址管理*/
.save input{border:1px solid #f55858;line-height: 35px;height:35px;}
.Add_location{padding:0 28px;}
.Add_location table{width:100%; border-collapse:collapse;text-align: center;}
.Add_location tr{line-height: 30px;}
.Add_location tr:first-of-type{border:1px solid #e6e6e6;}
.Add_location th{background-color: #f7f7f7;padding:8px 12px;}
/* .Add_location th:nth-of-type(2){width:270px;} */
.Add_location td{border:1px solid #e6e6e6;padding:8px 12px; text-align: left}
.Add_location a{color: #f55858; font-size:12px;
}
.Add_location a.buy-it {color: #fff; background-color: #f55858;width:100px;height:30px;line-height: 30px;display: block;text-align:center;border-radius:4px;
}
/*申请退换货*/
.basic_infor .tabqh2-menu{background-color: #fff}
.basic_infor .tabqh2-menu ul{height:40px;border-bottom:none;font-size: 14px;}
.basic_infor .tabqh2-menu li{line-height:32px;color: #666;}
.center_Return{width:100%; border-collapse: collapse;font-size: 12px;}
.jiesuan{margin-bottom:20px;padding:5px}
.center_Return tr:first-child{
	border-top:1px solid #e6e6e6;
	height:40px;
	line-height: 40px;
	background-color: #fcfcfc;
	}
.basic_infor .tabqh2-menu li a.tabactive{
	display: block;
	padding:0px;
	color:#00a4e6;
	border-bottom:2px solid #00a4e6;
	margin-top:1px;
	/* [disabled]height:50px; */
}

.center_Return th{font-weight:500;font-style: normal;}
.center_Return td{border:1px solid #e6e6e6; text-align: center; vertical-align:top;padding:10px 0}
.center_Return td img{width:70px;height:70px;display: block;margin:6px auto 0;}
.center_Return td a.apply{
	width:70px;
	height:30px;
	border-radius: 4px;
	display: block;
	border:1px solid #e6e6e6;
	text-align: center;
	line-height: 30px;
font-size: 12px;}

.center_Return td a.apply:hover{background-color: #f55858;color: #fff;}
.center_Return td:first-of-type{border-left:none;}
.center_Return td:last-of-type{border-right:none;}
.center_Return td:nth-of-type(2){text-align: left;padding:6px; width:40px;}
.center_Return td div{display: inline-block;margin-right:10px;}
.Return_records td:nth-of-type(2){text-align: center;}
.Return_records td:nth-of-type(3){text-align: center;max-width:150px;}
.Return_records td h4{line-height: 25px;padding:0 15px;}
.Return_records a{display: block; margin:0 auto;font-size: 12px;color: #808080;line-height: 25px;}
.Return_records a:hover{color: #00a4e6}

/*我的购物车*/
.center_mycar tr:first-child{border-top:none;}
.center_mycar td{border-left:none;border-right:none;margin-bottom:10px;}
.center_mycar td img{border:1px solid #e6e6e6;width:80px;height:80px; float:left;margin-bottom:6px;}
.center_mycar a{font-size: 12px;}
.center_mycar th:nth-of-type(2){text-align: left;padding:0 5px;}
.center_mycar .choose{width:50px;}
.center_mycar .choose input{margin-left:30px;}
.center_mycar td.choose{vertical-align: top;padding-top:20px;}

.center_mycar td:nth-of-type(2){font-size: 20px;}
.center_mycar td:nth-of-type(2) a{display: inline-block; vertical-align: middle;}
.center_mycar td.price{color: #f53914}
.jiesuan{text-align: right;padding-right:40px;}
.jiesuan strong{font-weight:normal;color: #f55858;}
.jiesuan input[type=text]{width:80px;text-align: center; color:#f55858;}/*修改*/
.jiesuan input[type=button]{width:80px;height:35px;line-height: 35px;background-color: #f55858;color: #fff;margin-top:10px;}
.sep-row{height:15px;}
.center_mycar .sep-row td{border:none;}
.center_mycar h4{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	width:140px;
	margin-left:10px;
	float:left;
	margin-top:6px;}
.shuzi{ text-align:center;}
.bhzp{background-color: #f55858; border-radius: 3px; color: #fff; display: inline-block; margin-left: 10px;  padding: 2px 8px;}
.fwsj{ float:left; margin-left:10px; margin-top:10px;}

.shopcar_empty {margin:200px 200px;}
.shopcar_empty  a {background-color:#f55858;border:1px solid #f55858;border-radius:5px;color:#fff;padding:5px 20px;position:absolute;margin:150px -115px;font-size:18px;}

/*我的订单*/
.my_order td img{display: inline-block;vertical-align: middle;}
.my_order td a{font-size: 12px;display: block;margin-bottom:8px;}
.my_order td a:hover{color: #00a4e6;}
.my_order td:nth-of-type(2){ text-align: center;}
.my_order td:last-of-type,.center_mycar tbody td:last-of-type{width:100px;}
/*查看订单*/
.order{background-color: #fff;border:1px solid #dfdfdf;}
.check-top { border: 1px solid #f1847d;padding: 10px 25px; background-color: #fcfcfc; margin: 20px 0;
}
.check-top li {overflow: hidden; line-height: 30px;font-size: 18px;padding-bottom: 5px;
}
.check-top li span {display: block;float: left;margin-right: 35px; color: #666666;
}
.check-top li span:first-of-type { color: #333333;
}
.check-top li i { font-style: normal; color: #f53914;
}

.buy-pay {padding:0 20px;height: 30px;line-height: 30px; display: inline-block;background-color: #f55858;text-align: center;color: #fff;
}
.check-top li p { font-size: 14px;color: #666666; line-height: 20px;padding-top: 10px;
}
.check-bottom {padding-bottom: 20px;

}
.check-bottom h3{line-height: 35px;font-size: 15px;color: #333333;padding-left:15px;background-color: #fcfcfc;border:1px solid #dfdfdf;border-left:none;border-right:none;}
.check-bottom ul {padding: 20px 30px;border-bottom:1px solid #e6e6e6;
}
.check-bottom ul:nth-of-type(n+3) {border-bottom: none;
}
.check-bottom ul li { font-size: 12px;color: #666666;line-height: 28px;
}
.check-bottom ul li:first-of-type {font-size: 14px;color: #333333;
}

.check-bottom .share-t {border: 1px solid #e6e6e6; text-align: center; border-bottom: none;width:100%;
}
.check-bottom .share-t th {
	background-color: #fcfcfc;
	height: 43px;
	font-weight: normal;
	border-bottom: 1px solid #e6e6e6;
	font-size: 14px;
	color: #666;
}
.check-bottom .share-t td{
	border-right:  1px solid #e6e6e6;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:  1px solid #e6e6e6;
	line-height: 25px;
	font-size:14px;
}
.share-t a{color:#666;}
.share-t a:hover{color:#f55858;}
.check-bottom .share-t td:nth-of-type(6){color:  #f53914;}
.check-bottom .share-t img {border: 1px solid #e6e6e6;
}
.check-bottom .share-t .cont-name{width:30%;
}
.check-bottom .check-it {color: #f53914; display: block;
}
.check-bottom .check-all{text-align: right; font-size: 24px;color: #333333;
}
.check-bottom .check-all span { color: #f53914;font-size: 24px;
}

/*货到付款*/
/* .fukuan {color: #e6000f;font-size: 24px;padding: 50px 0 50px; text-align: center;line-height: 38px;
}
.fukuan span {color: #4d4d4d;font-size: 17px;
}
.buy-car table {width: 100%;margin-bottom: 40px; border-collapse:collapse;
}
.sep-row {height: 10px;
}
.buy-car thead tr,.buy-car tbody tr{border: 1px solid #cccccc;
}
.buy-car tfoot tr {border: 1px solid #e6e6e6;
}
.buy-car thead th { color: #333333;line-height: 42px; background-color: #fafafa; font-weight: 500;width: 28%;
}
.buy-car thead th:last-of-type {width: 16%
}
.buy-car tbody th { color: #666666;font-size: 14px; padding: 20px 0;font-weight: 500;
}
.buy-car tfoot {color: #4c4c4c; font-size: 14px;height: 67px;line-height: 67px; background-color: #fafafa;
}
.buy-car tfoot th {font-weight: 500;
}
.buy-car tfoot span { color: #e6000f;font-size: 18px;
} */
.fukuan {color: #f55858;font-size: 22px;padding: 50px 0 50px; text-align: center;line-height: 38px;
}
.fukuan span {color: #4d4d4d;font-size: 16px;
}
.buy-car table {width: 100%;margin-bottom: 40px; border-collapse:collapse;
}
.sep-row {height: 10px;
}
.buy-car tr{border: 1px solid #cccccc;}
.buy-car th { color: #333333;line-height: 42px; background-color: #fafafa; font-weight: 500;width: 28%;}
.buy-car th:last-of-type {width: 16%}
.buy-car td { color: #666666;font-size: 14px; padding: 20px 0;font-weight: 500; text-align:center;}

.fukuanbox{ background-color:#fafafa; color:#333; border:1px solid #ccc; padding:20px 40px; overflow:hidden; margin-bottom:30px;}
.fubox{ overflow:hidden;}
.leftfu{ float:left;}
.rightfu{ float:right;}
.rightfu span{ color:#f55858; font-size:16px;}
.fuhao{ margin-bottom:10px;}
.fuhao span{ font-size:14px;}
.leftfu p{ font-size:12px; color:#666;}
.leftfu p span{ color:#f55858;}
.buy-fashi{background-color: #f55858; color: #fff; display: inline-block; height: 30px; line-height: 30px;  padding: 0 20px; text-align: center; margin-left:15px;}
.lijifu{ float:right;}
.qup{ text-align:center; margin-bottom:60px;}
.qup a{ color:#f55858; margin:0 5px;}
/*提交页面*/
.submit_order form>div>h3{font-size: 16px;color: #333;border-left:3px solid #f55858;height:15px;line-height: 15px;margin:15px 0 10px 0;padding-left:3px;}
.address h3{display: inline-block;}
.address ul{padding:10px 40px;}
.address ul li{line-height: 40px;overflow: hidden;}
.address ul li:hover{background-color: #e6e6e6;}
.address ul li div{float: right;}
.address ul li b.chosen{float: left;display: block;color: #f55858;font-weight: 500}
.address ul li a{color: #0099db;margin-right:30px;}
.address ul li span{float: left;padding-left:80px;}
.address ul li b.chosen+span{float: left;padding-left:15px;}
.address ul li span:before{
	/* content: url(../images/dian.png); */
	width:16px;
	height:16px;
	padding-right:10px;
	vertical-align: middle;
	padding-top:5px;
	}
.address ul li:last-of-type:hover{background-color:#fff;}
.address ul li:last-of-type span{color: #0099db;cursor: pointer;}
.address ul li:last-of-type span:before{content:none;}
.commos h3{margin-top:15x;}
.commos table{width:100%;border:1px solid #e6e6e6;}
.commos img{width:50px;height:50px;border:1px solid #e6e6e6;vertical-align: middle;}
.commos th{line-height: 38px;background-color: #f3f3f3;color: #666;font-weight: normal;border-bottom:1px solid #e6e6e6;;}
.commos td{padding:10px 20px;text-align: center;}
.commos .price{color: #f55858;font-size: 13px;}
.D_mode table{border:none;border-top:1px solid #e6e6e6;}
.D_mode td{border-bottom:1px solid #e6e6e6;border-left:1px solid #e6e6e6; }
.D_mode td:first-of-type{border-left:none;}
.D_mode i{color: #f55858;font-style: normal;}
.D_mode p{line-height: 25px;text-align: left;}
.sjs{padding:20px 20px; overflow: hidden;}
.sjs>div{float: left;}.sjs>div+div{float: right;}
.sjs>ul li{line-height: 30px;}
.sjs h5{color: #f55858;line-height: 30px;}
.sjs textarea{border:1px solid #e6e6e6;width:300px;height:100px;padding:9px;}
dl dt{display: inline-block;width:300px;text-align: right;font-size: 16px;}
dl dd{display: inline-block;width:100px;text-align: left;margin-left:0;color: #f55858;font-size: 16px;}
dl strong{font-size: 18px;color: #f55858;font-weight: 500;}
dl input{padding:10px 20px;color: #fff;background-color: #f55858}
/*弹出层发票信息*/
.tabs {
    float:left;
    background-image: url(themes/images/nav_bg.jpg);
    width:100%;
}
.tabs ul
{
    list-style: none outside none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.tabs ul li
{
    float: left;
    line-height: 24px;
    margin: 0;
    padding: 2px 20px 0 15px;
    margin-right:15px;
}
.tab-nav{border:1px solid #d9d9d9;}
.tab-nav-action{
	border:1px solid #dc010f;
    cursor:pointer;
}
.tabs-body
{
    padding: 5px 0 0;
    width: 100%;
}
.card_xinxi input.fapiaozhonglei,.card_xinxi input.fapiaozhonglei1{
	display: inline-block;
	width:120px;
	height:35px;
	line-height: 35px;
	border:1px solid #d9d9d9;
	color: #666666;
	margin-right:10px;
	text-align: center}
.card_xinxi input.fapiaozhonglei{
	background-color: #fafafa;
	border:1px solid #dc010f;
}
.card_shuoming{margin-top:35px;margin-bottom:20px;}
.card_shuoming p{padding:15px 15px;
	color: #666;
background-color: #fafafa;
border:1px solid #d9d9d9;}
a.fapiaoa{border:none;
	padding:0;
	color: #dc010f;
}
.baocunfapiao input{
	width:120px;
	height:35px;
	text-align: center;}
.card_xinxi i{color: #e00210;font-size: 14px;}
.card_xinxi b{margin-left:10px;color: #b2b2b2;}
.identityCard1{	background-color: rgba(63,63,63,0.4);
}
.card_sizheng{position: relative;}
.card_sizheng input{width:160px; }
.card_sizheng input.input1{position: absolute;top:4px;left:115px;opacity: 0;filter:alpha(opacity=0);}
.card_sizheng img{position: absolute;top:1px;left:247px;}
.card_sizheng input.input2{width:80px; text-align: center}

/*add  Product_details*/
.imgdiv_evaluation ul{ padding:30px 40px;}
.imgdiv_evaluation ul li img{ display:block; margin:0 auto;}

#gallery { width:528px; float:left;}
#descriptions { position: relative; height: 50px; background: #EEE;  margin-top: 10px; width: 640px; padding: 10px; overflow: hidden;}
#descriptions .ad-image-description { position: absolute;}
#descriptions .ad-image-description .ad-description-title { display: block;}
.ad-gallery { width: 600px;}
.ad-gallery, .ad-gallery * { margin: 0; padding: 0;}
.ad-gallery .ad-image-wrapper { width: 100%; height: 320px; margin-bottom: 10px; position: relative; overflow: hidden;}
.ad-gallery .ad-image-wrapper .ad-loader {
      position: absolute;
      z-index: 10;
      top: 48%;
      left: 48%;
      border: 1px solid #CCC;
    }
    .ad-gallery .ad-image-wrapper .ad-next {
      position: absolute;
      right: 0;
      top: 0;
      width: 25%;
      height: 100%;
      cursor: pointer;
      display: block;
      z-index: 100;
    }
    .ad-gallery .ad-image-wrapper .ad-prev {
      position: absolute;
      left: 0;
      top: 0;
      width: 25%;
      height: 100%;
      cursor: pointer;
      display: block;
      z-index: 100;
    }
    .ad-gallery .ad-image-wrapper .ad-prev, .ad-gallery .ad-image-wrapper .ad-next {
      /* Or else IE will hide it */
      background: url(non-existing.jpg)\9
    }
      .ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image, .ad-gallery .ad-image-wrapper .ad-next .ad-next-image { background-image:url(../images/left.png); background-repeat:no-repeat;
        width: 38px;
        height: 38px;
        display: none;
        position: absolute;
        top: 47%;
        left: 0;
        z-index: 101;
      }
      .ad-gallery .ad-image-wrapper .ad-next .ad-next-image { background-image:url(../images/right.png); background-repeat:no-repeat;
        width: 38px;
        height: 38px;
        right: 0;
        left: auto;
      }
    .ad-gallery .ad-image-wrapper .ad-image {
      position: absolute;
      overflow: hidden;
      top:0 !important;
      left: 0;
      z-index: 9;

    }
      .ad-gallery .ad-image-wrapper .ad-image a img {
        border: 0;
      }
      .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 7px;
        text-align: left;
        width: 100%;
        z-index: 2;
        background: url(opa75.png);
        color: #000;
      }
      .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
        background: none;
        filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=true, sizingMethod=scale, src='opa75.png');
      }
        .ad-gallery .ad-image-wrapper .ad-image .ad-image-description .ad-description-title {
          display: block;
        }
    .ad-gallery .ad-info {
      float: left;
    }
    .ad-gallery .ad-slideshow-controls {
      float: right; display:none !important;
    }
      .ad-gallery .ad-slideshow-controls .ad-slideshow-start, .ad-gallery .ad-slideshow-controls .ad-slideshow-stop {
        padding-left: 5px;
        cursor: pointer;
      }
      .ad-gallery .ad-slideshow-controls .ad-slideshow-countdown {
        padding-left: 5px;
        font-size: 0.9em;
      }
    .ad-gallery .ad-slideshow-running .ad-slideshow-start {
      cursor: default;
      font-style: italic;
    }
  .ad-gallery .ad-nav {
    width: 100%;
    position: relative;
  }

    .ad-gallery .ad-forward {
      cursor: pointer;
      display: block;
      right: -20px;
      width: 13px;
      background: url(ad_scroll_forward.png) 0px 22px no-repeat;
    }
    .ad-gallery .ad-nav .ad-thumbs {
      overflow: hidden;
      width: 100%;
    }
      .ad-gallery .ad-thumbs .ad-thumb-list {
        width: 300px !important;
        list-style: none;
		margin:0 auto;
      }
        .ad-gallery .ad-thumbs li {
          float: left;
          padding-right: 5px;
		  display:inline-block;
        }
          .ad-gallery .ad-thumbs li a {
            display: block;
          }
            .ad-gallery .ad-thumbs li a img {
              border: 1px solid #e5e5e5;
              display: block;
            }
            .ad-gallery .ad-thumbs li a.ad-active img {
              border: 2px solid #fbabab;
            }
/* Can't do display none, since Opera won't load the images then */
.ad-preloads {
  position: absolute;
  left: -9000px;
  top: -9000px;
}

.jianzu{ background-color:#fff; border:1px solid #dfdfdf; margin-top:10px;}
.zuti{ background-color:#f7f7f7; height:40px; line-height:40px; border-bottom:1px solid #e6e6e6; font-size:16px; padding-left:20px;}
.stab{ margin-left:-1px; overflow:hidden; margin-top:15px;}
.stab li{ float:left; color:#0099db; border-left:1px solid #d4d1c8; cursor:pointer; height:16px; line-height:16px; margin-bottom:10px; padding:0 15px; text-align:center;}
.linox{ color:#f55858 !important;}
.stabcon{ padding:20px; overflow:hidden; }
.master{ float:left;}
.stabcon img{ width:100px; height:100px; border:1px solid #ccc;}
.xib{ font-size:12px;}
.fore{ float:left;}
.choose input{ vertical-align:middle;}
.J-p-495892{ color:#f55858;}
.J-p-1215508{color:#f55858; font-size:16px;}
.jiahao{ background-image: url("../images/jia.png");  background-position: center bottom;background-repeat: no-repeat; display: block; float: left;height: 25px; margin-top: 35px; padding: 0 10px; width: 25px;}
.infos{ overflow:hidden;}
.rrinfo{ float:right;}
.p-name{ color:#999; margin-bottom:10px;}
.jiahao01{ background-image:url(../images/deng.png); background-position:center bottom;background-repeat: no-repeat; display: block; float: right;height: 25px; margin-top: 35px; padding: 0 10px; width: 25px;}
.lmm{ display:block;border: 1px solid #f14444;color:#fff; border-radius: 4px; width:120px; background-color:#f55858; height: 30px; line-height: 30px; margin-right: 18px; text-align: center; width: 120px;}

/*end  add  Product_details*/

/* 分页 start */
.min_page { clear: both; display: table; margin: 35px auto; overflow:hidden;}
.min_page a{ display:block; float:left; margin-left:5px; border:1px solid #e5e5e5; text-align:center; width:30px; height:30px; line-height:30px; border-radius:3px; color:#737373;}
.min_page spqn{ display:block; float:left; margin-left:5px; text-align:center; width:30px; height:30px; line-height:30px; border-radius:3px; color:#737373;}
.min_page a.min_page_biao{ width:80px; height:30px;}
.on_min_page{ background-color:#f55858 !important; color:#fff !important;}
.min_page a:hover{background-color:#ccc; color:#fff !important;}
/* 分页 end */

/*start 自定义*/
#new_address{font-size: 14px}
.numplus{
	margin-bottom:10px;
}
.goodsnumber{
	width: 57px;
	height: 23px;
	border:#c9c9c9 1px solid;
	font-family: Arial;
	padding-left:0 ;
	text-align:center;
	display: block;
	float: left;

}

.down{
	width:23px;
	height:23px;
	border-top:#E6E6E6 1px solid;
	border-bottom:#E6E6E6 1px solid;
	border-right:#E6E6E6 1px solid;
	display: block;
	float: left;
}

.up{
	width:23px;
	height:23px;
	border-top:#E6E6E6 1px solid;
	border-bottom:#E6E6E6 1px solid;
	border-left:#E6E6E6 1px solid;
	display: block;
	float: left;
}
.stock_name{
	display: block;
}
.address_gb{
	float: right;
	margin-right: 10px;
}
.check-all1{float: right}
.card_xinxi .tishi{color: #e71623;width: 180px;text-align: left;display: inline-block;}
.zhifu{width: 60px;height: 20px;background-color: #e71623}
.pro{float: left; width: 80px;}
.gpro{margin-top: 30px;}
#subs{margin-left: 0px;}
.rgnum,.egnum{border: 1px solid #e6e6e6;float: left;width: 60px;height: 23px;}
.rdown,.edown{margin-left: 0px;}
.status{color: #00A4E6;}
.rdown,.rup,.rgnum,.edown,.eup,.egnum{text-align: center;}
/*end 自定义*/


/* 返回顶部特效 */
.toolbar-item,.toolbar-layer{background:url(../images/toolbar.png) no-repeat;}
.toolbar{position:fixed;right:0px;bottom:50px;}/*假设网页宽度为1200px，导航条在右侧悬浮*/
.toolbar-item{display:block;width:52px;height:52px;margin-top:1px;position:relative;-moz-transition:background-position 0.5s;-ms-transition:background-position 0.5s;-o-moz-transition:background-position 0.5s;-webkit-moz-transition:background-position 0.5s;transition:background-position 0.5s;}
.toolbar-item:hover .toolbar-layer{opacity:1;filter:alpha(opacity=100);transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);}
.toolbar-item-weixin{background-position:0 -798px;}
.toolbar-item-weixin:hover{background-position:0 -860px;}
.toolbar-item-weixin .toolbar-layer{height:212px;background-position:0 0;}
.toolbar-item-feedback{background-position:0 -426px;}
.toolbar-item-feedback:hover{background-position:0 -488px;}
.toolbar-item-app{background-position:0 -550px;}
.toolbar-item-app:hover{background-position:0 -612px;}
.toolbar-item-app .toolbar-layer{height:194px;background-position:0 -222px;}
.toolbar-item-top{background-position:0 -674px;}
.toolbar-item-top:hover{background-position:0 -736px;}
.toolbar-layer{position:absolute;right:46px;bottom:-10px;width:172px;opacity:0;filter:alpha(opacity=0);
transform-origin: 95% 95%;-moz-transform-origin: 95% 95%;-ms-transform-origin: 95% 95%;-o-transform-origin: 95% 95%;-webkit-transform-origin: 95% 95%;transform:scale(0.01);
-moz-transform:scale(0.09);-ms-transform:scale(0.09);-o-transform:scale(0.09);-webkit-transform:scale(0.09);transition:all 1s;-moz-transition:all 1s;-ms-transition:all 1s;-o-transition:all 1s;-webkit-transition:all 1s;}


/*center_mypingjia*/
.center_Return01{ border-collapse: collapse; font-size: 12px; width: 100%;}
.center_Return01 tr:first-child { background-color: #fcfcfc; border-top: 1px solid #e6e6e6; height: 40px;line-height: 40px;}
.center_Return01 tr{ border-bottom:1px solid #e6e6e6;}
.center_Return01 th { font-style: normal; font-weight: 500;}
.center_Return01 td:first-of-type { border-left: medium none;}
.center_Return01 td { text-align: center;}
.center_Return01 td:nth-of-type(2) img{ border: 1px solid #e6e6e6; display: inline-block; height: 54px; margin: 6px auto 0; width: 54px;}
.center_Return01 td:nth-of-type(2) { padding: 6px 15px; text-align: left; width: 400px;}
.center_Return01 td a { display: block; font-size: 12px; margin-bottom: 8px;}
.xlimg{ width:120px;}
.xlimg img{ width:34px !important; height:34px !important;}
.ppxinxi{ width:180px; padding:10px;}
.ppxinxi span{ color:#f55858; display:block;}
.rqjz{ display:block; color:#999;}

/*end center_mypingjia*/

/*center_pingjia*/
.pjpr{ overflow:hidden;}
.pjpr img{ border: 1px solid #e6e6e6; float: left; height: 80px; width: 80px;}
.rgming{ float:left; margin-left:20px;}
.pjpr h4{ margin-top: 6px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal;}
.pjpr h4 span{background-color: #f55858; border-radius: 3px; color: #fff; display: inline-block; margin-left: 10px; padding: 2px 8px;}
.rgming p{ margin-top:10px;}
.xingbx{ margin:20px 0; overflow:hidden;}
.xingbx li{ float:left; margin-right:40px;}
.xingbx li span{ background-repeat:no-repeat; background-position:left center;display: inline-block; height: 40px; line-height: 40px; margin-left: 8px; padding-left: 44px;}
.xili1{ background-image:url(../images/grading_1.png);}
.xili2{ background-image:url(../images/grading_2.png);}
.xili3{ background-image:url(../images/grading_3.png);}
.txpingjia{ padding:5px 10px; font-size:12px; border:1px solid #e6e6e6;}
.shangchuan{ margin-top:5px;position: relative;}
.shangchuan strong{background-image: url(../images/camera.jpg);background-repeat: no-repeat;background-position: center;height: 54px;width: 54px;border: 1px solid #e6e6e6;display: inline-block;position: absolute;left: 0;top: 0;}
.shangchuan .strong{margin-left: 80px;}
.shangchuan input{ border:1px solid #ccc;height: 54px;line-height: 54px;width: 54px;}
.shangchuan img{ width:54px; height:54px; border:1px solid #e6e6e6; display:inline-block;}
#com_img img{width:54px; height:54px; border:1px solid #e6e6e6; display:inline-block;}
.shangchuan img:active{ border:1px solid #ccc;}
.btx{ margin-top:30px;}
.btx input{float: left; height: 20px; line-height: 20px; width: 20px;}
.btt{ background-color: #f55858; border-radius: 3px; color: #fff; margin-left: 300px; padding: 6px 25px;}
textarea{resize:none}
.tishi{color: #F55858;}
/*end center_pingjia*/

/* 换货类型 change—type */
.typeinner ul li{width:70px;height:70px;line-height:70px;background-color:#f0f0f0;;text-align:center;margin:30px;border:1px solid #ccc;padding:20px;float:left}
.typeinner a:hover{color:#f55858;}

/* 换货申请 change-apply */
.changeapply{width:100%;text-align:center;font-size:12px;}
.changeapply a{font-size:12px;}
.changeapply a:hover{color:#f55858;}
.changeapply span{color:#f55858;}
.apply1{background-color:#fcfcfc;height:45px;line-height:45px;border:1px solid #e6e6e6;color:#666;}
.apply2{height:120px;line-height:120px;color:#666;}
.apply2 td{border-top:1px solid #e6e6e6;}
.zanwu{height:130px;line-height:130px;color:#999;background-color:#fcfcfc;border-bottom:1px solid #e6e6e6;border-top:1px solid #e6e6e6;text-align:center;}
.applyimg{float:left;line-height:80px;padding:20px 0 0 30px;}

/* 换货原因 change-reasons*/
.apply-wenxin{padding:20px;color:#666;font-size:12px;}
.reasons-check{margin:25px;height:20px;line-height:20px;}
.reasons-check span{width:100px;text-align:right;float:left;padding-right:20px;margin:0 auto}
.reasons-check input{}
.reasons-img{margin:25px;line-height:20px;}
.backmoney input{width:80px;height:20px;border:1px solid #ccc;padding:3px 5px;}
.reasons-check i{font-style:normal;color:#999;}
.backmoney b{font-weight:normal;color:#f55858;}
.reasons-check textarea{border:1px solid #ccc;}
.reasons-check a{border:1px solid #ccc;padding:8px 15px}
.item-tijiao{width:120px;height:30px;margin:20px 120px;background-color:#f55858;color:#fff;font-size:14px;}
/* 换货详情 change-detail*/
.change-order{width:500px;height:40px;margin:25px}
.basic-2{width:100%;height:30px;background-color:#fcfcfc;margin:-10px 0;border-bottom:1px solid #e6e6e6;}
.basic-2 p{color:#666;font-size:12px;white-space:pre;}
.basic-2 i{color:#0099db;font-style:normal;}
.basic-3 {width:880px;height:70px;margin:20px auto;background-color:#f2fbff;}
.basic-3 p{padding:20px;font-size:12px;color:#666;}
.basic-4 {margin:40px 70px;}
.basic-4-1{width:60px;text-align:center;float:left}
.basic-4-1 p{padding-top:15px;}
.basic-4-2 {float:left;}
.item-tijiao{margin:30px 70px;border:1px solid #f55858;border-radius:5px;}
.basic-5{width:880px;height:30px;margin:20px auto;border-bottom:1px solid #ccc;}
.basic-5-1 i{color:#ccc;font-style:normal;}
.basic-5-1{width:700px;height:30px;margin:50px 30px;border-bottom:1px solid #ccc;}
.basic-5-2{width:700px;margin:-40px 30px;border-bottom:1px solid #ccc;font-size:12px;line-height:2em;}
.basic-5-2 i{color:#ccc;font-style:normal;}
.basic-5-3{width:700px;height:120px;margin:40px 30px;}
.basic-5-3 p{font-size:12px;line-height:2em;}

/* 我的评价 */
.evaluation{width:100%;}
.evaluation table{font-size:12px;}
.evaluation tr:first-child{background-color: #fcfcfc;height:40px;}
.evaluation td{border-bottom:1px solid #ccc;padding:0 34px}
.evaluation p{padding:20px 0;}
.evaluation i{font-style:normal;color:#999;}
.evaluation b{font-style:normal;color:#f55858;}

/* 发表评价 */
.eva{margin:30px 40px;}
.eva2{margin:130px 0px;}
.publish2{width:120px;height:35px;line-height:35px;float:left;}
.publish2 input{margin:10px;float:left}
.publish2 img{float:left;}
.eva3 textarea{margin:50px 0 20px;color:#999;font-size:12px;padding:20px;border:1px solid #ccc;}
.eva4 img{height:56px;width:56px;margin-right:10px;border:1px solid #ccc;}
.publish5 input{float:left;}
.publish5{margin:40px 0;height:30px;width:500px;line-height:14px;float:left;}
.pub-item input{float:left;width:120px;margin-left:410px;margin-top:-25px;height:30px;background-color:#f55858;color:#fff;border:1px solid #f55858;border-radius:5px;}



/* 个人中心增加 */
/*上传单个图片 */
.btn{ -webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;background-color: #ff8400;color: #fff;display: inline-block;height: 14px;line-height: 14px;text-align: center;width: 72px;transition: background-color 0.2s linear 0s;border:none;cursor:pointer;margin:0 0 20px;}
.demo{width:700px;margin:0 auto}
.btn:hover{background-color: #e95a00;text-decoration: none}
.ul_pics li{float:left;width:160px;height:160px;border:1px solid #ddd;padding:2px;text-align: center;margin:0 5px 5px 0;}
.ul_pics li .img{width: 160px;height: 140px;display: table-cell;vertical-align: middle;}
.ul_pics li img{max-width: 160px;max-height: 140px;vertical-align: middle;}
.progress{position:relative;padding: 1px; border-radius:3px; margin:60px 0 0 0;}
.bar {background-color: green; display:block; width:0%; height:20px; border-radius:3px; }
.percent{position:absolute; height:20px; display:inline-block;top:3px; left:2%; color:#fff }

/*订单分页*/
.page{ float:right; padding:10px;overflow:hidden;clear:both;}
.page div{border-left:1px solid #F55858; overflow:hidden;}
.page span,.page a{width:auto; overflow:hidden;float:left; height:32px; line-height:32px; padding:0px 10px;background:#fff; border:1px solid #f63; border-left:none; font-size:14px;}
.page .current{ background:#F55858; color:#fff;}
.wrapper-order {clear: both;width: 100%;margin: 0px auto;}
.wrapper-address{width:960px;margin:0 auto;clear:both;}

/* 商品评分* */
.evaluate-clear:after{
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}
.evaluate-clear{
	zoom:1;
}

.evaluate-clear .title{
	float:left;
}
.evaluate-clear .target-demo{
	float:left;
}
.evalute-clear .hint{
	float:left;
}

/* = uploadify上传插件样式  多图片上传
------------------------------------------ */
.uploadify-button {
	position: relative;
	text-align: center;
	color: #fff;
	cursor: pointer;
	border-radius:4px;
	background-color: #27ae60;
}
.uploadify-queue-item {
	position: absolute;
	margin-top: 4px;
	padding: 15px;
	width: 470px;
	border: 1px solid #ccc;
	background-color: #fff;
}
.uploadify-queue-item .cancel {
	float: right;
}
.uploadify-queue-item .cancel a,
.uploadify-queue-item .cancel a:hover {
	font-family: Consolas;
	color: #404040;
	text-decoration: none;
	border-bottom: 0 none;
}
.uploadify-queue-item .fileName {
	color: #2D7200;
}
.uploadify-error {
	background-color: #FDE5DD !important;
}
.uploadify-queue-item.completed {
	background-color: #E5E5E5;
}
.uploadify-progress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.uploadify-progress-bar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}
.upload-img-box {
	margin-top: 4px;
}
.upload-img-box .upload-pre-item {
	padding: 1px;
	width: 120;
	max-height: 120px;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	border: 1px solid #ccc;
	transition: all .3s linear;
}
.upload-img-box .upload-pre-item img {
	vertical-align: top;
}
.upload-img-box .upload-pre-file {
	padding: 0 10px;
	width: 380px;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border: 1px dashed #ccc;
	background-color: #fff;
}

/* 上传图片点击弹出层 */
.upload-img-popup {
	position: fixed;
	z-index: 9999;
	padding: 3px;
	border: 1px solid #c3c3c3;
	background-color: #fff;
	box-shadow: 0 0 4px rgba(0,0,0,.5);
}
.upload-img-popup .close-pop {
	position: absolute;
	top: -8px;
	right: -8px;
	width: 17px;
	height: 17px;
	background: url(../images/bg_icon.png) no-repeat -25px 0;
}
.upload-img-popup .close-pop:hover {
	text-decoration: none;
	border-bottom: 0 none;
}
.upload-img-popup img {
	display: block;
}
.upload_icon_all {
	width: 15px;
	height: 15px;
	background: url(../images/attachment_1.png);
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px
}
.btn-close{
    position: absolute;
    top: -8px;
    right: -8px;
    width: 17px;
    height: 17px;
    background: url('../images/bg_icon.png') no-repeat -25px 0;
    cursor: pointer;
}

.btn-close:hover {
    text-decoration: none;
    border-bottom: 0 none;
}

.upload-img-box .upload-pre-item{
    position: relative;
    margin-top: 8px;
    overflow: visible;
    float: left;
    margin-right: 8px;
}

.upload-pre-item img{
    max-height: 120px;
}




