* {margin:0;padding:0;font-size:14px;font-family:Microsoft Yahei;}
li {list-style:none;}
fieldset,img {border:none 0;}
.inner{width:1190px;margin:0 auto;overflow:hidden;height:auto}
input{border:none 0; vertical-align:middle;background: rgba(0, 0, 0, 0) none repeat scroll 0 0;}
a{text-decoration:none; color: #666666;cursor: pointer;}
a:hover{color:#0099db;}
img { border: medium none; vertical-align: middle;}
h1,h2,h3,h4{font-weight:normal;}
span{color:#f55858;}
body { font-family: "Trebuchet MS",Verdana,Arial,sans-serif;background-color:#f2f2f2}
body { color: #333;}
i{font-style:normal;color:#f55858;}
b{font-weight:normal;color:#999;}
.fl{float:left;}
.fr{float:right;}

/* 订单详情页*/
.navbox >li.active > a{background-color:#0096db;color:#fff;padding:5px 18px;}
/*top*/
.top{background-color:#e7e7e7;height:30px;line-height: 30px; vertical-align: middle;}
.topinner{ color: #666666; clear: both; margin: 0 auto; width: 1190px;}
.leftinner{float:left;background-color:#e7e7e7; font-size: 12px;color:#808080}
.rightinner{float:right;background-color:#e7e7e7;}
.topinner a{color:#666666;background-color:#e7e7e7;font-size: 12px;}
.topinner a:hover{color:#0099db;background-color:#e7e7e7;}
/*header*/
.header{background-color:#FFF;padding:15px 0; overflow:hidden;width:100%;overflow:hidden;line-height:55px}
.headerinner{margin:0 auto;width:1190px;overflow:hidden;}
.navbox a {color:#666;}
.navbox a:hover{color:#0096db;text-decoration:none;}
.logo{float:left;overflow:hidden}
.nav { float: right; margin-top:10px;width:55%;background-color:#FFF;}
.navbox {display: inline-block; float: left;max-width: 400px;min-width:240px;overflow:hidden;}
.moderna{color:#0099db;background-color:#FFF;}
.nav li {float: left ; margin:0px 27px;background-color:#FFF;}
#search-box{float:left;width:203px;;height:29px;background:url(../images/search.png) no-repeat 0 0; margin:0 auto;background-color:#FFF;margin-top:15px;margin-left:350px;;position:absolute;}
.input-box{ float:left; width:115px; height:29px;line-height:0px; padding-left:30px; border:0; background:none; text-align:left; font-size:14px}
.search-box .button{ float:right; border:0; background-color:none; text-indent:0px; width:58px; cursor:pointer;}
/* .button:hover{background-color:#0099db;color: #fff;} */
.nav .shoppingcart{margin:2px 0;float:right;background-color:#FFF;}
.shoppingcart span{color:#0099db;font-size:14px}

.shopcar_empty {margin:200px 200px;}
.shopcar_empty  a {background-color:#f55858;border:1px solid #f55858;border-radius:5px;color:#fff;padding:5px 20px;position:absolute;margin:150px -115px;font-size:18px;}


.order-head{padding:20px;margin:0 auto;width:1190px;}
#order{width:1190px;height:1000px;margin:0 auto;border:1px solid #d6d6d6;background-color:#fff}
.order-number{padding:30px 15px;border:0;background-color:#FFF}
.number{border:1px solid #f55858;margin:0 10px 0 -15px;width:1190px}
.order-information ul{height:158px;background-color:#FFF;font-color:#666}
h1{font-size:14px;padding:10px;color:#333}
h2{font-size:14px;padding:10px;color:#666666;border-top:1px solid #e6e6e6 }
h3{font-size:16px;background-color:#fcfcfc;padding:15px;}
.order-information ul{border-top:1px solid #d6d6d6;padding:15px;}
.order-information li{padding:5px;}
.order-information span{color:#333;font-size:16px;}

table{text-align:center;margin:auto;border-collapse:collapse;}
.table-a table{border:1px solid #F00}
/*  th{background-color:#d6d6d6;margin:0 auto;padding:0;border:1px solid #d6d6d6}
td{border:1px solid #d6d6d6;margin:0 auto}  */
.money{font-size:24px;padding:10px 0 0 900px;}
.money span{color:#f55858;font-size:24px}

.end{height:350px;width:100%;background-color:#fff;margin:150px auto 10px;}
.endinner{width:1190px;margin:auto}

.news1{float:left;}
.news2{float:left}
.news3{float:left}
.list{float:left;padding:10px 80px;border-top:1px solid #f5f5f5}
.list1{float:left;padding:0 30px;}
.list2{float:left;padding:0 110px}
.list3{float:left;padding:0 50px}
.list4{float:left;padding:0 100px}
.list5{float:left;}
.list h1{font-size:16px;padding:0 5px}
.list ul{;padding:5px 0;}
.list li{padding:5px;}
/*底部*/
.foot{background-color: #fff;border-top:1px solid #dfdfdf;margin-top:50px;}
.footer{width:1190px;margin:0 auto;}
.foottop{overflow: hidden;padding-top:50px;border-bottom:1px solid #e5e5e5;padding-bottom:40px;}
.foottop li{width:297px;text-align: center;float: left}
.foottop h3{color: #2e3438;margin-top:8px;}
.foottop span{color: #999;display: block;margin-top:8px;}
.footbottom{overflow: hidden;padding:40px 0 30px;}
.footbottom ul{float: left;width:138px;text-align: left;padding-left:100px;}
.footbottom ul.last_ul{padding-left:50px;}
.footbottom li h3{color: #363636;line-height: 40px;font-size:16px;}
.footbottom li a{color: #808080;font-size: 12px;line-height: 23px;}
.footbottom li a:hover{color: #f55858;}
.footbottom .tel{color: #4c4c4c;font-family:Arial; font-weight: 600;}
.footbottom h3{padding:0;}
/*版权所有*/
/*copyright*/
.copyright{width:100%;background-color:#f5f5f5;border-top:1px solid #dfdfdf;margin:20px auto 0;}
.copyinner{width:1090px;text-align:center; line-height:24px;padding:20px 0 0;color:#999;margin:auto}
.copyinner p{font-size:12px;font-color:#999;}
/* 注册页面 sign in */

#top{height:80px;width:1190px;margin:10px auto;}
.logo{float:left;overflow:hidden}
.signin{width:100%;height:750px;border:1px solid #d9d9d9;overflow:hidden;}
.signin-inner{padding:190px;width:500px;height:400px;margin:0 auto;}
.fs-title{color:#00a4e6;font-size:18px;text-align:center;margin:0 0 20px}
/*inputs*/
.signin-inner input, .signin-inner textarea {
	padding:15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 350px;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 14px;
}
.signin-inner .button{margin:15px 0;float:left;background-color:#00a4e6;border:1px solid #00a4e6;border-radius:5px;color:#FFF;font-size:16px;}
.putin{padding:0 70px}
.putin a{color:#00a4e6}
/* 注册页面2 sign in2 */
.in-email a{font-size:18px;}
/*咨询界面*/
.zixun{height:1050px;width:1190px;margin:auto;}
.zixun ul li{list-style:outside none none;overflow:hidden}
.nleft{width:100px;float:left;padding:20px}
.nright{width:650px;float:left;padding:40px 0 0 160px;}
.nright .title{font-weight:bold;color:#333;font-size:16px;}
.nright p{color:#666;font-size:12px;padding:5px 0;line-height:20px}
.all li{border-top:1px solid #e2e2e2;}
.zixun a:hover{color:#0099db;}
.pc a{font-size:14px}
.page{margin:-80px 300px}

.pc{padding:2px 10px;font-size:14px; color:#454449;margin:5px;border:1px solid #cccccc;outline:medium none; font-family:Microsoft Yahei;box-sizing: border-box;;border-radius: 2px;margin-left: 0;}
.page .moderna{color:#fff;background-color:#0099db;}


/*产品列表-换页*/
.pro-middle-page {margin:0px;text-align:center;}
.pro-middle-page a,.pro-middle-page span{padding:2px 10px;font-size:14px; color:#454449;margin:5px;border:1px solid #cccccc;outline:medium none; box-sizing: border-box;;border-radius: 2px;margin-left: 0;}
.pro-middle-page .current{color:#fff;background-color:#0099db;}

/* 咨询详情 */
.zixun-xiangqing{padding:30px 50px;}
.zixun-xiangqing h1{font-size:28px;padding:0}
.zixun-xiangqing .title{text-align:center;margin:0 auto;height:100px;border-bottom:1px solid #ccc;}
.zixun-xiangqing a{color:#0088db;}
.zx-xq img{width:900px;height:480px;margin:20px auto;}
.title h3{background-color:#fff;}

/* 提交订单 */
.content_box{width:1190px;margin:0 auto;}
.content-inner{width:1000px;height:auto;margin:0 auto;background-color:#fff;}
.submit1 h3{font-weight:bold;float:left;}
.sub-add input{float:right;margin:10px 20px;width:100px;height:30px;border:1px solid #ccc;background:#fff;}
.sub-add-choose{padding:60px 20px 0 20px;}
.submit1{border-bottom:1px solid #ccc;width:980px;margin:0 auto; height: auto;overflow: hidden;min-height:200px;}
.sub-add-choose ul{margin:0 auto;}
.sub-add-choose li{float:left;padding:10px;}
.sub-add-choose p{float:left;}
.sub-add-choose a{padding:0 10px;color:#0099db;float:left}
.subright{float:right !important}
.sub-list table{border:1px solid #e6e6e6;}
.sub-list th{height:37px;background:#e6e6e6;border-left:0;border-right:0;color:#666;}
.sub-list img{width:90px;height:90px;border:1px solid #ccc;float:left;margin:0 10px 0 70px;}
.sub-list p{float:left}
.sub-list td{height:110px;;border-left:0;border-right:0;color:#666;font-size:12px;background-color:fcfcfc;vertical-align:top;padding-top:20px}
.sub-fapiao{width:980px;margin:20px auto;border-bottom:1px solid #e6e6e6;}
.sub-fapiao p{padding:10px;}
.sub-fapiao a{color:#0099db;}
.sub-sum{white-space:pre;line-height:30px;margin-top:-50px;width:970px;}
.sub-sum input{width:120px;height:40px;color:#fff;font-size:16px;background:#f55858;border:1px solid #f55858;border-radius:5px;}
.sub-sum p{padding-right:20px;float:right;clear:right;}
.sub-sum i{ font-size:18px;}
/*提交订单-发票弹窗*/
.black{width:100%;height:100%;top:0;left:0;background-color:#000;opacity:0.2;filter:alpha(opacity=70);z-index:1000;position:fixed;}
.fapiao-tan{width:760px;height:650px;top:200;left:600;background-color:#fff;z-index:1000;position:fixed;border:2px solid #65b1d3;}
.fapiao-top{height:40px;background-color:#f3f3f3;line-height:20px;}
.fapiao p{padding:0 20px;}
.fapiao-inner1 input{width:120px;height:40px;margin:20px;border:1px solid #d9d9d9;}
.fapiao-inner2 {width:680px;height:10px;line-height:10px;margin:0 auto;background-color:#f3f3f3;border:1px solid #d9d9d9;padding:20px;}
.fapiao-inner2 i{padding:0 10px;}
.fapiao-inner3{background:url(../images/fapiaoinner_03.jpg) no-repeat;height:40px;margin:20px;line-height:40px}
.fapiao-inner3 p{padding-left:40px;float:left;color:#666;font-size:12px;}
.fapiao-save {}
.fapiao-inner4 li{margin:20px;}
.fapiao-inner4 p{width:100px;height:30px;float:left;margin:5px;}
.fapiao-inner4 input{width:200px;height:30px;border:1px solid #d9d9d9;padding:0 10px;}


/* 首页 index */
.middle-inner{text-align:left;;margin:0 auto;position:relative;}
.banner{ text-align:left; clear:both;}
/* flexslider */
.flexslider{position:relative;height:530px;overflow:hidden}
.slides{position:relative;z-index:1;}
.slides li{height:530px;}


/*微信二维码*/
.section_box2{ width: 100%; margin: 0 auto; padding: 0; background-color: #ffffff;}
.content_box{width:1190px;margin:0 auto;}
.weixin_box{ height: 260px; margin: 0 auto;padding:45px 35px;;}
.weixin_left{ width:570px; padding: 0; float: left;}
.weixin_left p:first-child{ font-size: 40px; color: #333333;}
.weixin_left p:nth-of-type(2n){ font-size:20px; color: #666666; margin-top: 10px;}
.weixin_right{ width:520px; margin: 10px auto; padding: 0; float: right;text-align:center;}
.weixin_right img {width:195px;height:195px;}
.erw_left{  margin: 0 auto; float: left;}
.erw_left p,.erw_right p {font-size:24px;padding:6px 0; ;color:#999;}
.erw_right{  margin: 0 auto; }

.gongn{ width: 520px; margin: 30px auto; padding: 10px; border: solid 1px #999; border-radius:50px; text-align: center; background-color: #FFFFFF;}

.gongn span{ font-size: 30px; color: #009add; cursor: pointer;}
.gongn a{ font-size: 30px; color: #666; cursor: pointer;}

/*产品展示 product-show*/
.pro-middle{width:1210px;height:760px;margin:0 auto;}
.middle h3{background-color:#f2f2f2;}
.show-inner{width:280px;height:330px;background-color:#fff;border:1px solid #dfdfdf;;margin:0 20px 20px 0;float:left;}
.show-inner img{width:200px;height:190;padding:40px 40px 10px;}
.show-inner h5{padding:0 40px;}
.show-inner a {color:#2e3438;font-size:16px;}
.show-inner b {color:#83888c;font-size:12px;}
.show-inner i {font-size:16px;}

/*产品列表-换页*/
.pro-middle-page {margin:0px;text-align:center;}
.pro-middle-page a,.pro-middle-page span{padding:2px 10px;font-size:14px; color:#454449;margin:5px;border:1px solid #cccccc;outline:medium none; box-sizing: border-box;;border-radius: 2px;margin-left: 0;}
.pro-middle-page .current{color:#fff;background-color:#0099db;}
.pro-middle-page .rows {border:none;color:#0096db;}

/*产品规格 product-type*/
.pro-type{width:1190px;margin:0 auto;border-collapse:collapse}
.type-banner{height:450px;border:1px solid #dfdfdf;background:#fff}
.typeinner{margin:20px 0;background-color:#fff;border:1px solid #dfdfdf;}
.typeinner-nav{height:50px;background-color:#f7f7f7;line-height:50px;border-bottom:1px solid #dfdfdf;}
.typeinner-nav li{float:left}
.typeinner-detail{height:890px;background-color:#fff;}
.typebanner-left{padding:30px 95px; text-align:center;;float:left;}
.typebanner-left ul{width:230px;margin:0 auto;}
.typebanner-left li img{float:left;width:50px;height:50px;border:1px solid #ccc;margin:20px 10px;}
.typebanner-right{float:left;padding-top:25px;}
.typebanner-right li{padding-top:10px;}
.type-buy a{margin-right:10px;width:140px;height:30px;padding:5px 30px;border:1px solid #0099db;border-radius:5px;}
.type-buy {margin-top:10px;}
.typeinner-nav a{font-size:16px;padding:15px;margin-left:30px;}
.typeinner-nav i{font-size:16px;}
.typeinner-detail ul{margin:50px 0;}
.typeinner-detail li{float:left;padding-left:80px;line-height:2em;color:#666;}
.typeinner-detail img{width:150px;height:150px;}
/*产品细节*/

.typebanner-right input{border:1px solid #ccc;width:10px;height:30px;margin:10px;padding:0 20px;}
.detail-zuhe{height:280px;background-color:#fff;border:1px solid #dfdfdf;margin:20px auto}
.zuhe-left{float:left;padding:10px 40px; text-align:center;}
.zuhe-left img{width:100px;height:100px;border:1px solid #ccc;}
.zuhe-left li{margin-top:25px;float:left}
.zuhe-left p {margin:5px 0 }
.zuhe-left b{font-size:60px;margin:10px;color:#ccc;}
.zuhe-right{width:120px;float:right;margin:50px;}
.zuhe-right b{font-size:60px;color:#ccc;}
.zuhe-right li{float:right;height:30px;line-height:30px;padding-top:10px;}
.zuhe-right input{width:100px;height:30px;background-color:#f55858;color:#fff;}

.detail-inner img {width:1100px;margin:30px 45px;}
.tabactive{color:#0096db;border-bottom:2px solid #0096db;}
/* 产品评价 */

.nav-left{height:90px;margin:50px;width:350px;border-right:1px solid #ccc;float:left}
.nav-left ul{float:left;}
.nav-left li{padding-top:10px;}
.nav-right{height:90px;margin:50px;}
.nav-right ul{margin-top:10px;}
.nav-right li{margin-right:20px;width:90px;height:30px;line-height:30px;text-align:center;background:#f2f2f2;color:#0099db;border:1px solid #0099db;float:left;}

.percent { float: left; padding-left:40px; padding-top:10px; width: 186px;}
.percent dl { overflow: hidden; padding: 2px 0;}
.percent dt { float: left; width: 80px; font-size:12px; text-align:left;}
.percent span { color: #9c9a9c;}
.percent dd { background: #efefef none repeat scroll 0 0; float: left; height: 10px; margin-top: 6px; overflow: hidden; width: 100px;}
.percent dd div { background-color: #ed0000; background-image: linear-gradient(to bottom, #ed0000 0px, #a50000 100%); height: 10px; overflow: hidden; width: 0;}

.pingjia-nav {;border-bottom:1px solid #dfdfdf;border-top:1px solid #dfdfdf;}
.pingjia-nav li{float:left;}

.pingjia-nav a{color:#333;}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus  {color:#f55858;border-bottom:2px solid #f55858;}

.pingjia-first {margin:10px;padding:20px;border-bottom:1px solid #e6e6e6;}
.first-left {width:100px;}
.first-right {height:auto;}
.first-right li {padding-bottom:10px;padding-left:100px;}
.first-right img {}

.huifu-inner { width:970px;margin:15px;height:14px;}

/*产品类型选择*/
.type-choose b{float:left;margin: 10px 10px 0 0;}
.type-choose input[type="radio"] {

  margin: 3px ;
  display: none;
}
label {
	color:#666;
	margin:0 5px;
padding:5px 10px;
  cursor: pointer;
  border:1px solid #ccc;
}
label.checked {
  border:2px solid #f55858;color:#f55858;
  background-position: left bottom;
}
/*套餐选择*/
.set-meal {margin-top:30px;padding-top:10px;border-top:1px solid #bfbfbf;}
.set-meal .btn-primary{background:url(../images/xiangguan_07.png);
border:none;border-radius:0;width:25px;height:25px;}
.collapse {background-color:#fff;margin:20px 0;border:1px solid #e5e5e5;}
.set-meal-nav {height:40px;padding-left:30px;;line-height:40px;background-color:#f7f7f7;border-bottom:1px solid #e5e5e5;font-size:16px;color:#666;}


/*图片变大*/
.panel-group img {border:1px solid  #e6e6e6;}
.collapse img {border:1px solid  #e6e6e6;}


/* comment分页 start */
.min_page { clear: both; display: table; margin: 35px auto; overflow:hidden;}
.min_page a{ display:inline-block; float:left; margin-left:5px; border:1px solid #e5e5e5; text-align:center; width:30px; height:30px; line-height:30px; border-radius:3px; color:#737373;}
.min_page a.min_page_biao{ width:80px; height:30px;}
.on_min_page{ background-color:#f55858 !important; color:#fff !important;}
/* .on_min_page{ background-color:#0099db; color:#fff !important;} */
.min_page a:hover{background-color:#ccc; color:#fff !important;}
/* comment分页 end*/

.add-new input {
    border: 1px solid #cccccc;
    border-radius: 4px;
    height: 25px;


    padding-left: 6px;
    width: 270px;}
.add-new span {color:#666;}
/*支付*/
.zhifu label{border:none;}
.paylogo label {margin:0 40px;}
.zhifu-tijiao a{background-color:#f55858;color:#fff;padding:10px 40px;border:2px;border-radius:5px;}
.zhifu-tijiao a:hover {background-color:#F33337;color:#fff;}

