@charset "utf-8";
/* CSS Document */
.myorder-right { float:left; margin-left: 20px;width: 930px;border:1px solid #e6e6e6;min-height: 705px;background-color: #fff;height: auto}
.allorder-checkbox{width: 100%;margin:20px;}
.allorder-checkbox a{color:blue;}
.haotr{ border: 1px solid #e5e5e5; color: #999;  font-weight: bold; line-height: 40px;}
.haotrtxt{font-size: 14px; text-align:left; padding:0 20px; font-weight:bold; background-color:#fcfcfc;}
.haotrtxt span{ float:right; font-size:14px;}
.center_myorder{border-collapse: collapse; font-size: 12px; width: 100%;}
.center_myorder tr:first-child { border-top: medium none; background-color: #fcfcfc; height: 40px; line-height: 40px;}
.center_myorder th { font-style: normal; font-weight: 500;}
.center_myorder td { border: 1px solid #e6e6e6; text-align: center;}
.center_myorder td:first-child{padding: 10px 15px; text-align: left; width: 280px;}
.center_myorder td img { border: 1px solid #e6e6e6; float: left; height: 80px; width: 80px;}
.center_myorder td h4 { display: inline-block; margin-left: 10px; margin-top: 10px; width:180px;}
.qra{ display:block; margin-top:10px;margin-top:10px;}
.qra:hover{ color:#f55858; text-decoration:underline;}
.price{color:#f55858;}
.affirm{margin:0 auto;}
.affirm p{margin:20px;}

.affirm-turn{width:80px;height:30px;margin:0 auto;border-radius:5px;background-color:#f55858;line-height:30px;}
.affirm-turn a{color:#fff;}

.querena{ background-color: #f55858; border: 1px solid #f14444; border-radius: 5px; color: #ffffff; font-size: 12px; padding: 3px 8px;}
.querena:hover{ background-color:#f14444;}
.center_myorder td a{ font-size:12px;}
