<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>
			{$info['attr_id']?'编辑':'新增'}商品属性
		</h2>
	</div>
	<div class="tools">
        <a href="{:U('GoodsAttribute/index','goods_type='.($info['cat_id']?$info['cat_id']:$_GET['goods_type']))}" class="btn">返回当前商品类型</a>
    </div>
	<form action="{:U()}" method="post" class="form-horizontal">
		<div class="form-item">
			<label class="item-label">属性名称</label>
			<div class="controls">
				<input type="text" class="text input-large" name="attr_name" value="{$info.attr_name|default=''}">
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">所属商品类型</label>
			<div class="controls">
				<select name="cat_id" id="">
					{$goods_type_html}
				</select>
			</div>
		</div>
		<div class="form-item">
            <label class="item-label">能否进行检索<span class="check-tips">不需要该属性成为检索商品条件的情况请选择不需要检索，需要该属性进行关键字检索商品时选择关键字检索，如果该属性检索时希望是指定某个范围时，选择范围检索。</span></label>
            <div class="controls">
                <label class="radio"><input type="radio" name="attr_index" value="0">不需要检索</label>
                <label class="radio"><input type="radio" name="attr_index" value="1">关键字检索</label>
                <label class="radio"><input type="radio" name="attr_index" value="2">范围检索</label>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">相同属性值的商品是否关联？<span class="check-tips"></span></label>
            <div class="controls">
                <label class="radio"><input type="radio" name="is_linked" value="0">否</label>
                <label class="radio"><input type="radio" name="is_linked" value="1">是</label>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">属性是否可选<span class="check-tips">选择"单选/复选属性"时，可以对商品该属性设置多个值，同时还能对不同属性值指定不同的价格加价，用户购买商品时需要选定具体的属性值。选择"唯一属性"时，商品的该属性值只能设置一个值，用户只能查看该值。</span></label>
            <div class="controls">
                <label class="radio"><input type="radio" name="attr_type" value="0">唯一属性</label>
                <label class="radio"><input type="radio" name="attr_type" value="1">单选属性</label>
                <label class="radio"><input type="radio" name="attr_type" value="2">复选属性</label>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">该属性值的录入方式<span class="check-tips"></span></label>
            <div class="controls">
                <label class="radio"><input type="radio" name="attr_input_type" value="0"> 手工录入</label>
                <label class="radio"><input type="radio" name="attr_input_type" value="1">从下面的列表中选择（一行代表一个可选值）</label>
                <label class="radio"><input type="radio" name="attr_input_type" value="2"> 多行文本框</label>
            </div>
        </div>
		<div class="form-item">
			<label class="item-label">可选值列表<span class="check-tips"></span></label>
			<div class="controls"><label class="textarea input-large">
				<textarea name="attr_values">{$info.attr_values}</textarea></label>
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">排序</label>
			<div class="controls">
				<input type="text" class="text" name="sort_order" value="{$info.sort_order|default=0}">
			</div>
		</div>
		<div class="form-item">
			<input type="hidden" name="attr_id" value="{$info.attr_id|default=''}">
			<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
			<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>
</block>
<block name="script">
<script type="text/javascript" charset="utf-8">
	Think.setValue("attr_index", {$info.attr_index|default = 0});
    Think.setValue("is_linked", {$info.is_linked|default = 0});
    Think.setValue("attr_type", {$info.attr_type|default = 0});
    Think.setValue("attr_input_type", {$info.attr_input_type|default = 0});
	//导航高亮
	highlight_subnav('{:U('index')}');
</script>
</block>
