<extend name="Public/base"/>

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>{$meta_title}</h2>

	</div>
    <div class="tools">
        <a class="btn" href="{:U('GoodsAttribute/add?goods_type='.I('get.goods_type'))}">新增商品属性</a>
    </div>

	<!-- 数据列表 -->
	<div class="data-table">
        <div class="data-table table-striped">
<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">ID</th>
		<th class="">属性名称</th>
		<th class="">商品类型</th>
		<th class="">属性值录入方式</th>
		<th class="">可选值列表</th>
		<th class="">排序</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
	<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.attr_id}" /></td>
            <td>{$vo.attr_id} </td>
			<td>{$vo.attr_name} </td>
			<td>{$vo.cat_name}</td>
			<td>{:L('attr_input_type'.$vo['attr_input_type'])}</td>
			<td>{:str_replace("\\r\\n",',',$vo['attr_values'])}</td>
			<td>{$vo.sort_order}</td>
			<td>
				<a href="{:U('GoodsAttribute/edit?attr_id='.$vo['attr_id'])}">编辑</a>
				<a href="{:U('model/del?ids='.$vo['cat_id'])}" class="confirm ajax-get">删除</a>
            </td>
		</tr>
		</volist>
		<else/>
		<td colspan="7" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>

        </div>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>