<extend name="Public:base"/>
<block name="content">
<div class="all-right"  style="height:1200px;">
    <div class="basic_infor">
     	<h3>退货查看</h3>
    </div>
    <div class="basic-2">
     	<div class="change-order">
	   		<p style="float:left">订单号：{$oid}              状态：<i><php>
						  $status=$list['status'];
						  if($status==1){ echo "待审核";};
						  if($status==2){ echo "同意退货";};
			              if($status==3){ echo "退货被拒绝";};
						  if($status==4){ echo "正退货";};
						  if($status==5){ echo "已退货";};
						  if($status==6){ echo "退货被拒绝";};
					</php></i></p>
        	<p style="float:right">申请时间：{$list.create_time|date='Y-m-d H:i:s',###}</p>
      	</div>
    </div>

	<if condition="($list['status'] gt 1) AND ($list['status'] neq 3)" >
    <div class="basic-3">
      	<p>您好，您的退货申请已经审核通过，请您在1-3个工作日内将商品连同订单发票一起寄回。（如有特殊情况，请您联系客服中心咨询）<br><b>退货地址：山东省青岛市崂山区株洲路153号高科技人才创业中心2号楼607室</b></p>
    </div>
    </if>

    <div class="basic-4">
     	<div class="basic-4-1">
	      	<img src="__IMG__/change_details_03.png"/>
	        <p>提交申请</p>
        </div>
        <div class="basic-4-2">
			<img src="__IMG__/change_details_05.png"/>
        </div>

        <div class="basic-4-1">
        	<if condition="$status egt 2">
        		<img src="__IMG__/change_details_03.png"/>
        	<else />
        		<img src="__IMG__/change_details_3_05.png"/>
        	</if>
	        <p>客服审核</p>
        </div>

        <div class="basic-4-2">
        	<if condition="$status egt 4">
        		<img src="__IMG__/change_details_05.png"/>
        	<else />
        		<img src="__IMG__/change_details_3_03.png"/>
        	</if>
        </div>
        <div class="basic-4-1">
        	<if condition="$status egt 4">
        		<img src="__IMG__/change_details_03.png"/>
        	<else />
        		<img src="__IMG__/change_details_3_05.png"/>
        	</if>
        	<p>商品处理</p>
        </div>

        <div class="basic-4-2">
        	<if condition="($status eq 5) OR ($status eq 6)">
        		<img src="__IMG__/change_details_05.png"/>
        	<else />
        		<img src="__IMG__/change_details_3_03.png"/>
        	</if>
        </div>
        <div class="basic-4-1">
      		<if condition="($status eq 5) OR ($status eq 6)">
        		<img src="__IMG__/change_details_03.png"/>
        	<else />
        		<img src="__IMG__/change_details_3_05.png"/>
        	</if>
        	<p>完成</p>
        </div>
    </div>

    <div class="basic-5" style="margin-top:110px;"><p>进度跟踪</p></div>
    
    <div class="basic-5-1" >
      	<p>买家申请退货说明</p>
    </div>
    <div class="basic-5-2">
    	<p>商品名称：{$list.goodid|get_good_name} </p>
		<p>金 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 额：￥{$list.total} &nbsp;&nbsp; 数量：{$list.num}</p>
		<p>标 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 题：{$list.title}</p>
		<p>原 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 因：{$list.reason}</p>
		<p><img src="{$list.goodid|get_cover_id|get_cover='path'}"  width="120" height="120"/></p>
    </div>

    <div class="basic-5-1" >
      	<p>卖家反馈</p>
    </div>
    <div class="basic-5-2">
    	<p>反馈时间：{$list.update_time|date='Y-m-d H:i:s',###}</p>
  		<p>反 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 馈：<span class="red">
      		<php>
				  $status=$list['status'];
				  if($status==1){ echo "待审核";};
				  if($status==2){ echo "同意退货";};
	              if($status==3){ echo "退货被拒绝";};
				  if($status==4){ echo "正退货";};
				  if($status==5){ echo "已退货";};
				  if($status==6){ echo "退货被拒绝";};
			</php></span>
	  	</p>
	  	<if condition="$list.status eq '6'">
			<p>拒绝原因：{$list.backinfo}</p>
			<p>卖家快递：{$list.changetool}</p>
			<p>快递单号：{$list.changetoolid}</p>
 		</if>
 		
	  	<if condition="$list.status eq '3'">
	  		<p>拒绝原因：{$list.backinfo}</p>
	  	<else />
		  	<p>退货地址：{$list.address}</p>
			<p>联系人 &nbsp;&nbsp;：{$list.backname}</p>
			<p>联系方式：{$list.contact}</p>
	  	</if>
    </div>

    <if condition="($list.status egt 2) AND ($list.status neq 3)">
    <div class="basic-5-1" >
      	<p>买家退货快递</p>
    </div>
    <div class="basic-5-2">
		<input type="hidden" class="text input-large"  name="backid"  value="{$list.id}">
		<p>快递名称：
		<select name="tool" disabled="disabled">
			<option value="EMS"  <if condition="$list.tool eq 'EMS'">selected="selected"</if> >EMS</option>
			<option value="顺丰" <if condition="$list.tool eq '顺丰'">selected="selected"</if> >顺丰</option>
			<option value="圆通" <if condition="$list.tool eq '圆通'">selected="selected"</if> >圆通</option>
			<option value="中通" <if condition="$list.tool eq '中通'">selected="selected"</if> >中通</option>
			<option value="德邦" <if condition="$list.tool eq '德邦'">selected="selected"</if> >德邦</option>
		</select>
		</p>
		<p>快递单号：<input type="text" class="text input-large"  name="toolid" value="{$list.toolid}"  style="border: #c9c9c9 1px solid" size="32" readonly="readonly"></p>
    </div>
    </if>
</div>
</block>

