<extend name="Public:base"/>
<block name="content">
    <div class="myorder-right">
        <div class="basic_infor"><h3>申请的退货</h3></div>
        <notempty name="list">
            <div>
                <table cellspacing="0" cellpadding="0" class="changeapply">
                <tbody>
                <tr class="apply1">
                    <th width="142">订单编号</th>
                    <th width="150">商品名称</th>
                    <th width="130" style="text-align:left;padding:0 50px; ">商品图片</th>
                    <th width="130">申请时间</th>
                    <th width="130">状态</th>
                    <th width="123">操作</th>
                </tr>
            <foreach name="list" item="po">
                <tr class="apply2">
                    <td>{$po.orderId}</td>
                    <td><h4><a href="{:U('Article/detail?id='.$po['goodid'])}">{$po.goodid|get_good_name}</a> <br/> </h4></td>
                    <td><a href="{:U('Article/detail?id='.$po['goodid'])}"><img src="{$po[cover_id]|get_cover='path'}" width="80" height="80"/></a></td>
                    <td>{$po.back.update_time|date='Y-m-d H:i:s',###}</td>
                    <td>
                <php>
                    if($po['status']==4){echo '<span style="color:red;">退货审核中</span>&nbsp;';};
                    if($po['status']==5){echo '<span style="color:red;">同意退货</span>&nbsp;';};
                    if($po['status']==6){echo '<span style="color:red;">退货中</span>&nbsp;';};
                    if($po['status']==7){echo '<span style="color:red;">退货被拒绝</span>&nbsp;';};
                    if($po['status']==8){echo '<span style="color:red;">退货完成</span>&nbsp;';};
                </php>
                    </td>
                    <td>
                    	<a href="{:U('back/detail',array('id'=>$po['id'],'oid'=>$po['orderId']))}" style="color:blue;">[查看详情]</a> 
                    	<if condition="$po['back']['status'] eq 2"> 
                    	  	 <a href="{:U('back/send',array('id'=>$po['id'],'oid'=>$po['orderId']))}" style="color:blue;">[发货]</a>
                    	</if>
                    </td>
                </tr>
            </foreach>
                    <tr class="apply2">
                        <td colspan="7" align="right"><div class="page">{$showPage}</div></td>
                    </tr>
                </tbody>
                </table>
            </div>
        <else />
            <div class="zanwu"><span>暂无退货申请信息</span></div>
        </notempty>
    </div>
</block>