<extend name="Public/base"/>
#tab1 table{border-right:1px solid #F00;border-bottom:1px solid #F00}
#tab1 table td{border-left:1px solid #F00;border-top:1px solid #F00}
<block name="body">
	<div class="main-title">
		<h2>
			{$info['id']?'编辑':'新增'}订单
		</h2>
	</div>
	<ul class="tab-nav nav">
		<li data-tab="tab1" class="current"><a href="javascript:void(0);">订单修改</a></li>
		<li data-tab="tab2" ><a href="javascript:void(0);">订单详情</a>
		</li>
	</ul>

<div class="tab-content">
	<div id="tab1" class="tab-pane in tab1">
		<form action="{:U()}" method="post" class="form-horizontal">

			<div class="form-item" style="color:red">
				<label class="item-label">发货的订单号<span class="check-tips">（订单,不可更改）</span></label>
				<div class="controls">
					<input type="text" class="text input-large" name="orderid" value="{$info.orderid|default=''}" disabled="disabled">
				</div>
			</div>

			<div class="form-item">
				<label class="item-label">快递名称<span class="check-tips">（发货的快递单号）</span></label>
				<div class="controls">
					<input type="text" class="text input-large" name="express" value="{$info.tool}">
				</div>
			</div>

			<div class="form-item">
				<label class="item-label">快递单号<span class="check-tips">（发货的快递单号）</span></label>
				<div class="controls">
					<input type="text" class="text input-large" name="express_code" value="{$info.toolid}">
				</div>
			</div>

			<div class="form-item">
				<label class="item-label">发货人<span class="check-tips"></span></label>
				<div class="controls">
					<input type="text" class="text input-large" name="send_name" value="{:C('SHOPNAME')}">
				</div>
			</div>

			<div class="form-item">
				<label class="item-label">发货人联系方式<span class="check-tips"></span></label>
				<div class="controls">
					<input type="text" class="text input-large" name="send_contact" value="{:C('CONTACT')}">
				</div>
			</div>

			<div class="form-item">
				<label class="item-label">发货人地址<span class="check-tips"></span></label>
				<div class="controls">
					<input type="text" class="text input-large" name="send_address" value="{:C('ADDRESS')}">
				</div>
			</div>

			<div class="form-item">
				<label class="item-label">状态<span class="check-tips">（订单状态）</span></label>
				<div class="controls">
					<input type="text" class="text input-large" name="status" value="2">
				</div>
			</div>

			<div class="form-item">
				<input type="hidden" name="id" value="{$info.id|default=''}">
				<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
				<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
			</div>

		</form>
	</div>

	<div id="tab2" class="tab-pane  tab2">
		<table  id="table" class="gridtable" width="100%">
	        <thead>
	            <tr>
				 	<th >商品编号</th>
	                <th >商品名</th>
					<th >规格</th>
	                <th >单价</th>
	                <th >数量</th>
	            </tr>
	        </thead>

        	</tbody>
        	  <volist name="list" id="vo">
	           	<tr>
			 		<td align="center">{$vo.goodid}</td>
	                <td>{$vo.goodid|get_good_name}</td>
	               	<td align="center"> <span class="weight">{$vo.parameters|default="无"}</span></td>
	                <td align="center">{$vo.price}</td>
	                <td align="center">{$vo.num}</td>
	            </tr>
              </volist>
           </tbody>
        </table>  <BR/>

		<div >
			<volist name="detail" id="vo">
		  		<p>小计：{$vo.total}元 </p>
		   		<p>运费：{$vo.ship_price}元</p>
		  		<p>总金额： {$vo.total_money}元 </p>
		   		<p>下单时间：{$vo.create_time||date='Y-m-d H:i:s',###}</p>
		   	</volist>
		</div>

 		<div >
		 	<volist name="trans" id="vo">
				<p>收件人{$vo.realname}</p>
				<p>联系方式 {$vo.cellphone} </p>
				<p>地址 {$vo.province} {$vo.city} {$vo.area}{$vo.address}</p>
				</div>
		 	</volist>
		</div>
	</div>
</block>
<block name="script">
<script type="text/javascript" charset="utf-8">
	//导航高亮
	highlight_subnav('{:U('index')}');
	if($('ul.tab-nav').length){
		//当有tab时，返回按钮不显示
		$('.btn-return').hide();
	}
	$(function(){
		//支持tab
		showTab();
	})

</script>
</block>
