<extend name="Base:signin"/>
<block name="content">
	<div class="signin">
        <div class="signin-inner">
            <fieldset>
                <h1 class="fs-title">找回密码</h1>
                <div class="putin">
                    <form method="post" name="myform">
                      	<input type="text" name="mobile" placeholder="请输入您的手机号"  style="width:250px;" />
                      	<a href="javascript:void(0)" onclick="forgot();return false;">
							<input value="点击发送密码" class="forgot" id="btn" type="button" style="position:absolute;width:96px;margin-left:5px;padding:15px 5px;">
                      	</a>
                        <br />
                        <input type="password" name="password" placeholder="请输入短信收到的动态密码，登录后请立即修改" /><br />
                        <input type="button" onclick="forgot_submit()"  class="button" value="登录" />
                    </form>
                </div>
            </fieldset>

            <div class="fs-foot">
                <span style="float:left"><a href="{:U('User/login')}"><< 又想起来啦</a></span>
                <p>还没有账号?&nbsp;&nbsp;<a href="{:U('User/register')}">点击注册>></a></p></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    	var wait=3;
        function time(o) {
            if (wait == 0) {
                o.removeAttribute("disabled");
                o.value="发送动态密码";
                wait = 3;
            } else {
                o.setAttribute("disabled", true);
                o.value="重新发送(" + wait + ")";
                wait--;
                setTimeout(function() {
                    time(o)
                },
                1000)
            }
        }
        document.getElementById("btn").onclick=function(){
            time(this);
        }

        function forgot(){
            var key = 'forgot';
            var mobile = $.trim($('input[name="mobile"]').val());
            if(mobile == ''){
                alert('手机号码不能为空！');
                return false;
            }

            if(!/^1[34578]{1}\d{9}$/.test(mobile)){
            	alert('手机号码格式不正确！');
            	return false;
            }

            $.post('{:U("User/forgotCode")}',{key:key,mobile:mobile},function(data){
                alert(data.msg);
            },'JSON');
        }

        function forgot_submit(){
        	var mobile = $.trim($('input[name="mobile"]').val());
        	var password = $.trim($('input[name="password"]').val());
        	if(mobile != '' && password != ''){
        		document.myform.submit();
        	}
        }
    </script>


</block>