<extend name="Base:signin"/>
<block name="content">
	<div class="signin">
        <div class="signin-inner">
            <fieldset>
                <h1 class="fs-title">用户登录</h1>
                <div class="putin">
                    <form method="post">
                        <input type="text" name="username" placeholder="请输入用户名" /> <br />
                        <input type="password" name="password" placeholder="请输入密码" /><br />
                        <p style="float:left">
                            <label>
                                <input name="remember" type="checkbox" style="width:20px;margin:2px 0;">记住登录状态
                            </label>
                        </p>
                        <span style="float:right;margin-right:10px;font-size:14px;"><a href="{:U('User/forgot')}">忘记密码? </a></span>
                        <input type="submit"  class="button" value="登录" />
                    </form>
                </div>
          	</fieldset>
	        <div class="fs-foot">
	        	<p>还没有账号?&nbsp;&nbsp;<a href="{:U('User/register')}">点击注册>></a></p></div>
	        </div>
        </div>
    </div>
</block>