<extend name="Public:base"/>
<block name="content">
	<div class="all-right">
    	<div class="basic_infor">
        	<h3>修改密码</h3>
	        <form method="post" >
		        <div class="basic_infor-item keyword">
		            <div class="item">
		            	<span>用户名：</span><span class="user_name">{$username}</span>
		            </div>

		            <div class="item">
		            	<span>旧密码：</span><input type="password" name="old">
		            </div>

		            <div class="item" style="position: relative;">
		                <span>新密码：</span>
		                <input type="password" name="password" size="25" style="margin-left:-4px;" >
		            </div>

		            <div class="item">
		            	<span>确认密码：</span><input type="password" name="repassword" size="25">
		            </div>

		            <div class="item" style="margin:0 5px">
		            	<span></span><input type="submit" value="修改密码"  class="tijio_xinxi">
		            </div>

		        </div>
	        </form>
    	</div>
    </div>
</block>