<include file="Public/header"/>



 <div class="signin">
    <div class="signin-inner" style="text-align:center;">
    	<p style="margin:0 50px;color:#00a4e6;font-size:30px;text-align:center">发送成功</p><br /><br />
        <p><b>我们已发送邮件至您的邮箱：1481329501@qq.com,</b><i> 请到您的邮箱查看</i></p><br /><br />
        <input type="button" name="signin" class="button" value="重发验证邮件" style="margin:20px 80px" />
    </div>
 </div>

 <include file="Public/footer"/>
