<extend name="Public/base"/>
<block name="body">
	<div class="main-title">
		<h2>商品评论管理 [
            <present name="Think.get.group">
                <a href="{:U('index')}">全部</a>
            <else/>
                <strong>全部</strong>
            </present>
            &nbsp;
            <foreach name="group" item="vo">
    		    <neq name="group_id" value="$key">
                    <a href="{:U('index?group='.$key)}">{$vo}</a><else/><strong>{$vo}</strong>
                </neq>
                &nbsp;
            </foreach> ]
        </h2>
	</div>

	<div class="cf">
		<a class="btn" href="{:U('add')}">新 增</a>
		<button class="btn ajax-post confirm" url="{:U('del')}" target-form="ids">删 除</button>
        <div class="search-form fr cf">
            <div class="sleft">
                <input type="text" name="title" class="search-input" value="{:I('title')}" placeholder="手机">
                <a class="sch-btn" href="javascript:;" id="search" url="__SELF__"><i class="btn-search"></i></a>
            </div>
        </div>
	</div>

	<div class="data-table table-striped">
		 <table>
			<thead>
				<tr>
					<th class="row-selected">
					   <input class="checkbox check-all" type="checkbox">
					</th>
					<th>ID</th>
					<th>商品id</th>
                    <th>用户名</th>
					<th>uid</th>
					<th>评论内容</th>
					<th>评分</th>
                    <th>状态</th>
                    <th>时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<notempty name="list">
				<volist name="list" id="comment">
					<tr>
					    <td>
                            <input class="ids row-selected" type="checkbox" name="id[]" value="{$comment.id}">
                        </td>
						<td>{$comment.id}</td>
						<td>{$comment.goodid}</td>
						<td>{$comment.uid|get_regname}</td>
						<td>{$comment.uid}</td>
						<td>{$comment.content}</td>
						<td>
                            <switch name="comment.score" >
                            <case value="3" break="0或1">好评</case>
                            <case value="2">中评</case>
                            <default />差评
                            </switch>
                        </td>
					    <td>{$comment.status}</td>
                        <td>{$comment.create_time|date='Y-m-d H:i:s',###}</td>
					    <td>
                            <a title="编辑" href="{:U('edit?id='.$comment['id'])}">编辑</a>
							<a title="编辑" href="{:U('reply?id='.$comment['id'])}">回复</a>
                            <a class="confirm ajax-get" title="删除" href="{:U('del?id='.$comment['id'])}">删除</a>
                        </td>
					</tr>
				</volist>
				<else/>
				<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
			</tbody>
		</table>

        <!-- 分页 -->
        <div class="page">
            {$_page}
        </div>
	</div>
</block>

<block name="script">
 <script type="text/javascript">
        $(function() {
            //搜索功能
            $("#search").click(function() {
                var url = $(this).attr('url');
                var query = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
                query = query.replace(/^&/g, '');
                if (url.indexOf('?') > 0) {
                    url += '&' + query;
                } else {
                    url += '?' + query;
                }
                window.location.href = url;
            });
            //回车搜索
            $(".search-input").keyup(function(e) {
                if (e.keyCode === 13) {
                    $("#search").click();
                    return false;
                }
            });
            //导航高亮
            highlight_subnav('{:U('index')}');
            //点击排序
        	$('.list_sort').click(function(){
        		var url = $(this).attr('url');
        		var ids = $('.ids:checked');
        		var param = '';
        		if(ids.length > 0){
        			var str = new Array();
        			ids.each(function(){
        				str.push($(this).val());
        			});
        			param = str.join(',');
        		}

        		if(url != undefined && url != ''){
        			window.location.href = url + '/ids/' + param;
        		}
        	});
        });
    </script>
</block>