<extend name="Public:base"/>
<block name="content">
<div class="all-right">
	<form action='{:U()}' method="post" name="actform" style="float:left;;width:80%" >
	    <div class="basic_infor">
	        <h3>{$msg} &nbsp;&nbsp;{$id}</h3></div>
	        <div class="reasons">
	            <div class="reasons-check">
	                <span>说明：</span>
	                <div class="backmoney">
	                    <input type="text"  name="title" value="" style="width:410px;">
	                </div>
	            </div>
	            <div class="reasons-check">
	                <span>描述：<br><i>（0/80字）</i></span>
	         	    <textarea rows="4" cols="50" name="reason"></textarea>
	            </div>
	        </div>
	        <div class="reasons-check" style="padding:70px 0">
	        	<input type="hidden" name="id" value="{$id}">
	        	<input type="submit" value="提交申请"  class="item-tijiao">
	        </div>
	    </div>
    </form>
</div>
</block>
